<%- include(`${process.env.PWD}/_dev/_layouts/_default.head.ejs`, pageData) %>
    <main>
      <h2>Calendar Invite</h2>
      <section class="row form:style:1">
        <div class="w:3">
          <form name="calendar-form" action="" method="post">
            <div class="position:relative"><input type="text" name="start_date" id="start_date" value=""><label for="start_date"><span class="description">Start Date</span></label></div>
            <div class="position:relative"><input type="text" name="start_time" id="start_time" value=""><label for="start_time"><span class="description">Start Time</span></label></div>
            <div class="position:relative"><input type="text" name="end_date" id="end_date" value=""><label for="end_date"><span class="description">End Date</span></label></div>
            <div class="position:relative"><input type="text" name="end_time" id="end_time" value=""><label for="end_time"><span class="description">End Time</span></label></div>
            <div class="position:relative"><input type="text" name="duration" id="duration" value=""><label for="duration"><span class="description">Duration</span></label></div>
            <div class="position:relative"><input type="text" name="timezone" id="timezone" value=""><label for="timezone"><span class="description">Timezone</span></label></div>
            <div class="position:relative"><input type="text" name="title" id="title" value=""><label for="title"><span class="description">Title</span></label></div>
            <div class="position:relative"><input type="text" name="description" id="description" value=""><label for="description"><span class="description">Description</span></label></div>
            <div class="position:relative"><input type="text" name="location" id="location" value=""><label for="location"><span class="description">Location</span></label></div>
            <div class="position:relative"><input type="text" name="organizer" id="organizer" value=""><label for="organizer"><span class="description">Organizer</span></label></div>
            <div class="position:relative"><input type="text" name="organizer_email" id="organizer_email" value=""><br><label for="organizer_email"><span class="description">Organizer Email</span></label></div>
            <button type="submit" value="Submit">Submit</button>
          </form>
        </div>
        <div class="w:3">
          <h2>Results</h2>
          <div class="results">
            <a href="" target="_blank" id="outlook">Outlook</a><br>
            <a href="" target="_blank" id="google">Google Calendar</a><br>
            <a href="" target="_blank" id="yahoo">Yahoo</a><br>
            iCalendar<br>
            <textarea id="icalendar"></textarea></a><br>
          </div>
        </div>
      </section>
    </main>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.footer.ejs`, pageData) %>