<%- include(`${process.env.PWD}/_dev/_layouts/_default.head.ejs`, pageData) %>
    <main class="w:100% form:theme:gl0b3x" role="main">

      <section class="row py:32px">
        <h1 class="w:12 play:bold fs:40px color:eerie-black">Menu and Submenu</h1>
      </section>

      <section class="row pb:32px">
        <h2 class="w:12 play:bold fs:32px color:eerie-black py:32px">Vertical Menu and Submenu</h2>
        <style>
          .x-men[aria-expanded=true]{background:#ff9999;}
          .avengers[aria-expanded=true]{background:#ff6666;}
          .justice-society[aria-expanded=true]{background:#9999ff;}
          .legion-of-doom[aria-expanded=true]{background:#bbbbff;}
        </style>
        <ul role="menubar" id data-module="menu" data-menu-active="multiple" class="w:12 unstyle pl:0" data-menu-active-classes='["heebo:bold","py:16px"]' data-menu-inactive-classes='["py:8px"]'>
          <li role="none" style="width:600px">
            <button role="menuitem" class="display:flex align:middle color:white px:8px w:100% text-align:left bgc:red" data-module="menu.trigger" data-menu-open aria-controls aria-expanded tabindex>
              Favorite Marvel Heroes
              <span class="pl:32px ic ic-type:solid display:inline-block ic-color:white ic-size:16px ic-name:chevron-circle-right"></span></button>
            <div id data-module="menu.submenu" class="w:100% position:relative unstyle pl:0" data-equalize-height="marvel" style="background:lightpink;">
              <ul role="menubar" id data-module="menu" data-menu-active="single" data-menu-active-classes='["heebo:bold","b-onyx:1px"]' class="unstyle pl:0">
                <li role="none" class="pl:16px py:4px">Spider-Man</li>
                <li role="none" class="pl:16px py:4px">Venom</li>
                <li role="none">
                  <button role="menuitem" class="display:flex align:middle pl:16px py:4px text-align:left w:100% x-men" data-module="menu.trigger" aria-controls aria-expanded tabindex>
                    X-Men
                    <span data-module="menu.active"><span class="pl:32px ic ic-type:solid display:inline-block ic-color:white ic-size:16px ic-name:chevron-circle-right"></span></span>
                    <span data-module="menu.inactive"><span class="pl:32px ic ic-type:solid display:inline-block ic-color:black ic-size:16px ic-name:chevron-circle-right"></span></span>
                  </button>
                  <ul role="menubar" id data-module="menu.submenu" data-equalize-height="marvel" class="position:absolute top:0" style="left:300px;width:50%;background:#ff9999;">
                    <li role="none">Wolverine</li>
                    <li role="none">Archangel</li>
                    <li role="none">Kate Pryde</li>
                  </ul>
                </li>
                <li role="none">
                  <button role="menuitem" class="display:flex align:middle pl:16px py:4px text-align:left w:100% avengers" data-module="menu.trigger" aria-controls aria-expanded tabindex>
                    Avengers
                    <span data-module="menu.active"><span class="pl:32px ic ic-type:solid display:inline-block ic-color:white ic-size:16px ic-name:chevron-circle-right"></span></span>
                    <span data-module="menu.inactive"><span class="pl:32px ic ic-type:solid display:inline-block ic-color:black ic-size:16px ic-name:chevron-circle-right"></span></span>
                  </button>
                  <ul role="menubar" id data-module="menu.submenu" data-equalize-height="marvel" class="position:absolute top:0" style="left:300px;width:50%;background:#ff6666;">
                    <li role="none">Iron Man</li>
                    <li role="none">Black Panther</li>
                    <li role="none">Captain America</li>
                  </ul>
                </li>
              </ul>
            </div>
          </li>
          <li role="none" style="width:600px">
            <button role="menuitem" class="display:flex align:middle color:white px:8px w:100% text-align:left bgc:blue" data-module="menu.trigger" aria-controls aria-expanded tabindex>
              Favorite DC Heroes
              <span class="pl:32px ic ic-type:solid display:inline-block ic-color:white ic-size:16px ic-name:chevron-circle-right"></span></button>
            <div id data-module="menu.submenu" class="w:100% position:relative unstyle pl:0" data-equalize-height="dc" style="background:lightblue;">
              <ul role="menubar" id data-module="menu" data-menu-active="single" data-menu-active-classes='["heebo:bold","b-onyx:1px"]' class="unstyle pl:0">
                <li role="none" class="pl:16px py:4px">The Flash (Wally West)</li>
                <li role="none" class="pl:16px py:4px">Batman</li>
                <li role="none" class="pl:16px py:4px">Green Lantern (Kyle Rayner)</li>
                <li role="none">
                  <button role="menuitem" class="display:flex align:middle pl:16px py:4px text-align:left w:100% justice-society" data-module="menu.trigger" aria-controls aria-expanded tabindex>
                    Justice Society
                    <span data-module="menu.active"><span class="pl:32px ic ic-type:solid display:inline-block ic-color:white ic-size:16px ic-name:chevron-circle-right"></span></span>
                    <span data-module="menu.inactive"><span class="pl:32px ic ic-type:solid display:inline-block ic-color:black ic-size:16px ic-name:chevron-circle-right"></span></span>
                  </button>
                  <ul role="menubar" id data-module="menu.submenu" data-equalize-height="dc" class="position:absolute top:0" style="left:300px;width:50%;background:#9999ff;">
                    <li role="none">Green Lantern</li>
                    <li role="none">Spectre</li>
                  </ul>
                </li>
                <li role="none">
                  <button role="menuitem" class="display:flex align:middle pl:16px py:4px text-align:left w:100% legion-of-doom" data-module="menu.trigger" aria-controls aria-expanded tabindex>
                    Legion of Doom
                    <span data-module="menu.active"><span class="pl:32px ic ic-type:solid display:inline-block ic-color:white ic-size:16px ic-name:chevron-circle-right"></span></span>
                    <span data-module="menu.inactive"><span class="pl:32px ic ic-type:solid display:inline-block ic-color:black ic-size:16px ic-name:chevron-circle-right"></span></span>
                  </button>
                  <ul role="menubar" id data-module="menu.submenu" data-equalize-height="dc" class="position:absolute top:0" style="left:300px;width:50%;background:#bbbbff;">
                    <li role="none">Lex Luthor</li>
                    <li role="none">Gorilla Grodd</li>
                  </ul>
                </li>
              </ul>
            </div>
          </li>
        </ul>

        <h2 class="w:12 play:bold fs:32px color:eerie-black py:32px">Styleless</h2>
        <ul role="menubar" id data-module="menu" data-menu-active="single">
          <li role="none">
            <button role="menuitem" data-module="menu.trigger" aria-controls aria-expanded tabindex>Favorite Marvel Heroes <span class="pl:32px ic ic-type:solid display:inline-block ic-color:white ic-size:16px ic-name:chevron-circle-right"></span></button>
            <div id data-module="menu.submenu">
              <ul role="menubar" id data-module="menu" data-menu-active="single">
                <li role="none">Spider-Man</li>
                <li role="none">Venom</li>
                <li role="none">
                  <button role="menuitem" data-module="menu.trigger" aria-controls aria-expanded tabindex>X-Men <span class="pl:32px ic ic-type:solid display:inline-block ic-color:white ic-size:16px ic-name:chevron-circle-right"></span></button>
                  <ul role="menubar" id data-module="menu.submenu">
                    <li role="none">Wolverine</li>
                    <li role="none">Archangel</li>
                    <li role="none">Kate Pryde</li>
                  </ul>
                </li>
                <li role="none">
                  <button role="menuitem" data-module="menu.trigger" aria-controls aria-expanded tabindex>Avengers <span class="pl:32px ic ic-type:solid display:inline-block ic-color:white ic-size:16px ic-name:chevron-circle-right"></span></button>
                  <ul role="menubar" id data-module="menu.submenu">
                    <li role="none">Iron Man</li>
                    <li role="none">Black Panther</li>
                    <li role="none">Captain America</li>
                  </ul>
                </li>
              </ul>
            </div>
          </li>
          <li role="none" style="width:600px">
            <button role="menuitem" data-module="menu.trigger" aria-controls aria-expanded tabindex>Favorite DC Heroes <span class="pl:32px ic ic-type:solid display:inline-block ic-color:white ic-size:16px ic-name:chevron-circle-right"></span></button>
            <div id data-module="menu.submenu">
              <ul role="menubar" id data-module="menu" data-menu-active="single">
                <li role="none">The Flash (Wally West)</li>
                <li role="none">Batman</li>
                <li role="none">Green Lantern (Kyle Rayner)</li>
                <li role="none">
                  <button role="menuitem" data-module="menu.trigger" aria-controls aria-expanded tabindex>Justice Society <span class="pl:32px ic ic-type:solid display:inline-block ic-color:white ic-size:16px ic-name:chevron-circle-right"></span></button>
                  <ul role="menubar" id data-module="menu.submenu">
                    <li role="none">Green Lantern</li>
                    <li role="none">Spectre</li>
                  </ul>
                </li>
                <li role="none">
                  <button role="menuitem" data-module="menu.trigger" aria-controls aria-expanded tabindex>Legion of Doom <span class="pl:32px ic ic-type:solid display:inline-block ic-color:white ic-size:16px ic-name:chevron-circle-right"></span></button>
                  <ul role="menubar" id data-module="menu.submenu">
                    <li role="none">Lex Luthor</li>
                    <li role="none">Gorilla Grodd</li>
                  </ul>
                </li>
              </ul>
            </div>
          </li>
        </ul>

      </div>
    </main>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.scripts.ejs`, pageData) %>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.footer.ejs`, pageData) %>