<%- include(`${root}/_layouts/_default.head.ejs`, {
    "lang": "en",
    "head": {
        "title": "Responsive 2D Table • warrenshea",
        "urlEn": "/examples/responsive-2d-table/",
        "urlCanonical": "/examples/responsive-2d-table/",
        "metaPageKeywords": "",
        "metaPageDescription": ""
    },
    "stylesheets": [
        "/stylesheets/core.css"
    ]
}) %>
    <main class="w:100% overflow:hidden" role="main">

      <section class="row py:32px">
        <h1 class="w:12 play:bold fs:40px color:eerie-black">Responsive 2D Table using Flexbox</h1>
      </section>
      <section class="row pb:32px">
        <div class="w:12 pt:32px position:relative xl+:show form:theme:gl0b3x">
          <div data-module="slider.input-container">
            <input data-module="slider.input" data-slider id onInput="document.getElementById('table-container').contentWindow.postMessage('update', window.location.origin);document.getElementById('table-container').style.width = `${this.value}px`;" value="1280" class="display:block align-self:centered w:100% slider" type="range" min="1" max="1280" steps="1" value="1280">
            <span data-module="slider.background"><span data-module="slider.fill"></span></span></span></span>
            <ul data-module="slider.labels" class="text-align:center unstyle-pl:0 display:flex align:spaced w:100%"><li>1</li><li>320</li><li>640</li><li>960</li><li>1280</li></ul>
          </div>
        </div>
        <iframe class="w:100% b:0" src="inner-content/" id="table-container"></iframe>
      </section>

    </main>
<%- include(`${root}/_layouts/_default.scripts.ejs`, { "scripts": [
        "/scripts/module.slider.js"
    ] }) %>
    <script>
      storm_eagle.module('communicating_with_iframe', () => {
        'use strict';

        let self;
        return {
          initialize: () => {
            self = storm_eagle.communicating_with_iframe;
            self.add_message_listener();
          },
          add_message_listener: () => {
            window.addEventListener('message', event => {
              document.getElementById("table-container").style.height = `${event.data}px`;
            });
          }
        };
      });
    </script>
<%- include(`${root}/_layouts/_default.footer.ejs`) %>