<%- include(`${process.env.PWD}/_dev/_layouts/_default.head.ejs`, pageData) %>

    <main class="w:100% bgc:platinum pb:96px" role="main">
      <section class="mw:1280px align-self:centered sm+:px:8px xl+:px:0 pt:32px">
        <h1 class="play:bold fs:40px color:eerie-black pb:16px">Carousels</h1>
      </section>

      <section class="mw:1200px align-self:centered pt:32px" id="carousel-1">
        <h2 class="fs:24px play:bold sm+:pl:8px xl+:px:0 py:16px">Carousel #1: Even height slides</h2>
        <div class="pb:4px carousel carousel:center-mode-all-equal" data-module="carousel" id="" data-carousel-number-active="[1,1,2,3]" data-carousel-offset="[32,0.25,0.1666667,0.125]" data-carousel-breakpoint="sm-up" data-carousel-transition-duration="[0.5,1,1,1]">
          <div class="position:relative w:100%">
            <ul data-module="carousel.item-group" class="items-group row unstyle-pl:0 align:stretch position:relative sm+:px:0">
              <li data-module="carousel.item" class="item align-self:middle">
                <div class="sm+:px:4px md+:px:16px">
                  <div class="content-container bgc:white sm+:px:40px br:4px relative py:40px">
                    <div class="text-align:center">
                      <div class="fs:28px heebo:bold mb:8px">Slide 0</div>
                    </div>
                  </div>
                </div>
              </li>
              <li data-module="carousel.item" class="item align-self:middle active-item">
                <div class="sm+:px:4px md+:px:16px">
                  <div class="content-container bgc:white sm+:px:40px br:4px relative py:40px">
                    <div class="text-align:center">
                      <div class="fs:28px heebo:bold mb:8px">Slide 1</div>
                    </div>
                  </div>
                </div>
              </li>
              <li data-module="carousel.item" class="item align-self:middle">
                <div class="sm+:px:4px md+:px:16px">
                  <div class="content-container bgc:white sm+:px:40px br:4px relative py:40px">
                    <div class="text-align:center">
                      <div class="fs:28px heebo:bold mb:8px">Slide 2</div>
                    </div>
                  </div>
                </div>
              </li>
              <li data-module="carousel.item" class="item align-self:middle">
                <div class="sm+:px:4px md+:px:16px">
                  <div class="content-container bgc:white sm+:px:40px br:4px relative py:40px">
                    <div class="text-align:center">
                      <div class="fs:28px heebo:bold mb:8px">Slide 3</div>
                    </div>
                  </div>
                </div>
              </li>
              <li data-module="carousel.item" class="item align-self:middle">
                <div class="sm+:px:4px md+:px:16px">
                  <div class="content-container bgc:white sm+:px:40px br:4px relative py:40px">
                    <div class="text-align:center">
                      <div class="fs:28px heebo:bold mb:8px">Slide 4</div>
                    </div>
                  </div>
                </div>
              </li>
              <li data-module="carousel.item" class="item align-self:middle display:none">
                <div class="sm+:px:4px md+:px:16px">
                  <div class="content-container bgc:white sm+:px:40px br:4px relative py:40px">
                    <div class="text-align:center">
                      <div class="fs:28px heebo:bold mb:8px">Slide 5</div>
                    </div>
                  </div>
                </div>
              </li>
              <li data-module="carousel.item" class="item align-self:middle display:none">
                <div class="sm+:px:4px md+:px:16px">
                  <div class="content-container bgc:white sm+:px:40px br:4px relative py:40px">
                    <div class="text-align:center">
                      <div class="fs:28px heebo:bold mb:8px">Slide 6</div>
                    </div>
                  </div>
                </div>
              </li>
              <li data-module="carousel.item" class="item align-self:middle display:none">
                <div class="sm+:px:4px md+:px:16px">
                  <div class="content-container bgc:white sm+:px:40px br:4px relative py:40px">
                    <div class="text-align:center">
                      <div class="fs:28px heebo:bold mb:8px">Slide 7</div>
                    </div>
                  </div>
                </div>
              </li>
              <li data-module="carousel.item" class="item align-self:middle display:none">
                <div class="sm+:px:4px md+:px:16px">
                  <div class="content-container bgc:white sm+:px:40px br:4px relative py:40px">
                    <div class="text-align:center">
                      <div class="fs:28px heebo:bold mb:8px">Slide 8</div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
            <div data-module="carousel.controls-group" class="controls-group">
              <button data-module="carousel.controls-prev" class="prev control cursor:pointer b:0 bgc:white sm+:py:24px sm+:pr:8px md+:px:12px box-shadow:custom-5 brtr:4px brbr:4px md+:brtl:8px md+:brbl:8px">
                <span class="show-for-sr">Previous</span>
                <div class="icon icon-type:solid icon-color:blue icon-size:32px chevron-left"></div>
              </button>
              <button data-module="carousel.controls-next" class="next control cursor:pointer b:0 bgc:white sm+:py:24px sm+:pr:8px md+:px:12px box-shadow:custom-5 brtl:4px brbl:4px md+:brtr:8px md+:brbr:8px">
                <span class="show-for-sr">Next</span>
                <div class="icon icon-type:solid icon-color:blue icon-size:32px chevron-right"></div>
              </button>
            </div>
          </div>
          <div data-module="carousel.indicators-group" class="indicators-group display:flex align:center align:middle mt:24px"></div>
        </div>
      </section>

      <div class="w:100% bgc:gray mt:32px pb:48px">
        <section class="mw:1200px align-self:centered pt:32px" id="carousel-2">
          <h2 class="fs:24px play:bold sm+:pl:8px xl+:px:0 py:16px">Carousel #2: Center focus slide (larger in height)</h2>
          <div class="pb:4px carousel carousel:center-mode-bigger" data-module="carousel" id="" data-carousel-number-active="[1,1,1,1]" data-carousel-offset="[32,0.25,0.1666667,0.25]" data-carousel-breakpoint="lg-down" data-carousel-transition-duration="[0.5,1,1,1]" data-carousel-item-height-variable="true">
            <div class="position:relative w:100%">
              <ul data-module="carousel.item-group" class="items-group row unstyle-pl:0 align:stretch position:relative sm+:px:0">
                <li data-module="carousel.item" class="item align-self:middle">
                  <div class="sm+:px:4px md+:px:16px xl+:px:0">
                    <div class="content-container bgc:white sm+:px:40px br:4px relative py:40px">
                      <div class="text-align:center">
                        <div class="fs:28px heebo:bold mb:8px">Slide 0</div>
                      </div>
                    </div>
                  </div>
                </li>
                <li data-module="carousel.item" class="item align-self:middle active-item">
                  <div class="sm+:px:4px md+:px:16px xl+:px:0">
                    <div class="content-container bgc:white sm+:px:40px br:4px relative py:40px">
                      <div class="text-align:center">
                        <div class="fs:28px heebo:bold mb:8px">Slide 1</div>
                      </div>
                    </div>
                  </div>
                </li>
                <li data-module="carousel.item" class="item align-self:middle">
                  <div class="sm+:px:4px md+:px:16px xl+:px:0">
                    <div class="content-container bgc:white sm+:px:40px br:4px relative py:40px">
                      <div class="text-align:center">
                        <div class="fs:28px heebo:bold mb:8px">Slide 2</div>
                      </div>
                    </div>
                  </div>
                </li>
                <li data-module="carousel.item" class="item align-self:middle">
                  <div class="sm+:px:4px md+:px:16px xl+:px:0">
                    <div class="content-container bgc:white sm+:px:40px br:4px relative py:40px">
                      <div class="text-align:center">
                        <div class="fs:28px heebo:bold mb:8px">Slide 3</div>
                      </div>
                    </div>
                  </div>
                </li>
                <li data-module="carousel.item" class="item align-self:middle">
                  <div class="sm+:px:4px md+:px:16px xl+:px:0">
                    <div class="content-container bgc:white sm+:px:40px br:4px relative py:40px">
                      <div class="text-align:center">
                        <div class="fs:28px heebo:bold mb:8px">Slide 4</div>
                      </div>
                    </div>
                  </div>
                </li>
                <li data-module="carousel.item" class="item align-self:middle display:none">
                  <div class="sm+:px:4px md+:px:16px xl+:px:0">
                    <div class="content-container bgc:white sm+:px:40px br:4px relative py:40px">
                      <div class="text-align:center">
                        <div class="fs:28px heebo:bold mb:8px">Slide 5</div>
                      </div>
                    </div>
                  </div>
                </li>
                <li data-module="carousel.item" class="item align-self:middle display:none">
                  <div class="sm+:px:4px md+:px:16px xl+:px:0">
                    <div class="content-container bgc:white sm+:px:40px br:4px relative py:40px">
                      <div class="text-align:center">
                        <div class="fs:28px heebo:bold mb:8px">Slide 6</div>
                      </div>
                    </div>
                  </div>
                </li>
                <li data-module="carousel.item" class="item align-self:middle display:none">
                  <div class="sm+:px:4px md+:px:16px xl+:px:0">
                    <div class="content-container bgc:white sm+:px:40px br:4px relative py:40px">
                      <div class="text-align:center">
                        <div class="fs:28px heebo:bold mb:8px">Slide 7</div>
                      </div>
                    </div>
                  </div>
                </li>
                <li data-module="carousel.item" class="item align-self:middle display:none">
                  <div class="sm+:px:4px md+:px:16px xl+:px:0">
                    <div class="content-container bgc:white sm+:px:40px br:4px relative py:40px">
                      <div class="text-align:center">
                        <div class="fs:28px heebo:bold mb:8px">Slide 8</div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <div data-module="carousel.controls-group" class="controls-group">
                <button data-module="carousel.controls-prev" class="prev control cursor:pointer b:0 bgc:white sm+:py:24px sm+:pr:8px md+:px:12px box-shadow:custom-5 brtr:4px brbr:4px md+:brbr:8px md+:brbl:8px">
                  <span class="show-for-sr">Previous</span>
                  <div class="icon icon-type:solid icon-color:blue icon-size:32px chevron-left"></div>
                </button>
                <button data-module="carousel.controls-next" class="next control cursor:pointer b:0 bgc:white sm+:py:24px sm+:pr:8px md+:px:12px box-shadow:custom-5 brtl:4px brbl:4px md+:brtr:8px md+:brbr:8px">
                  <span class="show-for-sr">Next</span>
                  <div class="icon icon-type:solid icon-color:blue icon-size:32px chevron-right"></div>
                </button>
              </div>
            </div>
            <div data-module="carousel.indicators-group" class="indicators-group display:flex align:center align:middle mt:24px"></div>
          </div>
        </section>
      </div>

      <section class="mw:1200px align-self:centered pt:32px">
        <h2 class="fs:24px play:bold sm+:pl:8px xl+:px:0 py:16px">Carousel #3: Full width slide</h2>
      </section>
      <section class="w:100% align-self:centered" id="carousel-3">
        <div class="pb:4px carousel carousel:center-mode-all-equal" data-module="carousel" id="" data-carousel-number-active="[1,1,1,1]" data-carousel-offset="[0,0,0,0]" data-carousel-breakpoint="sm-up" data-carousel-transition-duration="[0.5,1,1,1]">
          <div class="position:relative w:100%">
            <ul data-module="carousel.item-group" class="items-group row unstyle-pl:0 align:stretch position:relative sm+:px:0">
              <li data-module="carousel.item" class="item align-self:middle">
                <div class="px:0">
                  <div class="content-container bgc:white sm+:px:40px br:4px relative py:40px">
                    <div class="text-align:center">
                      <div class="fs:28px heebo:bold mb:8px">Slide 0</div>
                    </div>
                  </div>
                </div>
              </li>
              <li data-module="carousel.item" class="item align-self:middle">
                <div class="px:0">
                  <div class="content-container bgc:white sm+:px:40px br:4px relative py:40px">
                    <div class="text-align:center">
                      <div class="fs:28px heebo:bold mb:8px">Slide 1</div>
                    </div>
                  </div>
                </div>
              </li>
              <li data-module="carousel.item" class="item align-self:middle active-item">
                <div class="px:0">
                  <div class="content-container bgc:white sm+:px:40px br:4px relative py:40px">
                    <div class="text-align:center">
                      <div class="fs:28px heebo:bold mb:8px">Slide 2</div>
                    </div>
                  </div>
                </div>
              </li>
              <li data-module="carousel.item" class="item align-self:middle">
                <div class="px:0">
                  <div class="content-container bgc:white sm+:px:40px br:4px relative py:40px">
                    <div class="text-align:center">
                      <div class="fs:28px heebo:bold mb:8px">Slide 3</div>
                    </div>
                  </div>
                </div>
              </li>
              <li data-module="carousel.item" class="item align-self:middle">
                <div class="px:0">
                  <div class="content-container bgc:white sm+:px:40px br:4px relative py:40px">
                    <div class="text-align:center">
                      <div class="fs:28px heebo:bold mb:8px">Slide 4</div>
                    </div>
                  </div>
                </div>
              </li>
              <li data-module="carousel.item" class="item align-self:middle display:none">
                <div class="px:0">
                  <div class="content-container bgc:white sm+:px:40px br:4px relative py:40px">
                    <div class="text-align:center">
                      <div class="fs:28px heebo:bold mb:8px">Slide 5</div>
                    </div>
                  </div>
                </div>
              </li>
              <li data-module="carousel.item" class="item align-self:middle display:none">
                <div class="px:0">
                  <div class="content-container bgc:white sm+:px:40px br:4px relative py:40px">
                    <div class="text-align:center">
                      <div class="fs:28px heebo:bold mb:8px">Slide 6</div>
                    </div>
                  </div>
                </div>
              </li>
              <li data-module="carousel.item" class="item align-self:middle display:none">
                <div class="px:0">
                  <div class="content-container bgc:white sm+:px:40px br:4px relative py:40px">
                    <div class="text-align:center">
                      <div class="fs:28px heebo:bold mb:8px">Slide 7</div>
                    </div>
                  </div>
                </div>
              </li>
              <li data-module="carousel.item" class="item align-self:middle display:none">
                <div class="px:0">
                  <div class="content-container bgc:white sm+:px:40px br:4px relative py:40px">
                    <div class="text-align:center">
                      <div class="fs:28px heebo:bold mb:8px">Slide 8</div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
            <div data-module="carousel.controls-group" class="controls-group">
              <button data-module="carousel.controls-prev" class="prev control cursor:pointer b:0 bgc:white ml:16px sm+:p:8px box-shadow:custom-3 br:50%">
                <span class="show-for-sr">Previous</span>
                <div class="icon icon-type:solid icon-color:blue icon-size:24px chevron-left"></div>
              </button>
              <button data-module="carousel.controls-next" class="next control cursor:pointer b:0 bgc:white mr:16px sm+:p:8px box-shadow:custom-3 br:50%">
                <span class="show-for-sr">Next</span>
                <div class="icon icon-type:solid icon-color:blue icon-size:24px chevron-right"></div>
              </button>
            </div>
          </div>
          <div data-module="carousel.indicators-group" class="indicators-group display:flex align:center align:middle mt:24px"></div>
        </div>
      </section>

      <section class="w:100% align-self:centered pt:32px">
        <h2 class="fs:32px play:bold sm+:pl:8px xl+:px:0 pt:16px">Build your carousel</h2>
        <div class="row w:100% md+:w-divided-by:3 md+:w-divided-by:3 ">
          <div class="sm+:w:12 sm+:px:8px xl+:px:0 b-silver:1px bgc:white">
            <div class="form:theme:gl0b3x">
              <h3 class="fs:24px play:bold xl+:px:0 py:16px">Carousel #1</h3>
              <fieldset class="unstyle box-radio-buttons mb:8px">
                <legend class="pb:8px">Carousel Container Size</legend>
                <input type="radio" name="carousel_container_size-1" onChange="storm_eagle.carousel_builder.update('1','container_size','w:100%');" id="full-width-1"><label for="full-width-1">100%</label>
                <input type="radio" name="carousel_container_size-1" onChange="storm_eagle.carousel_builder.update('1','container_size','mw:1200px');" id="container-1200-1" checked><label for="container-1200-1">1200px</label>
              </fieldset>
              <div class="position:relative overflow:hidden pb:32px">
                <label for="number_of_slides-1">Number of Slides</label>
                <div data-module="slider.input-container">
                  <input data-module="slider.input" id="" onChange="storm_eagle.carousel_builder.update('1','num_slides',this.value);" value="5" class="display:block align-self:centered w:100% slider" type="range" id="number_of_slides-1" name="number_of_slides-1" min="1" max="9" steps="1" value="1">
                  <span class="slider-background"><span class="slider-fill" data-module="slider.fill"></span></span>
                  <ul data-module="slider.labels" class="slider-labels position:absolute text-align:center unstyle-pl:0 display:flex align:justify w:100%"><li>1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li><li>8</li><li>9</li></ul>
                </div>
              </div>
              <fieldset class="unstyle box-radio-buttons mb:8px">
                <legend class="pb:8px">Carousel is active on</legend>
                <input type="radio" name="carousel_active-1" onChange="storm_eagle.carousel_builder.update('1','breakpoint','sm-only');" id="sm_only-1"><label for="sm_only-1">sm_only</label>
                <input type="radio" name="carousel_active-1" onChange="storm_eagle.carousel_builder.update('1','breakpoint','sm-up');" id="sm_up-1" checked><label for="sm_up-1">sm_up</label>
                <input type="radio" name="carousel_active-1" onChange="storm_eagle.carousel_builder.update('1','breakpoint','md-down');" id="md_down-1"><label for="md_down-1">md_down</label>
                <input type="radio" name="carousel_active-1" onChange="storm_eagle.carousel_builder.update('1','breakpoint','md-only');" id="md_only-1"><label for="md_only-1">md_only</label>
                <input type="radio" name="carousel_active-1" onChange="storm_eagle.carousel_builder.update('1','breakpoint','md-up');" id="md_up-1"><label for="md_up-1">md_up</label>
                <input type="radio" name="carousel_active-1" onChange="storm_eagle.carousel_builder.update('1','breakpoint','lg-down');" id="lg_down-1"><label for="lg_down-1">lg_down</label>
                <input type="radio" name="carousel_active-1" onChange="storm_eagle.carousel_builder.update('1','breakpoint','lg-only');" id="lg_only-1"><label for="lg_only-1">lg_only</label>
                <input type="radio" name="carousel_active-1" onChange="storm_eagle.carousel_builder.update('1','breakpoint','lg-up');" id="lg_up-1"><label for="lg_up-1">lg_up</label>
                <input type="radio" name="carousel_active-1" onChange="storm_eagle.carousel_builder.update('1','breakpoint','xl-up');" id="xl_up-1"><label for="xl_up-1">xl_up</label>
              </fieldset>
              <fieldset class="unstyle box-radio-buttons mb:8px">
                <legend class="pb:8px">Carousel type:</legend>
                <input type="radio" name="carousel_type-1" onChange="storm_eagle.carousel_builder.update('1','type','carousel:center-mode-all-equal');" id="height-equal-1" checked><label for="height-equal-1">Items Height Equal</label>
                <input type="radio" name="carousel_type-1" onChange="storm_eagle.carousel_builder.update('1','type','carousel:center-mode-bigger');" id="active-bigger-1"><label for="active-bigger-1">Active larger</label>
              </fieldset>
            </div>
            <div class="form:theme:gl0b3x">
              <table class="w:100%" border="1" style="border-collapse: collapse;">
                <tr>
                  <th class="text-align:left">
                    <div class="fs:16px position:relative display:flex align:middle">
                      Focused slide on load <button class="flex-grow:0 unstyle ml:4px" aria-haspopup="true" aria-expanded="false" data-module="popover.trigger" onclick="storm_eagle.popover.open(this,'focused-item-1');" aria-label="What does 'focused slide on load' mean?, opens in a new pop-up"><span class="icon icon-type:solid display:block icon-color:blue icon-size:20px info-circle" aria-hidden="true"></span></button>
                      <div class="popover right" data-module="popover" role="dialog" aria-modal="true" id="focused-item-1" aria-labelledby="focused-item-1-id">
                        <div class="bgc:white w:100% md-:brtl:4px md-:brtr:4px lg+:br:4px">
                          <button class="unstyle close" data-trigger="popover-close" onclick="storm_eagle.popover.close();" aria-label="Close information pop-up"><span class="icon icon-type:solid display:block icon-color:onyx icon-size:24px times" aria-hidden="true"></span></button>
                          <div class="lh:24 md-:py:16px md-:pl:16px md-:pr:48px lg+:py:24px lg+:pl:32px lg+:pr:56px">
                            <p id="focused-item-1-id">The slide that is focused on load</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </th>
                  <td colspan="4">
                    <div class="align-self:centered position:relative" style="width:40px">
                      <select id="carousel-active-1" class="icon-color:blue" onChange="storm_eagle.carousel_builder.update('1','focused-item',this.value);">
                        <option value="1">1</option>
                        <option value="2" selected>2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6" disabled>6</option>
                        <option value="7" disabled>7</option>
                        <option value="8" disabled>8</option>
                        <option value="9" disabled>9</option>
                      </select>
                      <label for="carousel-active-1" class="active-label"><span class="description"></span></label>
                    </div></td>
                </tr>
                <tr>
                  <th class="text-align:left" style=""></th>
                  <th class="text-align:center" style="width:45px"2>sm</th>
                  <th class="text-align:center" style="width:45px"2>md</th>
                  <th class="text-align:center" style="width:45px"2>lg</th>
                  <th class="text-align:center" style="width:45px"2>xl</th>
                </tr>
                <tr>
                  <th class="text-align:left">
                    <div class="fs:16px position:relative display:flex align:middle">
                      Number of active slides <button class="flex-grow:0 unstyle ml:4px" aria-haspopup="true" aria-expanded="false" data-module="popover.trigger" onclick="storm_eagle.popover.open(this,'number-active-elements-1');" aria-label="What does 'number of active slides' mean?, opens in a new pop-up"><span class="icon icon-type:solid display:block icon-color:blue icon-size:20px info-circle" aria-hidden="true"></span></button>
                      <div class="popover right" data-module="popover" role="dialog" aria-modal="true" id="number-active-elements-1" aria-labelledby="number-active-elements-1-id">
                        <div class="bgc:white w:100% md-:brtl:4px md-:brtr:4px lg+:br:4px">
                          <button class="unstyle close" data-trigger="popover-close" onclick="storm_eagle.popover.close();" aria-label="Close information pop-up"><span class="icon icon-type:solid display:block icon-color:onyx icon-size:24px times" aria-hidden="true"></span></button>
                          <div class="lh:24 md-:py:16px md-:pl:16px md-:pr:48px lg+:py:24px lg+:pl:32px lg+:pr:56px">
                            <p id="number-active-elements-1-id">The number of full slides that will be on the screen at a given time</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </th>
                  <td class="position:relative">
                    <div class="align-self:centered position:relative" style="width:40px">
                      <select id="carousel-num-active-sm-1" class="icon-color:blue" onChange="storm_eagle.carousel_builder.update('1','number-active-elements-sm',this.value);">
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6" disabled>6</option>
                        <option value="7" disabled>7</option>
                        <option value="8" disabled>8</option>
                        <option value="9" disabled>9</option>
                      </select>
                      <label for="carousel-num-active-sm-1" class="active-label"><span class="description"></span></label>
                    </div></td>
                  <td class="position:relative">
                    <div class="align-self:centered position:relative" style="width:40px">
                      <select id="carousel-num-active-md-1" class="icon-color:blue" onChange="storm_eagle.carousel_builder.update('1','number-active-elements-md',this.value);">
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6" disabled>6</option>
                        <option value="7" disabled>7</option>
                        <option value="8" disabled>8</option>
                        <option value="9" disabled>9</option>
                      </select>
                      <label for="carousel-num-active-md-1" class="active-label"><span class="description"></span></label>
                    </div></td>
                  <td class="position:relative">
                    <div class="align-self:centered position:relative" style="width:40px">
                      <select id="carousel-num-active-lg-1" class="icon-color:blue" onChange="storm_eagle.carousel_builder.update('1','number-active-elements-lg',this.value);">
                        <option value="1">1</option>
                        <option value="2" selected>2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6" disabled>6</option>
                        <option value="7" disabled>7</option>
                        <option value="8" disabled>8</option>
                        <option value="9" disabled>9</option>
                      </select>
                      <label for="carousel-num-active-lg-1" class="active-label"><span class="description"></span></label>
                    </div></td>
                  <td class="position:relative">
                    <div class="align-self:centered position:relative" style="width:40px">
                      <select id="carousel-num-active-xl-1" class="icon-color:blue" onChange="storm_eagle.carousel_builder.update('1','number-active-elements-xl',this.value);">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3" selected>3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6" disabled>6</option>
                        <option value="7" disabled>7</option>
                        <option value="8" disabled>8</option>
                        <option value="9" disabled>9</option>
                      </select>
                      <label for="carousel-num-active-xl-1" class="active-label"><span class="description"></span></label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th class="text-align:left">
                    <div class="fs:16px position:relative display:flex align:middle">
                      Left offset <button class="flex-grow:0 unstyle ml:4px" aria-haspopup="true" aria-expanded="false" data-module="popover.trigger" onclick="storm_eagle.popover.open(this,'left-offset-1');" aria-label="What does 'left offset' mean?, opens in a new pop-up"><span class="icon icon-type:solid display:block icon-color:blue icon-size:20px info-circle" aria-hidden="true"></span></button>
                      <div class="popover right" data-module="popover" role="dialog" aria-modal="true" id="left-offset-1" aria-labelledby="left-offset-1-id">
                        <div class="bgc:white w:100% md-:brtl:4px md-:brtr:4px lg+:br:4px">
                          <button class="unstyle close" data-trigger="popover-close" onclick="storm_eagle.popover.close();" aria-label="Close information pop-up"><span class="icon icon-type:solid display:block icon-color:onyx icon-size:24px times" aria-hidden="true"></span></button>
                          <div class="lh:24 md-:py:16px md-:pl:16px md-:pr:48px lg+:py:24px lg+:pl:32px lg+:pr:56px">
                            <p id="left-offset-1-id">The offset from the left the slide will be.<br>Numbers 0 to 1 represent percentages.<br>Numbers 1+ represent pixels</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </th>
                  <td class="position:relative"><input type="text" class="text-align:center color:blue" style="width:45px" value="32" onChange="storm_eagle.carousel_builder.update('1','left-offset-sm',this.value);" id="left-offset-sm-1"><label for="left-offset-sm-1"><span class="description"></span></label></td>
                  <td class="position:relative"><input type="text" class="text-align:center color:blue" style="width:45px" value="0.25" onChange="storm_eagle.carousel_builder.update('1','left-offset-md',this.value);" id="left-offset-md-1"><label for="left-offset-md-1"><span class="description"></span></label></td>
                  <td class="position:relative"><input type="text" class="text-align:center color:blue" style="width:45px" value="0.16667" onChange="storm_eagle.carousel_builder.update('1','left-offset-lg',this.value);" id="left-offset-lg-1"><label for="left-offset-lg-1"><span class="description"></span></label></td>
                  <td class="position:relative"><input type="text" class="text-align:center color:blue" style="width:45px" value="0.125" onChange="storm_eagle.carousel_builder.update('1','left-offset-xl',this.value);" id="left-offset-xl-1"><label for="left-offset-xl-1"><span class="description"></span></label></td>
                </tr>
                <tr>
                  <th class="text-align:left">
                    <div class="fs:16px position:relative display:flex align:middle">
                      Transition Speed (s) <button class="flex-grow:0 unstyle ml:4px" aria-haspopup="true" aria-expanded="false" data-module="popover.trigger" onclick="storm_eagle.popover.open(this,'transition-speed-2');" aria-label="What does 'transition speed(s)' mean?, opens in a new pop-up"><span class="icon icon-type:solid display:block icon-color:blue icon-size:20px info-circle" aria-hidden="true"></span></button>
                      <div class="popover right" data-module="popover" role="dialog" aria-modal="true" id="transition-speed-2" aria-labelledby="transition-speed-2-id">
                        <div class="bgc:white w:100% md-:brtl:4px md-:brtr:4px lg+:br:4px">
                          <button class="unstyle close" data-trigger="popover-close" onclick="storm_eagle.popover.close();" aria-label="Close information pop-up"><span class="icon icon-type:solid display:block icon-color:onyx icon-size:24px times" aria-hidden="true"></span></button>
                          <div class="lh:24 md-:py:16px md-:pl:16px md-:pr:48px lg+:py:24px lg+:pl:32px lg+:pr:56px">
                            <p id="transition-speed-2-id">The speed at which the slide will transition</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </th>
                  <td class="position:relative"><input type="text" class="text-align:center color:blue" style="width:45px" value="0.5" onChange="storm_eagle.carousel_builder.update('1','transition-speed-sm',this.value);" id="transition-speed-sm-1"><label for="transition-speed-sm-1"><span class="description"></span></label></td>
                  <td class="position:relative"><input type="text" class="text-align:center color:blue" style="width:45px" value="1" onChange="storm_eagle.carousel_builder.update('1','transition-speed-md',this.value);" id="transition-speed-md-1"><label for="transition-speed-md-1"><span class="description"></span></label></td>
                  <td class="position:relative"><input type="text" class="text-align:center color:blue" style="width:45px" value="1" onChange="storm_eagle.carousel_builder.update('1','transition-speed-lg',this.value);" id="transition-speed-lg-1"><label for="transition-speed-lg-1"><span class="description"></span></label></td>
                  <td class="position:relative"><input type="text" class="text-align:center color:blue" style="width:45px" value="1" onChange="storm_eagle.carousel_builder.update('1','transition-speed-xl',this.value);" id="transition-speed-xl-1"><label for="transition-speed-xl-1"><span class="description"></span></label></td>
                </tr>
              </table>
            </div>
          </div>
          <div class="sm+:w:12 sm+:px:8px xl+:px:0 b-silver:1px bgc:white">
            <div class="form:theme:gl0b3x">
              <h3 class="fs:24px play:bold xl+:px:0 py:16px">Carousel #2</h3>
              <fieldset class="unstyle box-radio-buttons mb:8px">
                <legend class="pb:8px">Carousel Container Size</legend>
                <input type="radio" name="carousel_container_size-2" onChange="storm_eagle.carousel_builder.update('2','container_size','w:100%');" id="full-width-2"><label for="full-width-2">100%</label>
                <input type="radio" name="carousel_container_size-2" onChange="storm_eagle.carousel_builder.update('2','container_size','mw:1200px');" id="container-1200-2" checked><label for="container-1200-2">1200px</label>
              </fieldset>
              <div class="position:relative overflow:hidden pb:32px">
                <label for="number_of_slides-2">Number of Slides</label>
                <div data-module="slider.input-container">
                  <input data-module="slider.input" id="" onChange="storm_eagle.carousel_builder.update('2','num_slides',this.value);" value="5" class="display:block align-self:centered w:100% slider" type="range" id="number_of_slides-2" name="number_of_slides-2" min="1" max="9" steps="1" value="1">
                  <span class="slider-background"><span class="slider-fill" data-module="slider.fill"></span></span>
                  <ul data-module="slider.labels" class="slider-labels position:absolute text-align:center unstyle-pl:0 display:flex align:justify w:100%"><li>1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li><li>8</li><li>9</li></ul>
                </div>
              </div>
              <fieldset class="unstyle box-radio-buttons mb:8px">
                <legend class="pb:8px">Carousel is active on</legend>
                <input type="radio" name="carousel_active-2" onChange="storm_eagle.carousel_builder.update('2','breakpoint','sm-only');" id="sm_only-2"><label for="sm_only-2">sm_only</label>
                <input type="radio" name="carousel_active-2" onChange="storm_eagle.carousel_builder.update('2','breakpoint','sm-up');" id="sm_up-2"><label for="sm_up-2">sm_up</label>
                <input type="radio" name="carousel_active-2" onChange="storm_eagle.carousel_builder.update('2','breakpoint','md-down');" id="md_down-2"><label for="md_down-2">md_down</label>
                <input type="radio" name="carousel_active-2" onChange="storm_eagle.carousel_builder.update('2','breakpoint','md-only');" id="md_only-2"><label for="md_only-2">md_only</label>
                <input type="radio" name="carousel_active-2" onChange="storm_eagle.carousel_builder.update('2','breakpoint','md-up');" id="md_up-2"><label for="md_up-2">md_up</label>
                <input type="radio" name="carousel_active-2" onChange="storm_eagle.carousel_builder.update('2','breakpoint','lg-down');" id="lg_down-2" checked><label for="lg_down-2">lg_down</label>
                <input type="radio" name="carousel_active-2" onChange="storm_eagle.carousel_builder.update('2','breakpoint','lg-only');" id="lg_only-2"><label for="lg_only-2">lg_only</label>
                <input type="radio" name="carousel_active-2" onChange="storm_eagle.carousel_builder.update('2','breakpoint','lg-up');" id="lg_up-2"><label for="lg_up-2">lg_up</label>
                <input type="radio" name="carousel_active-2" onChange="storm_eagle.carousel_builder.update('2','breakpoint','xl-up');" id="xl_up-2"><label for="xl_up-2">xl_up</label>
              </fieldset>
              <fieldset class="unstyle box-radio-buttons mb:8px">
                <legend class="pb:8px">Carousel type:</legend>
                <input type="radio" name="carousel_type-2" onChange="storm_eagle.carousel_builder.update('2','type','carousel:center-mode-all-equal');" id="height-equal-2"><label for="height-equal-2">Items Height Equal</label>
                <input type="radio" name="carousel_type-2" onChange="storm_eagle.carousel_builder.update('2','type','carousel:center-mode-bigger');" id="active-bigger-2" checked><label for="active-bigger-2">Active larger</label>
              </fieldset>
            </div>
            <div class="form:theme:gl0b3x">
              <table class="w:100%" border="1" style="border-collapse: collapse;">
                <tr>
                  <th class="text-align:left">
                    <div class="fs:16px position:relative display:flex align:middle">
                      Focused slide on load <button class="flex-grow:0 unstyle ml:4px" aria-haspopup="true" aria-expanded="false" data-module="popover.trigger" onclick="storm_eagle.popover.open(this,'focused-item-2');" aria-label="What does 'focused slide on load' mean?, opens in a new pop-up"><span class="icon icon-type:solid display:block icon-color:blue icon-size:20px info-circle" aria-hidden="true"></span></button>
                      <div class="popover right" data-module="popover" role="dialog" aria-modal="true" id="focused-item-2" aria-labelledby="focused-item-2-id">
                        <div class="bgc:white w:100% md-:brtl:4px md-:brtr:4px lg+:br:4px">
                          <button class="unstyle close" data-trigger="popover-close" onclick="storm_eagle.popover.close();" aria-label="Close information pop-up"><span class="icon icon-type:solid display:block icon-color:onyx icon-size:24px times" aria-hidden="true"></span></button>
                          <div class="lh:24 md-:py:16px md-:pl:16px md-:pr:48px lg+:py:24px lg+:pl:32px lg+:pr:56px">
                            <p id="focused-item-2-id">The slide that is focused on load</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </th>
                  <td colspan="4">
                    <div class="align-self:centered position:relative" style="width:40px">
                      <select id="carousel-active-2" class="icon-color:blue" onChange="storm_eagle.carousel_builder.update('2','focused-item',this.value);">
                        <option value="1">1</option>
                        <option value="2" selected>2</option>
                        <option value="3">3</option>
                        <option value="4" disabled>4</option>
                        <option value="5" disabled>5</option>
                        <option value="6" disabled>6</option>
                        <option value="7" disabled>7</option>
                        <option value="8" disabled>8</option>
                        <option value="9" disabled>9</option>
                      </select>
                      <label for="carousel-active-2" class="active-label"><span class="description"></span></label>
                    </div></td>
                </tr>
                <tr>
                  <th class="text-align:left" style=""></th>
                  <th class="text-align:center" style="width:45px"2>sm</th>
                  <th class="text-align:center" style="width:45px"2>md</th>
                  <th class="text-align:center" style="width:45px"2>lg</th>
                  <th class="text-align:center" style="width:45px"2>xl</th>
                </tr>
                <tr>
                  <th class="text-align:left">
                    <div class="fs:16px position:relative display:flex align:middle">
                      Number of active slides <button class="flex-grow:0 unstyle ml:4px" aria-haspopup="true" aria-expanded="false" data-module="popover.trigger" onclick="storm_eagle.popover.open(this,'number-active-elements-2');" aria-label="What does 'number of active slides' mean?, opens in a new pop-up"><span class="icon icon-type:solid display:block icon-color:blue icon-size:20px info-circle" aria-hidden="true"></span></button>
                      <div class="popover right" data-module="popover" role="dialog" aria-modal="true" id="number-active-elements-2" aria-labelledby="number-active-elements-2-id">
                        <div class="bgc:white w:100% md-:brtl:4px md-:brtr:4px lg+:br:4px">
                          <button class="unstyle close" data-trigger="popover-close" onclick="storm_eagle.popover.close();" aria-label="Close information pop-up"><span class="icon icon-type:solid display:block icon-color:onyx icon-size:24px times" aria-hidden="true"></span></button>
                          <div class="lh:24 md-:py:16px md-:pl:16px md-:pr:48px lg+:py:24px lg+:pl:32px lg+:pr:56px">
                            <p id="number-active-elements-2-id">The number of full slides that will be on the screen at a given time</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </th>
                  <td class="position:relative">
                    <div class="align-self:centered position:relative" style="width:40px">
                      <select id="carousel-num-active-sm-2" class="icon-color:blue" onChange="storm_eagle.carousel_builder.update('2','number-active-elements-sm',this.value);">
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4" disabled>4</option>
                        <option value="5" disabled>5</option>
                        <option value="6" disabled>6</option>
                        <option value="7" disabled>7</option>
                        <option value="8" disabled>8</option>
                        <option value="9" disabled>9</option>
                      </select>
                      <label for="carousel-num-active-sm-2" class="active-label"><span class="description"></span></label>
                    </div></td>
                  <td class="position:relative">
                    <div class="align-self:centered position:relative" style="width:40px">
                      <select id="carousel-num-active-md-2" class="icon-color:blue" onChange="storm_eagle.carousel_builder.update('2','number-active-elements-md',this.value);">
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4" disabled>4</option>
                        <option value="5" disabled>5</option>
                        <option value="6" disabled>6</option>
                        <option value="7" disabled>7</option>
                        <option value="8" disabled>8</option>
                        <option value="9" disabled>9</option>
                      </select>
                      <label for="carousel-num-active-md-2" class="active-label"><span class="description"></span></label>
                    </div></td>
                  <td class="position:relative">
                    <div class="align-self:centered position:relative" style="width:40px">
                      <select id="carousel-num-active-lg-2" class="icon-color:blue" onChange="storm_eagle.carousel_builder.update('2','number-active-elements-lg',this.value);">
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4" disabled>4</option>
                        <option value="5" disabled>5</option>
                        <option value="6" disabled>6</option>
                        <option value="7" disabled>7</option>
                        <option value="8" disabled>8</option>
                        <option value="9" disabled>9</option>
                      </select>
                      <label for="carousel-num-active-lg-2" class="active-label"><span class="description"></span></label>
                    </div></td>
                  <td class="position:relative">
                    <div class="align-self:centered position:relative" style="width:40px">
                      <select id="carousel-num-active-xl-2" class="icon-color:blue" onChange="storm_eagle.carousel_builder.update('2','number-active-elements-xl',this.value);">
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4" disabled>4</option>
                        <option value="5" disabled>5</option>
                        <option value="6" disabled>6</option>
                        <option value="7" disabled>7</option>
                        <option value="8" disabled>8</option>
                        <option value="9" disabled>9</option>
                      </select>
                      <label for="carousel-num-active-xl-2" class="active-label"><span class="description"></span></label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th class="text-align:left">
                    <div class="fs:16px position:relative display:flex align:middle">
                      Left offset <button class="flex-grow:0 unstyle ml:4px" aria-haspopup="true" aria-expanded="false" data-module="popover.trigger" onclick="storm_eagle.popover.open(this,'left-offset-2');" aria-label="What does 'left offset' mean?, opens in a new pop-up"><span class="icon icon-type:solid display:block icon-color:blue icon-size:20px info-circle" aria-hidden="true"></span></button>
                      <div class="popover right" data-module="popover" role="dialog" aria-modal="true" id="left-offset-2" aria-labelledby="left-offset-2-id">
                        <div class="bgc:white w:100% md-:brtl:4px md-:brtr:4px lg+:br:4px">
                          <button class="unstyle close" data-trigger="popover-close" onclick="storm_eagle.popover.close();" aria-label="Close information pop-up"><span class="icon icon-type:solid display:block icon-color:onyx icon-size:24px times" aria-hidden="true"></span></button>
                          <div class="lh:24 md-:py:16px md-:pl:16px md-:pr:48px lg+:py:24px lg+:pl:32px lg+:pr:56px">
                            <p id="left-offset-2-id">The offset from the left the slide will be.<br>Numbers 0 to 1 represent percentages.<br>Numbers 1+ represent pixels</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </th>
                  <td class="position:relative"><input type="text" class="text-align:center color:blue" style="width:45px" value="32" onChange="storm_eagle.carousel_builder.update('2','left-offset-sm',this.value);" id="left-offset-sm-2"><label for="left-offset-sm-2"><span class="description"></span></label></td>
                  <td class="position:relative"><input type="text" class="text-align:center color:blue" style="width:45px" value="0.25" onChange="storm_eagle.carousel_builder.update('2','left-offset-md',this.value);" id="left-offset-md-2"><label for="left-offset-md-2"><span class="description"></span></label></td>
                  <td class="position:relative"><input type="text" class="text-align:center color:blue" style="width:45px" value="0.16667" onChange="storm_eagle.carousel_builder.update('2','left-offset-lg',this.value);" id="left-offset-lg-2"><label for="left-offset-lg-2"><span class="description"></span></label></td>
                  <td class="position:relative"><input type="text" class="text-align:center color:blue" style="width:45px" value="0.25" onChange="storm_eagle.carousel_builder.update('2','left-offset-xl',this.value);" id="left-offset-xl-2"><label for="left-offset-xl-2"><span class="description"></span></label></td>
                </tr>
                <tr>
                  <th class="text-align:left">
                    <div class="fs:16px position:relative display:flex align:middle">
                      Transition Speed (s) <button class="flex-grow:0 unstyle ml:4px" aria-haspopup="true" aria-expanded="false" data-module="popover.trigger" onclick="storm_eagle.popover.open(this,'transition-speed-3');" aria-label="What does 'transition speed(s)' mean?, opens in a new pop-up"><span class="icon icon-type:solid display:block icon-color:blue icon-size:20px info-circle" aria-hidden="true"></span></button>
                      <div class="popover right" data-module="popover" role="dialog" aria-modal="true" id="transition-speed-3" aria-labelledby="transition-speed-3-id">
                        <div class="bgc:white w:100% md-:brtl:4px md-:brtr:4px lg+:br:4px">
                          <button class="unstyle close" data-trigger="popover-close" onclick="storm_eagle.popover.close();" aria-label="Close information pop-up"><span class="icon icon-type:solid display:block icon-color:onyx icon-size:24px times" aria-hidden="true"></span></button>
                          <div class="lh:24 md-:py:16px md-:pl:16px md-:pr:48px lg+:py:24px lg+:pl:32px lg+:pr:56px">
                            <p id="transition-speed-3-id">The speed at which the slide will transition</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </th>
                  <td class="position:relative"><input type="text" class="text-align:center color:blue" style="width:45px" value="0.5" onChange="storm_eagle.carousel_builder.update('2','transition-speed-sm',this.value);" id="transition-speed-sm-2"><label for="transition-speed-sm-2"><span class="description"></span></label></td>
                  <td class="position:relative"><input type="text" class="text-align:center color:blue" style="width:45px" value="1" onChange="storm_eagle.carousel_builder.update('2','transition-speed-md',this.value);" id="transition-speed-md-2"><label for="transition-speed-md-2"><span class="description"></span></label></td>
                  <td class="position:relative"><input type="text" class="text-align:center color:blue" style="width:45px" value="1" onChange="storm_eagle.carousel_builder.update('2','transition-speed-lg',this.value);" id="transition-speed-lg-2"><label for="transition-speed-lg-2"><span class="description"></span></label></td>
                  <td class="position:relative"><input type="text" class="text-align:center color:blue" style="width:45px" value="1" onChange="storm_eagle.carousel_builder.update('2','transition-speed-xl',this.value);" id="transition-speed-xl-2"><label for="transition-speed-xl-2"><span class="description"></span></label></td>
                </tr>
              </table>
            </div>
          </div>
          <div class="sm+:w:12 sm+:px:8px xl+:px:0 b-silver:1px bgc:white">
            <div class="form:theme:gl0b3x">
              <h3 class="fs:24px play:bold xl+:px:0 py:16px">Carousel #3</h3>
              <fieldset class="unstyle box-radio-buttons mb:8px">
                <legend class="pb:8px">Carousel Container Size</legend>
                <input type="radio" name="carousel_container_size-3" onChange="storm_eagle.carousel_builder.update('3','container_size','w:100%');" id="full-width-3" checked><label for="full-width-3">100%</label>
                <input type="radio" name="carousel_container_size-3" onChange="storm_eagle.carousel_builder.update('3','container_size','mw:1200px');" id="container-1200-3"><label for="container-1200-3">1200px</label>
              </fieldset>
              <div class="position:relative overflow:hidden pb:32px">
                <label for="number_of_slides-3">Number of Slides</label>
                <div data-module="slider.input-container">
                  <input data-module="slider.input" id="" onChange="storm_eagle.carousel_builder.update('3','num_slides',this.value);" value="5" class="display:block align-self:centered w:100% slider" type="range" id="number_of_slides-3" name="number_of_slides-3" min="1" max="9" steps="1" value="1">
                  <span class="slider-background"><span class="slider-fill" data-module="slider.fill"></span></span>
                  <ul data-module="slider.labels" class="slider-labels position:absolute text-align:center unstyle-pl:0 display:flex align:justify w:100%"><li>1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li><li>8</li><li>9</li></ul>
                </div>
              </div>
              <fieldset class="unstyle box-radio-buttons mb:8px">
                <legend class="pb:8px">Carousel is active on</legend>
                <input type="radio" name="carousel_active-3" onChange="storm_eagle.carousel_builder.update('3','breakpoint','sm-only');" id="sm_only-3"><label for="sm_only-3">sm_only</label>
                <input type="radio" name="carousel_active-3" onChange="storm_eagle.carousel_builder.update('3','breakpoint','sm-up');" id="sm_up-3" checked><label for="sm_up-3">sm_up</label>
                <input type="radio" name="carousel_active-3" onChange="storm_eagle.carousel_builder.update('3','breakpoint','md-down');" id="md_down-3"><label for="md_down-3">md_down</label>
                <input type="radio" name="carousel_active-3" onChange="storm_eagle.carousel_builder.update('3','breakpoint','md-only');" id="md_only-3"><label for="md_only-3">md_only</label>
                <input type="radio" name="carousel_active-3" onChange="storm_eagle.carousel_builder.update('3','breakpoint','md-up');" id="md_up-3"><label for="md_up-3">md_up</label>
                <input type="radio" name="carousel_active-3" onChange="storm_eagle.carousel_builder.update('3','breakpoint','lg-down');" id="lg_down-3"><label for="lg_down-3">lg_down</label>
                <input type="radio" name="carousel_active-3" onChange="storm_eagle.carousel_builder.update('3','breakpoint','lg-only');" id="lg_only-3"><label for="lg_only-3">lg_only</label>
                <input type="radio" name="carousel_active-3" onChange="storm_eagle.carousel_builder.update('3','breakpoint','lg-up');" id="lg_up-3"><label for="lg_up-3">lg_up</label>
                <input type="radio" name="carousel_active-3" onChange="storm_eagle.carousel_builder.update('3','breakpoint','xl-up');" id="xl_up-3"><label for="xl_up-3">xl_up</label>
              </fieldset>
              <fieldset class="unstyle box-radio-buttons mb:8px">
                <legend class="pb:8px">Carousel type:</legend>
                <input type="radio" name="carousel_type-3" onChange="storm_eagle.carousel_builder.update('3','type','carousel:center-mode-all-equal');" id="height-equal-3" checked><label for="height-equal-3">Items Height Equal</label>
                <input type="radio" name="carousel_type-3" onChange="storm_eagle.carousel_builder.update('3','type','carousel:center-mode-bigger');" id="active-bigger-3"><label for="active-bigger-3">Active larger</label>
              </fieldset>
            </div>
            <div class="form:theme:gl0b3x">
              <table class="w:100%" border="1" style="border-collapse: collapse;">
                <tr>
                  <th class="text-align:left">
                    <div class="fs:16px position:relative display:flex align:middle">
                      Focused slide on load <button class="flex-grow:0 unstyle ml:4px" aria-haspopup="true" aria-expanded="false" data-module="popover.trigger" onclick="storm_eagle.popover.open(this,'focused-item-3');" aria-label="What does 'focused slide on load' mean?, opens in a new pop-up"><span class="icon icon-type:solid display:block icon-color:blue icon-size:20px info-circle" aria-hidden="true"></span></button>
                      <div class="popover right" data-module="popover" role="dialog" aria-modal="true" id="focused-item-3" aria-labelledby="focused-item-3-id">
                        <div class="bgc:white w:100% md-:brtl:4px md-:brtr:4px lg+:br:4px">
                          <button class="unstyle close" data-trigger="popover-close" onclick="storm_eagle.popover.close();" aria-label="Close information pop-up"><span class="icon icon-type:solid display:block icon-color:onyx icon-size:24px times" aria-hidden="true"></span></button>
                          <div class="lh:24 md-:py:16px md-:pl:16px md-:pr:48px lg+:py:24px lg+:pl:32px lg+:pr:56px">
                            <p id="focused-item-3-id">The slide that is focused on load</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </th>
                  <td colspan="4">
                    <div class="align-self:centered position:relative" style="width:40px">
                      <select id="carousel-active-3" class="icon-color:blue" onChange="storm_eagle.carousel_builder.update('3','focused-item',this.value);">
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6" disabled>6</option>
                        <option value="7" disabled>7</option>
                        <option value="8" disabled>8</option>
                        <option value="9" disabled>9</option>
                      </select>
                      <label for="carousel-active-3" class="active-label"><span class="description"></span></label>
                    </div></td>
                </tr>
                <tr>
                  <th class="text-align:left" style=""></th>
                  <th class="text-align:center" style="width:45px"2>sm</th>
                  <th class="text-align:center" style="width:45px"2>md</th>
                  <th class="text-align:center" style="width:45px"2>lg</th>
                  <th class="text-align:center" style="width:45px"2>xl</th>
                </tr>
                <tr>
                  <th class="text-align:left">
                    <div class="fs:16px position:relative display:flex align:middle">
                      Number of active slides <button class="flex-grow:0 unstyle ml:4px" aria-haspopup="true" aria-expanded="false" data-module="popover.trigger" onclick="storm_eagle.popover.open(this,'number-active-elements-3');" aria-label="What does 'number of active slides' mean?, opens in a new pop-up"><span class="icon icon-type:solid display:block icon-color:blue icon-size:20px info-circle" aria-hidden="true"></span></button>
                      <div class="popover right" data-module="popover" role="dialog" aria-modal="true" id="number-active-elements-3" aria-labelledby="number-active-elements-3-id">
                        <div class="bgc:white w:100% md-:brtl:4px md-:brtr:4px lg+:br:4px">
                          <button class="unstyle close" data-trigger="popover-close" onclick="storm_eagle.popover.close();" aria-label="Close information pop-up"><span class="icon icon-type:solid display:block icon-color:onyx icon-size:24px times" aria-hidden="true"></span></button>
                          <div class="lh:24 md-:py:16px md-:pl:16px md-:pr:48px lg+:py:24px lg+:pl:32px lg+:pr:56px">
                            <p id="number-active-elements-3-id">The number of full slides that will be on the screen at a given time</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </th>
                  <td class="position:relative">
                    <div class="align-self:centered position:relative" style="width:40px">
                      <select id="carousel-num-active-sm-3" class="icon-color:blue" onChange="storm_eagle.carousel_builder.update('3','number-active-elements-sm',this.value);">
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6" disabled>6</option>
                        <option value="7" disabled>7</option>
                        <option value="8" disabled>8</option>
                        <option value="9" disabled>9</option>
                      </select>
                      <label for="carousel-num-active-sm-3" class="active-label"><span class="description"></span></label>
                    </div></td>
                  <td class="position:relative">
                    <div class="align-self:centered position:relative" style="width:40px">
                      <select id="carousel-num-active-md-3" class="icon-color:blue" onChange="storm_eagle.carousel_builder.update('3','number-active-elements-md',this.value);">
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6" disabled>6</option>
                        <option value="7" disabled>7</option>
                        <option value="8" disabled>8</option>
                        <option value="9" disabled>9</option>
                      </select>
                      <label for="carousel-num-active-md-3" class="active-label"><span class="description"></span></label>
                    </div></td>
                  <td class="position:relative">
                    <div class="align-self:centered position:relative" style="width:40px">
                      <select id="carousel-num-active-lg-3" class="icon-color:blue" onChange="storm_eagle.carousel_builder.update('3','number-active-elements-lg',this.value);">
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6" disabled>6</option>
                        <option value="7" disabled>7</option>
                        <option value="8" disabled>8</option>
                        <option value="9" disabled>9</option>
                      </select>
                      <label for="carousel-num-active-lg-3" class="active-label"><span class="description"></span></label>
                    </div></td>
                  <td class="position:relative">
                    <div class="align-self:centered position:relative" style="width:40px">
                      <select id="carousel-num-active-xl-3" class="icon-color:blue" onChange="storm_eagle.carousel_builder.update('3','number-active-elements-xl',this.value);">
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6" disabled>6</option>
                        <option value="7" disabled>7</option>
                        <option value="8" disabled>8</option>
                        <option value="9" disabled>9</option>
                      </select>
                      <label for="carousel-num-active-xl-3" class="active-label"><span class="description"></span></label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th class="text-align:left">
                    <div class="fs:16px position:relative display:flex align:middle">
                      Left offset <button class="flex-grow:0 unstyle ml:4px" aria-haspopup="true" aria-expanded="false" data-module="popover.trigger" onclick="storm_eagle.popover.open(this,'left-offset-3');" aria-label="What does 'left offset' mean?, opens in a new pop-up"><span class="icon icon-type:solid display:block icon-color:blue icon-size:20px info-circle" aria-hidden="true"></span></button>
                      <div class="popover right" data-module="popover" role="dialog" aria-modal="true" id="left-offset-3" aria-labelledby="left-offset-3-id">
                        <div class="bgc:white w:100% md-:brtl:4px md-:brtr:4px lg+:br:4px">
                          <button class="unstyle close" data-trigger="popover-close" onclick="storm_eagle.popover.close();" aria-label="Close information pop-up"><span class="icon icon-type:solid display:block icon-color:onyx icon-size:24px times" aria-hidden="true"></span></button>
                          <div class="lh:24 md-:py:16px md-:pl:16px md-:pr:48px lg+:py:24px lg+:pl:32px lg+:pr:56px">
                            <p id="left-offset-3-id">The offset from the left the slide will be.<br>Numbers 0 to 1 represent percentages.<br>Numbers 1+ represent pixels</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </th>
                  <td class="position:relative"><input type="text" class="text-align:center color:blue" style="width:45px" value="0" onChange="storm_eagle.carousel_builder.update('3','left-offset-sm',this.value);" id="left-offset-sm-3"><label for="left-offset-sm-3"><span class="description"></span></label></td>
                  <td class="position:relative"><input type="text" class="text-align:center color:blue" style="width:45px" value="0" onChange="storm_eagle.carousel_builder.update('3','left-offset-md',this.value);" id="left-offset-md-3"><label for="left-offset-md-3"><span class="description"></span></label></td>
                  <td class="position:relative"><input type="text" class="text-align:center color:blue" style="width:45px" value="0" onChange="storm_eagle.carousel_builder.update('3','left-offset-lg',this.value);" id="left-offset-lg-3"><label for="left-offset-lg-3"><span class="description"></span></label></td>
                  <td class="position:relative"><input type="text" class="text-align:center color:blue" style="width:45px" value="0" onChange="storm_eagle.carousel_builder.update('3','left-offset-xl',this.value);" id="left-offset-xl-3"><label for="left-offset-xl-3"><span class="description"></span></label></td>
                </tr>
                <tr>
                  <th class="text-align:left">
                    <div class="fs:16px position:relative display:flex align:middle">
                      Transition Speed (s) <button class="flex-grow:0 unstyle ml:4px" aria-haspopup="true" aria-expanded="false" data-module="popover.trigger" onclick="storm_eagle.popover.open(this,'transition-speed-1');" aria-label="What does 'transition speed(s)' mean?, opens in a new pop-up"><span class="icon icon-type:solid display:block icon-color:blue icon-size:20px info-circle" aria-hidden="true"></span></button>
                      <div class="popover right" data-module="popover" role="dialog" aria-modal="true" id="transition-speed-1" aria-labelledby="transition-speed-1-id">
                        <div class="bgc:white w:100% md-:brtl:4px md-:brtr:4px lg+:br:4px">
                          <button class="unstyle close" data-trigger="popover-close" onclick="storm_eagle.popover.close();" aria-label="Close information pop-up"><span class="icon icon-type:solid display:block icon-color:onyx icon-size:24px times" aria-hidden="true"></span></button>
                          <div class="lh:24 md-:py:16px md-:pl:16px md-:pr:48px lg+:py:24px lg+:pl:32px lg+:pr:56px">
                            <p id="transition-speed-1-id">The speed at which the slide will transition</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </th>
                  <td class="position:relative"><input type="text" class="text-align:center color:blue" style="width:45px" value="0.5" onChange="storm_eagle.carousel_builder.update('3','transition-speed-sm',this.value);" id="transition-speed-sm-3"><label for="transition-speed-sm-3"><span class="description"></span></label></td>
                  <td class="position:relative"><input type="text" class="text-align:center color:blue" style="width:45px" value="1" onChange="storm_eagle.carousel_builder.update('3','transition-speed-md',this.value);" id="transition-speed-md-3"><label for="transition-speed-md-3"><span class="description"></span></label></td>
                  <td class="position:relative"><input type="text" class="text-align:center color:blue" style="width:45px" value="1" onChange="storm_eagle.carousel_builder.update('3','transition-speed-lg',this.value);" id="transition-speed-lg-3"><label for="transition-speed-lg-3"><span class="description"></span></label></td>
                  <td class="position:relative"><input type="text" class="text-align:center color:blue" style="width:45px" value="1" onChange="storm_eagle.carousel_builder.update('3','transition-speed-xl',this.value);" id="transition-speed-xl-3"><label for="transition-speed-xl-3"><span class="description"></span></label></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </section>

      <section class="mw:1200px align-self:centered pt:32px">
        <h2 class="fs:32px play:bold sm+:pl:8px xl+:px:0 pt:16px">To Do</h2>
        <ul>
          <li>Infinite scroll</li>
          <li>slide more than 1 item</li>
          <li>touch event</li>
        </ul>
      </section>


      <div data-module="popover.overlay" class="popover-overlay"></div>
    </main>

<%- include(`${process.env.PWD}/_dev/_layouts/_default.scripts.ejs`, pageData) %>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.footer.ejs`, pageData) %>