<%- include(`${process.env.PWD}/_dev/_layouts/_default.head.ejs`, pageData) %>
    <main class="w:100% pb:96px" role="main">

      <section class="row py:32px">
        <h1 class="play:bold fs:40px color:eerie-black">Carousels</h1>
      </section>

      <section class="row">
        <div class="w:12">
          <h2 class="play:bold fs:32px color:eerie-black pb:32px">Config: Constrained to Page Grid</h2>
        </div>
      </section>
      <section class="mw:1280px align-self:centered" id="carousel-1">
        <div id
          class="pt:32px b-silver:1px position:relative bgc:white-smoke display:flex flex-flow:row-wrap"
          data-module="carousel"
          data-carousel-item-active="1"
          data-carousel-number-active="[1,1,2,3]"
          data-carousel-offset="[32,0.25,0.1666667,0.125]"
          data-carousel-breakpoint="sm+"
          data-carousel-transition-duration="[0.5,1,1,1]"
          data-carousel-control-active-classes="ic-color:blue"
          data-carousel-control-inactive-classes="ic-color:silver"
          data-carousel-control-class-selector=":scope > .ic">
          <div data-module="carousel.controls-group" class="order:2 w:100% display:flex align:center">
            <button data-module="carousel.controls" data-carousel-control-prev class="sm=:px:8px md+:px:16px py:16px display:flex">
              <span class="show-for-sr">Previous</span>
              <div class="ic ic-type:solid ic-size:24px ic-name:chevron-left"></div>
            </button>
            <div data-module="carousel.indicators-group" class="display:flex align:center align:middle"></div>
            <button data-module="carousel.controls" data-carousel-control-next class="sm=:px:8px md+:px:16px py:16px display:flex">
              <span class="show-for-sr">Next</span>
              <div class="ic ic-type:solid ic-size:24px ic-name:chevron-right"></div>
            </button>
          </div>
          <div class="w:100% order:1">
            <ul data-module="carousel.item-group" class="display:flex flex-flow:row-nowrap unstyle-pl:0 position:relative">
              <li data-module="carousel.item" class="sm+:px:4px md+:px:16px">
                <div class="display:flex align:middle align:center bgc:white sm+:px:40px brr:4px relative py:40px" data-equalize-height="carousel-1">
                  <div class="text-align:center">
                    <div class="fs:28px heebo:bold"><a href="#">Slide 0</a>
                    </div>
                    <button aria-label="Open a dialog, opens in a new pop up" data-module="dialog.trigger" data-dialog-bind-id="dialog-test"><span class="ic ic-type:solid display:block ic-color:blue ic-size:32px ic-name:info-circle" aria-hidden="true"></span></button>
                    <dialog class="sm=:w:10 md+:w:10 lg+:w:8 xl+:w:6 sm=:px:8px md+:px:0 py:24px position:relative brr:8px b:0" data-module="dialog" role="dialog" aria-dialog="true" id="dialog-test" aria-labelledby="dialog-loading-heading-id">
                      <div data-module="dialog.container">
                        <button type="button" data-dialog-close onclick="storm_eagle.dialog.action.close();" aria-label="Close pop-up window"><span class="fs:32px lh:0">&times;</span></button>
                        <div class="sm=:pt:24px md+:pt:24px md+:pb:24px sm=:px:24px md+:px:24px xl+:px:24px brr:8px">
                          <h2 id="dialog-loading-heading-id" class="xl+:lh:40 heebo:bold pb:24px">&lt;dialog&gt; Title Test</h2>
                          <p><a href="https://www.lipsum.com/" class="anchor:blue" target="_blank">Lorem Ipsum</a> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                      </div>
                    </dialog>
                  </div>
                </div>
              </li>
              <li data-module="carousel.item" class="sm+:px:4px md+:px:16px">
                <div class="display:flex align:middle align:center bgc:white sm+:px:40px brr:4px relative py:40px" data-equalize-height="carousel-1">
                  <div class="text-align:center">
                    <div class="fs:28px heebo:bold"><a href="#">Slide 1</a></div>
                  </div>
                </div>
              </li>
              <li data-module="carousel.item" class="sm+:px:4px md+:px:16px">
                <div class="display:flex align:middle align:center bgc:white sm+:px:40px brr:4px relative py:40px" data-equalize-height="carousel-1">
                  <div class="text-align:center">
                    <div class="fs:28px heebo:bold"><a href="#">Slide 2</a>
                    </div>
                    <button aria-label="Open a dialog, opens in a new pop up" data-module="dialog.trigger" data-dialog-bind-id="dialog-test2"><span class="ic ic-type:solid display:block ic-color:blue ic-size:32px ic-name:info-circle" aria-hidden="true"></span></button>
                    <dialog class="sm=:w:10 md+:w:10 lg+:w:8 xl+:w:6 sm=:px:8px md+:px:0 py:24px position:relative brr:8px b:0" data-module="dialog" role="dialog" aria-dialog="true" id="dialog-test2" aria-labelledby="dialog-loading-heading-id2">
                      <div data-module="dialog.container">
                        <button type="button" data-dialog-close onclick="storm_eagle.dialog.action.close();" aria-label="Close pop-up window"><span class="fs:32px lh:0">&times;</span></button>
                        <div class="sm=:pt:24px md+:pt:24px md+:pb:24px sm=:px:24px md+:px:24px xl+:px:24px brr:8px">
                          <h2 id="dialog-loading-heading-id2" class="xl+:lh:40 heebo:bold pb:24px">&lt;dialog&gt; Title Test</h2>
                          <p><a href="https://www.lipsum.com/" class="anchor:blue" target="_blank">Lorem Ipsum</a> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                      </div>
                    </dialog>
                  </div>
                </div>
              </li>
              <li data-module="carousel.item" class="sm+:px:4px md+:px:16px">
                <div class="display:flex align:middle align:center bgc:white sm+:px:40px brr:4px relative py:40px" data-equalize-height="carousel-1">
                  <div class="text-align:center">
                    <div class="fs:28px heebo:bold"><a href="#">Slide 3</a></div>
                  </div>
                </div>
              </li>
              <li data-module="carousel.item" class="sm+:px:4px md+:px:16px">
                <div class="display:flex align:middle align:center bgc:white sm+:px:40px brr:4px relative py:40px" data-equalize-height="carousel-1">
                  <div class="text-align:center">
                    <div class="fs:28px heebo:bold"><a href="#">Slide 4</a></div>
                  </div>
                </div>
              </li>
              <li data-module="carousel.item" class="display:none sm+:px:4px md+:px:16px">
                <div class="display:flex align:middle align:center bgc:white sm+:px:40px brr:4px relative py:40px" data-equalize-height="carousel-1">
                  <div class="text-align:center">
                    <div class="fs:28px heebo:bold"><a href="#">Slide 5</a></div>
                  </div>
                </div>
              </li>
              <li data-module="carousel.item" class="display:none sm+:px:4px md+:px:16px">
                <div class="display:flex align:middle align:center bgc:white sm+:px:40px brr:4px relative py:40px" data-equalize-height="carousel-1">
                  <div class="text-align:center">
                    <div class="fs:28px heebo:bold"><a href="#">Slide 6</a></div>
                  </div>
                </div>
              </li>
              <li data-module="carousel.item" class="display:none sm+:px:4px md+:px:16px">
                <div class="display:flex align:middle align:center bgc:white sm+:px:40px brr:4px relative py:40px" data-equalize-height="carousel-1">
                  <div class="text-align:center">
                    <div class="fs:28px heebo:bold"><a href="#">Slide 7</a></div>
                  </div>
                </div>
              </li>
              <li data-module="carousel.item" class="display:none sm+:px:4px md+:px:16px">
                <div class="display:flex align:middle align:center bgc:white sm+:px:40px brr:4px relative py:40px" data-equalize-height="carousel-1">
                  <div class="text-align:center">
                    <div class="fs:28px heebo:bold"><a href="#">Slide 8</a></div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section class="row py:32px b-silver:1px bgc:white form:theme:gl0b3x">
        <div class="w:6 py:16px">
          <fieldset class="unstyle box-radio-buttons mb:8px">
            <legend class="pb:8px">Carousel Container Size</legend>
            <input type="radio" name="carousel_container_size-1" onChange="storm_eagle.carousel_builder.update('1','container_size','w:100%');" id="full-width-1"><label for="full-width-1">100%</label>
            <input type="radio" name="carousel_container_size-1" onChange="storm_eagle.carousel_builder.update('1','container_size','mw:1280px');" id="container-1280-1" checked><label for="container-1280-1">1280px</label>
          </fieldset>
          <div class="position:relative overflow:hidden pb:32px">
            <label for="number_of_slides-1">Number of Slides</label>
            <div class="px:32px">
              <div data-module="slider.input-container">
                <input data-module="slider.input" data-slider id onChange="storm_eagle.carousel_builder.update('1','num_slides',this.value);" value="5" class="display:block align-self:centered w:100%" type="range" id="number_of_slides-1" name="number_of_slides-1" min="1" max="9" steps="1" value="1">
                <span data-module="slider.background"><span data-module="slider.fill"></span></span></span></span>
                <ul data-module="slider.labels" class="position:absolute text-align:center unstyle-pl:0 display:flex align:justify w:100%"><li>1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li><li>8</li><li>9</li></ul>
              </div>
            </div>
          </div>
          <fieldset class="unstyle box-radio-buttons mb:8px">
            <legend class="pb:8px">Carousel is active on</legend>
            <input type="radio" name="carousel_active-1" onChange="storm_eagle.carousel_builder.update('1','breakpoint','sm=');" id="sm_only-1"><label for="sm_only-1">sm=</label>
            <input type="radio" name="carousel_active-1" onChange="storm_eagle.carousel_builder.update('1','breakpoint','sm+');" id="sm_up-1" checked><label for="sm_up-1">sm+</label>
            <input type="radio" name="carousel_active-1" onChange="storm_eagle.carousel_builder.update('1','breakpoint','md-');" id="md_down-1"><label for="md_down-1">md-</label>
            <input type="radio" name="carousel_active-1" onChange="storm_eagle.carousel_builder.update('1','breakpoint','md=');" id="md_only-1"><label for="md_only-1">md=</label>
            <input type="radio" name="carousel_active-1" onChange="storm_eagle.carousel_builder.update('1','breakpoint','md+');" id="md_up-1"><label for="md_up-1">md+</label>
            <input type="radio" name="carousel_active-1" onChange="storm_eagle.carousel_builder.update('1','breakpoint','lg-');" id="lg_down-1"><label for="lg_down-1">lg-</label>
            <input type="radio" name="carousel_active-1" onChange="storm_eagle.carousel_builder.update('1','breakpoint','lg=');" id="lg_only-1"><label for="lg_only-1">lg=</label>
            <input type="radio" name="carousel_active-1" onChange="storm_eagle.carousel_builder.update('1','breakpoint','lg+');" id="lg_up-1"><label for="lg_up-1">lg+</label>
            <input type="radio" name="carousel_active-1" onChange="storm_eagle.carousel_builder.update('1','breakpoint','xl+');" id="xl_up-1"><label for="xl_up-1">xl+</label>
          </fieldset>
        </div>
        <div class="w:6 py:16px">
          <div class="form:theme:gl0b3x">
            <table class="w:100%">
              <tr class="bb-onyx:1px">
                <th class="p:8px text-align:left" style=""></th>
                <th class="p:8px text-align:center" style="width:60px"2>sm</th>
                <th class="p:8px text-align:center" style="width:60px"2>md</th>
                <th class="p:8px text-align:center" style="width:60px"2>lg</th>
                <th class="p:8px text-align:center" style="width:60px"2>xl</th>
              </tr>
              <tr class="bb-onyx:1px">
                <th class="p:8px br-onyx:1px">
                  <div class="fs:16px position:relative display:flex align:middle align:right">
                    Number of active slides <button class="flex-grow:0 ml:4px" aria-haspopup="true" aria-expanded="false" data-module="popover.trigger" onclick="storm_eagle.popover.open('number-active-elements-1',this);" aria-label="What does 'number of active slides' mean?, opens in a new pop-up"><span class="ic ic-type:solid display:block ic-color:blue ic-size:20px ic-name:info-circle" aria-hidden="true"></span></button>
                    <div class="popover right" data-module="popover" role="dialog" aria-modal="true" id="number-active-elements-1" aria-labelledby="number-active-elements-1-id">
                      <div class="bgc:white w:100% md-:brrtx:4px lg+:brr:4px">
                        <button class="close" data-trigger="popover-close" onclick="storm_eagle.popover.close();" aria-label="Close information pop-up"><span class="ic ic-type:solid display:block ic-color:onyx ic-size:24px ic-name:times" aria-hidden="true"></span></button>
                        <div class="lh:24 md-:py:16px md-:pl:16px md-:pr:48px lg+:py:24px lg+:pl:32px lg+:pr:56px">
                          <p id="number-active-elements-1-id">The number of full slides that will be on the screen at a given time</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </th>
                <td class="position:relative br-onyx:1px">
                  <div class="align-self:centered position:relative" style="width:60px">
                    <select id="carousel-num-active-sm-1" class="ic-color:blue text-align:center" onChange="storm_eagle.carousel_builder.update('1','number-active-elements-sm',this.value);">
                      <option value="1" selected>1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6" disabled>6</option>
                      <option value="7" disabled>7</option>
                      <option value="8" disabled>8</option>
                      <option value="9" disabled>9</option>
                    </select>
                    <label for="carousel-num-active-sm-1" class="active-label"><span class="description"></span></label>
                  </div>
                </td>
                <td class="position:relative br-onyx:1px">
                  <div class="align-self:centered position:relative" style="width:60px">
                    <select id="carousel-num-active-md-1" class="ic-color:blue text-align:center" onChange="storm_eagle.carousel_builder.update('1','number-active-elements-md',this.value);">
                      <option value="1" selected>1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6" disabled>6</option>
                      <option value="7" disabled>7</option>
                      <option value="8" disabled>8</option>
                      <option value="9" disabled>9</option>
                    </select>
                    <label for="carousel-num-active-md-1" class="active-label"><span class="description"></span></label>
                  </div>
                </td>
                <td class="position:relative br-onyx:1px">
                  <div class="align-self:centered position:relative" style="width:60px">
                    <select id="carousel-num-active-lg-1" class="ic-color:blue text-align:center" onChange="storm_eagle.carousel_builder.update('1','number-active-elements-lg',this.value);">
                      <option value="1">1</option>
                      <option value="2" selected>2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6" disabled>6</option>
                      <option value="7" disabled>7</option>
                      <option value="8" disabled>8</option>
                      <option value="9" disabled>9</option>
                    </select>
                    <label for="carousel-num-active-lg-1" class="active-label"><span class="description"></span></label>
                  </div>
                </td>
                <td class="position:relative br-onyx:1px">
                  <div class="align-self:centered position:relative" style="width:60px">
                    <select id="carousel-num-active-xl-1" class="ic-color:blue text-align:center" onChange="storm_eagle.carousel_builder.update('1','number-active-elements-xl',this.value);">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3" selected>3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6" disabled>6</option>
                      <option value="7" disabled>7</option>
                      <option value="8" disabled>8</option>
                      <option value="9" disabled>9</option>
                    </select>
                    <label for="carousel-num-active-xl-1" class="active-label"><span class="description"></span></label>
                  </div>
                </td>
              </tr>
              <tr class="bb-onyx:1px">
                <th class="p:8px br-onyx:1px">
                  <div class="fs:16px position:relative display:flex align:middle align:right">
                    Left offset <button class="flex-grow:0 ml:4px" aria-haspopup="true" aria-expanded="false" data-module="popover.trigger" onclick="storm_eagle.popover.open('left-offset-1',this);" aria-label="What does 'left offset' mean?, opens in a new pop-up"><span class="ic ic-type:solid display:block ic-color:blue ic-size:20px ic-name:info-circle" aria-hidden="true"></span></button>
                    <div class="popover right" data-module="popover" role="dialog" aria-modal="true" id="left-offset-1" aria-labelledby="left-offset-1-id">
                      <div class="bgc:white w:100% md-:brrtx:4px lg+:brr:4px">
                        <button class="close" data-trigger="popover-close" onclick="storm_eagle.popover.close();" aria-label="Close information pop-up"><span class="ic ic-type:solid display:block ic-color:onyx ic-size:24px ic-name:times" aria-hidden="true"></span></button>
                        <div class="lh:24 md-:py:16px md-:pl:16px md-:pr:48px lg+:py:24px lg+:pl:32px lg+:pr:56px">
                          <p id="left-offset-1-id">The offset from the left the slide will be.<br>Numbers 0 to 1 represent percentages.<br>Numbers 1+ represent pixels</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </th>
                <td class="position:relative br-onyx:1px"><input type="text" class="text-align:center color:blue" style="width:60px" value="32" onChange="storm_eagle.carousel_builder.update('1','left-offset-sm',this.value);" id="left-offset-sm-1"><label for="left-offset-sm-1"><span class="description"></span></label></td>
                <td class="position:relative br-onyx:1px"><input type="text" class="text-align:center color:blue" style="width:60px" value="0.25" onChange="storm_eagle.carousel_builder.update('1','left-offset-md',this.value);" id="left-offset-md-1"><label for="left-offset-md-1"><span class="description"></span></label></td>
                <td class="position:relative br-onyx:1px"><input type="text" class="text-align:center color:blue" style="width:60px" value="0.16667" onChange="storm_eagle.carousel_builder.update('1','left-offset-lg',this.value);" id="left-offset-lg-1"><label for="left-offset-lg-1"><span class="description"></span></label></td>
                <td class="position:relative br-onyx:1px"><input type="text" class="text-align:center color:blue" style="width:60px" value="0.125" onChange="storm_eagle.carousel_builder.update('1','left-offset-xl',this.value);" id="left-offset-xl-1"><label for="left-offset-xl-1"><span class="description"></span></label></td>
              </tr>
              <tr class="bb-onyx:1px">
                <th class="p:8px br-onyx:1px">
                  <div class="fs:16px position:relative display:flex align:middle align:right">
                    Transition Speed (s) <button class="flex-grow:0 ml:4px" aria-haspopup="true" aria-expanded="false" data-module="popover.trigger" onclick="storm_eagle.popover.open('transition-speed-1',this);" aria-label="What does 'transition speed(s)' mean?, opens in a new pop-up"><span class="ic ic-type:solid display:block ic-color:blue ic-size:20px ic-name:info-circle" aria-hidden="true"></span></button>
                    <div class="popover right" data-module="popover" role="dialog" aria-modal="true" id="transition-speed-1" aria-labelledby="transition-speed-1-id">
                      <div class="bgc:white w:100% md-:brrtx:4px lg+:brr:4px">
                        <button class="close" data-trigger="popover-close" onclick="storm_eagle.popover.close();" aria-label="Close information pop-up"><span class="ic ic-type:solid display:block ic-color:onyx ic-size:24px ic-name:times" aria-hidden="true"></span></button>
                        <div class="lh:24 md-:py:16px md-:pl:16px md-:pr:48px lg+:py:24px lg+:pl:32px lg+:pr:56px">
                          <p id="transition-speed-1-id">The speed at which the slide will transition</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </th>
                <td class="position:relative br-onyx:1px"><input type="text" class="text-align:center color:blue" style="width:60px" value="0.5" onChange="storm_eagle.carousel_builder.update('1','transition-speed-sm',this.value);" id="transition-speed-sm-1"><label for="transition-speed-sm-1"><span class="description"></span></label></td>
                <td class="position:relative br-onyx:1px"><input type="text" class="text-align:center color:blue" style="width:60px" value="1" onChange="storm_eagle.carousel_builder.update('1','transition-speed-md',this.value);" id="transition-speed-md-1"><label for="transition-speed-md-1"><span class="description"></span></label></td>
                <td class="position:relative br-onyx:1px"><input type="text" class="text-align:center color:blue" style="width:60px" value="1" onChange="storm_eagle.carousel_builder.update('1','transition-speed-lg',this.value);" id="transition-speed-lg-1"><label for="transition-speed-lg-1"><span class="description"></span></label></td>
                <td class="position:relative br-onyx:1px"><input type="text" class="text-align:center color:blue" style="width:60px" value="1" onChange="storm_eagle.carousel_builder.update('1','transition-speed-xl',this.value);" id="transition-speed-xl-1"><label for="transition-speed-xl-1"><span class="description"></span></label></td>
              </tr>
              <tr class="bb-onyx:1px">
                <th class="p:8px br-onyx:1px">
                  <div class="fs:16px position:relative display:flex align:middle align:right">
                    Focused slide on load <button class="flex-grow:0 ml:4px" aria-haspopup="true" aria-expanded="false" data-module="popover.trigger" onclick="storm_eagle.popover.open('focused-item-1',this);" aria-label="What does 'focused slide on load' mean?, opens in a new pop-up"><span class="ic ic-type:solid display:block ic-color:blue ic-size:20px ic-name:info-circle" aria-hidden="true"></span></button>
                    <div class="popover right" data-module="popover" role="dialog" aria-modal="true" id="focused-item-1" aria-labelledby="focused-item-1-id">
                      <div class="bgc:white w:100% md-:brrtx:4px lg+:brr:4px">
                        <button class="close" data-trigger="popover-close" onclick="storm_eagle.popover.close();" aria-label="Close information pop-up"><span class="ic ic-type:solid display:block ic-color:onyx ic-size:24px ic-name:times" aria-hidden="true"></span></button>
                        <div class="lh:24 md-:py:16px md-:pl:16px md-:pr:48px lg+:py:24px lg+:pl:32px lg+:pr:56px">
                          <p id="focused-item-1-id">The slide that is focused on load</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </th>
                <td colspan="4">
                  <div class="align-self:centered position:relative" style="width:60px">
                    <select id="carousel-active-1" class="ic-color:blue text-align:center" onChange="storm_eagle.carousel_builder.update('1','focused-item',this.value);">
                      <option value="1">1</option>
                      <option value="2" selected>2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6" disabled>6</option>
                      <option value="7" disabled>7</option>
                      <option value="8" disabled>8</option>
                      <option value="9" disabled>9</option>
                    </select>
                    <label for="carousel-active-1" class="active-label"><span class="description"></span></label>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </section>

      <hr class="my:32px">

      <section class="row">
        <div class="w:12">
          <h2 class="play:bold fs:32px color:eerie-black pb:32px">Config: 100%</h2>
        </div>
      </section>
      <section class="w:100% align-self:centered bgc:white-smoke" id="carousel-2">
        <div id
          class="position:relative display:flex flex-flow:row-wrap py:48px"
          data-module="carousel"
          data-carousel-item-active="2"
          data-carousel-number-active="[1,1,1,1]"
          data-carousel-offset="[0,0,0,0]"
          data-carousel-breakpoint="sm+"
          data-carousel-transition-duration="[0.5,1,1,1]"
          data-carousel-control-active-classes="display:flex"
          data-carousel-control-inactive-classes="display:none">
          <div data-module="carousel.controls-group" class="order:2 w:100%">
            <button data-module="carousel.controls" data-carousel-control-prev class="position:absolute p:16px bgc:white bxs:3 brr:50% display:flex z-index:1 left:0 ml:16px" style="top:50%;transform:translateY(-50%);">
              <span class="show-for-sr">Previous</span>
              <div class="ic ic-type:solid ic-color:blue ic-size:16px ic-name:chevron-left"></div>
            </button>
            <div data-module="carousel.indicators-group" class="display:flex align:center align:middle position:absolute z-index:1 left:0 right:0 bottom:0"></div>
            <button data-module="carousel.controls" data-carousel-control-next class="position:absolute p:16px bgc:white bxs:3 brr:50% display:flex z-index:1 right:0 mr:16px" style="top:50%;transform:translateY(-50%);">
              <span class="show-for-sr">Next</span>
              <div class="ic ic-type:solid ic-color:blue ic-size:16px ic-name:chevron-right"></div>
            </button>
          </div>
          <div class="w:100% order:1">
            <ul data-module="carousel.item-group" class="display:flex flex-flow:row-nowrap unstyle-pl:0 position:relative">
              <li data-module="carousel.item">
                <div class="display:flex align:middle align:center bgc:white sm+:px:40px brr:4px relative py:40px" data-equalize-height="carousel-2">
                  <div class="text-align:center">
                    <div class="fs:28px heebo:bold"><a href="#">Slide 0</a></div>
                  </div>
                </div>
              </li>
              <li data-module="carousel.item">
                <div class="display:flex align:middle align:center bgc:white sm+:px:40px brr:4px relative py:40px" data-equalize-height="carousel-2">
                  <div class="text-align:center">
                    <div class="fs:28px heebo:bold"><a href="#">Slide 1<br>test</a></div>
                  </div>
                </div>
              </li>
              <li data-module="carousel.item">
                <div class="display:flex align:middle align:center bgc:white sm+:px:40px brr:4px relative py:40px" data-equalize-height="carousel-2">
                  <div class="text-align:center">
                    <div class="fs:28px heebo:bold"><a href="#">Slide 2</a></div>
                  </div>
                </div>
              </li>
              <li data-module="carousel.item">
                <div class="display:flex align:middle align:center bgc:white sm+:px:40px brr:4px relative py:40px" data-equalize-height="carousel-2">
                  <div class="text-align:center">
                    <div class="fs:28px heebo:bold"><a href="#">Slide 3</a></div>
                  </div>
                </div>
              </li>
              <li data-module="carousel.item">
                <div class="display:flex align:middle align:center bgc:white sm+:px:40px brr:4px relative py:40px" data-equalize-height="carousel-2">
                  <div class="text-align:center">
                    <div class="fs:28px heebo:bold"><a href="#">Slide 4</a></div>
                  </div>
                </div>
              </li>
              <li data-module="carousel.item" class="display:none">
                <div class="display:flex align:middle align:center bgc:white sm+:px:40px brr:4px relative py:40px" data-equalize-height="carousel-2">
                  <div class="text-align:center">
                    <div class="fs:28px heebo:bold"><a href="#">Slide 5</a></div>
                  </div>
                </div>
              </li>
              <li data-module="carousel.item" class="display:none">
                <div class="display:flex align:middle align:center bgc:white sm+:px:40px brr:4px relative py:40px" data-equalize-height="carousel-2">
                  <div class="text-align:center">
                    <div class="fs:28px heebo:bold"><a href="#">Slide 6</a></div>
                  </div>
                </div>
              </li>
              <li data-module="carousel.item" class="display:none">
                <div class="display:flex align:middle align:center bgc:white sm+:px:40px brr:4px relative py:40px" data-equalize-height="carousel-2">
                  <div class="text-align:center">
                    <div class="fs:28px heebo:bold"><a href="#">Slide 7</a></div>
                  </div>
                </div>
              </li>
              <li data-module="carousel.item" class="display:none">
                <div class="display:flex align:middle align:center bgc:white sm+:px:40px brr:4px relative py:40px" data-equalize-height="carousel-2">
                  <div class="text-align:center">
                    <div class="fs:28px heebo:bold"><a href="#">Slide 8</a></div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section class="row py:32px b-silver:1px bgc:white form:theme:gl0b3x">
        <div class="w:6 py:16px">
          <fieldset class="unstyle box-radio-buttons mb:8px">
            <legend class="pb:8px">Carousel Container Size</legend>
            <input type="radio" name="carousel_container_size-2" onChange="storm_eagle.carousel_builder.update('2','container_size','w:100%');" id="full-width-2" checked><label for="full-width-2">100%</label>
            <input type="radio" name="carousel_container_size-2" onChange="storm_eagle.carousel_builder.update('2','container_size','mw:1280px');" id="container-1280-2"><label for="container-1280-2">1280px</label>
          </fieldset>
          <div class="position:relative overflow:hidden pb:32px">
            <label for="number_of_slides-2">Number of Slides</label>
            <div class="px:32px">
              <div data-module="slider.input-container">
                <input data-module="slider.input" data-slider id onChange="storm_eagle.carousel_builder.update('2','num_slides',this.value);" value="5" class="display:block align-self:centered w:100%" type="range" id="number_of_slides-2" name="number_of_slides-2" min="1" max="9" steps="1" value="1">
                <span data-module="slider.background"><span data-module="slider.fill"></span></span></span></span>
                <ul data-module="slider.labels" class="position:absolute text-align:center unstyle-pl:0 display:flex align:justify w:100%"><li>1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li><li>8</li><li>9</li></ul>
              </div>
            </div>
          </div>
          <fieldset class="unstyle box-radio-buttons mb:8px">
            <legend class="pb:8px">Carousel is active on</legend>
            <input type="radio" name="carousel_active-2" onChange="storm_eagle.carousel_builder.update('2','breakpoint','sm=');" id="sm_only-2"><label for="sm_only-2">sm=</label>
            <input type="radio" name="carousel_active-2" onChange="storm_eagle.carousel_builder.update('2','breakpoint','sm+');" id="sm_up-2"checked><label for="sm_up-2">sm+</label>
            <input type="radio" name="carousel_active-2" onChange="storm_eagle.carousel_builder.update('2','breakpoint','md-');" id="md_down-2"><label for="md_down-2">md-</label>
            <input type="radio" name="carousel_active-2" onChange="storm_eagle.carousel_builder.update('2','breakpoint','md=');" id="md_only-2"><label for="md_only-2">md=</label>
            <input type="radio" name="carousel_active-2" onChange="storm_eagle.carousel_builder.update('2','breakpoint','md+');" id="md_up-2"><label for="md_up-2">md+</label>
            <input type="radio" name="carousel_active-2" onChange="storm_eagle.carousel_builder.update('2','breakpoint','lg-');" id="lg_down-2"><label for="lg_down-2">lg-</label>
            <input type="radio" name="carousel_active-2" onChange="storm_eagle.carousel_builder.update('2','breakpoint','lg=');" id="lg_only-2"><label for="lg_only-2">lg=</label>
            <input type="radio" name="carousel_active-2" onChange="storm_eagle.carousel_builder.update('2','breakpoint','lg+');" id="lg_up-2"><label for="lg_up-2">lg+</label>
            <input type="radio" name="carousel_active-2" onChange="storm_eagle.carousel_builder.update('2','breakpoint','xl+');" id="xl_up-2"><label for="xl_up-2">xl+</label>
          </fieldset>
        </div>
        <div class="w:6 py:16px">
          <div class="form:theme:gl0b3x">
            <table class="w:100%">
              <tr class="bb-onyx:1px">
                <th class="p:8px text-align:left" style=""></th>
                <th class="p:8px text-align:center" style="width:60px"2>sm</th>
                <th class="p:8px text-align:center" style="width:60px"2>md</th>
                <th class="p:8px text-align:center" style="width:60px"2>lg</th>
                <th class="p:8px text-align:center" style="width:60px"2>xl</th>
              </tr>
              <tr class="bb-onyx:1px">
                <th class="p:8px br-onyx:1px">
                  <div class="fs:16px position:relative display:flex align:middle align:right">
                    Number of active slides <button class="flex-grow:0 ml:4px" aria-haspopup="true" aria-expanded="false" data-module="popover.trigger" onclick="storm_eagle.popover.open('number-active-elements-2',this);" aria-label="What does 'number of active slides' mean?, opens in a new pop-up"><span class="ic ic-type:solid display:block ic-color:blue ic-size:20px ic-name:info-circle" aria-hidden="true"></span></button>
                    <div class="popover right" data-module="popover" role="dialog" aria-modal="true" id="number-active-elements-2" aria-labelledby="number-active-elements-2-id">
                      <div class="bgc:white w:100% md-:brrtx:4px lg+:brr:4px">
                        <button class="close" data-trigger="popover-close" onclick="storm_eagle.popover.close();" aria-label="Close information pop-up"><span class="ic ic-type:solid display:block ic-color:onyx ic-size:24px ic-name:times" aria-hidden="true"></span></button>
                        <div class="lh:24 md-:py:16px md-:pl:16px md-:pr:48px lg+:py:24px lg+:pl:32px lg+:pr:56px">
                          <p id="number-active-elements-2-id">The number of full slides that will be on the screen at a given time</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </th>
                <td class="position:relative br-onyx:1px">
                  <div class="align-self:centered position:relative" style="width:60px">
                    <select id="carousel-num-active-sm-2" class="ic-color:blue text-align:center" onChange="storm_eagle.carousel_builder.update('2','number-active-elements-sm',this.value);">
                      <option value="1" selected>1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4" disabled>4</option>
                      <option value="5" disabled>5</option>
                      <option value="6" disabled>6</option>
                      <option value="7" disabled>7</option>
                      <option value="8" disabled>8</option>
                      <option value="9" disabled>9</option>
                    </select>
                    <label for="carousel-num-active-sm-2" class="active-label"><span class="description"></span></label>
                  </div>
                </td>
                <td class="position:relative br-onyx:1px">
                  <div class="align-self:centered position:relative" style="width:60px">
                    <select id="carousel-num-active-md-2" class="ic-color:blue text-align:center" onChange="storm_eagle.carousel_builder.update('2','number-active-elements-md',this.value);">
                      <option value="1" selected>1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4" disabled>4</option>
                      <option value="5" disabled>5</option>
                      <option value="6" disabled>6</option>
                      <option value="7" disabled>7</option>
                      <option value="8" disabled>8</option>
                      <option value="9" disabled>9</option>
                    </select>
                    <label for="carousel-num-active-md-2" class="active-label"><span class="description"></span></label>
                  </div>
                </td>
                <td class="position:relative br-onyx:1px">
                  <div class="align-self:centered position:relative" style="width:60px">
                    <select id="carousel-num-active-lg-2" class="ic-color:blue text-align:center" onChange="storm_eagle.carousel_builder.update('2','number-active-elements-lg',this.value);">
                      <option value="1" selected>1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4" disabled>4</option>
                      <option value="5" disabled>5</option>
                      <option value="6" disabled>6</option>
                      <option value="7" disabled>7</option>
                      <option value="8" disabled>8</option>
                      <option value="9" disabled>9</option>
                    </select>
                    <label for="carousel-num-active-lg-2" class="active-label"><span class="description"></span></label>
                  </div>
                </td>
                <td class="position:relative br-onyx:1px">
                  <div class="align-self:centered position:relative" style="width:60px">
                    <select id="carousel-num-active-xl-2" class="ic-color:blue text-align:center" onChange="storm_eagle.carousel_builder.update('2','number-active-elements-xl',this.value);">
                      <option value="1" selected>1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4" disabled>4</option>
                      <option value="5" disabled>5</option>
                      <option value="6" disabled>6</option>
                      <option value="7" disabled>7</option>
                      <option value="8" disabled>8</option>
                      <option value="9" disabled>9</option>
                    </select>
                    <label for="carousel-num-active-xl-2" class="active-label"><span class="description"></span></label>
                  </div>
                </td>
              </tr>
              <tr class="bb-onyx:1px">
                <th class="p:8px br-onyx:1px">
                  <div class="fs:16px position:relative display:flex align:middle align:right">
                    Left offset <button class="flex-grow:0 ml:4px" aria-haspopup="true" aria-expanded="false" data-module="popover.trigger" onclick="storm_eagle.popover.open('left-offset-2',this);" aria-label="What does 'left offset' mean?, opens in a new pop-up"><span class="ic ic-type:solid display:block ic-color:blue ic-size:20px ic-name:info-circle" aria-hidden="true"></span></button>
                    <div class="popover right" data-module="popover" role="dialog" aria-modal="true" id="left-offset-2" aria-labelledby="left-offset-2-id">
                      <div class="bgc:white w:100% md-:brrtx:4px lg+:brr:4px">
                        <button class="close" data-trigger="popover-close" onclick="storm_eagle.popover.close();" aria-label="Close information pop-up"><span class="ic ic-type:solid display:block ic-color:onyx ic-size:24px ic-name:times" aria-hidden="true"></span></button>
                        <div class="lh:24 md-:py:16px md-:pl:16px md-:pr:48px lg+:py:24px lg+:pl:32px lg+:pr:56px">
                          <p id="left-offset-2-id">The offset from the left the slide will be.<br>Numbers 0 to 1 represent percentages.<br>Numbers 1+ represent pixels</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </th>
                <td class="position:relative br-onyx:1px"><input type="text" class="text-align:center color:blue" style="width:60px" value="32" onChange="storm_eagle.carousel_builder.update('2','left-offset-sm',this.value);" id="left-offset-sm-2"><label for="left-offset-sm-2"><span class="description"></span></label></td>
                <td class="position:relative br-onyx:1px"><input type="text" class="text-align:center color:blue" style="width:60px" value="0.25" onChange="storm_eagle.carousel_builder.update('2','left-offset-md',this.value);" id="left-offset-md-2"><label for="left-offset-md-2"><span class="description"></span></label></td>
                <td class="position:relative br-onyx:1px"><input type="text" class="text-align:center color:blue" style="width:60px" value="0.16667" onChange="storm_eagle.carousel_builder.update('2','left-offset-lg',this.value);" id="left-offset-lg-2"><label for="left-offset-lg-2"><span class="description"></span></label></td>
                <td class="position:relative br-onyx:1px"><input type="text" class="text-align:center color:blue" style="width:60px" value="0.25" onChange="storm_eagle.carousel_builder.update('2','left-offset-xl',this.value);" id="left-offset-xl-2"><label for="left-offset-xl-2"><span class="description"></span></label></td>
              </tr>
              <tr class="bb-onyx:1px">
                <th class="p:8px br-onyx:1px">
                  <div class="fs:16px position:relative display:flex align:middle align:right">
                    Transition Speed (s) <button class="flex-grow:0 ml:4px" aria-haspopup="true" aria-expanded="false" data-module="popover.trigger" onclick="storm_eagle.popover.open('transition-speed-2',this);" aria-label="What does 'transition speed(s)' mean?, opens in a new pop-up"><span class="ic ic-type:solid display:block ic-color:blue ic-size:20px ic-name:info-circle" aria-hidden="true"></span></button>
                    <div class="popover right" data-module="popover" role="dialog" aria-modal="true" id="transition-speed-2" aria-labelledby="transition-speed-2-id">
                      <div class="bgc:white w:100% md-:brrtx:4px lg+:brr:4px">
                        <button class="close" data-trigger="popover-close" onclick="storm_eagle.popover.close();" aria-label="Close information pop-up"><span class="ic ic-type:solid display:block ic-color:onyx ic-size:24px ic-name:times" aria-hidden="true"></span></button>
                        <div class="lh:24 md-:py:16px md-:pl:16px md-:pr:48px lg+:py:24px lg+:pl:32px lg+:pr:56px">
                          <p id="transition-speed-2-id">The speed at which the slide will transition</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </th>
                <td class="position:relative br-onyx:1px"><input type="text" class="text-align:center color:blue" style="width:60px" value="0.5" onChange="storm_eagle.carousel_builder.update('2','transition-speed-sm',this.value);" id="transition-speed-sm-2"><label for="transition-speed-sm-2"><span class="description"></span></label></td>
                <td class="position:relative br-onyx:1px"><input type="text" class="text-align:center color:blue" style="width:60px" value="1" onChange="storm_eagle.carousel_builder.update('2','transition-speed-md',this.value);" id="transition-speed-md-2"><label for="transition-speed-md-2"><span class="description"></span></label></td>
                <td class="position:relative br-onyx:1px"><input type="text" class="text-align:center color:blue" style="width:60px" value="1" onChange="storm_eagle.carousel_builder.update('2','transition-speed-lg',this.value);" id="transition-speed-lg-2"><label for="transition-speed-lg-2"><span class="description"></span></label></td>
                <td class="position:relative br-onyx:1px"><input type="text" class="text-align:center color:blue" style="width:60px" value="1" onChange="storm_eagle.carousel_builder.update('2','transition-speed-xl',this.value);" id="transition-speed-xl-2"><label for="transition-speed-xl-2"><span class="description"></span></label></td>
              </tr>
              <tr class="bb-onyx:1px">
                <th class="p:8px br-onyx:1px">
                  <div class="fs:16px position:relative display:flex align:middle align:right">
                    Focused slide on load <button class="flex-grow:0 ml:4px" aria-haspopup="true" aria-expanded="false" data-module="popover.trigger" onclick="storm_eagle.popover.open('focused-item-2',this);" aria-label="What does 'focused slide on load' mean?, opens in a new pop-up"><span class="ic ic-type:solid display:block ic-color:blue ic-size:20px ic-name:info-circle" aria-hidden="true"></span></button>
                    <div class="popover right" data-module="popover" role="dialog" aria-modal="true" id="focused-item-2" aria-labelledby="focused-item-2-id">
                      <div class="bgc:white w:100% md-:brrtx:4px lg+:brr:4px">
                        <button class="close" data-trigger="popover-close" onclick="storm_eagle.popover.close();" aria-label="Close information pop-up"><span class="ic ic-type:solid display:block ic-color:onyx ic-size:24px ic-name:times" aria-hidden="true"></span></button>
                        <div class="lh:24 md-:py:16px md-:pl:16px md-:pr:48px lg+:py:24px lg+:pl:32px lg+:pr:56px">
                          <p id="focused-item-2-id">The slide that is focused on load</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </th>
                <td colspan="4">
                  <div class="align-self:centered position:relative" style="width:60px">
                    <select id="carousel-active-2" class="ic-color:blue text-align:center" onChange="storm_eagle.carousel_builder.update('2','focused-item',this.value);">
                      <option value="1">1</option>
                      <option value="2" selected>2</option>
                      <option value="3">3</option>
                      <option value="4" disabled>4</option>
                      <option value="5" disabled>5</option>
                      <option value="6" disabled>6</option>
                      <option value="7" disabled>7</option>
                      <option value="8" disabled>8</option>
                      <option value="9" disabled>9</option>
                    </select>
                    <label for="carousel-active-2" class="active-label"><span class="description"></span></label>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </section>

      <div data-module="popover.overlay" class="popover-overlay"></div>
    </main>

<%- include(`${process.env.PWD}/_dev/_layouts/_default.scripts.ejs`, pageData) %>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.footer.ejs`, pageData) %>