<%- include(`${root}/_layouts/_default.head.ejs`, {
    "lang": "en",
    "head": {
        "title": "Communicating Windows - Parent • warrenshea",
        "urlEn": "/examples/communicating-windows/",
        "urlCanonical": "/examples/communicating-windows/",
        "metaPageKeywords": "",
        "metaPageDescription": ""
    },
    "stylesheets": [
        "/stylesheets/core.css"
    ]
}) %>
    <main class="w:100% pb:96px" role="main">

      <section class="row py:32px">
        <h1 class="w:12 play:bold fs:40px color:eerie-black">Communicating Windows</h1>
      </section>

      <section class="row py:32px">
        <div class="w:6">
          <form id="parent">
            <div class="form:theme:gl0b3x">
              <div class="position:relative pt:4px pb:16px">
                <input id="message" name="message" type="text" value=" ">
                <label for="message">
                  <span class="description">Send Message to Child Frame</span>
                </label>
              </div>
              <button type="button" class="button:blue uppercase" id="open-window-button">Open Child Frame</button> <button type="submit" class="button:blue uppercase">Submit</button>
            </div>
          </form>
        </div>
        <div class="w:6">
          <div class="color:blue heebo:bold">Message from Child Frame</div>
          <div id="from-child" class="py:12px"></div>
        </div>
      </section>

      <hr class="mt:32px">

      <section class="row py:32px">
        <div class="w:6">
          <h2 class="fs:24px play:bold pt:32px pb:8px">Parent Frame HTML</h2>
<textarea data-code-reference="prism-code-parent-html" class="hide">
  <div class="row">
    <div class="w:6">
      <form id="parent">
        <div class="form:theme:gl0b3x">
          <div class="position:relative pt:4px pb:16px">
            <input id="message" name="message" type="text">
            <label for="message">
              <span class="description">Send Message to Child Frame</span>
            </label>
          </div>
          <button type="button" class="button:blue uppercase" id="open-window-button">Open Child Frame</button> <button type="submit" class="button:blue uppercase">Submit</button>
        </div>
      </form>
    </div>
    <div class="w:6">
      <div class="color:blue heebo:bold fs:14px">Message from Child Frame</div>
      <div id="from-child" class="py:12px"></div>
    </div>
  </div>
</textarea>
          <pre data-equalize-height="code1"><code class="language-html" data-code-snippet="prism-code-parent-html"></code></pre>
          <h2 class="fs:24px play:bold pt:32px pb:8px">Parent Frame JavaScript</h2>
<textarea data-code-reference="prism-code-parent-javascript" class="hide">
  storm_eagle.module('communicating_with_child_window', () => {
    'use strict';
    let self;
    let _CHILD_WINDOW = null;

    return {
      initialize: () => {
        self = storm_eagle.communicating_with_child_window;
        self.add_open_window_listener();
        self.add_form_submit_listener();
        self.add_message_listener();
      },
      add_open_window_listener: () => {
        document.getElementById("open-window-button").addEventListener("click", event => {
          let params = 'location=1, status=1, menubar=1, toolbar=1, width=650, height=800, left=900, top=200';
          _CHILD_WINDOW = window.open(`/examples/communicating-windows/child/`, `_blank`, params);
        });
      },
      add_form_submit_listener: () => {
        document.getElementById("parent").addEventListener("submit", event => {
          event.preventDefault();
          event.stopPropagation();
          _CHILD_WINDOW.postMessage(document.getElementById("message").value, window.location.origin);
        });
      },
      add_message_listener: () => {
        window.addEventListener('message', event => {
          document.getElementById("from-child").innerHTML = event.data;
        });
      }
    };
  })
</textarea>
          <pre data-equalize-height="code2"><code class="language-javascript" data-code-snippet="prism-code-parent-javascript"></code></pre>
        </div>
        <div class="w:6">
          <h2 class="fs:24px play:bold pt:32px pb:8px">Child Frame HTML</h2>
<textarea data-code-reference="prism-code-child-html" class="hide">
  <div class="row pt:32px">
    <div class="w:6">
      <form id="child">
        <div class="form:theme:gl0b3x">
          <div class="position:relative pt:4px pb:16px">
            <input id="message" name="message" type="text">
            <label for="message">
              <span class="description">Send Message to Parent Frame</span>
            </label>
          </div>
          <button type="submit" class="button:blue uppercase">Submit</button>
        </div>
      </form>
    </div>
    <div class="w:6">
      <div class="color:blue heebo:bold fs:14px">Message from Parent Frame</div>
      <div id="from-parent" class="py:12px"></div>
    </div>
  </div>
</textarea>
          <pre data-equalize-height="code1"><code class="language-html" data-code-snippet="prism-code-child-html"></code></pre>
          <h2 class="fs:24px play:bold pt:32px pb:8px">Child Frame JavaScript</h2>
<textarea data-code-reference="prism-code-child-javascript" class="hide">
  storm_eagle.module('communicating_with_parent_window', () => {
    'use strict';
    let self;

    return {
      initialize: () => {
        self = storm_eagle.communicating_with_parent_window;
        self.add_form_submit_listener();
        self.add_message_listener();
      },
      add_form_submit_listener: () => {
        document.getElementById("child").addEventListener("submit", event => {
          event.preventDefault();
          window.opener.postMessage(document.getElementById("message").value, window.location.origin);
        });
      },
      add_message_listener: () => {
        window.addEventListener('message', event => {
          document.getElementById("from-parent").innerHTML = event.data;
        });
      }
    };
  })
</textarea>
          <pre data-equalize-height="code2"><code class="language-javascript" data-code-snippet="prism-code-child-javascript"></code></pre>
        </div>
      </section>
    </main>

<%- include(`${root}/_layouts/_default.scripts.ejs`, { "scripts": [
        "/scripts/module.form.theme.gl0b3x.js",
        "/scripts/prism.js"
    ] }) %>
    <script>
      storm_eagle.module('communicating_with_child_window', () => {
        'use strict';
        let self;
        let _CHILD_WINDOW = null;

        return {
          initialize: () => {
            self = storm_eagle.communicating_with_child_window;
            self.add_open_window_listener();
            self.add_form_submit_listener();
            self.add_message_listener();
          },
          add_open_window_listener: () => {
            document.getElementById("open-window-button").addEventListener("click", event => {
              let params = 'location=1, status=1, menubar=1, toolbar=1, width=650, height=800, left=900, top=200';
              _CHILD_WINDOW = window.open(`/examples/communicating-windows/child/`, `_blank`, params);
            });
          },
          add_form_submit_listener: () => {
            document.getElementById("parent").addEventListener("submit", event => {
              event.preventDefault();
              event.stopPropagation();
              _CHILD_WINDOW.postMessage(document.getElementById("message").value, window.location.origin);
            });
          },
          add_message_listener: () => {
            window.addEventListener('message', event => {
              document.getElementById("from-child").innerHTML = event.data;
            });
          }
        };
      })
    </script>
<%- include(`${root}/_layouts/_default.footer.ejs`) %>