<%- include(`${process.env.PWD}/_dev/_layouts/_default.head.ejs`, pageData) %>
    <main class="w:100% overflow:hidden" role="main">
      <div class="mw:1280px align-self:centered sm+:px:8px xl+:px:0 pt:32px">
        <h1 class="play:bold fs:40px color:slate pb:16px">Communicating iframe</h1>
        <div class="pb:48px lh:24">As the slider is moved, the iframe width increases/decreases, causing the height of the iframe to contents to change. The iframe then sends the height back to the parent frame and increases the height of the iframe container, removed the vertical scrollbar</div>
        <iframe class="w:100% b:0" src="inner-content/" id="table-container"></iframe>

        <div class="position:relative pb:32px xl=:show" id="" data-module="slider">
          <div data-module="slider.input-container">
            <input data-module="slider.input" onInput="document.getElementById('table-container').contentWindow.postMessage('update', window.location.origin);document.getElementById('table-container').style.width = this.value + 'px';" value="1280" class="display:block align-self:centered w:100% slider" type="range" min="1" max="1280" steps="1" value="1280">
            <span class="slider-background"><span class="slider-fill" data-module="slider.fill"></span></span>
          </div>
          <ul data-module="slider.labels" class="slider-labels position:absolute text-align:center unstyle-pl:0 display:flex align:spaced w:100%"><li>1</li><li>320</li><li>640</li><li>960</li><li>1280</li></ul>
        </div>

      </div>
  </main>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.scripts.ejs`, pageData) %>
    <script>
      storm_eagle.module('communicating_iframe', function () {
        'use strict';
        return {
          initialize: function () {
            const self = this;
            self.add_message_listener();
          },
          add_message_listener: function() {
            window.addEventListener('message', event => {
              document.getElementById("table-container").style.height = event.data + "px";
            });
          }
        };
      });
    </script>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.footer.ejs`, pageData) %>