<!--     <nav>
      <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-bar-title">warrenshea.github.io</div>
      </div>
      <div class="top-bar" id="example-menu">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text hide-for-small-only">warrenshea.github.io</li>
            <li>
              <a tabindex="0">Code Examples</a>
              <ul class="menu vertical">
                <li><a href="#height-equalizer">Height Equalizer</a></li>
                <li><a href="#form-validation">Form Validation</a></li>
                <li><a href="#sticky-validation">Sticky Navigation</a></li>
                <li><a href="#carousel">Carousel</a></li>
              </ul>
            </li>
            <li>
              <a>Sandbox</a>
              <ul class="menu vertical">
                <li><a href="#foundation-sandbox-example">Foundation Sandbox Example</a></li>
                <li><a href="#javascript-framework-example-i">JavaScript Framework Example I</a></li>
                <li><a href="#javascript-framework-example-ii">JavaScript Framework Example II</a></li>
              </ul>
            </li>
            <li>
              <a>Tools</a>
              <ul class="menu vertical">
                <li><a href="#add-to-calendar">Add to Calendar</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav> -->