<%- include(`${process.env.PWD}/_dev/_layouts/_default.head.ejs`, pageData) %>

  <div class="mw:1280px align-self:centered sm+:px:8px xl+:px:32px">
    <h1 class="play:bold pt:16px fs:28px color:eerie-black px:8px pb:16px">Child Frame</h1>
    <div class="row">
      <div class="w:6 px:8px">
        <form id="child">
          <div class="form:theme:gl0b3x">
            <div class="position:relative pt:4px pb:16px">
              <input id="message" name="message" type="text">
              <label for="message">
                <span class="description">Send Message to Parent Frame</span>
              </label>
            </div>
            <button type="submit" class="button:primary uppercase">Submit</button>
          </div>
        </form>
      </div>
      <div class="w:6 px:8px">
        <div class="color:blue heebo:bold fs:14px">Message from Parent Frame</div>
        <div id="from-parent" class="py:12px"></div>
      </div>
    </div>
  </div>

<%- include(`${process.env.PWD}/_dev/_layouts/_default.scripts.ejs`, pageData) %>
    <script>
      storm_eagle.module('communicating_with_parent_window', () => {
        'use strict';
        let self;

        return {
          initialize: () => {
            const self = storm_eagle["communicating_with_parent_window"];
            self.add_form_submit_listener();
            self.add_message_listener();
          },
          add_form_submit_listener: () => {
            document.getElementById("child").addEventListener("submit", event => {
              event.preventDefault();
              window.opener.postMessage(document.getElementById("message").value, window.location.origin);
            });
          },
          add_message_listener: () => {
            window.addEventListener('message', event => {
              document.getElementById("from-parent").innerHTML = event.data;
            });
          }
        };
      })
    </script>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.footer.ejs`, pageData) %>