<%- include(`${root}/_layouts/_default.head.ejs`, {
    "lang": "en",
    "head": {
        "title": "Communicating Windows - Child • warrenshea",
        "urlEn": "/examples/communicating-windows/child/",
        "urlCanonical": "/examples/communicating-windows/child/",
        "metaPageKeywords": "",
        "metaPageDescription": ""
    },
    "stylesheets": [
        "/stylesheets/core.css",
        "/stylesheets/libs/prism-v1.29.0.min.css"
    ]
}) %>

    <main class="w:100% pb:96px" role="main">
      <section class="row py:32px">
        <h1 class="w:12 play:bold fs:40px color:eerie-black">Communicating Windows</h1>
      </section>

      <section class="row py:32px">
        <div class="w:6">
          <form id="child">
            <div class="form:theme:gl0b3x">
              <div class="position:relative pt:4px pb:16px">
                <input id="message" name="message" type="text" value=" ">
                <label for="message">
                  <span class="description">Send Message to Parent Frame</span>
                </label>
              </div>
              <button type="submit" class="button:blue uppercase">Submit</button>
            </div>
          </form>
        </div>
        <div class="w:6">
          <div class="color:blue heebo:bold fs:14px">Message from Parent Frame</div>
          <div id="from-parent" class="py:12px"></div>
        </div>
      </section>
    </main>

<%- include(`${root}/_layouts/_default.scripts.ejs`, { "scripts": [
        "/scripts/libs/prism-v1.29.0.min.js",
        "/scripts/module.form.theme.gl0b3x.js",
        "/scripts/prism.js"
    ] }) %>
    <script>
      storm_eagle.module('communicating_with_parent_window', () => {
        'use strict';
        let self;

        return {
          initialize: () => {
            self = storm_eagle.communicating_with_parent_window;
            self.add_form_submit_listener();
            self.add_message_listener();
          },
          add_form_submit_listener: () => {
            document.getElementById("child").addEventListener("submit", event => {
              event.preventDefault();
              window.opener.postMessage(document.getElementById("message").value, window.location.origin);
            });
          },
          add_message_listener: () => {
            window.addEventListener('message', event => {
              document.getElementById("from-parent").innerHTML = event.data;
            });
          }
        };
      })
    </script>
<%- include(`${root}/_layouts/_default.footer.ejs`) %>