<%- include(`${root}/_layouts/_default.head.ejs`, {
    "lang": "en",
    "head": {
        "title": "Toast • warrenshea",
        "urlEn": "/examples/toast/",
        "urlCanonical": "/examples/toast/",
        "metaPageKeywords": "",
        "metaPageDescription": ""
    },
    "stylesheets": [
        "/stylesheets/core.css"
    ]
}) %>

    <style>
      button.button\:blue.bgc\:onyx,
      button.button\:blue.bgc\:onyx:hover,
      button.button\:blue.bgc\:onyx:active,
      button.button\:blue.bgc\:onyx:focus {
        background-color: #404040;
        border-color: #404040;
      }
      button.button\:blue.bgc\:positive-light,
      button.button\:blue.bgc\:positive-light:hover,
      button.button\:blue.bgc\:positive-light:active,
      button.button\:blue.bgc\:positive-light:focus {
        background-color: #84b48e;
        border-color: #84b48e;
      }
      button.button\:blue.bgc\:negative-light,
      button.button\:blue.bgc\:negative-light:hover,
      button.button\:blue.bgc\:negative-light:active,
      button.button\:blue.bgc\:negative-light:focus {
        background-color: #d08888;
        border-color: #d08888;
      }
    </style>

    <main class="w:100%" role="main">

      <section class="row py:32px">
        <h1 class="w:12 play:bold fs:40px color:eerie-black">Toast</h1>
        <div class="w:12 pt:16px">Click a button below to display a toast message</div>
      </section>

      <section class="row align:center pt:32px">
        <div style="flex:0;">
          <div class="display:flex align:center mb:16px">
            <div class="bxs:5">
              <button class="button:blue bgc:onyx" onclick="storm_eagle.toast.add('Toast Message 1 (Default)');">
                <span class="ic ic-color:white ic-type:solid ic-size:16px ic-name:copy mr:8px"></span> Toast Message 1 (Default)
              </button>
            </div>
          </div>
          <div class="display:flex align:center mb:16px">
            <div class="bxs:5">
              <button class="button:blue bgc:positive-light" onclick="storm_eagle.toast.add('Toast Message 2 (positive-light)', 'color:white', 'bgc:positive-light');">
                <span class="ic ic-color:white ic-type:solid ic-size:16px ic-name:copy mr:8px"></span> Toast Message 2 (positive-light)
              </button>
            </div>
          </div>
          <div class="display:flex align:center mb:16px">
            <div class="bxs:5">
              <button class="button:blue bgc:negative-light" onclick="storm_eagle.toast.add('Toast Message 3 (negative-light)', 'color:white', 'bgc:negative-light');">
                <span class="ic ic-color:white ic-type:solid ic-size:16px ic-name:copy mr:8px"></span> Toast Message 3 (negative-light)
              </button>
            </div>
          </div>
          <div class="display:flex align:center mb:16px">
            <div class="bxs:5">
              <button class="button:blue" onclick="storm_eagle.toast.add('Toast Message 4 (blue)', 'color:white', 'bgc:blue');">
                <span class="ic ic-color:white ic-type:solid ic-size:16px ic-name:copy mr:8px"></span> Toast Message 4 (blue)
              </button>
            </div>
          </div>
          <div class="display:flex align:center mb:16px">
            <div class="bxs:5">
              <button class="button:yale-blue" onclick="storm_eagle.toast.add('Toast Message 5 (yale-blue)', 'color:white', 'bgc:yale-blue');">
                <span class="ic ic-color:white ic-type:solid ic-size:16px ic-name:copy mr:8px"></span> Toast Message 5 (yale-blue)
              </button>
            </div>
          </div>
        </div>
      </section>
    </main>

<%- include(`${root}/_layouts/_default.scripts.ejs`, { "scripts": [
        "/scripts/module.toast.js"
    ] }) %>
<%- include(`${root}/_layouts/_default.footer.ejs`) %>