<%- include(`${process.env.PWD}/_dev/_layouts/_default.head.ejs`, pageData) %>
    <main class="w:100% bgc:albicant" role="main" id="start-sticky">
      <div class="row mw:1280px">
        <div class="sm=:w:12">
          <h1 class="play:bold fs:40px color:slate pb:16px">Sticky Aside</h1>
          <p>This uses <a href="http://imakewebthings.com/waypoints/" class="fw:bold" target="_blank">Waypoint</a></p>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br>
      </div>
      <div class="row w:100% mw:1280px b-slate:1px">
        <div class="sm=:w:12 md+:w:9 bgc:light-grey">
          <br><br><br><br><br><br><br><br><br><br><br><br>
          <br><br><br><br><br><br><br><br><br><br><br><br>
          <br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
        <div class="sm=:w:12 md+:w:3 w:100% bgc:lilac position:relative">

          <aside id="sticky-aside-50percent" class="bgc:azure p:16px" style="top:45%;">
            This box will get sticky as the user scrolls but stay around the middle of the screen (around 50%) but stay contained inside the box/wrapper
          </aside>

        </div>
      </div>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <div class="row w:100% mw:1280px b-slate:1px">
        <div class="sm=:w:12 md+:w:9 bgc:light-grey">
          <br><br><br><br><br><br><br><br><br><br><br><br>
          <br><br><br><br><br><br><br><br><br><br><br><br>
          <br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
        <div class="sm=:w:12 md+:w:3 w:100% bgc:lilac position:relative">

          <aside id="sticky-aside-top" class="bgc:azure p:16px" style="top:0px">
            This box will get sticky as the user scrolls but stay at the top of the screen but stay contained inside the box/wrapper
          </aside>

        </div>
      </div>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </main>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.scripts.ejs`, pageData) %>
    <script>
      storm_eagle.module('sticky_aside', function () {
        'use strict';

        return {
          initialize: function () {
            const self = this;
            self.initialize_waypoint();
          },
          initialize_waypoint: function () {
            const waypointSticky50percent = new Waypoint({
              element: document.getElementById('start-sticky'),
              handler: function() {
                document.getElementById("sticky-aside-50percent").classList.toggle("position:sticky");
              },
              offset:40
            })
            const waypointStickyTop = new Waypoint({
              element: document.getElementById('start-sticky'),
              handler: function() {
                document.getElementById("sticky-aside-top").classList.toggle("position:sticky");
              },
              offset:40
            })
          }
        };
      })
    </script>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.footer.ejs`, pageData) %>