<%- include(`${process.env.PWD}/_dev/_layouts/_default.head.ejs`, pageData) %>
    <main class="w:100%" role="main">

      <section class="row py:32px">
        <h1 class="w:12 play:bold fs:40px color:eerie-black">Sticky Aside</h1>
        <p class="w:12 pt:32px">This uses <a class="anchor:blue" href="http://imakewebthings.com/waypoints/" target="_blank">Waypoint</a></p>
      </section>

      <div style="height:750px"></div>

      <section class="row">
        <div class="sm=:w:12 md+:w:9 bgc:silver">
          <div style="height:500px"></div>
        </div>
        <div class="sm=:w:12 md+:w:3 w:100% bgc:yinmn-blue position:relative">

          <aside id class="bgc:powder-blue p:16px" style="top:45%;" data-module="waypoint" data-waypoint-element="main" data-waypoint-toggle-classes='["position:sticky"]' data-waypoint-delay="0" data-waypoint-activate="45%">
            This box will get sticky as the user scrolls but stay around the middle of the screen (around 50%) but stay contained inside the box/wrapper
          </aside>

        </div>
      </section>

      <div style="height:100px"></div>

      <section class="row">
        <div class="sm=:w:12 md+:w:9 bgc:silver">
          <div style="height:500px"></div>
        </div>
        <div class="sm=:w:12 md+:w:3 w:100% bgc:yinmn-blue position:relative">

          <aside id class="bgc:powder-blue p:16px" style="top:0px" data-module="waypoint" data-waypoint-element="main" data-waypoint-toggle-classes='["position:sticky"]' data-waypoint-delay="0" data-waypoint-activate="0">
            This box will get sticky as the user scrolls but stay at the top of the screen but stay contained inside the box/wrapper
          </aside>

        </div>
      </section>

      <div style="height:2000px"></div>
    </main>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.scripts.ejs`, pageData) %>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.footer.ejs`, pageData) %>