<%- include(`${process.env.PWD}/_dev/_layouts/_default.head.ejs`, pageData) %>
    <main class="w:100% bgc:platinum" role="main">
      <div class="mw:1280px align-self:centered sm+:px:8px xl+:px:0 pt:32px">
        <h1 class="play:bold fs:40px color:eerie-black pb:16px">Sticky Aside</h1>
        <p>This uses <a class="anchor:primary" href="http://imakewebthings.com/waypoints/" target="_blank">Waypoint</a></p>
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br>
      </div>
      <div class="row w:100% mw:1280px b-eerie-black:1px">
        <div class="sm=:w:12 md+:w:9 bgc:silver">
          <br><br><br><br><br><br><br><br><br><br><br><br>
          <br><br><br><br><br><br><br><br><br><br><br><br>
          <br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
        <div class="sm=:w:12 md+:w:3 w:100% bgc:yinmn-blue position:relative">

          <aside id="" class="bgc:powder-blue p:16px" style="top:45%;" data-module="waypoint" data-waypoint-element="main" data-waypoint-toggle="position:sticky" data-waypoint-delay="0" data-waypoint-activate="45%">
            This box will get sticky as the user scrolls but stay around the middle of the screen (around 50%) but stay contained inside the box/wrapper
          </aside>

        </div>
      </div>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <div class="row w:100% mw:1280px b-eerie-black:1px">
        <div class="sm=:w:12 md+:w:9 bgc:silver">
          <br><br><br><br><br><br><br><br><br><br><br><br>
          <br><br><br><br><br><br><br><br><br><br><br><br>
          <br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
        <div class="sm=:w:12 md+:w:3 w:100% bgc:yinmn-blue position:relative">

          <aside id="" class="bgc:powder-blue p:16px" style="top:0px" data-module="waypoint" data-waypoint-element="main" data-waypoint-toggle="position:sticky" data-waypoint-delay="0" data-waypoint-activate="0">
            This box will get sticky as the user scrolls but stay at the top of the screen but stay contained inside the box/wrapper
          </aside>

        </div>
      </div>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </main>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.scripts.ejs`, pageData) %>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.footer.ejs`, pageData) %>