<%- include(`${process.env.PWD}/_dev/_layouts/_default.head.ejs`, pageData) %>
          <table class="w:100% bb-grey:1px br-grey:1px" id="table" tabindex="0">
            <caption class="show-for-screen-reader-only">
              A Pokemon chart indicating Pokemon and their type
            </caption>
            <thead>
              <tr class="display:flex md-:flex-flow:row-wrap">
                <th class="md-:hide lg+:show lg+:w:3">&nbsp;</th>
                <th scope="col" class="bt-grey:1px bl-grey:1px fw:bold p:32px sm+:w:4 lg+:w:3 text-align:center" style="background:#f66">
                    Fire Type
                </th>
                <th scope="col" class="bt-grey:1px bl-grey:1px fw:bold p:32px sm+:w:4 lg+:w:3 text-align:center bgc:cerulean">
                    Water Type
                </th>
                <th scope="col" class="bt-grey:1px bl-grey:1px fw:bold p:32px sm+:w:4 lg+:w:3 text-align:center bgc:sunflower">
                    Electric Type
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="display:flex md-:flex-flow:row-wrap">
                <th scope="row" class="fw:bold sm+:p:8px lg+:p:32px sm+:w:12 lg+:w:3 bt-grey:1px bl-grey:1px bgc:light-grey sm+:text-align:center lg+:text-align:left">
                  Bulbasaur #1
                </th>
                <td class="sm+:w:4 lg+:w:3 bt-grey:1px bl-grey:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                  &nbsp;<span class="show-for-screen-reader-only">No</span>
                </td>
                <td class="sm+:w:4 lg+:w:3 bt-grey:1px bl-grey:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                  &nbsp;<span class="show-for-screen-reader-only">No</span>
                </td>
                <td class="sm+:w:4 lg+:w:3 bt-grey:1px bl-grey:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                  &nbsp;<span class="show-for-screen-reader-only">No</span>
                </td>
              </tr>
              <tr class="display:flex md-:flex-flow:row-wrap">
                <th scope="row" class="fw:bold sm+:p:8px lg+:p:32px sm+:w:12 lg+:w:3 bt-grey:1px bl-grey:1px bgc:light-grey sm+:text-align:center lg+:text-align:left">
                  Charmander #4
                </th>
                <td class="sm+:w:4 lg+:w:3 bt-grey:1px bl-grey:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                  <span aria-hidden="true">&times;</span><span class="show-for-screen-reader-only">Yes</span>
                </td>
                <td class="sm+:w:4 lg+:w:3 bt-grey:1px bl-grey:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                  &nbsp;<span class="show-for-screen-reader-only">No</span>
                </td>
                <td class="sm+:w:4 lg+:w:3 bt-grey:1px bl-grey:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                  &nbsp;<span class="show-for-screen-reader-only">No</span>
                </td>
              </tr>
              <tr class="display:flex md-:flex-flow:row-wrap">
                <th scope="row" class="fw:bold sm+:p:8px lg+:p:32px sm+:w:12 lg+:w:3 bt-grey:1px bl-grey:1px bgc:light-grey sm+:text-align:center lg+:text-align:left">
                  Squirtle #7
                </th>
                <td class="sm+:w:4 lg+:w:3 bt-grey:1px bl-grey:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                  &nbsp;<span class="show-for-screen-reader-only">No</span>
                </td>
                <td class="sm+:w:4 lg+:w:3 bt-grey:1px bl-grey:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                  <span aria-hidden="true">&times;</span><span class="show-for-screen-reader-only">Yes</span>
                </td>
                <td class="sm+:w:4 lg+:w:3 bt-grey:1px bl-grey:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                  &nbsp;<span class="show-for-screen-reader-only">No</span>
                </td>
              </tr>
              <tr class="display:flex md-:flex-flow:row-wrap">
                <th scope="row" class="fw:bold sm+:p:8px lg+:p:32px sm+:w:12 lg+:w:3 bt-grey:1px bl-grey:1px bgc:light-grey sm+:text-align:center lg+:text-align:left">
                  Pikachu #25
                </th>
                <td class="sm+:w:4 lg+:w:3 bt-grey:1px bl-grey:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                  &nbsp;<span class="show-for-screen-reader-only">No</span>
                </td>
                <td class="sm+:w:4 lg+:w:3 bt-grey:1px bl-grey:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                  &nbsp;<span class="show-for-screen-reader-only">No</span>
                </td>
                <td class="sm+:w:4 lg+:w:3 bt-grey:1px bl-grey:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                  <span aria-hidden="true">&times;</span><span class="show-for-screen-reader-only">Yes</span>
                </td>
              </tr>
              <tr class="display:flex md-:flex-flow:row-wrap">
                <th scope="row" class="fw:bold sm+:p:8px lg+:p:32px sm+:w:12 lg+:w:3 bt-grey:1px bl-grey:1px bgc:light-grey sm+:text-align:center lg+:text-align:left">
                  Volcanion #721
                </th>
                <td class="sm+:w:4 lg+:w:3 bt-grey:1px bl-grey:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                  <span aria-hidden="true">&times;</span><span class="show-for-screen-reader-only">Yes</span>
                </td>
                <td class="sm+:w:4 lg+:w:3 bt-grey:1px bl-grey:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                  <span aria-hidden="true">&times;</span><span class="show-for-screen-reader-only">Yes</span>
                </td>
                <td class="sm+:w:4 lg+:w:3 bt-grey:1px bl-grey:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                  &nbsp;<span class="show-for-screen-reader-only">No</span>
                </td>
              </tr>
            </tbody>
          </table>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.footer.ejs`, pageData) %>
<script>
  storm_eagle.module('communicating_parent', function () {
    'use strict';
    return {
      initialize: function () {
        const self = this;
        self.addMessageListener();
      },
      addMessageListener: function() {
        window.addEventListener('message', event => {
          let height = Math.max(document.body.scrollHeight,document.body.offsetHeight);
          parent.postMessage(height, window.location.origin);
        });
      }
    };
  })
</script>