@use 'sass:math';
@use 'sass:list';
@use "sass:meta";
@use "sass:map";
@use '_unit.scss' as unit;

/// A list of named breakpoints. You can use these with the `breakpoint()` mixin to quickly create media queries.
/// @type Map
$breakpoints: (
  small: 0,
  medium: 768px,
  large: 1024px,
  xlarge: 1280px,
) !default;

/// Breakpoint prefixes for utility class generation
/// @type Map
$breakpoint-prefixes: (
  small: '',
  small only: 'sm\\=\\:',
  small up: 'sm\\+\\:',
  medium down: 'md-\\:',
  medium only: 'md\\=\\:',
  medium up: 'md\\+\\:',
  large down: 'lg-\\:',
  large only: 'lg\\=\\:',
  large up: 'lg\\+\\:',
  xlarge up: 'xl\\+\\:',
) !default;

$-zf-zero-breakpoint: small !default;

@if list.nth(map.values($breakpoints), 1) != 0 {
  @error 'Your smallest breakpoint (defined in $breakpoints) must be set to "0".';
}
@else {
  $-zf-zero-breakpoint: list.nth(map.keys($breakpoints), 1);
}

/// Generates a media query string matching the input value. Refer to the documentation for the `breakpoint()` mixin to see what the possible inputs are.
/// @param {Keyword|Number} $val [small] - Breakpoint name, or px, rem, or em value to process.
@function breakpoint($val: $-zf-zero-breakpoint) {
  // Size or keyword
  $bp: list.nth($val, 1);
  // Value for max-width media queries
  $bp-max: 0;
  // Direction of media query (up, down, or only)
  //$dir: if(length($val) > 1, list.nth($val, 2), up);
  $dir: up;
  @if list.length($val) > 1 {
    $dir: list.nth($val, 2);
  }
  // Eventual output
  $str: '';
  // Is it a named media query?
  $named: false;

  // Orientation media queries have a unique syntax
  @if $bp == 'landscape' or $bp == 'portrait' {
    @return '(orientation: #{$bp})';
  }
  @else if $bp == 'retina' {
    @return '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)';
  }

  // Try to pull a named breakpoint out of the $breakpoints map
  @if meta.type-of($bp) == 'string' {
    @if map.has-key($breakpoints, $bp) {
      @if $dir == 'only' or $dir == 'down' {
        $bp-max: zf-map-next($breakpoints, $bp);
      }

      $bp: map.get($breakpoints, $bp);
      $named: true;
    }
    @else {
      $bp: 0;
      @warn 'breakpoint(): "#{$val}" is not defined in your $breakpoints setting.';
    }
  }

  // Convert any pixel, rem, or unitless value to em
  $bp: unit.zf-bp-to-rem($bp);
  @if $bp-max {
    $bp-max: unit.zf-bp-to-rem($bp-max) - (math.div(1, 100));
  }

  // Conditions to skip media query creation
  // - It's a named breakpoint that resolved to "0 down" or "0 up"
  // - It's a numeric breakpoint that resolved to "0 " + anything
  @if $bp > 0rem or $dir == 'only' or $dir == 'down' {
    // `only` ranges use the format `(min-width: n) and (max-width: n)`
    @if $dir == 'only' {
      // Only named media queries can have an "only" range
      @if $named == true {
        // Only use "min-width" if the floor is greater than 0
        @if $bp > 0rem {
          $str: $str + '(min-width: #{$bp})';
          // Only add "and" to the media query if there's a ceiling
          @if $bp-max != null {
            $str: $str + ' and ';
          }
        }
        // Only use "max-width" if there's a ceiling
        @if $bp-max != null {
          $str: $str + '(max-width: #{$bp-max})';
        }
      }
      @else {
        @warn 'breakpoint(): Only named media queries can have an `only` range.';
      }
    }

    // `down` ranges use the format `(max-width: n)`
    @else if $dir == 'down' {
      //$max: if($named, $bp-max, $bp);
      $max: $bp;
      @if $named {
        $max: $bp-max;
      }
      // Skip media query creation if input value is exactly "0 down",
      // unless the function was called as "small down", in which case it's just "small-only"
      @if $named or $bp > 0rem {
        @if $max != null {
          $str: $str + '(max-width: #{$max})';
        }
      }
    }

    // `up` ranges use the format `(min-width: n)`
    @else if $bp > 0rem {
      $str: $str + '(min-width: #{$bp})';
    }
  }

  @return $str;
}

@function breakpoint-combine($conditions...) {
  $result: '';
  
  @each $condition in $conditions {
    $str: breakpoint($condition);
    
    @if $str != '' {
      @if $result != '' {
        $result: $result + ', screen and ';
      }
      $result: $result + $str;
    }
  }
  
  @return $result;
}

/// Mixin version for easier use
/// @param {List} $conditions - List of breakpoint values to combine
@mixin breakpoint-combine($conditions...) {
  $str: breakpoint-combine($conditions...);
  
  @if $str == '' {
    @content;
  }
  @else {
    @media screen and #{$str} {
      @content;
    }
  }
}

/// Wraps a media query around the content you put inside the mixin. This mixin accepts a number of values:
///  - If a string is passed, the mixin will look for it in the `$breakpoints` map, and use a media query there.
///  - If a pixel value is passed, it will be converted to an em value using `$global-font-size` as the base.
///  - If a rem value is passed, the unit will be changed to em.
///  - If an em value is passed, the value will be used as-is.
///
/// @param {Keyword|Number} $value - Breakpoint name, or px, rem, or em value to process.
///
/// @output If the breakpoint is "0px and larger", outputs the content as-is. Otherwise, outputs the content wrapped in a media query.
@mixin breakpoint($value) {
  $str: breakpoint($value);

  // If $str is still an empty string, no media query is needed
  @if $str == '' {
    @content;
  }

  // Otherwise, wrap the content in a media query
  @else {
    @media screen and #{$str} {
      @content;
    }
  }
}

/// Find the next key in a map.
/// @access private
/// @param {Map} $map - Map to traverse.
/// @param {Mixed} $key - Key to use as a starting point.
/// @returns {Mixed} The value for the key after `$key`, if `$key` was found. If `$key` was not found, or `$key` was the last value in the map, returns `null`.
@function zf-map-next($map, $key) {

  // Store the keys of the map as a list
  $values: map.keys($map);
  $i: 0;

  // If the Key Exists, Get the index of the key within the map and add 1 to it for the next breakpoint in the map
  @if (map.has-key($map, $key)) {
    $i: list.index($values, $key) + 1;
  }
  // If the key doesn't exist, or it's the last key in the map, return null
  @if ($i > list.length($map) or $i == 0) {
    @return null;
  }
  // Otherwise, return the value
  @else {
    @return map.get($map, list.nth($values, $i));
  }
}
