$min-page-width-320: 20rem; /*320*/
$max-page-width-1200: 75rem; /*1200*/
$max-page-width-1280: 80rem; /*1280*/

$small-min: 0;
$small-max: 47.9375rem;/*767*/
$medium-min: 48rem;/*768*/
$medium-max: 63.9375rem;/*1023*/
$large-min: 64rem;/*1024*/
$large-max: 79.9375rem;/*1279*/
$xlarge-min: 80rem;/*1280*/