$min-page-width-320: rem-calc(320);
$max-page-width-1200: rem-calc(1200);
$max-page-width-1280: rem-calc(1280);

$small-min: 0;
$small-max: rem-calc(767.99);
$medium-min: rem-calc(768);
$medium-max: rem-calc(1023.99);
$large-min: rem-calc(1024);
$large-max: rem-calc(1279.99);
$xlarge-min: rem-calc(1280)