$min-page-width-375: 23.4375rem; /*rem-calc(375);*/
$max-page-width-1280: 80rem; /*rem-calc(1280);*/

$small-min: 0;
$medium-min: 48rem; /*rem-calc(768);*/
$large-min: 64rem; /*rem-calc(1024);*/
$xlarge-min: 80rem; /*rem-calc(1280);*/