/* file: variables-colors.scss------------------------------------------------ */
/* PRIMARY COLOURS */
$blue: #3169b2;
$red: #ab1e23;
$yellow: #f4c026;

/* BLUE COLOURS */
$yale-blue: #1c3b65;
$yinmn-blue: #27528c;
$vista-blue: #789ccc;
$powder-blue: #9bb6d9;
$columbia-blue: #becfe6;

/* RED COLOURS */
$falu-red: #80171a;
$carmine: #9b1b20;
$auburn: #b63b3f;
$bittersweet-shimmer: #c0575a;
$old-rose: #d58f91;

/* YELLOW COLOURS */
$dark-goldenrod: #b7901d;
$dutch-white: #fdf0c9;

/* GRAYSCALE COLOURS */
$black: #000000;
$eerie-black: #202020;
$onyx: #404040;
$gray: #808080;
$silver: #c0c0c0;
$platinum: #e0e0e0;
$white-smoke: #f0f0f0;
$white: #ffffff;

/* FEEDBACK COLOURS */
$positive-dark: #05340f;
$positive: #09681d;
$positive-light: #84b48e;
$negative-dark: #500808;
$negative: #a01010;
$negative-light: #d08888;
$warning: #c0791d;
$disabled: #eeeeec;

/* SECONDARY COLLOURS */
$english-violet: #6e446b;
$cocoa-brown: #d06f25;