/* file: variables-dimensions.scss------------------------------------------------ */
//Note: rem-calc function is not available here yet and this needs to
$min-page-width-372: rem-calc(10);
$min-page-width-375: rem-calc(375);
$max-page-width-1280: rem-calc(1280);

$small-min: 0;
$medium-min: rem-calc(768);
$large-min: rem-calc(1024);
$xlarge-min: rem-calc(1280);