/* PRIMARY COLOURS */
$blue: #3169b2;
$red: #ab1e23;
$yellow: #f4c026;

/* BLUE COLOURS */
$yale-blue: #1c3b65;
$yinmn-blue: #27528c;
$vista-blue: #789ccc;
$powder-blue: #9bb6d9;
$columbia-blue: #becfe6;

/* RED COLOURS */
$falu-red: #80171a;
$carmine: #9b1b20;
$auburn: #b63b3f;
$bittersweet-shimmer: #c0575a;
$old-rose: #d58f91;

/* YELLOW COLOURS */
$dark-goldenrod: #b7901d;
$dutch-white: #fdf0c9;

/* GRAYSCALE COLOURS */
$black: #000;
$eerie-black: #202020;
$onyx: #404040;
$gray: #808080;
$silver: #c0c0c0;
$platinum: #e0e0e0;
$white: #fff;

/* FEEDBACK COLOURS */
$negative-light: #d08888;
$negative: #a01010;
$negative-dark: #500808;
$positive-light: #84b48e;
$positive: #09681d;
$positive-dark: #05340f;
$warning: #c0791d;
$disabled: #eeeeec;

// /* COMPLIMENTARY COLOURS */

// /* SKY BLUE */
// $sky-blue: #009ec9;
// $sky-blue-lighter: #96dfee;
// $sky-blue-light: #00bddd;
// $sky-blue-dark: #0085ac;
// $sky-blue-darker: #00698b;

// /* OLIVE*/
// $olive: #c3c070;
// $olive-lighter: #eae9ca;
// $olive-light: #d5d393;
// $olive-dark: #9b9f58;
// $olive-darker: #737e4e;

// /* POOLSIDE */
// $poolside: #2cbfc1;
// $poolside-lighter: #a7ebeb;
// $poolside-light: #36d5d4;
// $poolside-dark: #00a0a4;
// $poolside-darker: #007e85;

// /* SUNFLOWER */
// $sunflower: #ffc700;
// $sunflower-lighter: #ffecac;
// $sunflower-light: #ffd84d;
// $sunflower-dark: #d3a400;
// $sunflower-darker: #9d8200;

// /* LILAC */
// $lilac: #6a88c3;
// $lilac-lighter: #c9d6ec;
// $lilac-light: #91abd9;
// $lilac-dark: #4d71a8;
// $lilac-darker: #375b89;

// /* RETROSPECT */
// $retrospect: #00e7b4;
// $retrospect-lighter: #8bfae4;
// $retrospect-light: #00f3c8;
// $retrospect-dark: #00c196;
// $retrospect-darker: #00977b;

// /* ORCHID */
// $orchid: #d061a1;
// $orchid-lighter: #f3d8e8;
// $orchid-light: #e29dc5;
// $orchid-dark: #b1357d;
// $orchid-darker: #762353;

$border-color: #cecece;
