<%- include(`${process.env.PWD}/_dev/_layouts/_default.head.ejs`, pageData) %>
    <main class="w:100%" role="main">
      <div class="mw:1280px align-self:centered sm+:px:8px xl+:px:0 pt:32px">
        <h1 class="play:bold fs:40px color:eerie-black pb:64px">Show More</h1>

        <h2 class="play:bold fs:32px color:eerie-black pb:32px">Show More on a &lt;table&gt;</h1>
        <div class="w:100% overflow:hidden" id="show-more-1" data-module='show-more' data-show-more-transition-duration=".5" data-show-more-offset="-1">
          <table class="w:100% bb-gray:1px br-gray:1px" data-module='show-more.container' tabindex="0">
            <caption class="show-for-screen-reader-only">
              A Pokémon chart indicating Pokémon and their type
            </caption>
            <thead data-show-more-top>
              <tr class="display:flex md-:flex-flow:row-wrap">
                <th class="md-:hide lg+:show lg+:w:3" aria-hidden="true"></th>
                <th scope="col" class="bt-gray:1px bl-gray:1px heebo:bold p:32px sm+:w:4 lg+:w:3 sm+:text-align:center" style="background:#f66">
                    Fire Type
                </th>
                <th scope="col" class="bt-gray:1px bl-gray:1px heebo:bold p:32px sm+:w:4 lg+:w:3 sm+:text-align:center sm+:bgc:vista-blue">
                    Water Type
                </th>
                <th scope="col" class="bt-gray:1px bl-gray:1px heebo:bold p:32px sm+:w:4 lg+:w:3 sm+:text-align:center sm+:bgc:yellow">
                    Electric Type
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="display:flex md-:flex-flow:row-wrap">
                <th scope="row" class="heebo:bold sm+:p:8px lg+:p:32px sm+:w:12 lg+:w:3 bt-gray:1px bl-gray:1px sm+:bgc:silver sm+:text-align:center lg+:text-align:left">
                  Bulbasaur #1
                </th>
                <td class="sm+:w:4 lg+:w:3 bt-gray:1px bl-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                  &nbsp;<span class="show-for-screen-reader-only">No</span>
                </td>
                <td class="sm+:w:4 lg+:w:3 bt-gray:1px bl-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                  &nbsp;<span class="show-for-screen-reader-only">No</span>
                </td>
                <td class="sm+:w:4 lg+:w:3 bt-gray:1px bl-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                  &nbsp;<span class="show-for-screen-reader-only">No</span>
                </td>
              </tr>
              <tr class="display:flex md-:flex-flow:row-wrap">
                <th scope="row" class="heebo:bold sm+:p:8px lg+:p:32px sm+:w:12 lg+:w:3 bt-gray:1px bl-gray:1px sm+:bgc:silver sm+:text-align:center lg+:text-align:left">
                  Charmander #4
                </th>
                <td class="sm+:w:4 lg+:w:3 bt-gray:1px bl-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                  <span aria-hidden="true">&times;</span><span class="show-for-screen-reader-only">Yes</span>
                </td>
                <td class="sm+:w:4 lg+:w:3 bt-gray:1px bl-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                  &nbsp;<span class="show-for-screen-reader-only">No</span>
                </td>
                <td class="sm+:w:4 lg+:w:3 bt-gray:1px bl-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                  &nbsp;<span class="show-for-screen-reader-only">No</span>
                </td>
              </tr>
              <tr class="display:flex md-:flex-flow:row-wrap" data-show-more-bottom>
                <th scope="row" class="heebo:bold sm+:p:8px lg+:p:32px sm+:w:12 lg+:w:3 bt-gray:1px bl-gray:1px sm+:bgc:silver sm+:text-align:center lg+:text-align:left">
                  Squirtle #7
                </th>
                <td class="sm+:w:4 lg+:w:3 bt-gray:1px bl-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                  &nbsp;<span class="show-for-screen-reader-only">No</span>
                </td>
                <td class="sm+:w:4 lg+:w:3 bt-gray:1px bl-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                  <span aria-hidden="true">&times;</span><span class="show-for-screen-reader-only">Yes</span>
                </td>
                <td class="sm+:w:4 lg+:w:3 bt-gray:1px bl-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                  &nbsp;<span class="show-for-screen-reader-only">No</span>
                </td>
              </tr>
              <tr class="display:flex md-:flex-flow:row-wrap">
                <th scope="row" class="heebo:bold sm+:p:8px lg+:p:32px sm+:w:12 lg+:w:3 bt-gray:1px bl-gray:1px sm+:bgc:silver sm+:text-align:center lg+:text-align:left">
                  Pikachu #25
                </th>
                <td class="sm+:w:4 lg+:w:3 bt-gray:1px bl-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                  &nbsp;<span class="show-for-screen-reader-only">No</span>
                </td>
                <td class="sm+:w:4 lg+:w:3 bt-gray:1px bl-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                  &nbsp;<span class="show-for-screen-reader-only">No</span>
                </td>
                <td class="sm+:w:4 lg+:w:3 bt-gray:1px bl-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                  <span aria-hidden="true">&times;</span><span class="show-for-screen-reader-only">Yes</span>
                </td>
              </tr>
              <tr class="display:flex md-:flex-flow:row-wrap">
                <th scope="row" class="heebo:bold sm+:p:8px lg+:p:32px sm+:w:12 lg+:w:3 bt-gray:1px bl-gray:1px sm+:bgc:silver sm+:text-align:center lg+:text-align:left">
                  Volcanion #721
                </th>
                <td class="sm+:w:4 lg+:w:3 bt-gray:1px bl-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                  <span aria-hidden="true">&times;</span><span class="show-for-screen-reader-only">Yes</span>
                </td>
                <td class="sm+:w:4 lg+:w:3 bt-gray:1px bl-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                  <span aria-hidden="true">&times;</span><span class="show-for-screen-reader-only">Yes</span>
                </td>
                <td class="sm+:w:4 lg+:w:3 bt-gray:1px bl-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                  &nbsp;<span class="show-for-screen-reader-only">No</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="md-:hide lg+:show lg+:w:3"></div>
          <div class="sm+:w:12 lg+:w:9 text-align:center" style="transform:translateY(-50%);">
              <button data-module="show-more.more" class="display:inline heebo:bold color:blue brr:8px px:8px py:4px bgc:white">
                Show more Pokémon
              </button>
              <button data-module="show-more.less" class="display:none heebo:bold color:blue brr:8px px:8px py:4px bgc:white">
                Show fewer Pokémon
              </button>
          </div>
        </div>

        <h2 class="play:bold fs:32px color:eerie-black pt:48px pb:32px">Show More on a &lt;div&gt;</h2>
        <div class="w:100% overflow:hidden" id="show-more-2" data-module='show-more' data-show-more-transition-duration=".5" data-show-more-offset="0">
          <div class="w:100%" data-module='show-more.container'>
            <div data-show-more-top>
              <p><span class="heebo:bold">Lorem Ipsum</span> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div>
              <p><span class="heebo:bold">Lorem Ipsum</span> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div>
              <p><span class="heebo:bold">Lorem Ipsum</span> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div data-show-more-bottom>
              <p><span class="heebo:bold">Lorem Ipsum</span> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div>
              <p><span class="heebo:bold">Lorem Ipsum</span> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="w:100% text-align:center" style="transform:translateY(-50%);">
            <button data-module="show-more.more" class="display:inline heebo:bold color:blue brr:8px px:8px py:4px bgc:white">
              Show more Pokémon
            </button>
            <button data-module="show-more.less" class="display:none heebo:bold color:blue brr:8px px:8px py:4px bgc:white">
              Show fewer Pokémon
            </button>
          </div>
        </div>

        <h2 class="play:bold fs:32px color:eerie-black pt:64px pb:16px">Next section</h2>
        <div class="pb:64px"><span class="heebo:bold">Lorem Ipsum</span> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
      </div>
    </main>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.scripts.ejs`, pageData) %>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.footer.ejs`, pageData) %>