<%- include(`${process.env.PWD}/_dev/_layouts/_default.head.ejs`, pageData) %>
<main class="w:100%" role="main">
  <section class="mw:1200px align-self:centered pt:32px sm+:px:8px xl+:px:0">
    <h1 class="play:bold fs:40px color:eerie-black pb:16px">Dialog</h1>

    <h2 class="play:bold fs:32px color:eerie-black pt:64px pb:16px">Dialog element</h2>
    <div class="pb:16px"><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dialog" target="_blank">https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dialog</a></div>
    <button class="button:blue" aria-label="Open a dialog, opens in a new pop up" data-module="dialog.trigger" data-dialog-bind-id="dialog-test">Click to open &lt;dialog&gt;</button>
    <dialog class="sm=:w:10 md+:w:10 lg+:w:8 xl+:w:6 sm=:px:8px md+:px:0 py:24px position:relative brr:8px b:0" data-module="dialog" role="dialog" aria-dialog="true" id="dialog-test" aria-labelledby="dialog-loading-heading-id">
      <div data-module="dialog.container">
        <button data-dialog-close onclick="storm_eagle.dialog.close();" aria-label="Close pop-up window"><span class="fs:32px lh:0">&times;</span></button>
        <div class="sm=:pt:24px md+:pt:24px md+:pb:24px sm=:px:24px md+:px:24px xl+:px:24px brr:8px">
          <h2 id="dialog-loading-heading-id" class="xl+:lh:40 heebo:bold pb:24px">&lt;dialog&gt; Title Test</h2>
          <p><a href="https://www.lipsum.com/" class="anchor:blue" target="_blank">Lorem Ipsum</a> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
      </div>
    </dialog>

  </section>
</main>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.scripts.ejs`, pageData) %>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.footer.ejs`, pageData) %>