<%- include(`${process.env.PWD}/_dev/_layouts/_default.head.ejs`, pageData) %>
    <main class="w:100%" role="main">
      <section class="mw:1200px align-self:centered pt:32px">
        <h1 class="play:bold fs:40px color:eerie-black pb:16px">HTML5 Dialog</h1>

        <button class="button:blue" aria-label="Open a dialog, opens in a new pop up" data-module="dialog.trigger" onclick="document.getElementById('dialog-test').showModal();">Click to open &lt;dialog&gt;</button>



      </section>
    </main>
    <dialog class="sm=:w:12 md+:w:10 xl+:w:8 sm=:px:8px md+:px:0 py:24px position:relative dialog-overlay" data-module="dialog" role="dialog" aria-dialog="true" id="dialog-test" aria-labelledby="dialog-loading-heading-id">
      <button class="close" onclick="document.getElementById('dialog-test').close();" aria-label="Close pop-up window"><span class="fs:32px lh:0">&times;</span></button>
      <div class="sm=:pt:24px md+:pt:24px md+:pb:24px sm=:px:24px md+:px:24px xl+:px:24px">

        <h2 id="dialog-loading-heading-id" class="xl+:lh:40 heebo:bold pb:24px">HTML5 &lt;dialog&gt; Title Test</h2>

        <p><a href="https://www.lipsum.com/" class="anchor:blue" target="_blank">Lorem Ipsum</a> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </dialog>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.scripts.ejs`, pageData) %>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.footer.ejs`, pageData) %>