/* file: module.archived-popover.scss------------------------------------------------ */
@charset "UTF-8";

@use '../_config/_unit.scss' as unit;
@use '../_config/_breakpoint.scss' as breakpoint;

[data-module='archived-popover'] {
  position:fixed;
  left:0;
  right:0;
  visibility: hidden;
  &::before{
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    content:"";
    top: 50%;
  }
  &:after{
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    content:"";
    top: 50%;
  }
  &.right {
    &::before{
      border-width:unit.rem-calc(11);
      left: unit.rem-calc(-11);
      margin-top: -11px;
      border-left-width: 0;
      border-right-color: #bbb;
    }
    &:after{
      border-width:unit.rem-calc(10);
      left: unit.rem-calc(-10);
      transform: translate(0, -50%);
      border-left-width: 0;
      border-right-color: #fff;
    }
  }
  button[data-archived-popover-close] {
    position: absolute;
    top: unit.rem-calc(10);
    right: unit.rem-calc(10);
    @include breakpoint.breakpoint(large) {
      top: unit.rem-calc(20);
      right: unit.rem-calc(20);
    }
  }
  &[data-archived-popover='active'] {
    box-shadow: var(--box-shadow-custom-2);
    display:block;
    bottom:0;
    z-index: 1051;
    visibility: visible;
    @include breakpoint.breakpoint(large) {
      box-shadow: var(--box-shadow-custom-1);
      position:absolute;
      top:50%;
      bottom:auto;
      right:auto;
      width: unit.rem-calc(300);
      max-width: unit.rem-calc(300);
    }
  }
}

[data-module='archived-popover.overlay'] {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  background: #cccccc40;
  &[data-archived-popover='active'] {
    z-index: 1050;
    display: block;
  }
}