<%- include(`${process.env.PWD}/_dev/_layouts/_default.head.ejs`, pageData) %>

    <main class="w:100% pb:96px" role="main">
      <section class="mw:1200px align-self:centered pt:32px">
        <h1 class="play:bold fs:40px color:eerie-black sm+:px:8px xl+:px:0">Tabs</h1>
      </section>

      <section class="mw:1200px align-self:centered py:32px sm+:px:8px xl+:px:0">
        <div role="tablist" id class="row" data-module="tabs" data-tabs-initial="[0,1,0,0]" data-tab-trigger-inactive-classes="bgc:white-smoke" data-tab-trigger-active-classes="bgc:white,bb-white:1px" data-tab-panel-inactive-classes="display:none" data-tab-panel-active-classes="display:block">
          <div class="display:flex lg-:flex-flow:row-nowrap overflow:hidden">
            <button type="button" role="tab" hidden class="brrtl:8px brrtr:8px b-onyx:1px bgc:white px:16px py:8px lg=:w:2 md-:ws:nowrap" data-module="tabs.trigger" id aria-controls tabindex aria-label="Learn more about Tab 1: Two dogs, expands/collapses a pop-up">
              Tab 1: Two dogs
            </button>
            <button type="button" role="tab" hidden class="brrtl:8px brrtr:8px b-onyx:1px bgc:white px:16px py:8px lg=:w:2 md-:ws:nowrap" data-module="tabs.trigger" id aria-controls tabindex aria-label="Learn more about Tab 2: Lorem Ipsum Copy, expands/collapses a pop-up">
              Tab 2: Lorem Ipsum Copy
            </button>
            <button type="button" role="tab" hidden class="brrtl:8px brrtr:8px b-onyx:1px bgc:white px:16px py:8px lg=:w:2 md-:ws:nowrap" data-module="tabs.trigger" id aria-controls tabindex aria-label="Learn more about Tab 3: Four dogs, expands/collapses a pop-up">
              Tab 3: Four dogs
            </button>
            <button type="button" role="tab" hidden class="brrtl:8px brrtr:8px b-onyx:1px bgc:white px:16px py:8px lg=:w:2 md-:ws:nowrap" data-module="tabs.trigger" id aria-controls tabindex aria-label="Learn more about Tab 4: Lorem Ipsum More Copy, expands/collapses a pop-up">
              Tab 4: Lorem Ipsum More Copy
            </button>
            <button type="button" role="tab" hidden class="brrtl:8px brrtr:8px b-onyx:1px bgc:white px:16px py:8px lg=:w:2 md-:ws:nowrap" data-module="tabs.trigger" id aria-controls tabindex aria-label="Learn more about Tab 5: Heading + Dogs, expands/collapses a pop-up">
              Tab 5: Heading + Dogs
            </button>
          </div>
        </div>
        <div data-module="tabs.panel" id aria-labelledby role="tabpanel" style="margin-top:-1px" class="b-onyx:1px bgc:white brr:8px brrtl:0 overflow:hidden">
          <div class="display:none">Tab 1: Two dogs</div>
          <div class="row">
            <div class="w:6"><img src="https://placedog.net/600/200?r" alt=""></div><div class="w:6"><img src="https://placedog.net/600/200?r" alt=""></div>
          </div>
        </div>
        <div data-module="tabs.panel" id aria-labelledby role="tabpanel" style="margin-top:-1px" class="b-onyx:1px bgc:white brr:8px brrtl:0 p:32px">
          <div class="display:none">Tab 2: Lorem Ipsum Copy</div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div data-module="tabs.panel" id aria-labelledby role="tabpanel" style="margin-top:-1px" class="b-onyx:1px bgc:white brr:8px brrtl:0 overflow:hidden">
          <div class="display:none">Tab 3: Four dogs</div>
          <div class="row">
            <div class="w:3"><img src="https://placedog.net/300/200?r" alt=""></div>
            <div class="w:3"><img src="https://placedog.net/300/200?r" alt=""></div>
            <div class="w:3"><img src="https://placedog.net/300/200?r" alt=""></div>
            <div class="w:3"><img src="https://placedog.net/300/200?r" alt=""></div>
          </div>
        </div>
        <div data-module="tabs.panel" id aria-labelledby role="tabpanel" style="margin-top:-1px" class="b-onyx:1px bgc:white brr:8px brrtl:0 p:32px">
          <div class="display:none">Tab 4: Lorem Ipsum More Copy</div>
          <p class="pb:16px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
        </div>
        <div data-module="tabs.panel" id aria-labelledby role="tabpanel" style="margin-top:-1px" class="b-onyx:1px bgc:white brr:8px brrtl:0 overflow:hidden">
          <div class="display:none">Tab 5: Heading + Dogs</div>
          <h3 class="p:32px">Heading</h3>
          <div class="row">
            <div class="w:3"><img src="https://placedog.net/300/200?r" alt=""></div><div class="w:9"><img src="https://placedog.net/900/200?r" alt=""></div>
          </div>
        </div>
      </section>

      <hr>

      <section class="mw:1200px align-self:centered py:32px sm+:px:8px xl+:px:0">
        <div role="tablist" id class="row" data-module="tabs" data-tabs-initial="[0,1,0,0]" data-tab-trigger-inactive-classes="bb-transparent:4px" data-tab-trigger-active-classes="bb-blue:4px" data-tab-panel-inactive-classes="display:none" data-tab-panel-active-classes="display:block">
          <div class="display:flex flex-flow:row-nowrap w:12 md+:align-self:centered lg+:align:center overflow:hidden pb:16px">
            <button type="button" role="tab" hidden class="p:8px ws:nowrap" data-module="tabs.trigger" id aria-controls tabindex aria-label="Learn more about Tab 1: Two dogs, expands/collapses a pop-up">
              Tab 1: Two dogs
            </button>
            <button type="button" role="tab" hidden class="p:8px ws:nowrap" data-module="tabs.trigger" id aria-controls tabindex aria-label="Learn more about Tab 2: Lorem Ipsum Copy, expands/collapses a pop-up">
              Tab 2: Lorem Ipsum Copy
            </button>
            <button type="button" role="tab" hidden class="p:8px ws:nowrap" data-module="tabs.trigger" id aria-controls tabindex aria-label="Learn more about Tab 3: Four dogs, expands/collapses a pop-up">
              Tab 3: Four dogs
            </button>
            <button type="button" role="tab" hidden class="p:8px ws:nowrap" data-module="tabs.trigger" id aria-controls tabindex aria-label="Learn more about Tab 4: Lorem Ipsum More Copy, expands/collapses a pop-up">
              Tab 4: Lorem Ipsum More Copy
            </button>
            <button type="button" role="tab" hidden class="p:8px ws:nowrap" data-module="tabs.trigger" id aria-controls tabindex aria-label="Learn more about Tab 5: Heading + Dogs, expands/collapses a pop-up">
              Tab 5: Heading + Dogs
            </button>
          </div>
        </div>
        <div data-module="tabs.panel" id aria-labelledby role="tabpanel">
          <div class="display:none">Tab 1: Two dogs</div>
          <div class="row">
            <div class="w:6"><img src="https://placedog.net/600/200?r" alt=""></div><div class="w:6"><img src="https://placedog.net/600/200?r" alt=""></div>
          </div>
        </div>
        <div data-module="tabs.panel" id aria-labelledby role="tabpanel">
          <div class="display:none">Tab 2: Lorem Ipsum Copy</div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div data-module="tabs.panel" id aria-labelledby role="tabpanel">
          <div class="display:none">Tab 3: Four dogs</div>
          <div class="row">
            <div class="w:3"><img src="https://placedog.net/300/200?r" alt=""></div>
            <div class="w:3"><img src="https://placedog.net/300/200?r" alt=""></div>
            <div class="w:3"><img src="https://placedog.net/300/200?r" alt=""></div>
            <div class="w:3"><img src="https://placedog.net/300/200?r" alt=""></div>
          </div>
        </div>
        <div data-module="tabs.panel" id aria-labelledby role="tabpanel">
          <div class="display:none">Tab 4: Lorem Ipsum More Copy</div>
          <p class="pb:16px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
        </div>
        <div data-module="tabs.panel" id aria-labelledby role="tabpanel">
          <div class="display:none">Tab 5: Heading + Dogs</div>
          <h3 class="p:32px">Heading</h3>
          <div class="row">
            <div class="w:3"><img src="https://placedog.net/300/200?r" alt=""></div><div class="w:9"><img src="https://placedog.net/900/200?r" alt=""></div>
          </div>
        </div>
      </section>

      <hr>

      <section class="mw:1200px align-self:centered py:32px sm+:px:8px xl+:px:0">
        <div role="tablist" id class="row" data-module="tabs" data-tabs-initial="[0,1,0,0]" data-tab-trigger-inactive-classes="bgc:white-smoke,color:gray" data-tab-trigger-active-classes="bgc:blue,color:white" data-tab-panel-inactive-classes="display:none" data-tab-panel-active-classes="display:block">
          <div class="row w:12 md+:align-self:centered align:center pb:16px">
            <button type="button" role="tab" hidden class="sm=:w:12 brr:8px mx:4px b-onyx:1px p:12px heebo:bold" data-module="tabs.trigger" id aria-controls tabindex aria-label="Learn more about Tab 1: Two dogs, expands/collapses a pop-up">
              Tab 1: Two dogs
            </button>
            <button type="button" role="tab" hidden class="sm=:w:12 brr:8px mx:4px b-onyx:1px p:12px heebo:bold" data-module="tabs.trigger" id aria-controls tabindex aria-label="Learn more about Tab 2: Lorem Ipsum Copy, expands/collapses a pop-up">
              Tab 2: Lorem Ipsum Copy
            </button>
          </div>
        </div>
        <div data-module="tabs.panel" id aria-labelledby role="tabpanel">
          <div class="display:none">Tab 1: Two dogs</div>
          <div class="row">
            <div class="w:6"><img src="https://placedog.net/600/200?r" alt=""></div><div class="w:6"><img src="https://placedog.net/600/200?r" alt=""></div>
          </div>
        </div>
        <div data-module="tabs.panel" id aria-labelledby role="tabpanel">
          <div class="display:none">Tab 2: Lorem Ipsum Copy</div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </section>

    </main>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.scripts.ejs`, pageData) %>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.footer.ejs`, pageData) %>