<%- include(`${process.env.PWD}/_dev/_layouts/_default.head.ejs`, pageData) %>
    <table class="w:100% bb-taupe-gray:1px br-taupe-gray:1px" id="table" tabindex="0">
      <caption class="show-for-screen-reader-only">
        A Pokémon chart indicating Pokémon and their type
      </caption>
      <thead>
        <tr class="display:flex md-:flex-flow:row-wrap">
          <th class="md-:hide lg+:show lg+:w:3">&nbsp;</th>
          <th scope="col" class="bt-taupe-gray:1px bl-taupe-gray:1px fw:bold p:32px sm+:w:4 lg+:w:3 text-align:center" style="background:#f66">
              Fire Type
          </th>
          <th scope="col" class="bt-taupe-gray:1px bl-taupe-gray:1px fw:bold p:32px sm+:w:4 lg+:w:3 text-align:center bgc:sky-blue-crayola">
              Water Type
          </th>
          <th scope="col" class="bt-taupe-gray:1px bl-taupe-gray:1px fw:bold p:32px sm+:w:4 lg+:w:3 text-align:center bgc:yellow">
              Electric Type
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="display:flex md-:flex-flow:row-wrap">
          <th scope="row" class="fw:bold sm+:p:8px lg+:p:32px sm+:w:12 lg+:w:3 bt-taupe-gray:1px bl-taupe-gray:1px bgc:gainsboro sm+:text-align:center lg+:text-align:left">
            Bulbasaur #1
          </th>
          <td class="sm+:w:4 lg+:w:3 bt-taupe-gray:1px bl-taupe-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
            &nbsp;<span class="show-for-screen-reader-only">No</span>
          </td>
          <td class="sm+:w:4 lg+:w:3 bt-taupe-gray:1px bl-taupe-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
            &nbsp;<span class="show-for-screen-reader-only">No</span>
          </td>
          <td class="sm+:w:4 lg+:w:3 bt-taupe-gray:1px bl-taupe-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
            &nbsp;<span class="show-for-screen-reader-only">No</span>
          </td>
        </tr>
        <tr class="display:flex md-:flex-flow:row-wrap">
          <th scope="row" class="fw:bold sm+:p:8px lg+:p:32px sm+:w:12 lg+:w:3 bt-taupe-gray:1px bl-taupe-gray:1px bgc:gainsboro sm+:text-align:center lg+:text-align:left">
            Charmander #4
          </th>
          <td class="sm+:w:4 lg+:w:3 bt-taupe-gray:1px bl-taupe-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
            <span aria-hidden="true">&times;</span><span class="show-for-screen-reader-only">Yes</span>
          </td>
          <td class="sm+:w:4 lg+:w:3 bt-taupe-gray:1px bl-taupe-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
            &nbsp;<span class="show-for-screen-reader-only">No</span>
          </td>
          <td class="sm+:w:4 lg+:w:3 bt-taupe-gray:1px bl-taupe-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
            &nbsp;<span class="show-for-screen-reader-only">No</span>
          </td>
        </tr>
        <tr class="display:flex md-:flex-flow:row-wrap">
          <th scope="row" class="fw:bold sm+:p:8px lg+:p:32px sm+:w:12 lg+:w:3 bt-taupe-gray:1px bl-taupe-gray:1px bgc:gainsboro sm+:text-align:center lg+:text-align:left">
            Squirtle #7
          </th>
          <td class="sm+:w:4 lg+:w:3 bt-taupe-gray:1px bl-taupe-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
            &nbsp;<span class="show-for-screen-reader-only">No</span>
          </td>
          <td class="sm+:w:4 lg+:w:3 bt-taupe-gray:1px bl-taupe-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
            <span aria-hidden="true">&times;</span><span class="show-for-screen-reader-only">Yes</span>
          </td>
          <td class="sm+:w:4 lg+:w:3 bt-taupe-gray:1px bl-taupe-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
            &nbsp;<span class="show-for-screen-reader-only">No</span>
          </td>
        </tr>
        <tr class="display:flex md-:flex-flow:row-wrap">
          <th scope="row" class="fw:bold sm+:p:8px lg+:p:32px sm+:w:12 lg+:w:3 bt-taupe-gray:1px bl-taupe-gray:1px bgc:gainsboro sm+:text-align:center lg+:text-align:left">
            Pikachu #25
          </th>
          <td class="sm+:w:4 lg+:w:3 bt-taupe-gray:1px bl-taupe-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
            &nbsp;<span class="show-for-screen-reader-only">No</span>
          </td>
          <td class="sm+:w:4 lg+:w:3 bt-taupe-gray:1px bl-taupe-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
            &nbsp;<span class="show-for-screen-reader-only">No</span>
          </td>
          <td class="sm+:w:4 lg+:w:3 bt-taupe-gray:1px bl-taupe-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
            <span aria-hidden="true">&times;</span><span class="show-for-screen-reader-only">Yes</span>
          </td>
        </tr>
        <tr class="display:flex md-:flex-flow:row-wrap">
          <th scope="row" class="fw:bold sm+:p:8px lg+:p:32px sm+:w:12 lg+:w:3 bt-taupe-gray:1px bl-taupe-gray:1px bgc:gainsboro sm+:text-align:center lg+:text-align:left">
            Volcanion #721
          </th>
          <td class="sm+:w:4 lg+:w:3 bt-taupe-gray:1px bl-taupe-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
            <span aria-hidden="true">&times;</span><span class="show-for-screen-reader-only">Yes</span>
          </td>
          <td class="sm+:w:4 lg+:w:3 bt-taupe-gray:1px bl-taupe-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
            <span aria-hidden="true">&times;</span><span class="show-for-screen-reader-only">Yes</span>
          </td>
          <td class="sm+:w:4 lg+:w:3 bt-taupe-gray:1px bl-taupe-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
            &nbsp;<span class="show-for-screen-reader-only">No</span>
          </td>
        </tr>
      </tbody>
    </table>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.scripts.ejs`, pageData) %>
    <script>
      storm_eagle.module('communicating_with_iframe_parent', () => {
        'use strict';
        let self;

        return {
          initialize: () => {
            self = storm_eagle["communicating_with_iframe_parent"];
            self.add_message_listener();
            self.send_height();
          },
          add_message_listener: () => {
            window.addEventListener('message', event => {
              self.send_height();
            });
          },
          send_height: () => {
            let height = Math.max(document.body.scrollHeight,document.body.offsetHeight);
            parent.postMessage(height, window.location.origin);
          }
        };
      })
    </script>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.footer.ejs`, pageData) %>