<%- include(`${process.env.PWD}/_dev/_layouts/_default.head.ejs`, pageData) %>
    <main class="w:100% overflow:hidden" role="main">
      <div class="mw:1280px align-self:centered sm+:px:8px xl+:px:0 pt:32px">
        <h1 class="play:bold fs:40px color:eerie-black pb:16px">Responsive Emulation</h1>
        <p class="pb:64px">Simulating responsive breakpoints without adjusting the browser/screensize. Possibly useful for a component library. The CSS used to achieve this is a modified version of the core.css used for this site/codebase.</p>

        <div data-module="responsive-emulation" id="table-1" class="pb:64px">
          <div class="form:theme:gl0b3x position:relative xl+:show">
            <div data-module="slider.input-container">
              <input data-module="slider.input" onInput="if (this.value < 320) { this.value = '320' };storm_eagle.responsive_emulation.update_container_width('table-1',this.value);" class="display:block align-self:centered w:100% slider" type="range" min="1" max="1280" steps="1" value="1280" id>
              <span data-module="slider.background"><span data-module="slider.fill"></span></span></span></span>
              <ul data-module="slider.labels" class="slider-labels text-align:center unstyle-pl:0 display:flex align:spaced w:100%"><li>1</li><li>320</li><li>640</li><li>960</li><li>1280</li></ul>
            </div>
          </div>
          <div class="w:100% b:0 emulate" data-module="responsive-emulation.container">
            <table class="w:100% bb-gray:1px br-gray:1px" tabindex="0">
              <caption class="show-for-screen-reader-only">
                A Pokémon chart indicating Pokémon and their type
              </caption>
              <thead>
                <tr class="display:flex md-:flex-flow:row-wrap">
                  <th class="md-:hide lg+:show lg+:w:3">&nbsp;</th>
                  <th scope="col" class="bt-gray:1px bl-gray:1px heebo:bold p:32px sm+:w:4 lg+:w:3 text-align:center" style="background:#f66">
                      Fire Type
                  </th>
                  <th scope="col" class="bt-gray:1px bl-gray:1px heebo:bold p:32px sm+:w:4 lg+:w:3 text-align:center bgc:vista-blue">
                      Water Type
                  </th>
                  <th scope="col" class="bt-gray:1px bl-gray:1px heebo:bold p:32px sm+:w:4 lg+:w:3 text-align:center bgc:yellow">
                      Electric Type
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="display:flex md-:flex-flow:row-wrap">
                  <th scope="row" class="heebo:bold sm+:p:8px lg+:p:32px sm+:w:12 lg+:w:3 bt-gray:1px bl-gray:1px bgc:silver sm+:text-align:center lg+:text-align:left">
                    Bulbasaur #1
                  </th>
                  <td class="sm+:w:4 lg+:w:3 bt-gray:1px bl-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                    &nbsp;<span class="show-for-screen-reader-only">No</span>
                  </td>
                  <td class="sm+:w:4 lg+:w:3 bt-gray:1px bl-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                    &nbsp;<span class="show-for-screen-reader-only">No</span>
                  </td>
                  <td class="sm+:w:4 lg+:w:3 bt-gray:1px bl-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                    &nbsp;<span class="show-for-screen-reader-only">No</span>
                  </td>
                </tr>
                <tr class="display:flex md-:flex-flow:row-wrap">
                  <th scope="row" class="heebo:bold sm+:p:8px lg+:p:32px sm+:w:12 lg+:w:3 bt-gray:1px bl-gray:1px bgc:silver sm+:text-align:center lg+:text-align:left">
                    Charmander #4
                  </th>
                  <td class="sm+:w:4 lg+:w:3 bt-gray:1px bl-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                    <span aria-hidden="true">&times;</span><span class="show-for-screen-reader-only">Yes</span>
                  </td>
                  <td class="sm+:w:4 lg+:w:3 bt-gray:1px bl-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                    &nbsp;<span class="show-for-screen-reader-only">No</span>
                  </td>
                  <td class="sm+:w:4 lg+:w:3 bt-gray:1px bl-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                    &nbsp;<span class="show-for-screen-reader-only">No</span>
                  </td>
                </tr>
                <tr class="display:flex md-:flex-flow:row-wrap">
                  <th scope="row" class="heebo:bold sm+:p:8px lg+:p:32px sm+:w:12 lg+:w:3 bt-gray:1px bl-gray:1px bgc:silver sm+:text-align:center lg+:text-align:left">
                    Squirtle #7
                  </th>
                  <td class="sm+:w:4 lg+:w:3 bt-gray:1px bl-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                    &nbsp;<span class="show-for-screen-reader-only">No</span>
                  </td>
                  <td class="sm+:w:4 lg+:w:3 bt-gray:1px bl-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                    <span aria-hidden="true">&times;</span><span class="show-for-screen-reader-only">Yes</span>
                  </td>
                  <td class="sm+:w:4 lg+:w:3 bt-gray:1px bl-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                    &nbsp;<span class="show-for-screen-reader-only">No</span>
                  </td>
                </tr>
                <tr class="display:flex md-:flex-flow:row-wrap">
                  <th scope="row" class="heebo:bold sm+:p:8px lg+:p:32px sm+:w:12 lg+:w:3 bt-gray:1px bl-gray:1px bgc:silver sm+:text-align:center lg+:text-align:left">
                    Pikachu #25
                  </th>
                  <td class="sm+:w:4 lg+:w:3 bt-gray:1px bl-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                    &nbsp;<span class="show-for-screen-reader-only">No</span>
                  </td>
                  <td class="sm+:w:4 lg+:w:3 bt-gray:1px bl-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                    &nbsp;<span class="show-for-screen-reader-only">No</span>
                  </td>
                  <td class="sm+:w:4 lg+:w:3 bt-gray:1px bl-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                    <span aria-hidden="true">&times;</span><span class="show-for-screen-reader-only">Yes</span>
                  </td>
                </tr>
                <tr class="display:flex md-:flex-flow:row-wrap">
                  <th scope="row" class="heebo:bold sm+:p:8px lg+:p:32px sm+:w:12 lg+:w:3 bt-gray:1px bl-gray:1px bgc:silver sm+:text-align:center lg+:text-align:left">
                    Volcanion #721
                  </th>
                  <td class="sm+:w:4 lg+:w:3 bt-gray:1px bl-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                    <span aria-hidden="true">&times;</span><span class="show-for-screen-reader-only">Yes</span>
                  </td>
                  <td class="sm+:w:4 lg+:w:3 bt-gray:1px bl-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                    <span aria-hidden="true">&times;</span><span class="show-for-screen-reader-only">Yes</span>
                  </td>
                  <td class="sm+:w:4 lg+:w:3 bt-gray:1px bl-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                    &nbsp;<span class="show-for-screen-reader-only">No</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div data-module="responsive-emulation" id="table-2" class="pb:64px">
          <div class="form:theme:gl0b3x position:relative xl+:show">
            <div data-module="range-slider.input-container">
              <label class="sr-only" for="range-slide-track-required-1">
                <span class="description">Slider</span>
              </label>
              <input id="range-slide-track-required-1" data-module="range-slider.input-1" onInput="if (this.value > -640) { this.value = '-640' } else {document.getElementById('range-slide-track-required-2').value = -this.value;};document.getElementById('range-slider-width').value = `${Math.abs(Math.ceil(this.value/2))}px`;storm_eagle.responsive_emulation.update_container_width('table-2',Math.abs(this.value/2));" class="align-self:centered w:100% range-slider" type="range" min="-2560" max="2560" steps="1" value="-2560" data-equalize-height="range-slider-input">
              <input id="range-slide-track-required-2" data-module="range-slider.input-2" onInput="if (this.value < 640) { this.value = '640' } else {document.getElementById('range-slide-track-required-1').value = -this.value;};document.getElementById('range-slider-width').value = `${Math.abs(Math.ceil(this.value/2))}px`;storm_eagle.responsive_emulation.update_container_width('table-2',Math.abs(this.value/2));" class="align-self:centered w:100% range-slider" type="range" min="-2560" max="2560" steps="1" value="2560">
              <span data-module="slider.background"><span data-module="slider.fill"></span></span></span></span>
              <ul data-module="slider.labels" class="position:relative text-align:center unstyle-pl:0 display:flex align:spaced w:100%">
                <li class="position:absolute cursor:pointer" onclick="document.getElementById('range-slide-track-required-1').value = '-2560';document.getElementById('range-slide-track-required-2').value = '2560';storm_eagle.responsive_emulation.update_container_width('table-2',1280);document.getElementById('range-slider-width').value = `${Math.abs(Math.ceil(2560/2))}px`;" style="left:calc(50% - 657px);">1280</li>
                <li class="position:absolute cursor:pointer" onclick="document.getElementById('range-slide-track-required-1').value = '-2048';document.getElementById('range-slide-track-required-2').value = '2048';storm_eagle.responsive_emulation.update_container_width('table-2',1024);document.getElementById('range-slider-width').value = `${Math.abs(Math.ceil(2048/2))}px`;" style="left:calc(50% - 529px);">1024</li>
                <li class="position:absolute cursor:pointer" onclick="document.getElementById('range-slide-track-required-1').value = '-1536';document.getElementById('range-slide-track-required-2').value = '1536';storm_eagle.responsive_emulation.update_container_width('table-2',768);document.getElementById('range-slider-width').value = `${Math.abs(Math.ceil(1536/2))}px`;" style="left:calc(50% - 396px);">768</li>
                <li class="position:absolute cursor:pointer" onclick="document.getElementById('range-slide-track-required-1').value = '-750';document.getElementById('range-slide-track-required-2').value = '750';storm_eagle.responsive_emulation.update_container_width('table-2',375);document.getElementById('range-slider-width').value = `${Math.abs(Math.ceil(750/2))}px`;" style="left:calc(50% - 201px);">375</li>
                <li class="position:absolute cursor:pointer" onclick="document.getElementById('range-slide-track-required-1').value = '-640';document.getElementById('range-slide-track-required-2').value = '640';storm_eagle.responsive_emulation.update_container_width('table-2',320);document.getElementById('range-slider-width').value = `${Math.abs(Math.ceil(640/2))}px`;" style="left:calc(50% - 173px);">320</li>
                <li class="position:absolute cursor:pointer" onclick="document.getElementById('range-slide-track-required-1').value = '-640';document.getElementById('range-slide-track-required-2').value = '640';storm_eagle.responsive_emulation.update_container_width('table-2',320);document.getElementById('range-slider-width').value = `${Math.abs(Math.ceil(640/2))}px`;" style="right:calc(50% - 173px);">320</li>
                <li class="position:absolute cursor:pointer" onclick="document.getElementById('range-slide-track-required-1').value = '-750';document.getElementById('range-slide-track-required-2').value = '750';storm_eagle.responsive_emulation.update_container_width('table-2',375);document.getElementById('range-slider-width').value = `${Math.abs(Math.ceil(750/2))}px`;" style="right:calc(50% - 201px);">375</li>
                <li class="position:absolute cursor:pointer" onclick="document.getElementById('range-slide-track-required-1').value = '-1536';document.getElementById('range-slide-track-required-2').value = '1536';storm_eagle.responsive_emulation.update_container_width('table-2',768);document.getElementById('range-slider-width').value = `${Math.abs(Math.ceil(1536/2))}px`;" style="right:calc(50% - 396px);">768</li>
                <li class="position:absolute cursor:pointer" onclick="document.getElementById('range-slide-track-required-1').value = '-2048';document.getElementById('range-slide-track-required-2').value = '2048';storm_eagle.responsive_emulation.update_container_width('table-2',1024);document.getElementById('range-slider-width').value = `${Math.abs(Math.ceil(2048/2))}px`;" style="right:calc(50% - 529px);">1024</li>
                <li class="position:absolute cursor:pointer" onclick="document.getElementById('range-slide-track-required-1').value = '-2560';document.getElementById('range-slide-track-required-2').value = '2560';storm_eagle.responsive_emulation.update_container_width('table-2',1280);document.getElementById('range-slider-width').value = `${Math.abs(Math.ceil(2560/2))}px`;" style="right:calc(50% - 657px);">1280</li>
                <li><input type="text" class="br:4px b-gray:1px p:4px text-align:center heebo:bold" style="width:60px;margin-top:0;height:16px" id="range-slider-width" value="1280px" disabled=""></li>
              </ul>
            </div>
          </div>
          <div class="w:100% b:0 align-self:centered emulate" data-module="responsive-emulation.container">
            <table class="w:100% bb-gray:1px br-gray:1px" tabindex="0">
              <caption class="show-for-screen-reader-only">
                A Pokémon chart indicating Pokémon and their type
              </caption>
              <thead>
                <tr class="display:flex md-:flex-flow:row-wrap">
                  <th class="md-:hide lg+:show lg+:w:3">&nbsp;</th>
                  <th scope="col" class="bt-gray:1px bl-gray:1px heebo:bold p:32px sm+:w:4 lg+:w:3 text-align:center" style="background:#f66">
                      Fire Type
                  </th>
                  <th scope="col" class="bt-gray:1px bl-gray:1px heebo:bold p:32px sm+:w:4 lg+:w:3 text-align:center bgc:vista-blue">
                      Water Type
                  </th>
                  <th scope="col" class="bt-gray:1px bl-gray:1px heebo:bold p:32px sm+:w:4 lg+:w:3 text-align:center bgc:yellow">
                      Electric Type
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="display:flex md-:flex-flow:row-wrap">
                  <th scope="row" class="heebo:bold sm+:p:8px lg+:p:32px sm+:w:12 lg+:w:3 bt-gray:1px bl-gray:1px bgc:silver sm+:text-align:center lg+:text-align:left">
                    Bulbasaur #1
                  </th>
                  <td class="sm+:w:4 lg+:w:3 bt-gray:1px bl-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                    &nbsp;<span class="show-for-screen-reader-only">No</span>
                  </td>
                  <td class="sm+:w:4 lg+:w:3 bt-gray:1px bl-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                    &nbsp;<span class="show-for-screen-reader-only">No</span>
                  </td>
                  <td class="sm+:w:4 lg+:w:3 bt-gray:1px bl-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                    &nbsp;<span class="show-for-screen-reader-only">No</span>
                  </td>
                </tr>
                <tr class="display:flex md-:flex-flow:row-wrap">
                  <th scope="row" class="heebo:bold sm+:p:8px lg+:p:32px sm+:w:12 lg+:w:3 bt-gray:1px bl-gray:1px bgc:silver sm+:text-align:center lg+:text-align:left">
                    Charmander #4
                  </th>
                  <td class="sm+:w:4 lg+:w:3 bt-gray:1px bl-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                    <span aria-hidden="true">&times;</span><span class="show-for-screen-reader-only">Yes</span>
                  </td>
                  <td class="sm+:w:4 lg+:w:3 bt-gray:1px bl-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                    &nbsp;<span class="show-for-screen-reader-only">No</span>
                  </td>
                  <td class="sm+:w:4 lg+:w:3 bt-gray:1px bl-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                    &nbsp;<span class="show-for-screen-reader-only">No</span>
                  </td>
                </tr>
                <tr class="display:flex md-:flex-flow:row-wrap">
                  <th scope="row" class="heebo:bold sm+:p:8px lg+:p:32px sm+:w:12 lg+:w:3 bt-gray:1px bl-gray:1px bgc:silver sm+:text-align:center lg+:text-align:left">
                    Squirtle #7
                  </th>
                  <td class="sm+:w:4 lg+:w:3 bt-gray:1px bl-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                    &nbsp;<span class="show-for-screen-reader-only">No</span>
                  </td>
                  <td class="sm+:w:4 lg+:w:3 bt-gray:1px bl-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                    <span aria-hidden="true">&times;</span><span class="show-for-screen-reader-only">Yes</span>
                  </td>
                  <td class="sm+:w:4 lg+:w:3 bt-gray:1px bl-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                    &nbsp;<span class="show-for-screen-reader-only">No</span>
                  </td>
                </tr>
                <tr class="display:flex md-:flex-flow:row-wrap">
                  <th scope="row" class="heebo:bold sm+:p:8px lg+:p:32px sm+:w:12 lg+:w:3 bt-gray:1px bl-gray:1px bgc:silver sm+:text-align:center lg+:text-align:left">
                    Pikachu #25
                  </th>
                  <td class="sm+:w:4 lg+:w:3 bt-gray:1px bl-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                    &nbsp;<span class="show-for-screen-reader-only">No</span>
                  </td>
                  <td class="sm+:w:4 lg+:w:3 bt-gray:1px bl-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                    &nbsp;<span class="show-for-screen-reader-only">No</span>
                  </td>
                  <td class="sm+:w:4 lg+:w:3 bt-gray:1px bl-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                    <span aria-hidden="true">&times;</span><span class="show-for-screen-reader-only">Yes</span>
                  </td>
                </tr>
                <tr class="display:flex md-:flex-flow:row-wrap">
                  <th scope="row" class="heebo:bold sm+:p:8px lg+:p:32px sm+:w:12 lg+:w:3 bt-gray:1px bl-gray:1px bgc:silver sm+:text-align:center lg+:text-align:left">
                    Volcanion #721
                  </th>
                  <td class="sm+:w:4 lg+:w:3 bt-gray:1px bl-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                    <span aria-hidden="true">&times;</span><span class="show-for-screen-reader-only">Yes</span>
                  </td>
                  <td class="sm+:w:4 lg+:w:3 bt-gray:1px bl-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                    <span aria-hidden="true">&times;</span><span class="show-for-screen-reader-only">Yes</span>
                  </td>
                  <td class="sm+:w:4 lg+:w:3 bt-gray:1px bl-gray:1px fs:32px md-:text-align:center lg+:display:flex lg+:align:middle lg+:align:center">
                    &nbsp;<span class="show-for-screen-reader-only">No</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="pb:64px"></div>

      </div>
    </main>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.scripts.ejs`, pageData) %>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.footer.ejs`, pageData) %>