<%- include(`${process.env.PWD}/_dev/_layouts/_default.head.ejs`, pageData) %>

    <header class="w:100% bgc:light-grey">
      <a href="#skip-nav" class="show-on-focus color:white" aria-label="Skip navigation">Skip navigation</a>
      <div class="bgc:ultramarine pt:16px pb:24px">
        <h1 class="display:flex play:bold fs:40px color:white align:center">Warren Shea</h1>
        <h2 class="display:flex play:bold fs:24px color:white align:center">warrenshea.github.io</h2>
        <nav class="position:absolute top:0 right:0">
          <ul class="display:flex unstyle-pl:0 pt:8px" style="flex-direction:column;">
            <li class="px:16px py:4px"><a href="https://github.com/warrenshea" target="_blank" aria-label="View Warren Shea's GitHub Page, opens an external page in a new tab"><div class="icon icon-type:brands icon-color:white icon-size:24px github"></div></a></li>
            <li class="px:16px py:4px"><a href="https://www.instagram.com/warren.shea/" target="_blank" aria-label="View Warren Shea's Instagram Page, opens an external page in a new tab"><div class="icon icon-type:brands icon-color:white icon-size:24px instagram"></div></a></li>
            <li class="px:16px py:4px"><a href="https://www.linkedin.com/in/warrenshea/" target="_blank" aria-label="View Warren Shea's LinkedIn Page, opens an external page in a new tab"><div class="icon icon-type:brands icon-color:white icon-size:24px linkedin"></div></a></li>
          </ul>
        </nav>
      </div>
      <section class="mw:1280px sm+:px:8px xl+:px:0 pt:16px align-self:centered md+:display:flex">
        <nav class="w:100%">
          <ul class="row sm+:w:12 md+:w:8 unstyle-pl:0 align:center">
            <li class="w:4 px:16px display:flex align:center"><a class="anchor:primary" href="javascript:document.getElementById('projects-code-examples').scrollIntoView();">Projects and Code Examples</a></li>
            <li class="w:4 px:16px display:flex align:center"><a class="anchor:primary" href="javascript:document.getElementById('general-notes').scrollIntoView();">General Notes</a></li>
            <li class="w:4 px:16px display:flex align:center"><a class="anchor:primary" href="javascript:document.getElementById('book-course-notes').scrollIntoView();">Book + Course Notes</a></li>
          </ul>
        </nav>
      </section>
      <span id="skip-nav" class="show-for-screen-reader-only">Navigation Skipped</a>
    </header>
    <main class="w:100% bgc:light-grey" role="main">

<!--
      <section class="mw:1280px align-self:centered sm+:px:8px xl+:px:0 pb:48px">
        <h2 class="fs:32px play:bold sm+:pl:8px xl+:pl:40px pt:48px pb:16px opacity:0%" id="projects-code-examples">About Me</h2>
      </section>
 -->

      <section class="mw:1280px align-self:centered sm+:px:8px xl+:px:0 pb:48px">
        <h2 class="fs:32px play:bold sm+:pl:8px xl+:pl:40px pt:48px pb:16px opacity:0%" id="projects-code-examples">Projects and Code Examples</h2>
        <ul class="row unstyle sm+:pl:0 xl+:px:32px">
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
              <div class="heading position:relative opacity:0% title-html-css-js">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Glitch</em></h3>
              </div>
              <div class="description-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="description">
                <div class="pb:16px"><p>This Bookmarklet keytool application runs various page checks and functions. Cannot mend tears.</p></div>
                <div><a class="anchor:primary" href="javascript: (function() {var _i = function(s, data_id, cb) {var sc = document.createElement('script');sc.setAttribute('data-id', data_id);sc.onload = function() {sc.onload = null;sc.onreadystatechange = null;cb.call(this);};sc.onreadystatechange = function() {if (/^(complete|loaded)$/.test(this.readyState) === true) {sc.onreadystatechange = null;sc.onload();}};sc.src = s;if (document.head) { document.head.appendChild(sc); } else { document.getElementsByTagName('head')[0].appendChild(sc); }};glitch = undefined;var bookmarklet_nodes_to_delete = document.querySelectorAll('[data-id=\'glitch\'], [data-id=\'bookmarklet-css\'], [data-id=\'html-validation\']');bookmarklet_nodes_to_delete.forEach((node) => {node.remove();});_i('https://warrenshea.github.io/glitch/app.js', 'glitch', function() {});})();" aria-label="Opens Glitch Bookmarklet App">Open Bookmarklet</a></div>
                <div>Code: <a class="anchor:primary" href="https://github.com/warrenshea/glitch/blob/master/_dev/app.css" target="_blank">CSS</a> / <a class="anchor:primary" href="https://github.com/warrenshea/glitch/blob/master/_dev/app.js" target="_blank">JS</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
              <div class="heading position:relative opacity:0% title-html-css-js">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Icon Library</em></h3>
              </div>
              <div class="description-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="description">
                <div class="pb:16px"><p>This small application is used to help find Font Awesome 5 icons</p></div>
                <div><a class="anchor:primary" href="/examples/font-awesome-5-icon-library/" target="_blank" aria-label="View an example of the Font Awesome 5 Icon Library">Icon Library</a></div>
                <div>Code: <a class="anchor:primary" href="https://github.com/warrenshea/warrenshea.github.io-dev/blob/master/_dev/examples/font-awesome-5-icon-library/index.ejs" target="_blank">HTML / CSS / JS</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
              <div class="heading position:relative opacity:0% title-js">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>JavaScript Design Pattern: Revealing Module</em></h3>
              </div>
              <div class="description-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="description">
                <div class="pb:16px"><p>An example implementation of a JavaScript Design Pattern: The Revealing Module Pattern.</p></div>
                <div><a class="anchor:primary" href="https://codepen.io/warrenshea/pen/mExbdd" target="_blank">Open CodePen</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
              <div class="heading position:relative opacity:0% title-harpjs">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>HarpJS</em></h3>
              </div>
              <div class="description-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="description">
                <div class="pb:16px">My static site generator/set up of choice before the current SPA frameworks.</div>
                <div><a class="anchor:primary" href="https://github.com/warrenshea/boilerplate-harpjs-gulp-browsersync/" target="_blank" aria-label="Review HarpJS Boilerplate code, opens in a new tab">HarpJS v0.34.0 / Gulp v4 / Node v12</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
              <div class="heading position:relative opacity:0% title-js">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Calendar Event Builder</em></h3>
              </div>
              <div class="description-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="description">
                <div class="pb:16px"><p>Using a form, helps build a Google Calendar Event, an iCalendar Event, an Outlook Event, and a Yahoo Event</p></div>
                <div><a class="anchor:primary" href="/examples/calendar-event-builder/" target="_blank">Example</a></div>
                <div>Code: <a class="anchor:primary" href="https://github.com/warrenshea/warrenshea.github.io-dev/blob/master/_dev/scripts/module.calendar-event-builder.js" target="_blank">JavaScript</a></div>
              </div>
            </div>
          </li>
<!--           <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
              <div class="heading position:relative opacity:0% title-react">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Custom Dropdown</em></h3>
              </div>
              <div class="description-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="description">


              </div>
            </div>
          </li> -->
        </ul>
      </section>

      <section class="mw:1280px align-self:centered sm+:px:8px xl+:px:0 pb:16px">
        <div class="xl+:bgc:ultramarine md+:br:16px xl+:box-shadow:custom-4 xl+:py:32px">
          <h2 class="xl+:color:white fs:32px play:bold sm+:pl:8px xl+:pl:40px pb:16px" id="zero-system">ZERO System - A Website Builder</h2>
          <p class="xl+:color:white fs:16px lh:24 sm+:px:8px xl+:px:40px pb:32px">This project is a culimination of all the skills I've learned from a Front-end perspective. I've built a number of components as consistently, performant, and accessible as possible, keeping in mind the goal is always to move this to a CMS based system that should allow any non-technical user to build webpages.</p>
          <ul class="row unstyle sm+:pl:0 xl+:px:32px">
            <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
              <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
                <div class="heading position:relative opacity:0% title-html-css-js">
                  <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>ZERO System</em></h3>
                </div>
                <div class="description-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="description">
                  <div class="fw:bold">* Password Protected</div>
                  <div><a class="anchor:primary" href="http://zero-system.poc.warrenshea.com/" target="_blank" aria-label="">zero-system.poc.warrenshea.com</a>*</div>
                  <div><a class="anchor:primary" href="http://zero-system.poc.warrenshea.com/cms/" target="_blank" aria-label="">Content Management System</a>*</div>
                  <div><a class="anchor:primary" href="http://zero-system.poc.warrenshea.com/api/" target="_blank" aria-label="">API</a>*</div>
                  <div><a class="anchor:primary" href="http://zero-system.poc.warrenshea.com/codebase/chill-penguin/component-library/" target="_blank" aria-label="">Component Library</a>*</div>
                  <div><a class="anchor:primary" href="http://zero-system.poc.warrenshea.com/codebase/chill-penguin/style-guide/" target="_blank" aria-label="">Styleguide</a>*</div>
                </div>
              </div>
            </li>
            <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
              <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
                <div class="heading position:relative opacity:0% title-css">
                  <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>core.css</em></h3>
                </div>
                <div class="description-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="description">
                  <div class="pb:16px"><p>This CSS (SASS) framework is built under the Zero System framework, and invented by me.</p></div>
                  <div><a class="anchor:primary" href="https://github.com/warrenshea/warrenshea.github.io-dev/blob/master/_dev/stylesheets/core.scss" target="_blank" aria-label="View the core.scss (source) code">Code (source)</a></div>
                  <div><a class="anchor:primary" href="https://github.com/warrenshea/warrenshea.github.io/blob/master/stylesheets/core.css" target="_blank" aria-label="View the core.css (compiled) code">Code (compiled)</a></div>
                </div>
              </div>
            </li>
            <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
              <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
                <div class="heading position:relative opacity:0% title-js">
                  <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>core.js</em></h3>
                </div>
                <div class="description-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="description">
                  <div class="pb:16px"><p>This Revealing Module JavaScript Design Pattern, namespaced storm_eagle, is the foundation of the Zero System framework.</p></div>
                  <div><a class="anchor:primary" href="https://github.com/warrenshea/warrenshea.github.io-dev/blob/master/_dev/scripts/core.js" target="_blank" aria-label="View the core.js (source) code">Code (source)</a></div>
                  <div><a class="anchor:primary" href="https://github.com/warrenshea/warrenshea.github.io/blob/master/scripts/core.js" target="_blank" aria-label="View the core.js (compiled) code">Code (compiled)</a></div>
                </div>
              </div>
            </li>
            <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
              <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
                <div class="heading position:relative opacity:0% title-js">
                  <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Form Validation</em></h3>
                </div>
                <div class="description-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="description">
                  <div class="pb:16px">Form input examples and validation. 0 WCAG 2.0 A and AA errors.</div>
                  <div><a class="anchor:primary" href="/examples/form-validation/" target="_blank">Example</a></div>
                  <div>Code: <a class="anchor:primary" href="https://github.com/warrenshea/warrenshea.github.io-dev/blob/master/_dev/scripts/module.form-validation.js" target="_blank">JavaScript</a></div>
                </div>
              </div>
            </li>
            <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
              <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
                <div class="heading position:relative opacity:0% title-js">
                  <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Height Equalizer</em></h3>
                </div>
                <div class="description-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="description">
                  <div class="pb:16px"><p>A height equalizer function.</p></div>
                  <div><a class="anchor:primary" href="/examples/height-equalizer/" target="_blank" aria-label="View an example of the height equalizer code and code in action">Example and code</a></div>
                </div>
              </div>
            </li>
            <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
              <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
                <div class="heading position:relative opacity:0% title-js">
                  <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Responsive DOM Manipulator</em></h3>
                </div>
                <div class="description-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="description">
                  <div class="pb:16px"><p>A way of moving DOM elements around at responsive breakpoints for a11y/tabbing order</p></div>
                  <div><a class="anchor:primary" href="/examples/responsive-dom-manipulator/" target="_blank" aria-label="View an example of the responsive dom manipulator">Example and code</a></div>
                </div>
              </div>
            </li>

            <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
              <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
                <div class="heading position:relative opacity:0% title-js">
                  <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Cross window communication</em></h3>
                </div>
                <div class="description-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="description">
                  <div class="pb:16px"><p>Send messages between a window and its popup.</p></div>
                  <div><a class="anchor:primary" href="/examples/communicating-windows/" target="_blank" aria-label="View an example of the communicating code between a window and another window">Example and code</a></div>
                  <div>Code: <a class="anchor:primary" href="https://github.com/warrenshea/warrenshea.github.io-dev/blob/master/_dev/examples/communicating-windows/index.ejs" target="_blank">Container HTML & JS</a> / <a class="anchor:primary" href="https://github.com/warrenshea/warrenshea.github.io-dev/blob/master/_dev/examples/communicating-windows/child/index.ejs" target="_blank">Child HTML & JS</a></div>
                </div>
              </div>
            </li>
            <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
              <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
                <div class="heading position:relative opacity:0% title-js">
                  <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>iframe communication</em></h3>
                </div>
                <div class="description-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="description">
                  <div class="pb:16px"><p>Send messages between a window and its embedded iframe.</p></div>
                  <div><a class="anchor:primary" href="/examples/communicating-iframe/" target="_blank" aria-label="View an example of the communicating code between a window and its embedded iframe">Example</a></div>
                  <div>Code: <a class="anchor:primary" href="https://github.com/warrenshea/warrenshea.github.io-dev/blob/master/_dev/examples/communicating-iframe/index.ejs" target="_blank">Container HTML & JS</a> / <a class="anchor:primary" href="https://github.com/warrenshea/warrenshea.github.io-dev/blob/master/_dev/examples/communicating-iframe/inner-content/index.ejs" target="_blank">Inner HTML & JS</a></div>
                </div>
              </div>
            </li>
            <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
              <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
                <div class="heading position:relative opacity:0% title-html-css-js">
                  <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Sticky Aside</em></h3>
                </div>
                <div class="description-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="description">
                  <div class="pb:16px"><p>An example of a container div sticky/fixed to part of the page as the user scrolls. Uses Waypoints.</p></div>
                  <div><a class="anchor:primary" href="/examples/sticky-aside/" target="_blank">Example</a></div>
                  <div>Code: <a class="anchor:primary" href="https://github.com/warrenshea/warrenshea.github.io-dev/blob/master/_dev/examples/sticky-aside/index.ejs" target="_blank">HTML</a></div>
                </div>
              </div>
            </li>
            <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
              <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
                <div class="heading position:relative opacity:0% title-html">
                  <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Responsive 2D table</em></h3>
                </div>
                <div class="description-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="description">
                  <div class="pb:16px"><p>Built with Flexbox.</p></div>
                  <div><a class="anchor:primary" href="/examples/responsive-2d-table/" target="_blank">Example</a></div>
                  <div>Code: <a class="anchor:primary" href="https://github.com/warrenshea/warrenshea.github.io-dev/blob/master/_dev/examples/responsive-2d-table/index.ejs" target="_blank">HTML</a></div>
                </div>
              </div>
            </li>
            <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
              <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
                <div class="heading position:relative opacity:0% title-html-js">
                  <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Show more</em></h3>
                </div>
                <div class="description-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="description">
                  <div class="pb:16px"><p>Hide part of a container, only to be displayed with a show more link.</p></div>
                  <div><a class="anchor:primary" href="/examples/show-more/" target="_blank">Example</a></div>
                  <div>Code: <a class="anchor:primary" href="https://github.com/warrenshea/warrenshea.github.io-dev/blob/master/_dev/examples/show-more/index.ejs" target="_blank">HTML</a> / <a class="anchor:primary" href="https://github.com/warrenshea/warrenshea.github.io-dev/blob/master/_dev/scripts/module.show-more.js" target="_blank">JavaScript</a></div>
                </div>
              </div>
            </li>
            <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
              <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
                <div class="heading position:relative opacity:0% title-html-js">
                  <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Autocomplete</em></h3>
                </div>
                <div class="description-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="description">
                  <div class="pb:16px"><p>An example of an accessible autocomplete form and dropdown.</p></div>
                  <div><a class="anchor:primary" href="/examples/autocomplete/" target="_blank">Example</a></div>
                  <div>Code: <a class="anchor:primary" href="https://github.com/warrenshea/warrenshea.github.io-dev/blob/master/_dev/examples/autocomplete/index.ejs" target="_blank">HTML</a> / <a class="anchor:primary" href="https://github.com/warrenshea/warrenshea.github.io-dev/blob/master/_dev/scripts/module.autocomplete.js" target="_blank">JavaScript</a></div>
                </div>
              </div>
            </li>
            <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
              <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
                <div class="heading position:relative opacity:0% title-html-css-js">
                  <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Carousel</em></h3>
                </div>
                <div class="description-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="description">
                  <div class="pb:16px"><p>A mix of various responsive carousels and a Carousel Builder.</p></div>
                  <div><a class="anchor:primary" href="/examples/carousel/" target="_blank">Example</a></div>
                  <div>Code: <a class="anchor:primary" href="https://github.com/warrenshea/warrenshea.github.io-dev/blob/master/_dev/examples/carousel/index.ejs" target="_blank">HTML</a> / <a class="anchor:primary" href="https://github.com/warrenshea/warrenshea.github.io-dev/blob/master/_dev/stylesheets/_global/_module.carousel.scss" target="_blank">SASS</a> / <a class="anchor:primary" href="https://github.com/warrenshea/warrenshea.github.io-dev/blob/master/_dev/scripts/module.carousel.js" target="_blank">JavaScript</a></div>
                </div>
              </div>
            </li>
<!--             <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
              <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
                <div class="heading position:relative opacity:0% title-html-js">
                  <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Accordion</em></h3>
                </div>
                <div class="description-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="description">
                  <div class="pb:16px"><p>In progress</p></div>
                  <div><a class="anchor:primary" href="/examples/accordion/" target="_blank">Example</a></div>
                  <div>Code: <a class="anchor:primary" href="https://github.com/warrenshea/warrenshea.github.io-dev/blob/master/_dev/examples/accordion/index.ejs" target="_blank">HTML</a> / <a class="anchor:primary" href="https://github.com/warrenshea/warrenshea.github.io-dev/blob/master/_dev/scripts/module.accordion.js" target="_blank">JavaScript</a></div>
                </div>
              </div>
            </li> -->
            <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
              <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
                <div class="heading position:relative opacity:0% title-html-css-js">
                  <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Popover</em></h3>
                </div>
                <div class="description-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="description">
                  <div class="pb:16px"><p>A custom built dialog/modal component.</em></p></div>
                  <div><a class="anchor:primary" href="/examples/popover/" target="_blank">Example</a></div>
                  <div>Code: <a class="anchor:primary" href="https://github.com/warrenshea/warrenshea.github.io-dev/blob/master/_dev/examples/popover/index.ejs" target="_blank">HTML</a> / <a class="anchor:primary" href="https://github.com/warrenshea/warrenshea.github.io-dev/blob/master/_dev/stylesheets/_global/_module.popover.scss" target="_blank">SASS</a> / <a class="anchor:primary" href="https://github.com/warrenshea/warrenshea.github.io-dev/blob/master/_dev/scripts/module.popover.js" target="_blank">JavaScript</a></div>
                </div>
              </div>
            </li>
            <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
              <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
                <div class="heading position:relative opacity:0% title-html-css-js">
                  <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Modal</em></h3>
                </div>
                <div class="description-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="description">
                  <div class="pb:16px"><p>A custom built dialog/modal component.</em></p></div>
                  <div><a class="anchor:primary" href="/examples/modal/" target="_blank">Example</a></div>
                  <div>Code: <a class="anchor:primary" href="https://github.com/warrenshea/warrenshea.github.io-dev/blob/master/_dev/examples/modal/index.ejs" target="_blank">HTML</a> / <a class="anchor:primary" href="https://github.com/warrenshea/warrenshea.github.io-dev/blob/master/_dev/stylesheets/_global/_module.modal.scss" target="_blank">SASS</a> / <a class="anchor:primary" href="https://github.com/warrenshea/warrenshea.github.io-dev/blob/master/_dev/scripts/module.modal.js" target="_blank">JavaScript</a></div>
                </div>
              </div>
            </li>
            <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
              <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
                <div class="heading position:relative opacity:0% title-html-css">
                  <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>HTML5 &lt;dialog&gt;</em></h3>
                </div>
                <div class="description-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="description">
                  <div class="pb:16px"><p>An attempt to use the new HTML5 Dialog element.</em></p></div>
                  <div><a class="anchor:primary" href="/examples/dialog/" target="_blank">Example</a></div>
                  <div>Code: <a class="anchor:primary" href="https://github.com/warrenshea/warrenshea.github.io-dev/blob/master/_dev/examples/dialog/index.ejs" target="_blank">HTML</a> / <a class="anchor:primary" href="https://github.com/warrenshea/warrenshea.github.io-dev/blob/master/_dev/stylesheets/_global/_module.dialog.scss" target="_blank">SASS</a></div>
                </div>
              </div>
            </li>
            <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
              <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
                <div class="heading position:relative opacity:0% title-html-js">
                  <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Waypoint</em></h3>
                </div>
                <div class="description-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="description">
                  <div class="pb:16px"><p>Various examples of using Waypoint library.</em></p></div>
                  <div><a class="anchor:primary" href="/examples/waypoint/" target="_blank">Example</a></div>
                  <div>Code: <a class="anchor:primary" href="https://github.com/warrenshea/warrenshea.github.io-dev/blob/master/_dev/examples/waypoint/index.ejs" target="_blank">HTML</a> / <a class="anchor:primary" href="https://github.com/warrenshea/warrenshea.github.io-dev/blob/master/_dev/scripts/module.waypoint.js" target="_blank">JavaScript</a></div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>

      <section class="mw:1280px align-self:centered sm+:px:8px xl+:px:0 pb:16px">
        <h2 class="fs:32px play:bold sm+:pl:8px xl+:pl:40px pt:48px pb:16px opacity:0%" id="general-notes">General Notes</h2>
        <ul class="row unstyle sm+:pl:0 xl+:px:32px">
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
              <div class="heading position:relative opacity:0% title-html">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0 display:flex align:middle"><em class="display:flex align:middle">HTML <span class="display:inline-flex align-items:center ml:4px icon icon-type:brands icon-color:white icon-size:24px html5"></span></em></h3>
              </div>
              <div class="description-notes-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="general-description">
                <div><a class="anchor:primary" href="/notes/dev.html.html" target="_blank" aria-label="Review Warren's H T M L Notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
              <div class="heading position:relative opacity:0% title-css">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em class="display:flex align:middle">CSS <span class="display:inline-flex align-items:center ml:4px icon icon-type:brands icon-color:white icon-size:24px css3-alt"></span></em></h3>
              </div>
              <div class="description-notes-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="general-description">
                <div><a class="anchor:primary" href="/notes/dev.css.html" target="_blank" aria-label="Review Warren's C S S Notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
              <div class="heading position:relative opacity:0% title-js">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em class="display:flex align:middle">JavaScript <span class="display:inline-flex align-self:center ml:4px icon icon-type:brands icon-color:white icon-size:24px js"></span></em></h3>
              </div>
              <div class="description-notes-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="general-description">
                <div><a class="anchor:primary" href="/notes/dev.javascript.html" target="_blank" aria-label="Review Warren's JavaScript and Typescript Notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
              <div class="heading position:relative opacity:0% title-react">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em class="display:flex align:middle">React <span class="display:inline-flex align-items:center ml:8px mr:4px icon icon-type:brands icon-color:white icon-size:24px react"></span> (and NextJS)</em></h3>
              </div>
              <div class="description-notes-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="general-description">
                <div><a class="anchor:primary" href="/notes/dev.react.html" target="_blank" aria-label="Review Warren's React and NextJS Notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
              <div class="heading position:relative opacity:0% title-a11y">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em class="display:flex align:middle">Accessibility <span class="display:inline-flex align-items:center ml:8px icon icon-type:solid icon-color:white icon-size:24px universal-access"></span></em></em></h3>
              </div>
              <div class="description-notes-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="general-description">
                <div><a class="anchor:primary" href="/notes/dev.a11y.html" target="_blank" aria-label="Review Warren's Accessibility Notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
              <div class="heading position:relative opacity:0% title-performance">
                <h3 class="fs:24px play:normal color:black p:8px pr:24px lh:28 position:absolute bottom:0"><em>Performance</em></h3>
              </div>
              <div class="description-notes-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="general-description">
                <div><a class="anchor:primary" href="/notes/dev.performance.html" target="_blank" aria-label="Review Warren's Performance Notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
              <div class="heading position:relative opacity:0% title-personal-brand">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Personal Brand + NPS</em></h3>
              </div>
              <div class="description-notes-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="general-description">
                <div><a class="anchor:primary" href="/notes/general.personal-brand.html" target="_blank" aria-label="Review Warren's Personal Brand Notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
              <div class="heading position:relative opacity:0% title-management">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Management</em></h3>
              </div>
              <div class="description-notes-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="general-description">
                <div><a class="anchor:primary" href="/notes/general.management.html" target="_blank" aria-label="Review Warren's Management Notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
              <div class="heading position:relative opacity:0% title-command-prompt">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em class="display:flex align:middle">Terminal <span class="display:inline-flex align-items:center ml:8px icon icon-type:solid icon-color:white icon-size:24px terminal"></span></em></h3>
              </div>
              <div class="description-notes-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="general-description">
                <div><a class="anchor:primary" href="/notes/general.terminal.html" target="_blank" aria-label="Review Warren's command prompt and terminal Notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
              <div class="heading position:relative opacity:0% title-python">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em class="display:flex align:middle">Python <span class="display:inline-flex align-items:center ml:8px icon icon-type:brands icon-color:white icon-size:24px python"></span></em></h3>
              </div>
              <div class="description-notes-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="general-description">
                <div><a class="anchor:primary" href="/notes/dev.python.html" target="_blank" aria-label="Review Warren's Python Notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
              <div class="heading position:relative opacity:0% title-node">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em class="display:flex align:middle">Node <span class="display:inline-flex align-items:center ml:8px icon icon-type:brands icon-color:white icon-size:24px node-js"></span></em></h3>
              </div>
              <div class="description-notes-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="general-description">
                <div><a class="anchor:primary" href="/notes/dev.node.html" target="_blank" aria-label="Review Warren's Node Notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
              <div class="heading position:relative opacity:0% title-php">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em class="display:flex align:middle">PHP <span class="display:inline-flex align-items:center ml:8px icon icon-type:brands icon-color:white icon-size:24px php"></span></em></h3>
              </div>
              <div class="description-notes-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="general-description">
                <div><a class="anchor:primary" href="/notes/dev.php.html" target="_blank" aria-label="Review Warren's PHP Notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
              <div class="heading position:relative opacity:0% title-seo">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em><abbr title="Search Engine Optimization"><span class="title-google-1">S</span><span class="title-google-2">E</span><span class="title-google-3">O</span></abbr></em></h3>
              </div>
              <div class="description-notes-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="general-description">
                <div><a class="anchor:primary" href="/notes/dev.seo.html" target="_blank" aria-label="Review Warren's S E O Notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
              <div class="heading position:relative opacity:0% title-regex">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Regex</em></h3>
              </div>
              <div class="description-notes-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="general-description">
                <div><a class="anchor:primary" href="/notes/dev.regex.html" target="_blank" aria-label="Review Warren's Regex Notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
              <div class="heading position:relative opacity:0% title-sql">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em class="display:flex align:middle">SQL <span class="display:inline-flex align-items:center ml:4px icon icon-type:solid icon-color:white icon-size:24px database"></span></em></h3>
              </div>
              <div class="description-notes-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="general-description">
                <div><a class="anchor:primary" href="/notes/dev.sql.html" target="_blank" aria-label="Review Warren's S Q L Sequel Notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
              <div class="heading position:relative opacity:0% title-git">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em class="display:flex align:middle">git <span class="display:inline-flex align-items:center ml:8px icon icon-type:brands icon-color:white icon-size:24px git-alt"></span></em></h3>
              </div>
              <div class="description-notes-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="general-description">
                <div><a class="anchor:primary" href="/notes/dev.git.html" target="_blank" aria-label="Review Warren's git Notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
              <div class="heading position:relative opacity:0% title-sublime">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Sublime Text Notes</em></h3>
              </div>
              <div class="description-notes-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="general-description">
                <div><a class="anchor:primary" href="/notes/general.sublime-text.html" target="_blank" aria-label="Review Warren's Sublime Text notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
              <div class="heading position:relative opacity:0% title-excel">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em class="display:flex align:middle">Excel <span class="display:inline-flex align-items:center ml:8px icon icon-type:solid icon-color:white icon-size:24px database"></span></em></h3>
              </div>
              <div class="description-notes-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="general-description">
                <div><a class="anchor:primary" href="/notes/general.excel.html" target="_blank" aria-label="Review Warren's Excel notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
        </ul>
      </section>

      <section class="mw:1280px align-self:centered sm+:px:8px xl+:px:0 pb:16px">
        <h2 class="fs:32px play:bold sm+:pl:8px xl+:pl:40px pt:48px pb:16px opacity:0%" id="book-course-notes">Book + Course Notes</h2>
        <ul class="row unstyle sm+:pl:0 xl+:px:32px">
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
              <div class="heading position:relative opacity:0% title-beginner-javascript">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Beginner Javascript</em></h3>
              </div>
              <div class="description-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="description">
                <div class="pb:16px"><em>by <a href="https://beginnerjavascript.com/" target="_blank" aria-label="Learn more about Beginner JavaScript by Wes Bos, opens in a new tab">Wes Bos</a></em></div>
                <div>In Progress Jan 2023</div>
                <div><a class="anchor:primary" href="/notes/dev.beginner-javascript.online-course.html" target="_blank" aria-label="Review Beginner JavaScript notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
              <div class="heading position:relative opacity:0% title-learn-node">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Learn Node</em></h3>
              </div>
              <div class="description-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="description">
                <div class="pb:16px"><em>by <a href="https://learnnode.com/" target="_blank" aria-label="Learn more about NodeJS by Wes Bos, opens in a new tab">Wes Bos</a></em></div>
                <div>Completed Jan 2023</div>
                <div><a class="anchor:primary" href="/notes/dev.learn-node.online-course.html" target="_blank" aria-label="Review Learn Node notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
              <div class="heading position:relative opacity:0% title-css-grid">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>CSS Grid</em></h3>
              </div>
              <div class="description-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="description">
                <div class="pb:16px"><em>by <a href="https://cssgrid.io/" target="_blank" aria-label="Learn more about CSS Grid by Wes Bos, opens in a new tab">Wes Bos</a></em></div>
                <div>Completed Dec 2022</div>
                <div><a class="anchor:primary" href="/notes/dev.css-grid.online-course.html" target="_blank" aria-label="Review CSS Grid notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
              <div class="heading position:relative opacity:0% title-flexbox">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>What The Flexbox?</em></h3>
              </div>
              <div class="description-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="description">
                <div class="pb:16px"><em>by <a href="https://flexbox.io/" target="_blank" aria-label="Learn more about What The Flexbox? by Wes Bos, opens in a new tab">Wes Bos</a></em></div>
                <div>Completed Dec 2022</div>
                <div><a class="anchor:primary" href="/notes/dev.what-the-flexbox.online-course.html" target="_blank" aria-label="Review What The Flexbox? notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
              <div class="heading position:relative opacity:0% title-react">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em class="display:flex align:middle">Advanced React <span class="display:inline-flex align-items:center ml:8px icon icon-type:brands icon-color:white icon-size:24px react"></span></em></h3>
              </div>
              <div class="description-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="description">
                <div class="pb:16px"><em>by <a href="https://advancedreact.com/" target="_blank" aria-label="Learn more about Advanced React by Wes Bos, opens in a new tab">Wes Bos</a></em></div>
                <div>Completed up to Module 6 July 2022</div>
                <div><a class="anchor:primary" href="/notes/dev.advanced-react.online-course.html" target="_blank" aria-label="Review Advanced React notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
              <div class="heading position:relative opacity:0% title-react">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em class="display:flex align:middle">React for Beginners <span class="display:inline-flex align-items:center ml:8px icon icon-type:brands icon-color:white icon-size:24px react"></span></em></h3>
              </div>
              <div class="description-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="description">
                <div class="pb:16px"><em>by <a href="https://reactforbeginners.com/" target="_blank" aria-label="Learn more about React for Beginners by Wes Bos, opens in a new tab">Wes Bos</a></em></div>
                <div>Completed June 2022 v2 & Jan 2018 v1</div>
                <div><a class="anchor:primary" href="/notes/dev.react-for-beginners.online-course.html" target="_blank" aria-label="Review React for Beginners notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
              <div class="heading position:relative opacity:0% title-design-systems-handbook">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Design Systems Handbook</em></h3>
              </div>
              <div class="description-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="description">
                <div class="pb:16px"><em>by Invision</em></div>
                <div>Completed Jul 2021</div>
                <div><a class="anchor:primary" href="/notes/book.design-systems-handbook.html" target="_blank" aria-label="Review Design Systems Handbook notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
              <div class="heading position:relative opacity:0% title-udacity">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Web Accessibility</em></h3>
              </div>
              <div class="description-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="description">
                <div class="pb:16px"><em>by <a href="https://www.udacity.com/course/web-accessibility--ud891" target="_blank" aria-label="Learn more about Google's Web Accessibility course on Udacity, opens in a new tab">Google (on Udacity)</a></em></div>
                <div>Completed Jul 2020</div>
                <div><a class="anchor:primary" href="/notes/dev.web-a11y-udacity.online-course.html" target="_blank" aria-label="Review Google's Web Accessibility course on notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
              <div class="heading position:relative opacity:0% title-ryerson">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Web Accessibility for Developers</em></h3>
              </div>
              <div class="description-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="description">
                <div class="pb:16px"><em>by <a href="https://de.ryerson.ca/wa/advanced/" target="_blank" aria-label="Learn more about Ryerson University's Web Accessibility for Developers course, opens in a new tab">Ryerson University: The Chang School of Continuing Education</a></em></div>
                <div>Completed Oct 2018</div>
                <div><a href="https://github.com/warrenshea/learnaria" target="_blank" aria-label="Review my course's source code, opens in a new tab">GitHub Code</a></div>
                <div><a href="/learnaria/" target="_blank" aria-label="Review the compiled course code, opens in a new tab">Compiled Code Components</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
              <div class="heading position:relative opacity:0% title-react">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Winter 2018 Full Stack Masterclass</em></h3>
              </div>
              <div class="description-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="description">
                <div class="pb:16px"><em>by <a href="https://junocollege.com/" target="_blank" aria-label="Learn more about courses that Juno College has to offer, opens in a new tab">Juno College (formerly HackerYou)</a></em></div>
                <div>Completed Mar 2018</div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
              <div class="heading position:relative opacity:0% title-es6">
                <h3 class="fs:24px play:normal color:black p:8px pr:16px lh:28 position:absolute bottom:0"><em class="display:flex align:middle">ES6 for Everyone <span class="display:inline-flex align-self:center ml:4px icon icon-type:brands icon-color:black icon-size:24px js"></span></em></h3>
              </div>
              <div class="description-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="description">
                <div class="pb:16px"><em>by <a href="https://es6.io/" target="_blank" aria-label="Learn more about ES6 for Everyone by Wes Bos, opens in a new tab">Wes Bos</a></em></div>
                <div>Completed Dec 2017</div>
                <div><a class="anchor:primary" href="/notes/dev.es6-for-everyone.online-course.html" target="_blank" aria-label="Review ES6 for Everyone notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
              <div class="heading position:relative opacity:0% title-markdown">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Mastering Markdown</em></h3>
              </div>
              <div class="description-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="description">
                <div class="pb:16px"><em>by <a href="https://masteringmarkdown.com/" target="_blank" aria-label="Learn more about Mastering Markdown by Wes Bos, opens in a new tab">Wes Bos</a></em></div>
                <div>Completed Dec 2017</div>
                <div><a class="anchor:primary" href="/notes/dev.mastering-markdown.online-course.html" target="_blank" aria-label="Review Mastering Markdown notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
              <div class="heading position:relative opacity:0% title-sublime">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Sublime Text Power User</em></h3>
              </div>
              <div class="description-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="description">
                <div class="pb:16px"><em>by <a href="https://sublimetextbook.com/" target="_blank" aria-label="Learn more about Sublime Text Power User by Wes Bos, opens in a new tab">Wes Bos</a></em></div>
                <div>Completed Dec 2017</div>
                <div><a class="anchor:primary" href="/notes/dev.sublime-text.book.html" target="_blank" aria-label="Review Sublime Text Power User notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
              <div class="heading position:relative opacity:0% title-js-design-patterns">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>JavaScript Design Patterns</em></h3>
              </div>
              <div class="description-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="description">
                <div><em>by Addy Osmani</em></div>
                <div><a class="anchor:primary" href="/notes/book.javascript-design-patterns.html" target="_blank" aria-label="Review JavaScript Design Patterns notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
              <div class="heading position:relative opacity:0% title-power-of-habit">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>The Power of Habit</em></h3>
              </div>
              <div class="description-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="description">
                <div class="pb:16px"><em>by <a href="https://en.wikipedia.org/wiki/The_Power_of_Habit" target="_blank" aria-label="Learn more about The Power of Habit by Charles Duhigg, opens in a new tab">Charles Duhigg</a></em></div>
                <div>Completed Nov 2016</div>
                <div><a class="anchor:primary" href="/notes/book.the-power-of-habit.html" target="_blank" aria-label="Review The Power of Habit notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
              <div class="heading position:relative opacity:0% title-magic-of-tidying-up">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>The Life-Changing Magic of Tidying Up</em></h3>
              </div>
              <div class="description-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="description">
                <div class="pb:16px"><em>by <a href="https://en.wikipedia.org/wiki/Marie_Kondo" target="_blank" aria-label="Learn more about The Life-Changing Magic of Tidying Up by Marie Kondo, opens in a new tab">Marie Kondo</a></em></div>
                <div>Completed Nov 2016</div>
                <div><a class="anchor:primary" href="/notes/book.the-life-changing-magic-of-tidying-up.html" target="_blank" aria-label="Review The Life Changing Magic of Tidying Up notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
              <div class="heading position:relative opacity:0% title-design-of-everyday-things">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>The Design of Everyday Things</em></h3>
              </div>
              <div class="description-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="description">
                <div class="pb:16px"><em>by <a href="https://en.wikipedia.org/wiki/The_Design_of_Everyday_Things" target="_blank" aria-label="Learn more about The Design of Everyday Things by Donald Norman, opens in a new tab">Donald Norman</a></em></div>
                <div>Completed Jun 2015</div>
                <div><a class="anchor:primary" href="/notes/book.design-of-everyday-things.html" target="_blank" aria-label="Review The Design of Everyday Things notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
              <div class="heading position:relative opacity:0% title-smashing-magazine">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Smashing Magazine Book #2</em></h3>
              </div>
              <div><div class="description-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="description">
                <div>Completed Apr 2013</div>
                <div><a class="anchor:primary" href="/notes/dev.smashing-magazine-book-2.html" target="_blank" aria-label="Review Smashing Magazine Book number two notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
              <div class="heading position:relative opacity:0% title-smashing-magazine">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Smashing Magazine Book #1</em></h3>
              </div>
              <div class="description-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="description">
                <div>Completed Apr 2013</div>
                <div><a class="anchor:primary" href="/notes/dev.smashing-magazine-book-1.html" target="_blank" aria-label="Review Smashing Magazine Book number one notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
              <div class="heading position:relative opacity:0% title-eric-meyer-on-css">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Eric Meyer on CSS</em></h3>
              </div>
              <div class="description-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="description">
                <div class="pb:16px"><em>by Eric Meyer</em></div>
                <div>Completed Jan 2011</div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px pb:16px opacity:0%">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden box-shadow:custom-4">
              <div class="heading position:relative opacity:0% title-css-mastery">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>CSS Mastery</em></h3>
              </div>
              <div class="description-line p:8px pb:16px lh:24 opacity:0%" data-equalize-height="description">
                <div class="pb:16px"><em>by <a href="https://www.apress.com/gp/book/9781430223979" target="_blank" aria-label="Learn more about Andy Budd's CSS Mastery book, opens in a new tab">Andy Budd</a></em></div>
                <div>Completed Jan 2011</div>
                <div><a class="anchor:primary" href="/notes/dev.css-mastery.html" target="_blank" aria-label="Review CSS Mastery notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
        </ul>
      </section>

<!--   -->
    </main>

<%- include(`${process.env.PWD}/_dev/_layouts/_default.scripts.ejs`, pageData) %>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.footer.ejs`, pageData) %>