<%- include(`${process.env.PWD}/_dev/_layouts/_default.head.ejs`, pageData) %>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.header.ejs`, pageData) %>

    <style>
      .js { background: linear-gradient(105deg, #e5a32b 0, #e5a32b 93%, #e6c61d 93%, #e6c61d 100%); }
      .html { background: linear-gradient(105deg, #e45028 0, #e45028 93%, #f1662b 93%, #f1662b 100%); }
      .css { background: linear-gradient(105deg, #0873b9 0, #0873b9 93%, #28a9e0 93%, #28a9e0 100%); }
      .angular { background: linear-gradient(105deg, #b92933 0, #b92933 93%, #e62a39 93%, #e62a39 100%); }
      .react { background: linear-gradient(105deg, #222222 0, #222222 93%, #61dafb 93%, #61dafb 100%); }
      .harpjs { background: linear-gradient(105deg, #6b919e 0, #6b919e 93%, #81586c 93%, #81586c 100%); }
      .python { background: linear-gradient(105deg, #306998 0, #306998 93%, #ffd43b 93%, #ffd43b 100%); }
      .sql { background: linear-gradient(105deg, #2687cf 0, #2687cf 93%, #b8d432 93%, #b8d432 100%); }
      .regex { background: linear-gradient(105deg, #2a007c 0, #2a007c 93%, #fd5900 93%, #fd5900 100%); }
      .markdown { background: linear-gradient(105deg, #606870 0, #606870 93%, #dddddd 93%, #dddddd 100%); }
      .sublime { background: linear-gradient(105deg, #4b4b4b 0, #4b4b4b 93%, #ff9800 93%, #ff9800 100%); }
      .git { background: linear-gradient(105deg, #f54d27 0, #f54d27 93%, #efefe7 93%, #efefe7 100%); }
      .power-of-habit { background: linear-gradient(105deg, #c52641 0, #c52641 93%, #f8e838 93%, #f8e838 100%); }
      .magic-of-tidying-up { background: linear-gradient(105deg, #40b7b6 0, #40b7b6 93%, #a61407 93%, #a61407 100%); }
      .design-of-everyday-things { background: linear-gradient(105deg, #91301f 0, #91301f 93%, #fedf13 93%, #fedf13 100%); }




    </style>

    <div class="w:100% bgc:granite">
      <section class="mw:1200px align-self:centered">
        <h1 class="play:bold fs:28px color:white">Warren Shea - warrenshea.github.io</h1>
      </section>

      <section class="mw:1280px align-self:centered sm+:px:8px xl+:px:0">
        <h2 class="fs:28px play:bold sm+:pl:8px xl+:pl:40px pt:32px pb:8px color:white">Code examples</h2>
        <ul class="row unstyle-pl:0">
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:40px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative js" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:16px lh:28 position:absolute bottom:0"><em>Height Equalizer</em></h3>
              </div>
              <div class="p:8px" data-equalize-height="description">
                <p>A height equalizer function.</p>
              </div>
              <div class="p:8px" data-equalize-height="links">
                <a href="/examples/height-equalize/" target="_blank">See the example</a>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:40px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative js" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:16px lh:28 position:absolute bottom:0"><em>Form Validation</em></h3>
              </div>
              <div class="p:8px" data-equalize-height="description">
                <p>A simple form validation.</p>
                <p>0 WCAG 2.0 A and AA errors.</p>
              </div>
              <div class="p:8px" data-equalize-height="links">
                <a href="/examples/form-validation/" target="_blank">See the example</a>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:40px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative js" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:16px lh:28 position:absolute bottom:0"><em>Sticky Navigation</em></h3>
              </div>
              <div class="p:8px" data-equalize-height="description">
                <p>A simple sticky navigation.</p>
                <p>0 WCAG 2.0 A and AA errors.</p>
              </div>
              <div class="p:8px" data-equalize-height="links">
                <a href="/examples/sticky-navigation-flex-table/" target="_blank">See the example</a>
              </div>
          </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:40px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative js" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:16px lh:28 position:absolute bottom:0"><em>Carousel</em></h3>
              </div>
              <div class="p:8px" data-equalize-height="description">
                <p>A mix of carousels.</p>
                <p>0 WCAG 2.0 A and AA errors.</p>
              </div>
              <div class="p:8px" data-equalize-height="links">
                <a href="/examples/carousel/" target="_blank">See the example</a>
              </div>
          </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:40px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative js" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:16px lh:28 position:absolute bottom:0"><em>JavaScript Design Pattern</em></h3>
              </div>
              <div class="p:8px" data-equalize-height="description">
                <p>An example of a JavaScript framework structure.</p>
                <p>Allows modules to be namespaced with simple initialize and document.ready() functions.</p>
              </div>
              <div class="p:8px" data-equalize-height="links">
                <a href="/https://codepen.io/warrenshea/pen/mExbdd" target="_blank">See the code on CodePen</a>
              </div>
          </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:40px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative js" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:16px lh:28 position:absolute bottom:0"><em>JavaScript Design Pattern</em></h3>
              </div>
              <div class="p:8px" data-equalize-height="description">
                <p>An example of a JavaScript framework structure.</p>
                <p>Allows modules to be namespaced and extended.</p>
              </div>
              <div class="p:8px" data-equalize-height="links">

              </div>
            </div>
          </li>
        </ul>
      </section>

      <section class="mw:1280px align-self:centered sm+:px:8px xl+:px:0">
        <h2 class="fs:28px play:bold sm+:pl:8px xl+:pl:40px pt:32px pb:8px color:white">ZERO System - A Webpage Builder</h2>
        <ul class="row unstyle-pl:0">
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:40px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative css" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:16px lh:28 position:absolute bottom:0"><em>core.css</em></h3>
              </div>
              <div class="p:8px" data-equalize-height="description">
              </div>
              <div class="p:8px" data-equalize-height="links">

              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:40px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative js" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:16px lh:28 position:absolute bottom:0"><em>core.js</em></h3>
              </div>
              <div class="p:8px" data-equalize-height="description">
              </div>
              <div class="p:8px" data-equalize-height="links">

              </div>
            </div>
          </li>
        </ul>
      </section>

      <section class="mw:1280px align-self:centered sm+:px:8px xl+:px:0">
        <h2 class="fs:28px play:bold sm+:pl:8px xl+:pl:40px pt:32px pb:8px color:white">Boilerplates</h2>
        <ul class="row unstyle-pl:0">
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:40px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative harpjs" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:16px lh:28 position:absolute bottom:0"><em>TBD: HarpJS</em></h3>
              </div>
              <div class="p:8px" data-equalize-height="description">
              </div>
              <div class="p:8px" data-equalize-height="links">

              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:40px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative react" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:16px lh:28 position:absolute bottom:0"><em>TBD: React</em></h3>
              </div>
              <div class="p:8px" data-equalize-height="description">
              </div>
              <div class="p:8px" data-equalize-height="links">

              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:40px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative angular" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:16px lh:28 position:absolute bottom:0"><em>TBD: Angular</em></h3>
              </div>
              <div class="p:8px" data-equalize-height="description">
              </div>
              <div class="p:8px" data-equalize-height="links">

              </div>
            </div>
          </li>
        </ul>
      </section>

      <section class="mw:1280px align-self:centered sm+:px:8px xl+:px:0">
        <h2 class="fs:28px play:bold sm+:pl:8px xl+:pl:40px pt:32px pb:8px color:white">General Notes</h2>
        <ul class="row unstyle-pl:0">
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:40px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative html" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:16px lh:28 position:absolute bottom:0"><em>HTML</em></h3>
              </div>

              <div class="p:8px" data-equalize-height="description">
              </div>
              <div class="p:8px" data-equalize-height="links">
                <a href="/notes/dev.html.html">/notes/dev.html.html</a>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:40px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative css" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:16px lh:28 position:absolute bottom:0"><em>CSS</em></h3>
              </div>

              <div class="p:8px" data-equalize-height="description">
              </div>
              <div class="p:8px" data-equalize-height="links">
                <a href="/notes/dev.css.html">/notes/dev.css.html</a>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:40px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative js" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:16px lh:28 position:absolute bottom:0"><em>JavaScript</em></h3>
              </div>

              <div class="p:8px" data-equalize-height="description">
              </div>
              <div class="p:8px" data-equalize-height="links">
                <a href="/notes/dev.javascript.html">/notes/dev.javascript.html</a>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:40px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative python" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:16px lh:28 position:absolute bottom:0"><em>Python</em></h3>
              </div>

              <div class="p:8px" data-equalize-height="description">
              </div>
              <div class="p:8px" data-equalize-height="links">
                <a href="/notes/dev.python.html">/notes/dev.python.html</a>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:40px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative regex" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:16px lh:28 position:absolute bottom:0"><em>Regex</em></h3>
              </div>

              <div class="p:8px" data-equalize-height="description">
              </div>
              <div class="p:8px" data-equalize-height="links">
                <a href="/notes/dev.regex.html">/notes/dev.regex.html</a>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:40px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative sql" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:16px lh:28 position:absolute bottom:0"><em>SQL</em></h3>
              </div>

              <div class="p:8px" data-equalize-height="description">
              </div>
              <div class="p:8px" data-equalize-height="links">
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:40px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative git" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:16px lh:28 position:absolute bottom:0"><em>git</em></h3>
              </div>

              <div class="p:8px" data-equalize-height="description">
              </div>
              <div class="p:8px" data-equalize-height="links">
                <a href="/notes/dev.git.html">/notes/dev.git.html</a>
              </div>
            </div>
          </li>
        </ul>
      </section>

      <section class="mw:1280px align-self:centered sm+:px:8px xl+:px:0">
        <h2 class="fs:28px play:bold sm+:pl:8px xl+:pl:40px pt:32px pb:8px color:white">Course Notes</h2>
        <ul class="row unstyle-pl:0">
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:40px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative js" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:16px lh:28 position:absolute bottom:0"><em>ES6 for Everyone</em></h3>
              </div>

              <div class="p:8px" data-equalize-height="description">
                <em>by Wes Bos</em>
              </div>
              <div class="p:8px" data-equalize-height="links">
                <a href="/notes/dev.es6-for-everyone.online-course.html">/notes/dev.es6-for-everyone.online-course.html</a>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:40px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative markdown" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:16px lh:28 position:absolute bottom:0"><em>Mastering Markdown</em></h3>
              </div>

              <div class="p:8px" data-equalize-height="description">
                <em>by Wes Bos</em>
              </div>
              <div class="p:8px" data-equalize-height="links">
                <a href="/notes/dev.mastering-markdown.online-course.html">/notes/dev.mastering-markdown.online-course.html</a>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:40px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative react" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:16px lh:28 position:absolute bottom:0"><em>React for Beginners</em></h3>
              </div>

              <div class="p:8px" data-equalize-height="description">
                <em>by Wes Bos</em>
              </div>
              <div class="p:8px" data-equalize-height="links">
                <a href="/notes/dev.react-for-beginners.online-course.html">/notes/dev.react-for-beginners.online-course.html</a>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:40px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative sublime" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:16px lh:28 position:absolute bottom:0"><em>Sublime Text Power User</em></h3>
              </div>

              <div class="p:8px" data-equalize-height="description">
              </div>
              <div class="p:8px" data-equalize-height="links">
                <a href="/notes/dev.sublime-text.book.html">/notes/dev.sublime-text.book.html</a>
              </div>
            </div>
          </li>
        </ul>
      </section>

      <section class="mw:1280px align-self:centered sm+:px:8px xl+:px:0">
        <h2 class="fs:28px play:bold sm+:pl:8px xl+:pl:40px pt:32px pb:8px color:white">Books</h2>
        <ul class="row unstyle-pl:0">
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:40px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative power-of-habit" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:16px lh:28 position:absolute bottom:0"><em>The Power of Habit</em></h3>
              </div>

              <div class="p:8px" data-equalize-height="description">
                <em>by Charles Duhigg</em>
              </div>
              <div class="p:8px" data-equalize-height="links">
                <a href="/notes/book.the-power-of-habit.html">/notes/book.the-power-of-habit.html</a>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:40px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative magic-of-tidying-up" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:16px lh:28 position:absolute bottom:0"><em>The Life-Changing Magic of Tidying Up</em></h3>
              </div>

              <div class="p:8px" data-equalize-height="description">
                <em>by Marie Kondo</em>
              </div>
              <div class="p:8px" data-equalize-height="links">
                <a href="/notes/book.the-power-of-habit.html">/notes/book.magic-of-tidying-up.html</a>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:40px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative design-of-everyday-things" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:16px lh:28 position:absolute bottom:0"><em>The Design of Everyday Things</em></h3>
              </div>

              <div class="p:8px" data-equalize-height="description">
                <em>by Donald Norman</em>
              </div>
              <div class="p:8px" data-equalize-height="links">
                <a href="/notes/book.the-power-of-habit.html">/notes/book.design-of-everyday-things.html</a>
              </div>
            </div>
          </li>
        </ul>
      </section>

      <section class="mw:1280px align-self:centered sm+:px:8px xl+:px:0">
        <h2 class="fs:28px play:bold sm+:pl:8px xl+:pl:40px pt:32px pb:8px color:white">Tools</h2>
        <ul class="row unstyle-pl:0">
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:40px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative js" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:16px lh:28 position:absolute bottom:0"><em>Add to Calendar</em></h3>
              </div>

              <div class="p:8px" data-equalize-height="description">
              </div>
              <div class="p:8px" data-equalize-height="links">
                <a href="/examples/add-to-calendar/" target="_blank">See the example</a>
              </div>
            </div>
          </li>
        </ul>

      </section>
    </div>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.footer.ejs`, pageData) %>