<%- include(`${process.env.PWD}/_dev/_layouts/_default.head.ejs`, pageData) %>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.header.ejs`, pageData) %>

    <style>
      .js { background: linear-gradient(105deg, #e5a32b 0, #e5a32b 93%, #e6c61d 93.5%, #e6c61d 100%); }
      .html { background: linear-gradient(105deg, #e45028 0, #e45028 93%, #f1662b 93.5%, #f1662b 100%); }
      .css { background: linear-gradient(105deg, #0873b9 0, #0873b9 93%, #28a9e0 93.5%, #28a9e0 100%); }
      .angular { background: linear-gradient(105deg, #b92933 0, #b92933 93%, #e62a39 93.5%, #e62a39 100%); }
      .react { background: linear-gradient(105deg, #222222 0, #222222 93%, #61dafb 93.5%, #61dafb 100%); }
      .harpjs { background: linear-gradient(105deg, #6b919e 0, #6b919e 93%, #81586c 93.5%, #81586c 100%); }
      .python { background: linear-gradient(105deg, #306998 0, #306998 93%, #ffd43b 93.5%, #ffd43b 100%); }
      .sql { background: linear-gradient(105deg, #2687cf 0, #2687cf 93%, #b8d432 93.5%, #b8d432 100%); }
      .regex { background: linear-gradient(105deg, #2a007c 0, #2a007c 93%, #fd5900 93.5%, #fd5900 100%); }
      .markdown { background: linear-gradient(105deg, #606870 0, #606870 93%, #dddddd 93.5%, #dddddd 100%); }
      .sublime { background: linear-gradient(105deg, #4b4b4b 0, #4b4b4b 93%, #ff9800 93.5%, #ff9800 100%); }
      .es6 { background: linear-gradient(105deg, #f6d854 0, #f6d854 93%, #323230 93.5%, #323230 100%); }
      .git { background: linear-gradient(105deg, #f54d27 0, #f54d27 93%, #efefe7 93.5%, #efefe7 100%); }
      .a11y { background: linear-gradient(105deg, #000000 0, #000000 93%, #ffffff 93.5%, #ffffff 100%); }
      .power-of-habit { background: linear-gradient(105deg, #c52641 0, #c52641 93%, #f8e838 93.5%, #f8e838 100%); }
      .magic-of-tidying-up { background: linear-gradient(105deg, #40b7b6 0, #40b7b6 93%, #a61407 93.5%, #a61407 100%); }
      .design-of-everyday-things { background: linear-gradient(105deg, #91301f 0, #91301f 93%, #fedf13 93.5%, #fedf13 100%); }
      .smashing-magazine { background: linear-gradient(105deg, #d33a2c 0, #d33a2c 93%, #ffffff 93.5%, #ffffff 100%); }
      .css-mastery { background: linear-gradient(105deg, #006b33 0, #006b33 93%, #f9ea53 93.5%, #f9ea53 100%); }
      .eric-meyer-on-css { background: linear-gradient(105deg, #045da2 0, #045da2 93%, #a04d6f 93.5%, #a04d6f 100%); }
      .javascript-design-patterns { background: linear-gradient(105deg, #00a8a8 0, #00a8a8 93%, #ffffff 93.5%, #ffffff 100%); }
      .udacity { background: linear-gradient(105deg, #017a9b 0, #017a9b 93%, #02b3e4 93.5%, #02b3e4 100%); }
      .ryerson { background: linear-gradient(105deg, #004c9b 0, #004c9b 93%, #ffdc00 93.5%, #ffdc00 100%); }
      .command-prompt{ background: linear-gradient(105deg, #000000 0, #000000 93%, #ffffff 93.5%, #ffffff 100%); }
      .personal-brand { background: linear-gradient(105deg, #000000 0, #000000 93%, #ffffff 93.5%, #ffffff 100%); }
      .management { background: linear-gradient(105deg, #000000 0, #000000 93%, #ffffff 93.5%, #ffffff 100%); }
    </style>

    <div class="w:100% bgc:granite">
      <section class="mw:1200px align-self:centered">
        <h1 class="play:bold fs:28px color:white">Warren Shea - warrenshea.github.io</h1>
      </section>

      <section class="mw:1280px align-self:centered sm+:px:8px xl+:px:0">
        <h2 class="fs:28px play:bold sm+:pl:8px xl+:pl:40px pt:32px pb:8px color:white">Code examples</h2>
        <ul class="row unstyle sm+:pl:0 xl+:px:24px">
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:16px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative js" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Form Validation</em></h3>
              </div>
              <div class="p:8px lh:24" data-equalize-height="description">
                <p>A simple form validation.</p>
                <div><p>0 WCAG 2.0 A and AA errors.</p></div>
                <div><a href="/examples/form-validation/" target="_blank">See the example</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:16px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative js" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Sticky Navigation</em></h3>
              </div>
              <div class="p:8px lh:24" data-equalize-height="description">
                <p>A simple sticky navigation.</p>
                <div><p>0 WCAG 2.0 A and AA errors.</p></div>
                <div><a href="/examples/sticky-navigation-flex-table/" target="_blank">See the example</a></div>
              </div>
          </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:16px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative js" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Carousel</em></h3>
              </div>
              <div class="p:8px lh:24" data-equalize-height="description">
                <p>A mix of carousels.</p>
                <div><p>0 WCAG 2.0 A and AA errors.</p></div>
                <div><a href="/examples/carousel/" target="_blank">See the example</a></div>
              </div>
          </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:16px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative js" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>JavaScript Design Pattern</em></h3>
              </div>
              <div class="p:8px lh:24" data-equalize-height="description">
                <p>An example of a JavaScript framework structure.</p>
                <div><p>Allows modules to be namespaced with simple initialize and document.ready() functions.</p></div>
                <div><a href="/https://codepen.io/warrenshea/pen/mExbdd" target="_blank">See the code on CodePen</a></div>
              </div>
          </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:16px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative js" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>JavaScript Design Pattern</em></h3>
              </div>
              <div class="p:8px lh:24" data-equalize-height="description">
                <p>An example of a JavaScript framework structure.</p>
                <div><p>Allows modules to be namespaced and extended.</p></div>

              </div>
            </div>
          </li>
        </ul>
      </section>

      <section class="mw:1280px align-self:centered sm+:px:8px xl+:px:0">
        <h2 class="fs:28px play:bold sm+:pl:8px xl+:pl:40px pt:32px pb:8px color:white">ZERO System - A Webpage Builder</h2>
        <ul class="row unstyle sm+:pl:0 xl+:px:24px">
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:16px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative css" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>core.css</em></h3>
              </div>
              <div class="p:8px lh:24" data-equalize-height="description">

              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:16px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative js" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>core.js</em></h3>
              </div>
              <div class="p:8px lh:24" data-equalize-height="description">

              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:16px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative js" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Height Equalizer</em></h3>
              </div>
              <div class="p:8px lh:24" data-equalize-height="description">
                <div><p>A height equalizer function.</p></div>
                <div><a href="/examples/height-equalize/" target="_blank" aria-label="View an example of the code and code in action">Example and code</a></div>
              </div>
            </div>
          </li>
        </ul>
      </section>

      <section class="mw:1280px align-self:centered sm+:px:8px xl+:px:0">
        <h2 class="fs:28px play:bold sm+:pl:8px xl+:pl:40px pt:32px pb:8px color:white">Boilerplates</h2>
        <ul class="row unstyle sm+:pl:0 xl+:px:24px">
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:16px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative harpjs" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>HarpJS</em></h3>
              </div>
              <div class="p:8px lh:24" data-equalize-height="description">
                <div><a href="https://github.com/warrenshea/boilerplate-harpjs-gulp-browsersync/" target="_blank" aria-label="Review HarpJS Boilerplate code, opens in a new tab">HarpJS | Gulp 4</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:16px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative react" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>TBD: React</em></h3>
              </div>
              <div class="p:8px lh:24" data-equalize-height="description">

              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:16px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative angular" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>TBD: Angular</em></h3>
              </div>
              <div class="p:8px lh:24" data-equalize-height="description">

              </div>
            </div>
          </li>
        </ul>
      </section>

      <section class="mw:1280px align-self:centered sm+:px:8px xl+:px:0">
        <h2 class="fs:28px play:bold sm+:pl:8px xl+:pl:40px pt:32px pb:8px color:white">General Notes</h2>
        <ul class="row unstyle sm+:pl:0 xl+:px:24px">
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:16px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative html" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>HTML</em></h3>
              </div>
              <div class="p:8px lh:24" data-equalize-height="general-description">
                <div class="pb:16px"><a href="/notes/dev.html.html" target="_blank" aria-label="Review Warren's H T M L Notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:16px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative css" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>CSS (and Sass)</em></h3>
              </div>
              <div class="p:8px lh:24" data-equalize-height="general-description">
                <div class="pb:16px"><a href="/notes/dev.css.html" target="_blank" aria-label="Review Warren's C S S Notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:16px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative js" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>JavaScript</em></h3>
              </div>
              <div class="p:8px lh:24" data-equalize-height="general-description">
                <div class="pb:16px"><a href="/notes/dev.javascript.html" target="_blank" aria-label="Review Warren's JavaScript Notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:16px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative react" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>React</em></h3>
              </div>
              <div class="p:8px lh:24" data-equalize-height="general-description">
                <div class="pb:16px"><a href="/notes/dev.react.html" target="_blank" aria-label="Review Warren's React Notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:16px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative a11y" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>a11y</em></h3>
              </div>
              <div class="p:8px lh:24" data-equalize-height="general-description">
                <div class="pb:16px"><a href="/notes/dev.a11y.html" target="_blank" aria-label="Review Warren's Accessibility Notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:16px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative python" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Python</em></h3>
              </div>
              <div class="p:8px lh:24" data-equalize-height="general-description">
                <div class="pb:16px"><a href="/notes/dev.python.html" target="_blank" aria-label="Review Warren's Python Notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:16px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative regex" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Regex</em></h3>
              </div>
              <div class="p:8px lh:24" data-equalize-height="general-description">
                <div class="pb:16px"><a href="/notes/dev.regex.html" target="_blank" aria-label="Review Warren's Regex Notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:16px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative sql" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>SQL</em></h3>
              </div>
              <div class="p:8px lh:24" data-equalize-height="general-description">
                <div class="pb:16px"><a href="/notes/dev.sql.html" target="_blank" aria-label="Review Warren's sequel Notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:16px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative git" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>git</em></h3>
              </div>
              <div class="p:8px lh:24" data-equalize-height="general-description">
                <div class="pb:16px"><a href="/notes/dev.git.html" target="_blank" aria-label="Review Warren's git Notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:16px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative command-prompt" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Command Prompt / Terminal</em></h3>
              </div>
              <div class="p:8px lh:24" data-equalize-height="general-description">
                <div class="pb:16px"><a href="/notes/general.terminal.html" target="_blank" aria-label="Review Warren's command prompt and terminal Notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:16px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative personal-brand" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Personal Brand + NPS</em></h3>
              </div>
              <div class="p:8px lh:24" data-equalize-height="general-description">
                <div class="pb:16px"><a href="/notes/general.personal-brand.html" target="_blank" aria-label="Review Warren's Personal Brand Notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:16px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative management" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Management</em></h3>
              </div>
              <div class="p:8px lh:24" data-equalize-height="general-description">
                <div class="pb:16px"><a href="/notes/general.management.html" target="_blank" aria-label="Review Warren's Management Notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
        </ul>
      </section>

      <section class="mw:1280px align-self:centered sm+:px:8px xl+:px:0">
        <h2 class="fs:28px play:bold sm+:pl:8px xl+:pl:40px pt:32px pb:8px color:white">Book + Course Notes</h2>
        <ul class="row unstyle sm+:pl:0 xl+:px:24px">
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:16px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative udacity" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Web Accessibility</em></h3>
              </div>
              <div class="p:8px lh:24" data-equalize-height="description">
                <div class="pb:16px"><em>by <a href="https://www.udacity.com/course/web-accessibility--ud891" target="_blank" aria-label="Learn more about Google's Web Accessibility course on Udacity, opens in a new tab">Google, on Udacity</a></em></div>
                <div>Completed Jul 2020</div>
                <div><a href="/notes/dev.web-a11y-udacity.online-course.html" target="_blank" aria-label="Review Google's Web Accessibility course on notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:16px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative ryerson" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Web Accessibility for Developers</em></h3>
              </div>
              <div class="p:8px lh:24" data-equalize-height="description">
                <div class="pb:16px"><em>by <a href="https://de.ryerson.ca/wa/advanced/" target="_blank" aria-label="Learn more about Ryerson University's Web Accessibility for Developers course, opens in a new tab">Ryerson University: The Chang School of Continuing Education</a></em></div>
                <div>Completed Oct 2018</div>
                <div><a href="https://github.com/warrenshea/learnaria" target="_blank" aria-label="Review my course's source code, opens in a new tab">GitHub Code</a></div>
                <div><a href="/learnaria/" target="_blank" aria-label="Review the compiled course code, opens in a new tab">Compiled Code Components</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:16px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative react" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Winter 2018 Full Stack Masterclass</em></h3>
              </div>
              <div class="p:8px lh:24" data-equalize-height="description">
                <div class="pb:16px"><em>by <a href="https://junocollege.com/" target="_blank" aria-label="Learn more about courses that Juno College has to offer, opens in a new tab">Juno College (formerly HackerYou)</a></em></div>
                <div>Completed Mar 2018</div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:16px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative react" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>React for Beginners</em></h3>
              </div>
              <div class="p:8px lh:24" data-equalize-height="description">
                <div class="pb:16px"><em>by <a href="https://reactforbeginners.com/" target="_blank" aria-label="Learn more about React for Beginners by Wes Bos, opens in a new tab">Wes Bos</a></em></div>
                <div>Completed Jan 2018</div>
                <div><a href="/notes/dev.react-for-beginners.online-course.html" target="_blank" aria-label="Review React for Beginners notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:16px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative es6" style="height:70px;">
                <h3 class="fs:24px play:normal color:black p:8px pr:16px lh:28 position:absolute bottom:0"><em>ES6 for Everyone</em></h3>
              </div>
              <div class="p:8px lh:24" data-equalize-height="description">
                <div class="pb:16px"><em>by <a href="https://es6.io/" target="_blank" aria-label="Learn more about ES6 for Everyone by Wes Bos, opens in a new tab">Wes Bos</a></em></div>
                <div>Completed Dec 2017</div>
                <div><a href="/notes/dev.es6-for-everyone.online-course.html" target="_blank" aria-label="Review ES6 for Everyone notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:16px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative markdown" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Mastering Markdown</em></h3>
              </div>
              <div class="p:8px lh:24" data-equalize-height="description">
                <div class="pb:16px"><em>by <a href="https://masteringmarkdown.com/" target="_blank" aria-label="Learn more about Mastering Markdown by Wes Bos, opens in a new tab">Wes Bos</a></em></div>
                <div>Completed Dec 2017</div>
                <div><a href="/notes/dev.mastering-markdown.online-course.html" target="_blank" aria-label="Review Mastering Markdown notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:16px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative sublime" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Sublime Text Power User</em></h3>
              </div>
              <div class="p:8px lh:24" data-equalize-height="description">
                <div class="pb:16px"><em>by <a href="https://sublimetextbook.com/" target="_blank" aria-label="Learn more about Sublime Text Power User by Wes Bos, opens in a new tab">Wes Bos</a></em></div>
                <div>Completed Dec 2017</div>
                <div><a href="/notes/dev.sublime-text.book.html" target="_blank" aria-label="Review Sublime Text Power User notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:16px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative javascript-design-patterns" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>JavaScript Design Patterns</em></h3>
              </div>
              <div class="p:8px lh:24" data-equalize-height="description">
                <div><em>by Addy Osmani</em></div>
                <div><a href="/notes/book.javascript-design-patterns.html" target="_blank" aria-label="Review JavaScript Design Patterns notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:16px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative power-of-habit" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>The Power of Habit</em></h3>
              </div>
              <div class="p:8px lh:24" data-equalize-height="description">
                <div class="pb:16px"><em>by <a href="https://en.wikipedia.org/wiki/The_Power_of_Habit" target="_blank" aria-label="Learn more about The Power of Habit by Charles Duhigg, opens in a new tab">Charles Duhigg</a></em></div>
                <div>Completed Nov 2016</div>
                <div><a href="/notes/book.the-power-of-habit.html" target="_blank" aria-label="Review The Power of Habit notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:16px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative magic-of-tidying-up" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>The Life-Changing Magic of Tidying Up</em></h3>
              </div>
              <div class="p:8px lh:24" data-equalize-height="description">
                <div class="pb:16px"><em>by <a href="https://en.wikipedia.org/wiki/Marie_Kondo" target="_blank" aria-label="Learn more about The Life-Changing Magic of Tidying Up by Marie Kondo, opens in a new tab">Marie Kondo</a></em></div>
                <div>Completed Nov 2016</div>
                <div><a href="/notes/book.the-life-changing-magic-of-tidying-up.html" target="_blank" aria-label="Review The Life Changing Magic of Tidying Up notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:16px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative design-of-everyday-things" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>The Design of Everyday Things</em></h3>
              </div>
              <div class="p:8px lh:24" data-equalize-height="description">
                <div class="pb:16px"><em>by <a href="https://en.wikipedia.org/wiki/The_Design_of_Everyday_Things" target="_blank" aria-label="Learn more about The Design of Everyday Things by Donald Norman, opens in a new tab">Donald Norman</a></em></div>
                <div>Completed Jun 2015</div>
                <div><a href="/notes/book.design-of-everyday-things.html" target="_blank" aria-label="Review The Design of Everyday Things notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:16px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative smashing-magazine" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>The Smashing Magazine Book #2</em></h3>
              </div>
              <div><div class="p:8px lh:24" data-equalize-height="description">
                <div>Completed Apr 2013</div>
                <div><a href="/notes/dev.smashing-magazine-book-2.html" target="_blank" aria-label="Review Smashing Magazine Book number two notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:16px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative smashing-magazine" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>The Smashing Magazine Book #1</em></h3>
              </div>
              <div class="p:8px lh:24" data-equalize-height="description">
                <div>Completed Apr 2013</div>
                <div><a href="/notes/dev.smashing-magazine-book-1.html" target="_blank" aria-label="Review Smashing Magazine Book number one notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:16px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative eric-meyer-on-css" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Eric Meyer on CSS</em></h3>
              </div>
              <div class="p:8px lh:24" data-equalize-height="description">
                <div class="pb:16px"><em>by Eric Meyer</em></div>
                <div>Completed Jan 2011</div>
              </div>
            </div>
          </li>
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:16px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative css-mastery" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>CSS Mastery</em></h3>
              </div>
              <div class="p:8px lh:24" data-equalize-height="description">
                <div class="pb:16px"><em>by <a href="https://www.apress.com/gp/book/9781430223979" target="_blank" aria-label="Learn more about Andy Budd's CSS Mastery book, opens in a new tab">Andy Budd</a></em></div>
                <div>Completed Jan 2011</div>
                <div><a href="/notes/dev.css-mastery.html" target="_blank" aria-label="Review CSS Mastery notes, opens in a new tab">Notes</a></div>
              </div>
            </div>
          </li>
        </ul>
      </section>

      <section class="mw:1280px align-self:centered sm+:px:8px xl+:px:0">
        <h2 class="fs:28px play:bold sm+:pl:8px xl+:pl:40px pt:32px pb:8px color:white">Tools</h2>
        <ul class="row unstyle sm+:pl:0 xl+:px:24px">
          <li class="sm+:w:12 md+:w:6 lg+:w:4 sm+:px:8px xl+:px:16px pb:24px">
            <div class="bgc:white brbr:8px brbl:8px overflow:hidden b-slate:1px">
              <div class="position:relative js" style="height:70px;">
                <h3 class="fs:24px play:normal color:white p:8px pr:24px lh:28 position:absolute bottom:0"><em>Add to Calendar</em></h3>
              </div>
              <div class="p:8px lh:24" data-equalize-height="description">
                <div><a href="/examples/add-to-calendar/" target="_blank">See the example</a></div>
              </div>
            </div>
          </li>
        </ul>

      </section>
    </div>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.footer.ejs`, pageData) %>