<%- include(`${process.env.PWD}/_dev/_layouts/_default.head.ejs`, pageData) %>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.header.ejs`, pageData) %>

    <style>
      h3.js { background: linear-gradient(105deg, #e6c61d 0, #e6c61d 24px, #e5a32b 24px, #e5a32b 100%); }
      h3.html { background: linear-gradient(105deg, #f1662b 0, #f1662b 24px, #e45028 24px, #e45028 100%); }
      h3.css { background: linear-gradient(105deg, #28a9e0 0, #28a9e0 24px, #0873b9 24px, #0873b9 100%); }
      h3.angular { background: linear-gradient(105deg, #e62a39 0, #e62a39 24px, #b92933 24px, #b92933 100%); color: white; }
      h3.react { background: linear-gradient(105deg, #61dafb 0, #61dafb 24px, #222222 24px, #222222 100%); color: white; }
    </style>

    <section class="mw:1200px align-self:centered">
      <h1 class="heebo:bold fs:28px">warrenshea.github.io</h1>
    </section>

    <section class="mw:1280px align-self:centered">
      <h2 class="heebo:bold pl:40px">Code examples</h2>
      <ul class="row unstyle-pl:0">
        <li class="sm+:w:12 md+:w:6 lg+:w:4 xl+:px:40px">
          <div class="box-shadow:layer-level-2">
            <h3 class="pl:32px pr:8px py:8px js" data-equalize-height="title"><em>Height Equalizer</em></h3>
            <div data-equalize-height="description">
              <p>A height equalizer function.</p>
            </div>
            <div class="code" data-equalize-height="links">
              <a href="/examples/height-equalize/" target="_blank">See the example</a>
            </div>
          </div>
        </li>
        <li class="sm+:w:12 md+:w:6 lg+:w:4 xl+:px:40px">
          <div class="box-shadow:layer-level-2">
            <h3 class="pl:32px pr:8px py:8px js" data-equalize-height="title"><em>Form Validation</em></h3>
            <div data-equalize-height="description">
              <p>A simple form validation.</p>
              <p>0 WCAG 2.0 A and AA errors.</p>
            </div>
            <div class="code" data-equalize-height="links">
              <a href="/examples/form-validation/" target="_blank">See the example</a>
            </div>
          </div>
        </li>
        <li class="sm+:w:12 md+:w:6 lg+:w:4 xl+:px:40px">
          <div class="box-shadow:layer-level-2">
            <h3 class="pl:32px pr:8px py:8px js" data-equalize-height="title"><em>Sticky Navigation</em></h3>
            <div data-equalize-height="description">
              <p>A simple sticky navigation.</p>
              <p>0 WCAG 2.0 A and AA errors.</p>
            </div>
            <div class="code" data-equalize-height="links">
              <a href="/examples/sticky-navigation-flex-table/" target="_blank">See the example</a>
            </div>
        </div>
        </li>
        <li class="sm+:w:12 md+:w:6 lg+:w:4 xl+:px:40px">
          <div class="box-shadow:layer-level-2">
            <h3 class="pl:32px pr:8px py:8px js" data-equalize-height="title"><em>Carousel</em></h3>
            <div data-equalize-height="description">
              <p>A mix of carousels.</p>
              <p>0 WCAG 2.0 A and AA errors.</p>
            </div>
            <div class="code" data-equalize-height="links">
              <a href="/examples/carousel/" target="_blank">See the example</a>
            </div>
        </div>
        </li>
        <li class="sm+:w:12 md+:w:6 lg+:w:4 xl+:px:40px">
          <div class="box-shadow:layer-level-2">
            <h3 class="pl:32px pr:8px py:8px js" data-equalize-height="title"><em>JavaScript Design Pattern</em></h3>
            <div data-equalize-height="description">
              <p>An example of a JavaScript framework structure.</p>
              <p>Allows modules to be namespaced with simple initialize and document.ready() functions.</p>
            </div>
            <div class="code" data-equalize-height="links">
              <a href="/https://codepen.io/warrenshea/pen/mExbdd" target="_blank">See the code on CodePen</a>
            </div>
        </div>
        </li>
        <li class="sm+:w:12 md+:w:6 lg+:w:4 xl+:px:40px">
          <div class="box-shadow:layer-level-2">
            <h3 class="pl:32px pr:8px py:8px js" data-equalize-height="title"><em>JavaScript Design Pattern</em></h3>
            <div data-equalize-height="description">
              <p>An example of a JavaScript framework structure.</p>
              <p>Allows modules to be namespaced and extended.</p>
            </div>
            <div class="code" data-equalize-height="links">

            </div>
          </div>
        </li>
      </ul>
    </section>

    <section class="mw:1280px align-self:centered">
      <h2 class="heebo:bold pl:40px">Boilerplates</h2>
      <ul class="row unstyle-pl:0">
        <li class="sm+:w:12 md+:w:6 lg+:w:4 xl+:px:40px">
          <div class="box-shadow:layer-level-2">
            <h3 class="pl:32px pr:8px py:8px js" data-equalize-height="title"><em>TBD: HarpJS</em></h3>
            <div data-equalize-height="description">
              <p></p>
            </div>
            <div class="code" data-equalize-height="links">

            </div>
          </div>
        </li>
        <li class="sm+:w:12 md+:w:6 lg+:w:4 xl+:px:40px">
          <div class="box-shadow:layer-level-2">
            <h3 class="pl:32px pr:8px py:8px react" data-equalize-height="title"><em>TBD: React</em></h3>
            <div data-equalize-height="description">
              <p></p>
            </div>
            <div class="code" data-equalize-height="links">

            </div>
          </div>
        </li>
        <li class="sm+:w:12 md+:w:6 lg+:w:4 xl+:px:40px">
          <div class="box-shadow:layer-level-2">
            <h3 class="pl:32px pr:8px py:8px angular" data-equalize-height="title"><em>TBD: Angular</em></h3>
            <div data-equalize-height="description">
              <p></p>
            </div>
            <div class="code" data-equalize-height="links">

            </div>
          </div>
        </li>
      </ul>
    </section>

    <section class="mw:1280px align-self:centered">
      <h2 class="heebo:bold pl:40px">Notes</h2>
      <ul class="row unstyle-pl:0">
        <li class="sm+:w:12 md+:w:6 lg+:w:4 xl+:px:40px">
          <div class="box-shadow:layer-level-2">
            <h3 class="pl:32px pr:8px py:8px js" data-equalize-height="title"><em>Add to Calendar</em></h3>

            <div data-equalize-height="description">
              <p></p>
            </div>
            <div class="code" data-equalize-height="links">
              <a href="/notes/dev.es6-foreveryone!.online-course.html">/notes/dev.es6-foreveryone!.online-course.html</a>
            </div>
          </div>
        </li>
        <li class="sm+:w:12 md+:w:6 lg+:w:4 xl+:px:40px">wr
          <div class="box-shadow:layer-level-2">
            <h3 class="pl:32px pr:8px py:8px js" data-equalize-height="title"><em>Add to Calendar</em></h3>

            <div data-equalize-height="description">
              <p></p>
            </div>
            <div class="code" data-equalize-height="links">
              <a href="/notes/dev.git.html">/notes/dev.git.html</a>
            </div>
          </div>
        </li>
        <li class="sm+:w:12 md+:w:6 lg+:w:4 xl+:px:40px">
          <div class="box-shadow:layer-level-2">
            <h3 class="pl:32px pr:8px py:8px js" data-equalize-height="title"><em>Add to Calendar</em></h3>

            <div data-equalize-height="description">
              <p></p>
            </div>
            <div class="code" data-equalize-height="links">
              <a href="/notes/dev.mastering-markdown.online-course.html">/notes/dev.mastering-markdown.online-course.html</a>
            </div>
          </div>
        </li>
        <li class="sm+:w:12 md+:w:6 lg+:w:4 xl+:px:40px">
          <div class="box-shadow:layer-level-2">
            <h3 class="pl:32px pr:8px py:8px js" data-equalize-height="title"><em>Add to Calendar</em></h3>

            <div data-equalize-height="description">
              <p></p>
            </div>
            <div class="code" data-equalize-height="links">
              <a href="/notes/dev.react-for-beginners.online-course.html">/notes/dev.react-for-beginners.online-course.html</a>
            </div>
          </div>
        </li>
        <li class="sm+:w:12 md+:w:6 lg+:w:4 xl+:px:40px">
          <div class="box-shadow:layer-level-2">
            <h3 class="pl:32px pr:8px py:8px js" data-equalize-height="title"><em>Add to Calendar</em></h3>

            <div data-equalize-height="description">
              <p></p>
            </div>
            <div class="code" data-equalize-height="links">
              <a href="/notes/dev.reactjs-essential-training.online-course.html">/notes/dev.reactjs-essential-training.online-course.html</a>
            </div>
          </div>
        </li>
        <li class="sm+:w:12 md+:w:6 lg+:w:4 xl+:px:40px">
          <div class="box-shadow:layer-level-2">
            <h3 class="pl:32px pr:8px py:8px js" data-equalize-height="title"><em>Add to Calendar</em></h3>

            <div data-equalize-height="description">
              <p></p>
            </div>
            <div class="code" data-equalize-height="links">
              <a href="/notes/dev.sublime-text.book.html">/notes/dev.sublime-text.book.html</a>
            </div>
          </div>
        </li>
      </ul>
    </section>

    <section class="mw:1280px align-self:centered">
      <h2 class="heebo:bold pl:40px">Tools</h2>
      <ul class="row unstyle-pl:0">
        <li class="sm+:w:12 md+:w:6 lg+:w:4 xl+:px:40px">
          <div class="box-shadow:layer-level-2">
            <h3 class="pl:32px pr:8px py:8px js" data-equalize-height="title"><em>Add to Calendar</em></h3>

            <div data-equalize-height="description">
              <p></p>
            </div>
            <div class="code" data-equalize-height="links">
              <a href="/examples/add-to-calendar/" target="_blank">See the example</a>
            </div>
          </div>
        </li>
      </ul>

    </section>
  </body>
</html>
