@charset "UTF-8";

/* page width, common colors */
@import '_config/variables-colors.scss';
@import '_config/variables-dimensions.scss';
@import '_config/unit.scss';
@import '_config/breakpoint.scss';
@import '_config/media-queries.scss';
// @import '_global/helper-border-box-shadow.scss';

.classes {
  z-index:0;
}

.b-positive-light-dashed\:2px {
  border: rem-calc(2) dashed $positive-light;
}

.b-negative-light-dashed\:2px {
  border: rem-calc(2) dashed $negative-light;
}

.b-blue-dashed\:2px {
  border: rem-calc(2) dashed $blue;
}

.b-dark-goldenrod-dashed\:2px {
  border: rem-calc(2) dashed $dark-goldenrod;
}

.placeholder {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0' xmlns='http://www.w3.org/2000/svg'%3E%3Ctext x='0' y='27' style='font-family:Arial;font-size:32px;font-weight:bold;fill:%2300000008;'%3Eplaceholder -- %3C/text%3E%3C/svg%3E");
  background-size: rem-calc(225) rem-calc(25);
  background-repeat: repeat;
  background-color: transparent;
  height: 100%;
  width: 100%;
}

.module-add {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0' xmlns='http://www.w3.org/2000/svg'%3E%3Ctext x='0' y='20' style='font-family:Arial;font-size:18px;font-weight:bold;fill:%2300000010;'%3Eadd module -- %3C/text%3E%3C/svg%3E");
  background-size: rem-calc(125) rem-calc(20);
  background-repeat: repeat;
  background-color: #{$positive-light}50;
  height: 100%;
  width: 100%;
  border: rem-calc(2) dashed $positive-light;
}

[data-module="accordion"] .module-add {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0' xmlns='http://www.w3.org/2000/svg'%3E%3Ctext x='0' y='15' style='font-family:Arial;font-size:18px;font-weight:bold;fill:%2300000010;'%3Eadd to accordion -- %3C/text%3E%3C/svg%3E");
  background-size: rem-calc(170) rem-calc(20);
}

[data-module="accordion.header"] .module-add {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0' xmlns='http://www.w3.org/2000/svg'%3E%3Ctext x='0' y='15' style='font-family:Arial;font-size:18px;font-weight:bold;fill:%2300000010;'%3Eadd to accordion.trigger -- %3C/text%3E%3C/svg%3E");
  background-size: rem-calc(230) rem-calc(20);
}

[data-module="accordion.panel"] .module-add {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0' xmlns='http://www.w3.org/2000/svg'%3E%3Ctext x='0' y='15' style='font-family:Arial;font-size:18px;font-weight:bold;fill:%2300000010;'%3Eadd to accordion.panel -- %3C/text%3E%3C/svg%3E");
  background-size: rem-calc(220) rem-calc(20);
}

.module-remove {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0' xmlns='http://www.w3.org/2000/svg'%3E%3Ctext x='0' y='20' style='font-family:Arial;font-size:18px;font-weight:bold;fill:%23d0888825;'%3Eremove module -- %3C/text%3E%3C/svg%3E") !important;
  background-size: rem-calc(155) rem-calc(20);
  background-repeat: repeat;
  background-color: #{$negative-light}25;
  height: 100%;
  width: 100%;
  border: rem-calc(2) dashed $negative-light;
  position:relative;
  &::before {
    content:"REMOVE";
    position:absolute;
    top: rem-calc(10);
    left: rem-calc(10);
    height: rem-calc(25);
    width: rem-calc(100);
    border: rem-calc(2) dashed $negative-light;
    background: white;
  }
}

[data-module="accordion"] .module-remove {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0' xmlns='http://www.w3.org/2000/svg'%3E%3Ctext x='0' y='15' style='font-family:Arial;font-size:18px;font-weight:bold;fill:%2300000010;'%3Eremove from accordion -- %3C/text%3E%3C/svg%3E") !important;
  background-size: rem-calc(225) rem-calc(20);
}

[data-module="accordion.header"] .module-remove {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0' xmlns='http://www.w3.org/2000/svg'%3E%3Ctext x='0' y='15' style='font-family:Arial;font-size:18px;font-weight:bold;fill:%2300000010;'%3Eremove from accordion.trigger -- %3C/text%3E%3C/svg%3E") !important;
  background-size: rem-calc(290) rem-calc(20);
}

[data-module="accordion.panel"] .module-remove {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0' xmlns='http://www.w3.org/2000/svg'%3E%3Ctext x='0' y='15' style='font-family:Arial;font-size:18px;font-weight:bold;fill:%2300000010;'%3Eremove from accordion.panel -- %3C/text%3E%3C/svg%3E") !important;
  background-size: rem-calc(280) rem-calc(20);
}

.module-edit {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0' xmlns='http://www.w3.org/2000/svg'%3E%3Ctext x='0' y='20' style='font-family:Arial;font-size:18px;font-weight:bold;fill:%23d0888825;'%3Eremove module -- %3C/text%3E%3C/svg%3E") !important;
  background-size: rem-calc(155) rem-calc(20);
  background-repeat: repeat;
  background-color: #{$dark-goldenrod}25;
  height: 100%;
  width: 100%;
  border: rem-calc(2) dashed $dark-goldenrod;
  position:relative;
  &::before {
    content:"REMOVE";
    position:absolute;
    top:rem-calc(10);
    left:rem-calc(10);
    height: rem-calc(25);
    width: rem-calc(100);
    border: rem-calc(2) dashed $dark-goldenrod;
    background: white;
  }
}

[data-module="accordion"] .module-edit {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0' xmlns='http://www.w3.org/2000/svg'%3E%3Ctext x='0' y='15' style='font-family:Arial;font-size:18px;font-weight:bold;fill:%2300000010;'%3Eremove from accordion -- %3C/text%3E%3C/svg%3E") !important;
  background-size: rem-calc(225) rem-calc(20);
}

[data-module="accordion.trigger"] .module-edit {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0' xmlns='http://www.w3.org/2000/svg'%3E%3Ctext x='0' y='15' style='font-family:Arial;font-size:18px;font-weight:bold;fill:%2300000010;'%3Eremove from accordion.trigger -- %3C/text%3E%3C/svg%3E") !important;
  background-size: rem-calc(290) rem-calc(20);
}

[data-module="accordion.panel"] .module-edit {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0' xmlns='http://www.w3.org/2000/svg'%3E%3Ctext x='0' y='15' style='font-family:Arial;font-size:18px;font-weight:bold;fill:%2300000010;'%3Eremove from accordion.panel -- %3C/text%3E%3C/svg%3E") !important;
  background-size: rem-calc(280) rem-calc(20);
}

.isotope-card-example-background {
  background-size: rem-calc(16) rem-calc(16);
  background-image: radial-gradient(circle, $silver rem-calc(1), #f9f9f9 rem-calc(1));
  background-position-x: center;
}

.overlay-grid-lines {
  position: absolute;
  top: 0;
  width: 0;
  border: rem-calc(1) solid $red;
  opacity: .4;
  height: 100%;
  display: inline-block;
  margin: 0;
}

.left-xl { color:$silver;width:50%;height:rem-calc(20);top:rem-calc(-2);z-index:-2;right:50%;text-align:right;padding-right:670px; }
.left-lg { color:$silver;width:127px;height:rem-calc(20);top:rem-calc(-2);z-index:-1;left:calc(50% - 639px); }
.left-md { color:$silver;width:126px;height:rem-calc(20);top:rem-calc(-2);z-index:-1;left:calc(50% - 511px); }
.left-sm { color:$silver;width:198px;height:rem-calc(20);top:rem-calc(-2);z-index:-1;left:calc(50% - 385px); }
.right-sm { color:$silver;width:198px;height:rem-calc(20);top:rem-calc(-2);z-index:-1;right:calc(50% - 385px); }
.right-md { color:$silver;width:126px;height:rem-calc(20);top:rem-calc(-2);z-index:-1;right:calc(50% - 511px); }
.right-lg { color:$silver;width:127px;height:rem-calc(20);top:rem-calc(-2);z-index:-1;right:calc(50% - 639px); }
.right-xl { color:$silver;width:50%;height:rem-calc(20);top:rem-calc(-2);z-index:-2;left:50%;text-align:left;padding-left:670px; }

.isotope-card-tag {
  margin: rem-calc(4) rem-calc(8);
  padding: rem-calc(4);
  border-radius: rem-calc(4);
  background: $blue;
  color: $white
}

.form\:theme\:cms {
  input[type="radio"] {
    appearance: none;
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    position: absolute;
    &+label {
      cursor: pointer;
      position: relative;
      padding-left: rem-calc(36);
      letter-spacing: 0.15px;
      line-height: rem-calc(24);
      &:before {
        content: '';
        position: absolute;
        left: 0;
        width: rem-calc(24);
        height: rem-calc(24);
        border: rem-calc(2) solid $onyx;
        &:hover {
            cursor: pointer;
        }
      }
    }
    &:checked+label:before {
      content: '';
      cursor: pointer;
    }
    &:focus+label {
      outline: rem-calc(2) solid $black;
    }
    &:checked:focus+label {
      outline: rem-calc(2) solid $black;
    }
    &:checked:focus+label {
      box-shadow: $box-shadow-custom-7;
    }
    &:focus+label:before {
      box-shadow: 0 0 rem-calc(4) rem-calc(3) rgba($vista-blue, 0.65);
    }
    &:checked:focus+label:before {
      box-shadow: 0 0 rem-calc(4) rem-calc(3) rgba($vista-blue, 0.65);
    }
    &.has-error+label:before {
      border: rem-calc(2) solid $negative;
    }
    &:disabled+label {
      color: $onyx;
      &:before {
        background-color: $silver;
        border: rem-calc(2) solid $onyx;
      }
    }
  }

  input[type="radio"] {
    &+label {
      &:before {
        border-radius: 50%;
        transition: background-color ease-in-out 250ms, border ease-in-out 250ms;
      }
    }
    &:checked+label:before {
      background-color: $white;
      border: rem-calc(6) solid $blue;
    }
    &:focus+label:before {
      background-color: transparent;
      border: rem-calc(2) solid $gray;
    }
    &:checked:focus+label:before {
      background-color: $white;
      border: rem-calc(6) solid $blue;
      box-shadow: $box-shadow-custom-7;
    }
    &:checked:disabled+label:before {
      background-color: $silver;
      border: rem-calc(6) solid $onyx;
    }
  }

  .box-radio-buttons {
    input[type="radio"] {
      &+label {
        text-align:center;
        display:inline-block;
        padding: rem-calc(4) rem-calc(16);
        font-family: 'heebo-bold';
        font-size: rem-calc(14);
        color: $blue;
        background-color: $white;
        width: 100%;
        border: rem-calc(2) solid $onyx;
        //border-radius: rem-calc(4);
        transition: all .3s ease;
        box-shadow: 0 0 0 0 rgba($vista-blue, 0.65);
        white-space:nowrap;
        cursor: pointer;
        position: relative;
        letter-spacing: 0.15px;
        line-height: rem-calc(24);
        &:before {
          display:none;
        }
      }
      &:hover+label,
      &:checked+label {
        color: $white;
        background-color: $blue;
        border: rem-calc(2) $blue solid;
      }
      &:checked:focus+label {
        border: rem-calc(2) $vista-blue solid;
        box-shadow: 0 0 rem-calc(4) rem-calc(3) rgba($vista-blue, 0.65);
      }
      &:disabled+label,
      &[disabled='true']+label, {
        background-color: $silver;
      }
      &:disabled:hover+label,
      &[disabled='true']:hover+label, {
        color: $onyx;
      }
    }
    &:not(:active):after {
      animation: ripple .3s ease-in;
    }
    &:after {
      visibility: hidden;
    }
    &:focus:after {
      visibility: visible;
    }
  }
}

@keyframes ripple {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

@each $mediaquery in $mediaqueries {
  $breakpoint: nth($mediaquery, 1);
  $prefix: nth($mediaquery, 2);

  @include breakpoint($breakpoint) {
    .#{$prefix}text-shadow\:eerie-black {
      text-shadow: 0 0 rem-calc(3) $eerie-black;
    }
  }
}
