@charset "UTF-8";

/* page width, common colors */
@import '_config/variables-colors.scss';
@import '_config/variables-dimensions.scss';
@import '_config/unit.scss';
@import '_config/breakpoint.scss';
@import '_config/media-queries.scss';
@import '_config/variables-box-shadow.scss';


[data-zs-inline-edit]:before,
[data-zs-edit]:before,
[data-zs-add]:before,
[data-zs-remove]:before,
[data-zs-reorder]:before,
[data-zs-publish]:before,
[data-zs-publish-page]:before {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  pointer-events: none;
  white-space: nowrap;
  transform: translateX(-20px);
  transition: opacity 0.1s ease, visibility 0.1s ease;
  background: #FFF;
  border-radius: rem-calc(16) 0 0 rem-calc(16);
  border:1px solid $onyx;
  padding: rem-calc(4) rem-calc(32) rem-calc(4) rem-calc(24);
  z-index:-1;
}

[data-zs-inline-edit]:hover,
[data-zs-edit]:hover,
[data-zs-add]:hover,
[data-zs-remove]:hover,
[data-zs-reorder]:hover,
[data-zs-publish]:hover,
[data-zs-publish-page]:hover {
  box-shadow: 0 0 0.5rem 0 rgba(32, 32, 32, 0.5), 0 0.25rem 1.5rem 0 rgba(32, 32, 32, 0.15);
}

[data-zs-inline-edit]:hover:before,
[data-zs-inline-edit][value=true]:before,
[data-zs-edit]:hover:before,
[data-zs-edit][value=true]:before,
[data-zs-add]:hover:before,
[data-zs-add][value=true]:before,
[data-zs-remove]:hover:before,
[data-zs-remove][value=true]:before,
[data-zs-reorder]:hover:before,
[data-zs-reorder][value=true]:before,
[data-zs-publish]:hover:before,
[data-zs-publish][value=true]:before,
[data-zs-publish-page]:hover:before,
[data-zs-publish-page][value=true]:before {
  transition: opacity 0.3s ease, visibility 0.3s ease;
  visibility: visible;
  opacity: 1;
}

[data-zs-inline-edit]:before { content: "Inline Edit";  border:1px solid $dark-goldenrod; }
[data-zs-edit]:before { content: "Exploded Edit";  border:1px solid $cocoa-brown; }
[data-zs-add]:before { content: "Add";  border:1px solid $positive; }
[data-zs-remove]:before { content: "Remove";  border:1px solid $negative; }
[data-zs-reorder]:before { content: "Reorder";  border:1px solid $blue; }
[data-zs-publish]:before { content: "Publish";  border:1px solid $english-violet; }
[data-zs-publish-page]:before { content: "Publish Page";  border:1px solid $positive; }

[data-zs-page-editor-mode-add-border] { border: rem-calc(2) dashed $positive-light; padding: 16px !important; margin-top:0 !important; }
[data-zs-page-editor-mode-add-padding] { padding:8px;
  &::before {
    content: attr(data-zs-module-name) ", mid:" attr(data-zs-mid);
    border: rem-calc(2) solid $positive-light;
    opacity: .75;
  }
}
[data-zs-page-editor-mode-remove-border] { border: rem-calc(2) dashed $negative-light; }
[data-zs-page-editor-mode-reorder-border] { border: rem-calc(2) dashed $blue; padding: 16px !important; margin-top:0 !important; }
[data-zs-page-editor-mode-reorder-child-border] { border: rem-calc(4) solid $blue; padding: 16px !important; margin-top:0 !important; }
[data-zs-page-editor-mode-edit-border] { border: rem-calc(2) dashed $cocoa-brown; }
[data-zs-page-editor-mode-publish-border] { border: rem-calc(2) dashed $english-violet; }

.color\:onyx { color: $onyx; }

.ic-color\:cocoa-brown { background-color: #{$cocoa-brown} };
.ic-color\:dark-goldenrod { background-color: #{$dark-goldenrod} };
.ic-color\:english-violet { background-color: #{$english-violet} };
.bgc\:positive { background-color: $positive; }
.bgc\:negative { background-color: $negative; }
.bgc\:dark-goldenrod { background-color: $dark-goldenrod; }
.bgc\:english-violet { background-color: $english-violet; }
.bgc\:cocoa-brown { background-color: $cocoa-brown; }
.color\:positive { color: $positive; }
.color\:negative { color: $negative; }
.color\:dark-goldenrod { color: $dark-goldenrod; }
.color\:english-violet { color: $english-violet; }
.color\:cocoa-brown { color: $cocoa-brown; }

[data-module="placeholder"] {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0' xmlns='http://www.w3.org/2000/svg'%3E%3Ctext x='0' y='20' style='font-family:Arial;font-size:18px;font-weight:bold;fill:%2300000008;'%3Eplaceholder -- %3C/text%3E%3C/svg%3E");
  background-size: 125px 25px;
  background-repeat: repeat;
  background-color: transparent;
  // height: 100%;
  width: 100%;
}

[data-module="accordion"]:has([data-zs-page-editor-mode-add-styles]),
[data-module="accordion.header"]:has([data-zs-page-editor-mode-add-styles]),
[data-module="accordion.panel"]:has([data-zs-page-editor-mode-add-styles]),
[data-module="dialog"]:has([data-zs-page-editor-mode-add-styles]),
[data-module="table.tr"]:has([data-zs-page-editor-mode-add-styles]),
[data-module="table.td"]:has([data-zs-page-editor-mode-add-styles]) {
  padding: 6px 10px;
  border: rem-calc(2) dashed $positive-light;
}

[data-zs-page-editor-mode-add-styles],
[data-zs-page-editor-mode-add-label-styles],
[data-zs-page-editor-mode-remove-styles],
[data-zs-page-editor-mode-confirm-removal-styles],
[data-zs-page-editor-mode-edit-styles],
[data-zs-page-editor-mode-publish-styles],
[data-zs-page-editor-mode-confirm-publish-styles],
[data-zs-page-editor-mode-publish-page-styles] {
  display: block;
  grid-column: span 12;
  margin-top:0 !important;
  background-repeat: repeat;
  // height: 100%;
  width: 100%;
  position: relative;
  padding: 34px 10px 6px !important;
  cursor: pointer;
  &::before {
    padding: 4px 8px;
    font-size: 14px;
    position: absolute;
    text-align: center;
    font-family: 'heebo-bold';
    top: -2px;
    left: -2px;
    height: 24px;
    background: white;
    color: black;
    line-height: rem-calc(14);
    z-index:1;
    text-transform: none;
  }
}

[data-zs-page-editor-mode-inline-edit-styles]:hover {
  position: relative;
  cursor: pointer;
  &::before {
    padding: 4px 8px;
    font-size: 14px;
    position: absolute;
    text-align: center;
    font-family: 'heebo-bold';
    top: -2px;
    left: -2px;
    height: 24px;
    background: white;
    color: black;
    line-height: rem-calc(14);
    z-index:1;
    text-transform: none;
  }
}

[data-zs-page-editor-mode-add-styles] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' fill='none'%3E%3Crect width='100' height='100' fill='%2384b48e30'/%3E%3Cline x1='0' y1='0' x2='100' y2='100' stroke='%23cccccc' stroke-width='2'/%3E%3Cline x1='0' y1='100' x2='100' y2='0' stroke='%23cccccc' stroke-width='2'/%3E%3C/svg%3E");
  background-size: 20px 20px;
  border: rem-calc(2) dashed $positive-light;
  padding: 12px 10px 6px;
  &::before {
    content: "ADD to: " attr(data-zs-module-name) ", mid:" attr(data-zs-mid);
    border: rem-calc(2) solid $positive-light;
  }
}

[data-zs-page-editor-mode-add-label-styles] {
  border: rem-calc(2) dashed $positive-light;
  padding: 12px 10px 6px;
  &::before {
    content: attr(data-zs-module-name) ", mid:" attr(data-zs-mid);
    border: rem-calc(2) solid $positive-light;
    opacity: .75;
  }
}

[data-zs-page-editor-mode-remove-styles] {
  border: rem-calc(2) dashed $negative-light;
  &::before {
    content: "REMOVE: " attr(data-zs-module-name) ", mid:" attr(data-zs-mid);
    border: rem-calc(2) dashed $negative-light;
  }
}

[data-zs-page-editor-mode-confirm-removal-styles] {
  border: rem-calc(2) dashed $negative-light;
  &::before {
    content:"CONFIRM REMOVAL: " attr(data-zs-module-name) ", mid:" attr(data-zs-mid);
    border: rem-calc(2) dashed $negative-light;
  }
}

[data-zs-page-editor-mode-edit-styles] {
  border: rem-calc(2) dashed $cocoa-brown;
  &::before {
    content: "EDIT: " attr(data-zs-module-name) ", mid:" attr(data-zs-mid);
    border: rem-calc(2) dashed $cocoa-brown;
  }
}

[data-zs-page-editor-mode-inline-edit-styles] {
  transition: box-shadow .25s ease-in-out;
  &::before {
    transition: box-shadow .25s ease-in-out;
  }
  &:hover {
    box-shadow: 0 0 0 rem-calc(1) $dark-goldenrod, 0 0 0 rem-calc(2) $dark-goldenrod !important;
    transition: box-shadow .5s ease-in-out;
    &::before {
      content: "INLINE EDIT: " attr(data-zs-module-name) ", mid:" attr(data-zs-mid);
      box-shadow: 0 0 0 rem-calc(1) $dark-goldenrod, 0 0 0 rem-calc(2) $dark-goldenrod !important;
      transition: box-shadow .5s ease-in-out;
    }
  }
}

[data-zs-page-editor-mode-publish-styles] {
  border: rem-calc(2) dashed $english-violet;
  &::before {
    content: "PUBLISH: " attr(data-zs-module-name) ", mid:" attr(data-zs-mid);
    border: rem-calc(2) dashed $english-violet;
  }
}

[data-zs-page-editor-mode-confirm-publish-styles] {
  border: rem-calc(2) dashed $english-violet;
  &::before {
    content:"CONFIRM PUBLISH: " attr(data-zs-module-name) ", mid:" attr(data-zs-mid);
    border: rem-calc(2) dashed $english-violet;
  }
}

[data-zs-page-editor-mode-publish-page-styles] {
  border: rem-calc(2) dashed $english-violet;
  cursor: default;
  &::before {
    color: $gray;
    content: "TO BE PUBLISHED: " attr(data-zs-module-name) ", mid:" attr(data-zs-mid);
    border: rem-calc(2) dashed $english-violet;
  }
}

[data-zs-page-editor-mode-force-show] {
  &[data-module='accordion.panel'] {
    opacity: 1 !important;
    height: auto !important;
  }
  &[data-module='carousel'] {
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
  }
  &[data-module='carousel.controls-group'] {
    display: none !important;
  }
  &[data-module='carousel.controls-group'] + div {
    width: 100% !important;
    display: flex !important;
  }
  &[data-module='carousel.item-group'] {
    width: 100% !important;
    left: 0 !important;
    flex-wrap: wrap !important;
  }
  &[data-module='carousel.item'] {
    width: 100% !important;
    opacity: 1 !important;
  }
  &[data-module='carousel.controls-group'] {
    position: static !important;
  }
  &[data-module='dialog'] {
    display:block !important;
    width: 100% !important;
    max-width: 100% !important;
  }
  &[data-module='popover'] {
    position: static !important;
    visibility: initial !important;
    [data-popover-close],
    &::before,
    &:after {
      display:none !important;
    }
  }
  &[data-module='table.td'],
  &[data-module='table.th'] {
    width: initial;
    display: table-cell !important;
  }
  &[data-module='tabs.panel'] {
    display:block !important;
  }
}

#module-form-editor {
  dl {
    dt {
      font-family: "heebo-bold", Arial, Sans-Serif;
      font-weight: 700;
    }
    dd {
      margin-left:0;
    }
  }
}

.isotope-card-tag {
  margin: rem-calc(4) rem-calc(8);
  padding: rem-calc(4);
  border-radius: rem-calc(4);
  background: $blue;
  color: $white
}

.form\:theme\:cms {
  /* label styles */
  input[type='text'] + label,
  input[type='number'] + label,
  input[type='email'] + label,
  input[type='password'] + label,
  input[type='search'] + label,
  select + label,
  textarea + label {
    z-index: 2;
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    cursor: pointer;
    &::before {
      /* blue label line, hidden */
      z-index: 4;
      content: '';
      width: 100%;
      height: rem-calc(2);
      bottom: 0;
      left: 0;
      background: $blue;
      transform: scaleX(0);
      transition: all 0.3s linear;
      position: relative;
      top: unset;
      display: block;
    }
    &:after {
      /* default gray label line */
      z-index: 3;
      content: '';
      width: 100%;
      height: rem-calc(2);
      bottom: rem-calc(2);
      left: 0;
      background: $silver;
      position: relative;
      top: unset;
      display: block;
    }
    &.error-field:before {
      background: $negative;
    }
    &.error-field:after {
      background: $negative;
    }
    &.valid:before {
      background: #0b8224;
    }
    &.disabled {
      color: $onyx;
      span.description {
        color: $onyx;
      }
    }
    span.description {
      /* label description */
      display: flex;
      align-items: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color: $blue;
      transition: 0.3s ease-out;
      position: absolute;
      top: 0;
      font-size: rem-calc(16);
      font-family: 'heebo-bold';
    }
  }

  /* input (text, email, password, search), select, and textarea styles */
  input,
  select,
  textarea {
    color: $eerie-black;
    transition: all 0.3s ease-out;
    :disabled {
      color: $onyx;
    }
  }

  [data-module="autocomplete"] [data-module="autocomplete.multiselect-tags"] [data-autocomplete-tag] {
    font-size: rem-calc(14);
    > button {
      font-size: rem-calc(16);
    }
  }

  input[type='text'],
  input[type='number'],
  input[type='email'],
  input[type='password'],
  input[type='search'],
  select,
  textarea {
    width: 100%;
    height: rem-calc(36);
    margin-top: rem-calc(24);
    white-space: nowrap;
    line-height: 1.5;
    border: none;
    background-color: $white-smoke;
    transition: all 0.3s ease-out;
    &:focus-visible {
      outline: 0;
    }
  }
  input[type='text'][data-module='autocomplete.input'] {
    margin-top: 0;
  }
  input[type='text']:focus + label:before,
  input[type='text'].focus + label:before,
  input[type='number']:focus + label:before,
  input[type='email']:focus + label:before,
  input[type='password']:focus + label:before,
  input[type='search']:focus + label:before,
  select:focus + label:before,
  textarea:focus + label:before,
  textarea.focus + label:before {
    visibility: visible;
    transform: scaleX(1);
  }

  /* helper description styles */
  .error-message {
    width: 100%;
    min-width: rem-calc(150);
    padding: 0 0 0 rem-calc(19);
    font-size: rem-calc(14);
    font-family: 'heebo-regular';
    color: $negative;
    background: url(../assets/icon/exclamation-circle.negative.svg) no-repeat top left;
    background-size: rem-calc(16) rem-calc(16);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    margin-top: rem-calc(4);
    display: none;
    margin-bottom: rem-calc(6);
    &.has-error {
      visibility: visible;
      opacity: 1;
      display: block;
      &.display\:inline {
        display: inline;
      }
    }
  }

  /* helper description styles */
  .helper-description {
    color: $onyx;
    font-size: rem-calc(14);
    margin-top: rem-calc(4);
    letter-spacing: 0.25px;
  }

  .helper-description-pass-fail {
    list-style: none;
    padding-left: 0;
    color: $onyx;
    font-size: rem-calc(14);
    li {
      display: flex;
      line-height: rem-calc(24);
      padding: rem-calc(2) rem-calc(6) rem-calc(2) rem-calc(32);
      background-image: url(../assets/icon/times.negative.svg);
      background-repeat: no-repeat;
      background-position: top rem-calc(2) left rem-calc(2);
      background-size: rem-calc(24) rem-calc(24);
      > span {
        display: flex;
      }
      &.pass {
        background-image: url(../assets/icon/check.positive.svg);
      }
      &.fail {
        background-image: url(../assets/icon/times.negative.svg);
      }
    }
  }

  /* select styles */
  select {
    cursor: pointer;
    background-color: transparent;
    background-image: url('../assets/icon/chevron-down.blue.svg');
    background-repeat: no-repeat;
    background-position: right rem-calc(8) top rem-calc(10);
    background-size: rem-calc(16) rem-calc(16);
    appearance: none;
  }

  /* textarea styles */
  textarea {
    transition: all 0.3s ease;
    padding-top: rem-calc(6); /* to remain consistent with input boxes */
    padding-bottom: rem-calc(6); /* to remain consistent with input boxes */
    margin-bottom: rem-calc(-4); /* to remain consistent with input boxes */
    white-space: pre-wrap;
  }

  input[type="radio"] {
    appearance: none;
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    position: absolute;
    &+label {
      cursor: pointer;
      position: relative;
      padding-left: rem-calc(36);
      letter-spacing: 0.15px;
      line-height: rem-calc(24);
      &::before {
        content: '';
        position: absolute;
        left: 0;
        width: rem-calc(24);
        height: rem-calc(24);
        border: rem-calc(2) solid $gray;
        &:hover {
            cursor: pointer;
        }
      }
    }
    &:checked+label:before {
      content: '';
      cursor: pointer;
    }
    &:focus+label {
      outline: rem-calc(2) solid $black;
    }
    &:checked:focus+label {
      outline: rem-calc(2) solid $black;
    }
    &:checked:focus+label {
      box-shadow: $box-shadow-custom-7;
    }
    &:focus+label:before {
      box-shadow: 0 0 rem-calc(4) rem-calc(3) rgba($vista-blue, 0.65);
    }
    &:checked:focus+label:before {
      box-shadow: 0 0 rem-calc(4) rem-calc(3) rgba($vista-blue, 0.65);
    }
    &.has-error+label:before {
      border: rem-calc(2) solid $negative;
    }
    &:disabled+label {
      color: $onyx;
      &::before {
        background-color: $silver;
        border: rem-calc(2) solid $onyx;
      }
    }
  }

  input[type="radio"] {
    &+label {
      &::before {
        border-radius: 50%;
        transition: background-color ease-in-out 250ms, border ease-in-out 250ms;
      }
    }
    &:checked+label:before {
      background-color: $white;
      border: rem-calc(6) solid $blue;
    }
    &:focus+label:before {
      background-color: transparent;
      border: rem-calc(2) solid $gray;
    }
    &:checked:focus+label:before {
      background-color: $white;
      border: rem-calc(6) solid $blue;
      box-shadow: $box-shadow-custom-7;
    }
    &:checked:disabled+label:before {
      background-color: $silver;
      border: rem-calc(6) solid $onyx;
    }
  }

  .box-radio-buttons {
    input[type="radio"] {
      &+label {
        text-align:center;
        display:inline-block;
        padding: rem-calc(4) rem-calc(16);
        font-family: 'heebo-bold';
        font-size: rem-calc(14);
        color: $blue;
        background-color: $white;
        width: 100%;
        border: rem-calc(2) solid $gray;
        border-radius: rem-calc(4);
        transition: all .3s ease;
        box-shadow: 0 0 0 0 rgba($vista-blue, 0.65);
        white-space:nowrap;
        cursor: pointer;
        position: relative;
        letter-spacing: 0.15px;
        line-height: rem-calc(24);
        &::before {
          display:none;
        }
      }
      &:hover+label,
      &:checked+label {
        color: $white;
        background-color: $blue;
        border: rem-calc(2) $blue solid;
      }
      &:checked:focus+label {
        border: rem-calc(2) $vista-blue solid;
        box-shadow: 0 0 rem-calc(4) rem-calc(3) rgba($vista-blue, 0.65);
      }
      &:disabled+label,
      &[disabled='true']+label, {
        background-color: $silver;
      }
      &:disabled:hover+label,
      &[disabled='true']:hover+label, {
        color: $onyx;
      }
    }
    &:not(:active):after {
      animation: ripple .3s ease-in;
    }
    &:after {
      visibility: hidden;
    }
    &:focus:after {
      visibility: visible;
    }
  }
}

@keyframes ripple {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

@each $mediaquery in $mediaqueries {
  $breakpoint: nth($mediaquery, 1);
  $prefix: nth($mediaquery, 2);

  @include breakpoint($breakpoint) {
    .#{$prefix}text-shadow\:eerie-black {
      text-shadow: 0 0 rem-calc(3) $eerie-black;
    }
  }
}
