@charset "UTF-8";

// Variables, utility functions
@use '_config/_unit.scss';
@use '_config/_breakpoint.scss';

@use '_design-tokens/_primitive.scss';
@use '_design-tokens/_semantic.scss';

@use '_global/root.scss';
@use '_global/normalize.scss';
@use '_global/default.scss';
@use '_global/layout-flexbox-row-column.scss';
@use '_global/layout-flexbox-column-width.scss';
@use '_global/layout-flexbox-column-width-offset.scss';
@use '_global/layout-flexbox-alignment.scss';
@use '_global/layout-flexbox.scss';
@use '_global/layout-cssgrid-gap.scss';
@use '_global/layout-cssgrid-row-column.scss';
@use '_global/layout-cssgrid-column-width.scss';
@use '_global/layout-cssgrid-column-start-end.scss';
@use '_global/layout-visibility-breakpoint.scss';
@use '_global/layout-visibility-orientation.scss';
@use '_global/layout-order.scss';
@use '_global/layout-table.scss';
@use '_global/interactive-anchors-buttons.scss';
@use '_global/interactive-form.scss';
@use '_global/typography-font--play.scss';
@use '_global/typography-font--heebo.scss';
@use '_global/typography-font-size.scss';
@use '_global/typography-font-weight.scss';
@use '_global/typography-line-height.scss';
@use '_global/typography-text-alignment.scss';
@use '_global/typography-misc.scss';
@use '_global/visual-icons.scss';
@use '_global/visual-illustrations.scss';
@use '_global/animation.scss';

@use '_global/module.accordion.scss' as *;
@use '_global/module.autocomplete.scss' as *;
@use '_global/module.badge.scss' as *;
@use '_global/module.breadcrumbs.scss' as *;
@use '_global/module.carousel.scss' as *;
@use '_global/module.dialog.scss' as *;
@use '_global/module.menu-submenu.scss' as *;
@use '_global/module.popover.scss' as *;
@use '_global/module.tabs.scss' as *;
@use '_global/module.toast.scss' as *;

// Utility classes always go last, as they should always trump other pre-defined classes/styles. In general, we should never trump a utility class
@use '_global/helper-margin-padding.scss';
@use '_global/helper-border.scss';
@use '_global/helper-border-box-shadow.scss';
@use '_global/helper-border-radius.scss';
@use '_global/helper-background.scss';
@use '_global/helper-color.scss';
@use '_global/helper-opacity.scss';
@use '_global/helper-misc.scss';
