/* file: design-patterns.scss------------------------------------------------ */
@charset "UTF-8";

@import '_config/unit.scss';
@import '_config/variables-colors.scss';
@import '_config/variables-dimensions.scss';
@import '_config/variables-box-shadow.scss';
@import '_config/breakpoint.scss';
@import '_config/media-queries.scss';

main > div,
main > section {
  padding-top: rem-calc(32);
  padding-bottom: rem-calc(32);
  @include breakpoint($medium-min) {
    padding-top: rem-calc(48);
    padding-bottom: rem-calc(48);
  }
  @include breakpoint($xlarge-min) {
    padding-top: rem-calc(64);
    padding-bottom: rem-calc(64);
  }
}

main > section + section {
  padding-top: 0;
}

main > .bgc\:blue + section,
main > .bgc\:blue + div,
main > div + .bgc\:blue,
main > section + .bgc\:blue,
main > .bgc\:white-smoke + section,
main > .bgc\:white-smoke + div,
main > div + .bgc\:white-smoke,
main > section + .bgc\:white-smoke,
main > .bgc\:eerie-black + section,
main > .bgc\:eerie-black + div,
main > div + .bgc\:eerie-black,
main > section + .bgc\:eerie-black,
main > .bgc\:silver + section,
main > .bgc\:silver + div,
main > div + .bgc\:silver,
main > section + .bgc\:silver {
  padding-top: rem-calc(32);
  @include breakpoint($medium-min) {
    padding-top: rem-calc(48);
  }
  @include breakpoint($xlarge-min) {
    padding-top: rem-calc(64);
  }
}

.zs-hightlight-blue {
  box-shadow: 0 0 rem-calc(5) rem-calc(4) $blue !important;
}

.zs-hightlight-yellow {
  box-shadow: 0 0 rem-calc(5) rem-calc(4) $yellow !important;
}

.zs-hightlight-red {
  box-shadow: 0 0 rem-calc(5) rem-calc(4) $red !important;
}