.row > div.heading,
.row0 > div.heading {
  margin-top: 18px;
  text-align:center;
  font-family: 'heebo-bold';
  height: 24px;
}
.row > div:not(.heading),
.row0 > div:not(.heading) {
  text-align:center;
  background-color: #FFFFFF90;
  margin-top: 8px;
  margin-bottom: 8px;
  height: 40px;
  border: 0.0625rem #404040 solid;
  border-radius:4px;
}
.row > div:not(.heading):before,
.row0 > div:not(.heading):before {
  display:flex;
  align-items: center;
  justify-content: center;
  height:100%;
}
.row > div:not(.heading):nth-child(1),
.row0 > div:not(.heading):nth-child(1) {
  background-color: #8B000090; /* This is a shade of dark red **/
}
.row > div:not(.heading):nth-child(2),
.row0 > div:not(.heading):nth-child(2) {
  background-color: #00FF0090;
}
.row > div:not(.heading):nth-child(2):before,
.row0 > div:not(.heading):nth-child(2):before {
  content: "1";
}
.row > div:not(.heading):nth-child(3),
.row0 > div:not(.heading):nth-child(3) {
  background-color: #6666FF90;
}
.row > div:not(.heading):nth-child(3):before,
.row0 > div:not(.heading):nth-child(3):before {
  content: "2";
}
.row > div:not(.heading):nth-child(4),
.row0 > div:not(.heading):nth-child(4) {
  background-color: #FF00FF90;
}
.row > div:not(.heading):nth-child(4):before,
.row0 > div:not(.heading):nth-child(4):before {
  content: "3";
}
.row > div:not(.heading):nth-child(5),
.row0 > div:not(.heading):nth-child(5) {
  background-color: #FFFF0090;
}
.row > div:not(.heading):nth-child(5):before,
.row0 > div:not(.heading):nth-child(5):before {
  content: "4";
}
.row > div:not(.heading):nth-child(6),
.row0 > div:not(.heading):nth-child(6) {
  background-color: #00FFFF90;
}
.row > div:not(.heading):nth-child(6):before,
.row0 > div:not(.heading):nth-child(6):before {
  content: "5";
}
.row > div:not(.heading):nth-child(7),
.row0 > div:not(.heading):nth-child(7) {
  background-color: #FF000090;
}
.row > div:not(.heading):nth-child(7):before,
.row0 > div:not(.heading):nth-child(7):before {
  content: "6";
}
.row > div:not(.heading):nth-child(8),
.row0 > div:not(.heading):nth-child(8) {
  background-color: #FFA50090; /* This is a shade of orange */
}
.row > div:not(.heading):nth-child(8):before,
.row0 > div:not(.heading):nth-child(8):before {
  content: "7";
}
.row > div:not(.heading):nth-child(9),
.row0 > div:not(.heading):nth-child(9) {
  background-color: #80008090; /* This is a shade of purple */
}
.row > div:not(.heading):nth-child(9):before,
.row0 > div:not(.heading):nth-child(9):before {
  content: "8";
}
.row > div:not(.heading):nth-child(10),
.row0 > div:not(.heading):nth-child(10) {
  background-color: #00800090; /* This is a shade of green */
}
.row > div:not(.heading):nth-child(10):before,
.row0 > div:not(.heading):nth-child(10):before {
  content: "9";
}
.row > div:not(.heading):nth-child(11),
.row0 > div:not(.heading):nth-child(11) {
  background-color: #FF450090; /* This is a shade of crimson */
}
.row > div:not(.heading):nth-child(11):before,
.row0 > div:not(.heading):nth-child(11):before {
  content: "10";
}
.row > div:not(.heading):nth-child(12),
.row0 > div:not(.heading):nth-child(12) {
  background-color: #9370DB90; /* This is a shade of medium purple */
}
.row > div:not(.heading):nth-child(12):before,
.row0 > div:not(.heading):nth-child(12):before {
  content: "11";
}
.row > div:not(.heading):nth-child(13),
.row0 > div:not(.heading):nth-child(13) {
  background-color: #FF149390; /* This is a shade of deep pink **/
}
.row > div:not(.heading):nth-child(13):before,
.row0 > div:not(.heading):nth-child(13):before {
  content: "12";
}