@charset "UTF-8";

@import '_config/unit.scss';
@import '_config/variables-dimensions.scss';

.grid-background {
  background-size: rem-calc(16) rem-calc(16);
  background-image: radial-gradient(circle, #ddd rem-calc(2), #f9f9f9 0);
  background-position-x: center;
}
.sm-left { color:#999;width:rem-calc(198);height:rem-calc(20);top:rem-calc(-2);z-index:-1;left:calc(50% - rem-calc(385)); }
.sm-right { color:#999;width:rem-calc(198);height:rem-calc(20);top:rem-calc(-2);z-index:-1;right:calc(50% - rem-calc(385)); }
.md-left { color:#999;width:rem-calc(126);height:rem-calc(20);top:rem-calc(-2);z-index:-1;left:calc(50% - rem-calc(511)); }
.md-right { color:#999;width:rem-calc(126);height:rem-calc(20);top:rem-calc(-2);z-index:-1;right:calc(50% - rem-calc(511)); }
.lg-left { color:#999;width:rem-calc(127);height:rem-calc(20);top:rem-calc(-2);z-index:-1;left:calc(50% - rem-calc(639)); }
.lg-right { color:#999;width:rem-calc(127);height:rem-calc(20);top:rem-calc(-2);z-index:-1;right:calc(50% - rem-calc(639)); }
.xl-left { color:#999;width:50%;height:rem-calc(20);top:rem-calc(-2);z-index:-2;right:50%;text-align:right;padding-right:rem-calc(670); }
.xl-right { color:#999;width:50%;height:rem-calc(20);top:rem-calc(-2);z-index:-2;left:50%;text-align:left;padding-left:rem-calc(670); }

.grid-type-gap {
  column-gap: rem-calc(16);
  display:flex;
  position:absolute;
  z-index:0;
  left:0;
  right:0;
  margin:0 auto;
  max-width: $max-page-width-1280;
  height:100%;
  padding-left: rem-calc(24);
  padding-right: rem-calc(24);
}
.grid-type-gap.md {
  column-gap: rem-calc(24);
  padding-left: rem-calc(32);
  padding-right: rem-calc(32);
}
.grid-type-gap.lg {
  column-gap: rem-calc(24);
  padding-left: rem-calc(32);
  padding-right: rem-calc(32);
}
.grid-type-gap.xl {
  column-gap: rem-calc(32);
  padding-left:0;
  padding-right:0;
}
.grid-type-gap > div {
  width: 100%;
  height:100%;
  background-color:#7777ff25;
}
.grid-type-legacy {
  display:flex;
  position:absolute;
  z-index:0;
  left:0;
  right:0;
  margin:0 auto;
  max-width: $max-page-width-1280;
  height:100%;
}
.grid-type-legacy > div:first-child {
  border-left:1px solid red;
}
.grid-type-legacy > div {
  height:100%;
  border-right:1px solid red;
  width: 100%;
}