@charset "UTF-8";

// page width, common colors
@use '_config/_unit.scss' as unit;
@use '_config/_breakpoint.scss' as breakpoint;

[data-module='header'] {
  background-color: white;

  a.link {
    color: var(--color-blue);
    font-size: unit.rem-calc(16);
    font-family: 'heebo-bold';
    text-transform: none;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: unit.rem-calc(4);
  }

  .skip-nav-link {
    &:focus,
    &:active {
      width: auto;
      height: auto;
      overflow: visible;
      clip: auto;
      white-space: normal;
      position: absolute;
      z-index: 0;
      background-color: white;
      color: var(--color-blue);
      left:0;
    }
  }

  .desktop-row {
    background-color: var(--color-onyx);
    @include breakpoint.breakpoint(xlarge up) {
      .desktop-row-container {
        display: flex;
        justify-content: space-between;
        padding: 0 32px;
      }
    }
    @include breakpoint.breakpoint(xlarge up) {
      border-bottom: 1px solid var(--color-silver);
      width: 100%;
      height: unit.rem-calc(45);
      .desktop-row-container {
        padding: 0;
        max-width: var(--max-page-width-1280);
        margin: 0 auto;
      }
    }
  }

  .main-row {
    background-color: var(--color-onyx);
    .main-row-container {
      display: flex;
      justify-content: space-between;
      height: unit.rem-calc(56);
      @include breakpoint.breakpoint(xlarge up) {
        justify-content: flex-start;
        height: unit.rem-calc(60);
        padding: 0;
        max-width: var(--max-page-width-1280);
        margin: 0 auto;
        position: relative;
      }
    }
  }

    .logo {
      height: 0;
      flex-grow: 0;
      padding-left: 24px;
      align-self: center;
      display: flex;
      a {
        display: inline-flex;
        align-items: center;
        gap: unit.rem-calc(4);
        // font-size: 0; /* remove gap in anchor with no text */
        img {
          height: unit.rem-calc(27);
          width: initial;
        }
      }
      @include breakpoint.breakpoint(xlarge up) {
        height: unit.rem-calc(40);
        padding-left: 0;
      }
    }

    .log-in-container {
      flex-grow: 0;
      border-left: 1px solid var(--color-silver);
      border-right: 1px solid var(--color-silver);
      // display: flex;
      // align-items: center;
      font-family: 'heebo-bold';
      transition: width 0.2s;
      > div {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
      }
      .lock-container {
        width: unit.rem-calc(22);
        height: unit.rem-calc(21);
        padding-right: 4px;
      }
      @include breakpoint.breakpoint(xlarge up) {
        border: 0;
        position: relative;
        &.active {
          filter: drop-shadow(0 0 unit.rem-calc(5) #999);
          z-index: 1
        }
      }
      @include breakpoint.breakpoint(xlarge up) {
        filter: none;
      }
    }
    .log-in-move-container{
      transition: width 0.2s;
      @include breakpoint.breakpoint(xlarge up) {
        position: relative;
      }
    }

      button.log-in-button-wrapper {
        transition: width 0.2s;
        -webkit-text-size-adjust: 100%;
        cursor: pointer;
        font-family: 'heebo-bold';
        letter-spacing: 0.01562rem;
        line-height: 1.25rem;
        vertical-align: middle;
        align-items: center;
        gap: unit.rem-calc(4);
        padding: 0 24px;
        background-color: transparent;
        border: none;
        display: flex;
        white-space: nowrap;
        margin: 0;
        height: 100%;
        justify-content: center;
        z-index: 0;
        &:not(.active) {
          color: white;
          fill: white;
        }
        &.active {
          background-color: white;
          border-bottom: 1px solid white;
          color: var(--color-onyx);
          fill: var(--color-onyx);
        }
        @include breakpoint.breakpoint(xlarge up) {
          -webkit-text-size-adjust: 100%;
          text-decoration: none;
          padding: 0 16px;
          overflow: hidden;
          height: unit.rem-calc(45);
          border-radius: 0;
          background-color: white;
          color: var(--color-blue);
          margin-bottom: 0;
          letter-spacing: 0.01562rem;
          line-height: 3.25rem;
          &:not(.active) {
            color: var(--color-onyx);
            fill: var(--color-onyx);
          }
          &.active {
            border: 0 solid var(--color-yale-blue);
            padding: 0 16px;
          }
          &:hover {
            -webkit-text-size-adjust: 100%;
            cursor: pointer;
            font-size: 0.875rem;
            overflow: hidden;
            text-decoration: underline !important;
          }
          &:focus {
            text-align: center;
            text-decoration: underline;
            span {
              text-decoration: underline;
            }
          }
          button: focus {
            text-decoration: underline;
          }
        }
        .lock {
          -webkit-text-size-adjust: 100%;
          display: flex;
          cursor: pointer;
          text-align: center;
          color: white;
          text-transform: uppercase;
          letter-spacing: 0.01562rem;
          line-height: 3.25rem;
        }
        .label {
          line-height: 1.5rem;
          font-family: 'heebo-bold';
          font-size: unit.rem-calc(16);
          padding: 0 4px 0 8px;
          @include breakpoint.breakpoint(xlarge up) {
            padding: 0 4px 0 8px;
            font-size: 0.875rem;
            font-family: 'heebo-bold';
          }
        }
        .chevron {
          display: none;
          @include breakpoint.breakpoint(xlarge up) {
            -webkit-text-size-adjust: 100%;
            display: flex;
            cursor: pointer;
            text-align: center;
            color: white;
            text-transform: uppercase;
            letter-spacing: 0.01562rem;
            line-height: 3.25rem;
          }
        }
      }

      .log-in-menu-container-wrapper {
        transition: width 0.2s;
        position: absolute;
        display: flex;
        justify-content: flex-end;
        z-index: 1; /*900*/
        // top: unit.rem-calc(56); //done through javascript now
        right: 0;
        height: 100vh;
        &:not(.active) {
          width: 0%;
          > * > * {
            display: none !important; /* done for a11y tabbable reasons */
          }
        }
        &.active {
          width: 100%;
        }
        @include breakpoint.breakpoint(xlarge up) {
          transition: height 0.2s;
          position: absolute;
          top: unit.rem-calc(44) !important;
          right: 0;
          border-radius: 0 0 unit.rem-calc(8) unit.rem-calc(8);
          border-bottom-left-radius: unit.rem-calc(10);
          border-bottom-right-radius: unit.rem-calc(10);
          overflow: hidden;
          &:not(.active) {
            height: 0%;
            > * > * {
              display: none !important; /* done for a11y tabbable reasons */
            }
          }
          &.active{
            width: unit.rem-calc(275);
            height: auto !important;
            padding: 0;
            background: linear-gradient(to top, #eee 0%, white 80%, white 100%);
            border: 1px solid var(--color-onyx);
            border-top: 0;
          }
        }
      }
        .log-in-menu-container {
          transition: width 0.2s;
          text-align: right;
          width: 100%;
          background-color: white;
          color: var(--color-yale-blue);
          overflow: hidden;
          height: 100%;
          padding: 24px 0;
          outline: 0;
          &:not(.active) {
            > * > * {
              display: none !important; /* done for a11y tabbable reasons */
            }
          }
          &.active {
            overflow: initial;
          }
          @include breakpoint.breakpoint(medium up) {
            width: unit.rem-calc(430);
          }
          @include breakpoint.breakpoint(xlarge up) {
            width: unit.rem-calc(275);
            position: initial;
            &:not(.active) {
              height: 0%;
              > * > * {
                display: none !important; /* done for a11y tabbable reasons */
              }
            }
          }
        }

        .log-in-menu-container-background {
          opacity: 50%;
          background-color: var(--color-yale-blue);
          width: 100%;
          height: 100%;
          padding: 0;
          margin: 0;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          @include breakpoint.breakpoint(xlarge up) {
            display: none;
          }
        }


    .hamburger-icon-container {
      width: unit.rem-calc(72);
      display: block;
      cursor: pointer;
      @include breakpoint.breakpoint(xlarge up) {
        display: none;
      }
      > button {
        cursor: pointer;
        background-color: transparent;
        border: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        white-space: nowrap;
        padding: 0;
        margin: 0;
        min-width: unit.rem-calc(40);
        justify-content: center;
      }
    }
      .hamburger-lines-container {
        transition: transform 0.2s;
        &.active {
          padding: 10px 0;
          transform: rotate(90deg);
        }
      }

        .hamburger-line-1 {
          border-top: 2px solid #fff;
          display: block;
          transition: margin 0.2s, transform 0.2s;
          width: unit.rem-calc(20);
          &.active {
            transform: rotate(45deg);
          }
        }

        .hamburger-line-2 {
          border-top: 2px solid #fff;
          display: block;
          transition: margin 0.2s, transform 0.2s;
          width: unit.rem-calc(20);
          margin: 5px 0;
          &.active {
            margin: -2px 0;
            opacity: 0;
          }
        }

        .hamburger-line-3 {
          border-top: 2px solid #fff;
          display: block;
          transition: margin 0.2s, transform 0.2s;
          width: unit.rem-calc(20);
          &.active {
            transform: rotate(135deg);
          }
        }



    .mobile-menu-container-wrapper {
      transition: width 0.2s;
      position: absolute;
      display: flex;
      justify-content: flex-end;
      z-index: 1;
      // top: unit.rem-calc(56); //done through javascript now
      right: 0;
      height: 100vh;
      &:not(.active) {
        width: 0%;
        > * > * {
          display: none !important; /* done for a11y tabbable reasons */
        }
      }
      &.active {
       width: 100%;
      }
    }

    .mobile-menu-container {
      transition: width 0.2s;
      border-top: 1px solid var(--color-silver);
      width: 100%;
      background-color: white;
      overflow: hidden;
      height: 100%;
      &:not(.active) {
        > * > * {
          display: none !important; /* done for a11y tabbable reasons */
        }
      }
      &.active {
       overflow: initial;
       height: auto;
      }
      @include breakpoint.breakpoint(medium up) {
        width: unit.rem-calc(430);
      }
    }

    .mobile-menu-search-row {
      background-color: var(--color-onyx);
      color: white;
      padding: 16px 24px 16px;
    }

    .dropdown {
      @include breakpoint.breakpoint(xlarge up) {
        position: relative;
        flex-grow: 0;
        &.active {
          filter: drop-shadow(0 0 unit.rem-calc(5) #999);
          z-index: 1;
        }
      }
      .input-box{
        margin: 4px auto;
        appearance: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        z-index: 0;
        @include breakpoint.breakpoint(xlarge up) {
          text-indent: unit.rem-calc(8);
        }
        .chevron {
          transition: all .2s;
          width: unit.rem-calc(16);
          height: unit.rem-calc(16);
          position: absolute;
          right: unit.rem-calc(24);
          transform: rotate(-90deg);
          background-image: url("data: image/svg+xml,%3Csvg height='16' viewBox='0 0 40 40' preserveAspectRatio='xMidYMid meet' xmlns='http: //www.w3.org/2000/svg' focusable='false'%3E%3Cpath fill='%23FFFFFF' d='M39.93 11.1c-.02-.05-.1-.14-.12-.17l-2.07-2.1c-.1-.1-.25-.15-.34-.17-.02 0-.03 0-.04 0-.17-.04-.35.03-.46.15 0 .02-.02.03-.02.04L20 25.72 3.13 8.85c-.1-.1-.22-.16-.34-.2-.18-.03-.35.03-.47.14-.02 0-.05.03-.06.04L.2 10.92c-.1.08-.14.2-.16.24-.05.12-.05.25 0 .36 0 .07.1.22.16.27l19.36 19.35c.05.06.2.14.27.17.05.02.1.03.17.03.06 0 .1 0 .17-.02.07-.03.2-.1.26-.17L39.8 11.8c.1-.1.14-.2.17-.28.05-.14.03-.3-.04-.44z'%3E%3C/path%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-position: center center;
          background-size: unit.rem-calc(16) unit.rem-calc(16);
        }

        &[aria-expanded=true] {
          .chevron {
            transition: all .2s;
            transform: rotate(0deg);
            background-image: url("data: image/svg+xml,%3Csvg height='16' viewBox='0 0 40 40' preserveAspectRatio='xMidYMid meet' xmlns='http: //www.w3.org/2000/svg' focusable='false'%3E%3Cpath fill='%23FFFFFF' d='M39.93 11.1c-.02-.05-.1-.14-.12-.17l-2.07-2.1c-.1-.1-.25-.15-.34-.17-.02 0-.03 0-.04 0-.17-.04-.35.03-.46.15 0 .02-.02.03-.02.04L20 25.72 3.13 8.85c-.1-.1-.22-.16-.34-.2-.18-.03-.35.03-.47.14-.02 0-.05.03-.06.04L.2 10.92c-.1.08-.14.2-.16.24-.05.12-.05.25 0 .36 0 .07.1.22.16.27l19.36 19.35c.05.06.2.14.27.17.05.02.1.03.17.03.06 0 .1 0 .17-.02.07-.03.2-.1.26-.17L39.8 11.8c.1-.1.14-.2.17-.28.05-.14.03-.3-.04-.44z'%3E%3C/path%3E%3C/svg%3E");
          }
        }
        @include breakpoint.breakpoint(xlarge up) {
          margin: 0;
          color: #646c76;
          font-size: unit.rem-calc(16);
          text-rendering: optimizeLegibility;
          height: 100%;
          width: 100%;
          padding-left: 16px;
          display: flex;
          align-items: center;
          background-color: white;
          justify-content: flex-start;
          .chevron {
            right: unit.rem-calc(17);
            transition: initial;
            transform: rotate(0deg);
            background-image: url("data: image/svg+xml,%3Csvg width='18' height='16' preserveAspectRatio='xMidYMid meet' xmlns='http: //www.w3.org/2000/svg' focusable='false'%3E%3Cpath fill='%23646c76' d='M9.062,9.089l3.57-3.29c0.44-0.396,1.108-0.396,1.55,0c0.39,0.335,0.434,0.922,0.099,1.312 c-0.03,0.036-0.063,0.068-0.099,0.099l-4.33,4c-0.444,0.397-1.115,0.397-1.56,0l-4.46-4c-0.39-0.335-0.434-0.922-0.099-1.312 c0.03-0.035,0.063-0.068,0.099-0.099c0.44-0.396,1.109-0.396,1.55,0L9.062,9.089z'%3E%3C/path%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: unit.rem-calc(20) unit.rem-calc(16);
          }
          &[aria-expanded=true] {
            .chevron {
              transition: initial;
              transform: rotate(180deg);
              background-image: url("data: image/svg+xml,%3Csvg width='18' height='16' preserveAspectRatio='xMidYMid meet' xmlns='http: //www.w3.org/2000/svg' focusable='false'%3E%3Cpath fill='%23001928' d='M9.062,9.089l3.57-3.29c0.44-0.396,1.108-0.396,1.55,0c0.39,0.335,0.434,0.922,0.099,1.312 c-0.03,0.036-0.063,0.068-0.099,0.099l-4.33,4c-0.444,0.397-1.115,0.397-1.56,0l-4.46-4c-0.39-0.335-0.434-0.922-0.099-1.312 c0.03-0.035,0.063-0.068,0.099-0.099c0.44-0.396,1.109-0.396,1.55,0L9.062,9.089z'%3E%3C/path%3E%3C/svg%3E");
            }
          }
        }
      }
      .options-container{
        &:not(.active) {
          max-height: 0;
          display: none;
        }
        &.active{
          width: 100%;
          border: 0;
          overflow-y: auto;
          z-index: 0;
          transition: max-height 0.2s;
          max-height: unit.rem-calc(500);
          padding-top: 4px;
          @include breakpoint.breakpoint(xlarge up) {
            padding-top: 0;
            transition: none;
            position: absolute;
            top: unit.rem-calc(44);
            background-color: white;
            border-bottom-left-radius: unit.rem-calc(10);
            border-bottom-right-radius: unit.rem-calc(10);
            left: 0;
          }
        }
        .option {
          margin: 8px 0;
          font-size: unit.rem-calc(16);
          text-indent: unit.rem-calc(16);
          position: relative;
          padding-left: 0;
          cursor: pointer;
          @include breakpoint.breakpoint(small up) {
            .indicator {
              position: absolute;
              left: unit.rem-calc(-22);
              top: unit.rem-calc(-2);
            }
          }
          @include breakpoint.breakpoint(xlarge up) {
            height: unit.rem-calc(44);
            .indicator {
              display: none;
            }
          }
          &[aria-disabled=true] {
            font-family: 'heebo-bold';
          }
          @include breakpoint.breakpoint(xlarge up) {
            margin: 0;
            width: 100%;
            display: flex;
            padding-left: 16px;
            text-indent: unit.rem-calc(8);
            align-items: center;
            background-color: white;
            &:hover,
            &[data-focus=true] {
              border: 0;
              color: var(--color-blue);
              background-color: #f5f6f7;
              cursor: pointer;
            }
            &[aria-disabled=true] {
              font-family: 'heebo-bold';
              color: black;
              &:hover {
                color: inherit;
                cursor: inherit;
              }
            }
          }
        }
      }
    }

    .dropdown.site-selector {
      @include breakpoint.breakpoint(xlarge up) {
        border-right: 1px solid var(--color-silver);
        width: unit.rem-calc(270);
        position: relative;
        height: unit.rem-calc(44);
        &.active {
          filter: drop-shadow(0 0 unit.rem-calc(5) #999);
          z-index: 1;
        }
      }
      @include breakpoint.breakpoint(xlarge up) {
        width: 100%;
        border-right: 0;
      }
      .input-box {
        @include breakpoint.breakpoint(xlarge up) {
          display: none;
        }
      }
      // @include breakpoint.breakpoint(xlarge up) {
      //   width: 100%;
      //   border-right: 0;
      // }
      .options-container{
        @include breakpoint.breakpoint(xlarge up) {
          width: unit.rem-calc(265);
        }
        &.active{
          @include breakpoint.breakpoint(xlarge up) {
            width: unit.rem-calc(267);
          }
        }
      }
      .options-container-xl {
        display: none;
        @include breakpoint.breakpoint(xlarge up) {
          display: flex;
          list-style: none;
          display: flex;
          margin: 0;
          height: unit.rem-calc(44);
          padding: 0;
          li {
            list-style: none;
            // height: 100;
            display: flex;
            align-items: center;
            padding: 4px 32px 0 0;
            white-space: nowrap;
            &.active a {
              font-family: 'heebo-bold';
            }
            a {
              text-decoration: none;
              color: #fff;
              font-size: unit.rem-calc(14);
              font-weight: 300;
              text-transform: none;
              text-decoration: none;
              display: inline-flex;
              align-items: center;
              gap: unit.rem-calc(4);
              &:hover {
                font-weight: 700;
                text-decoration: underline;
              }
            }
          }

        }
      }
    }

    .mobile-menu-nav-links {
      margin: 0;
      padding: 0;
      width: 100%;
      .menu_wrapper {
        &[data-level='1'] {
          &:not(.active) {
            display: none;
            &[data-level='0'] {
              display: block;
            }
          }
          &.active {
            display: block;
          }
        }
      }
      .megamenu-heading { display: none; }
      ul.menu_list {
        margin: 0;
        width: 100%;
        &[data-level='0'] {
          padding: 0;
        }
        &[data-level='1'] {
          padding-left: 24px;
          padding-bottom: 8px;
          background: linear-gradient(to top, #eee 0%, white 80%, white 100%);
        }
        &[data-level='2'] {
          padding: 4px 0 4px 24px;
          &:not(.active) {
            display: none;
            &[data-level='0'] {
              display: block;
            }
          }
          &.active {
            display: block;
          }
        }
      }
      ul.menu_list > li.menu_listitems {
        display: block;
        margin: 0;
        &[data-level='0'] {
          border-bottom: 1px solid #d9dce1;
        }
        &[data-level='1'] {
          padding: 4px 24px;
        }
      }
      ul.menu_list > li.menu_listitems > a {
        color: var(--color-onyx);
        text-decoration: none;
        background-color: transparent;
        border: 0;
        display: flex;
        align-items: center;
        font-size: unit.rem-calc(16);
        width: 100%;
        height: 100%;
        padding: 16px 0;
        margin: 0;
        position: relative;
        &[data-level='1'] {
          padding: 8px 0;
        }
        &[data-level='2'] {
          padding: 8px 0;
          .icon {
            display: none;
          }
          .content{
            display: none;
          }
        }
        &:hover {
          cursor: pointer;
          color: var(--color-blue);
        }
        &[aria-current='page'] {
          font-family: 'heebo-bold';
          .indicator {
            position: absolute;
            left: unit.rem-calc(-18);
            top: unit.rem-calc(5);
          }
        }
      }
      ul.menu_list > li.menu_listitems > button {
        color: var(--color-yale-blue);
        text-decoration: none;
        background-color: transparent;
        border: 0;
        display: flex;
        align-items: center;
        font-size: unit.rem-calc(16);
        width: 100%;
        height: 100%;
        padding: 16px 24px;
        margin: 0;
        position: relative;
        &:hover {
          cursor: pointer;
          color: var(--color-blue);
        }
        &[data-level='1'] {
          padding: 8px 0;
        }
        @media (hover: hover) {
          /* this is to fix sticky : hover issue on mobile */
          &:hover {
            cursor: pointer;
            color: var(--color-blue);
          }
        }
        &[aria-expanded='true'] {
          color: var(--color-blue);
          font-family: 'heebo-bold';
          .chevron {
            transition: all 0.2s;
            transform: rotate(0deg);
            background-image: url("data: image/svg+xml,%3Csvg height='16' viewBox='0 0 40 40' preserveAspectRatio='xMidYMid meet' xmlns='http: //www.w3.org/2000/svg' focusable='false'%3E%3Cpath fill='%230075be' d='M39.93 11.1c-.02-.05-.1-.14-.12-.17l-2.07-2.1c-.1-.1-.25-.15-.34-.17-.02 0-.03 0-.04 0-.17-.04-.35.03-.46.15 0 .02-.02.03-.02.04L20 25.72 3.13 8.85c-.1-.1-.22-.16-.34-.2-.18-.03-.35.03-.47.14-.02 0-.05.03-.06.04L.2 10.92c-.1.08-.14.2-.16.24-.05.12-.05.25 0 .36 0 .07.1.22.16.27l19.36 19.35c.05.06.2.14.27.17.05.02.1.03.17.03.06 0 .1 0 .17-.02.07-.03.2-.1.26-.17L39.8 11.8c.1-.1.14-.2.17-.28.05-.14.03-.3-.04-.44z'%3E%3C/path%3E%3C/svg%3E");
            background-size: unit.rem-calc(16) unit.rem-calc(16);
          }
        }
      }
    }

    .desktop-menu-nav-links {
      @include breakpoint.breakpoint(xlarge up) {
        display: flex;
        justify-content: flex-start;
        height: unit.rem-calc(56);
      }
      @include breakpoint.breakpoint(xlarge up) {
        position: initial;
        height: unit.rem-calc(60);
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
      }
      .menu_wrapper {

        &[data-level='1'] {
          &:not(.active) {
            display: none;
          }
          &.active {
            display: block;
            &[data-column-threshold=small] {
              padding-top: 8px;
              padding-bottom: 8px;
              width: unit.rem-calc(190);
              overflow: hidden;
              background: linear-gradient(to top, #eee 0%, white 80%, white 100%);
            }
          }
          top: unit.rem-calc(60);
          right: 0;
          position: absolute;
          border-radius: 0 0 unit.rem-calc(10) unit.rem-calc(10);
          border-top: 0;
          border-left: 1px solid #ccc;
          border-right: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
          z-index: 2;
        }
        .megamenu-heading {
          &[data-level='0'],
          &[data-level='2'] {
            display: none;
          }
          &[data-level='1'] {
            height: unit.rem-calc(110);
            font-size: unit.rem-calc(28);
            font-family: 'heebo-bold';
            padding: 40px 24px 32px 24px;
            width: 100%;
            border-top-left-radius: unit.rem-calc(10);
            border-top-right-radius: unit.rem-calc(10);
            display: flex;
            @include breakpoint.breakpoint(xlarge up) {
              padding: 40px 40px 32px 40px;
            }
          }
        }
        .megamenu-ul-container{
          &[data-level='1'] {
            z-index: 0;
            list-style: none;
            margin: 0;
            padding: 0;
            height: auto;
            position: relative;
            width: unit.rem-calc(190);
          }
        }
      }
      ul.menu_list {
        &[data-level='0'] {
          padding: 0;
          display: flex;
          align-items: center;
          @include breakpoint.breakpoint(xlarge up) {
            height: unit.rem-calc(60);
          }
          // > li.menu_listitems:first-child > button {
          //   padding-left: 0;
          // }
        }
        &[data-level='1'] {
          z-index: 0;
          list-style: none;
          margin: 0;
          padding: 0;
          height: auto;
          &[data-column-threshold=small] {
            width: 100%;
            background-position: 0 100%;
            background-size: 100%;
            position: relative;
          }
        }
      }
      ul.menu_list > li.menu_listitems {
        &[data-level='0'] {
          position:relative;
          display: flex;
          margin: 0;
          flex: none;
          height: 100%;
        }
        &[data-level='1'] {
          padding: 0;
          margin: 0;
          width: 100%;
          display: flex;
          text-decoration: none;
          &:not(.active) {
            background: none;
          }
          &.active {
            background-color: #f5f6f7;
            border-radius: unit.rem-calc(8) 0 0 unit.rem-calc(8);
          }
          &:hover:has(button),
          &:active:has(button),
          &:focus:has(button) {
            border-top-left-radius: unit.rem-calc(10);
            border-bottom-left-radius: unit.rem-calc(10);
            background: #f5f6f7;
          }
        }
      }
      ul.menu_list > li.menu_listitems > a {

        &[data-level='0'] {
          color: var(--color-white);
          text-decoration: none;
          background-color: transparent;
          display: flex;
          align-items: center;
          font-size: unit.rem-calc(16);
          width: 100%;
          height: 100%;
          padding: 0 12px;
          transition: border-bottom 0.2s ease-in-out;
          &:hover {
            cursor: pointer;
          }
          &:focus {
            text-decoration: none;
          }
        }
        &[data-level='1'] {
          cursor: pointer;
          color: var(--color-yale-blue);
          text-decoration: none;
          border: none;
          align-items: stretch;
          font-size: unit.rem-calc(16);
          line-height: 1.25rem;
          padding: 8px 8px 8px 16px;
          width: 100%;
          text-align: left;
          &:hover,
          &:active {
            background-color: var(--color-silver);
            color: white;
          }
          &:focus {
            text-decoration: none;
            color: var(--color-yale-blue);
          }
          .indicator{
            display: none;
          }
        }
      }
      ul.menu_list > li.menu_listitems > button {
        &[data-level='0'] {
          color: var(--color-white);
          text-decoration: none;
          background-color: transparent;
          display: flex;
          align-items: center;
          font-size: unit.rem-calc(16);
          width: 100%;
          height: 100%;
          padding: 0 12px;
          transition: border-bottom 0.2s ease-in-out;
          border-left: 0;
          border-right: 0;
          &.active {
            color: var(--color-onyx);
            background-color: white;
          }
          &:active {
            text-decoration: none;
            background-color: white;
          }
          &:hover {
            cursor: pointer;
            background-color: white;
          }
          &[aria-expanded='false'] {
            color: var(--color-white);
            background-color: transparent;
          }
          &[aria-expanded='true'] {
            background-color: white;
          }
        }
        &[data-level='1'] {
          &:hover {
            cursor: pointer;
            background-color: var(--color-silver);
          }
        }
      }
    }

    .mobile-menu-container-background {
      transition: width 0.2s;
      opacity: 50%;
      background-color: var(--color-yale-blue);
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

    .mobile-menu-nav-links {
      padding-bottom: 128px;
    }

}
