@charset "UTF-8";
@use '_config/_unit.scss' as unit;
@use '_config/_breakpoint.scss' as breakpoint;

[data-zs-iframe-editor] {
  height:0;
  opacity:0%;
  transition:all .1s ease;
  &[data-zs-iframe-editor-open] {
    opacity:100%;
    height:unit.rem-calc(550);
  }
}

[data-module='autocomplete.multiselect'] > * > span {
  padding-bottom: 12px;
  &:empty {
    padding: 0;
  }
}

[data-zs-page-editor-menu] button:before {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  pointer-events: none;
  white-space: nowrap;
  background: #fff;
  transform: translateX(unit.rem-calc(-20));
  transition: opacity 0.1s ease, visibility 0.1s ease;
  border-radius: unit.rem-calc(16) 0 0 unit.rem-calc(16);
  border: 1px solid var(--color-onyx);
  padding: 4px 32px 4px 24px;
  z-index:-1;
}

[data-zs-page-editor-menu] button[value=true] {
  box-shadow: 0 0 0 2px #FFF;
}

[data-zs-page-editor-menu] button:hover:before,
[data-zs-page-editor-menu] button[value=true]:before {
  transition: opacity 0.3s ease, visibility 0.3s ease;
  visibility: visible;
  opacity: 1;
}

[data-zs-inline-edit]:before { content: "Inline Edit";  border: 1px solid var(--color-dark-goldenrod); }
[data-zs-inline-edit].bgc\:dark-goldenrod:before { content: "Inline Edit";  border: 1px solid var(--color-dark-goldenrod); background: var(--color-dark-goldenrod); }

[data-zs-edit]:before { content: "Exploded Edit";  border: 1px solid var(--color-cocoa-brown); }
[data-zs-edit].bgc\:cocoa-brown:before { content: "Exploded Edit";  border: 1px solid var(--color-cocoa-brown); background: var(--color-cocoa-brown); }

[data-zs-add]:before { content: "Add";  border: 1px solid var(--color-positive); }
[data-zs-add].bgc\:positive:before { content: "Add";  border: 1px solid var(--color-positive); background: var(--color-positive); }

[data-zs-remove]:before { content: "Remove";  border: 1px solid var(--color-negative); }
[data-zs-remove].bgc\:negative:before { content: "Remove";  border: 1px solid var(--color-negative); background: var(--color-negative); }

[data-zs-reorder]:before { content: "Reorder";  border: 1px solid var(--color-blue); }
[data-zs-reorder].bgc\:blue:before { content: "Reorder";  border: 1px solid var(--color-blue); background: var(--color-blue); }

[data-zs-publish]:before { content: "Publish";  border: 1px solid var(--color-english-violet); }
[data-zs-publish].bgc\:english-violet:before { content: "Publish";  border: 1px solid var(--color-english-violet); background: var(--color-english-violet); }

[data-zs-publish-page]:before { content: "Publish Page";  border: 1px solid var(--color-positive); }
[data-zs-publish-page].bgc\:positive:before { content: "Publish Page";  border: 1px solid var(--color-positive); background: var(--color-positive); }

[data-zs-page-editor-mode-add-border] { border: 2px dashed var(--color-positive)-light; padding: 16px !important; margin-top:0 !important; }
[data-zs-page-editor-mode-add-padding] {
  padding: 8px;
  &::before {
    content: attr(data-zs-module-name) " (mid:" attr(data-zs-mid) ")";
    border: 2px solid var(--color-positive)-light;
    opacity: .75;
  }
}
[data-zs-page-editor-mode-remove-border] { border: 2px dashed var(--color-negative-light); }
[data-zs-page-editor-mode-reorder-border] {
  background-image:
    radial-gradient(circle, #303030 .125rem, #FFF .125rem, #FFF .1875rem, transparent 0),
    radial-gradient(circle, #303030 .125rem, #FFF .125rem, #FFF .1875rem, transparent 0),
    radial-gradient(circle, #303030 .125rem, #FFF .125rem, #FFF .1875rem, transparent 0),
    radial-gradient(circle, #303030 .125rem, #FFF .125rem, #FFF .1875rem, transparent 0),
    radial-gradient(circle, #303030 .125rem, #FFF .125rem, #FFF .1875rem, transparent 0),
    radial-gradient(circle, #303030 .125rem, #FFF .125rem, #FFF .1875rem, transparent 0);
  background-size: 8px 8px;
  background-repeat: no-repeat;
  background-position:
    4px 4px,
    12px 4px,
    4px 12px,
    12px 12px,
    4px 20px,
    12px 20px;
}
[data-zs-page-editor-mode-reorder-child-border] { border: 2px dashed var(--color-blue); padding: 16px !important; margin-top:0 !important; }
[data-zs-page-editor-mode-edit-border] { border: 2px dashed var(--color-cocoa-brown); }
[data-zs-page-editor-mode-publish-border] { border: 2px dashed var(--color-english-violet); }

.color\:onyx { color: var(--color-onyx); }
.ic-color\:cocoa-brown { background-color: #{var(--color-cocoa-brown)} };
.ic-color\:dark-goldenrod { background-color: #{var(--color-dark-goldenrod)} };
.ic-color\:english-violet { background-color: #{var(--color-english-violet)} };
.bgc\:positive { background-color: var(--color-positive); }
.bgc\:negative { background-color: var(--color-negative); }
.bgc\:dark-goldenrod { background-color: var(--color-dark-goldenrod); }
.bgc\:english-violet { background-color: var(--color-english-violet); }
.bgc\:cocoa-brown { background-color: var(--color-cocoa-brown); }
.color\:positive { color: var(--color-positive); }
.color\:negative { color: var(--color-negative); }
.color\:dark-goldenrod { color: var(--color-dark-goldenrod); }
.color\:english-violet { color: var(--color-english-violet); }
.color\:cocoa-brown { color: var(--color-cocoa-brown); }

[data-module="placeholder"] {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0' xmlns='http://www.w3.org/2000/svg'%3E%3Ctext x='0' y='20' style='font-family:Arial;font-size:18px;font-weight:bold;fill:%2300000008;'%3Eplaceholder -- %3C/text%3E%3C/svg%3E");
  background-size: unit.rem-calc(125) unit.rem-calc(25);
  background-repeat: repeat;
  background-color: transparent;
  // height: 100%;
  width: 100%;
}

[data-module="dialog"]:has([data-zs-page-editor-mode-add-styles]),
[data-module="table.tr"]:has([data-zs-page-editor-mode-add-styles]),
[data-module="table.td"]:has([data-zs-page-editor-mode-add-styles]) {
  padding: 6px 10px;
  border: 2px dashed var(--color-positive)-light;
}

[data-zs-page-editor-mode-add-styles],
[data-zs-page-editor-mode-add-label-styles],
[data-zs-page-editor-mode-remove-styles],
[data-zs-page-editor-mode-confirm-removal-styles],
[data-zs-page-editor-mode-edit-styles],
[data-zs-page-editor-mode-publish-styles],
[data-zs-page-editor-mode-confirm-publish-styles],
[data-zs-page-editor-mode-publish-page-styles] {
  display: block;
  grid-column: span 12;
  margin-top:0 !important;
  background-repeat: repeat;
  // height: 100%;
  width: 100%;
  position: relative;
  padding: 34px 10px 6px !important;
  cursor: pointer;
  &.row,
  &.row0 {
    display: flex;
  }
  &::before {
    padding: 4px 8px;
    font-size: unit.rem-calc(14);
    position: absolute;
    text-align: center;
    font-family: 'heebo-bold';
    top: unit.rem-calc(-2);
    left: unit.rem-calc(-2);
    height: unit.rem-calc(24);
    background: white;
    color: black;
    line-height: unit.rem-calc(14);
    z-index:1;
    text-transform: none;
  }
}

[data-zs-page-editor-mode-inline-edit-styles]:hover {
  position: relative;
  cursor: pointer;
  &::before {
    padding: 4px 8px;
    font-size: unit.rem-calc(14);
    position: absolute;
    text-align: center;
    font-family: 'heebo-bold';
    top: unit.rem-calc(-2);
    left: unit.rem-calc(-2);
    height: unit.rem-calc(24);
    background: white;
    color: black;
    line-height: unit.rem-calc(14);
    z-index:1;
    text-transform: none;
  }
}

[data-zs-page-editor-mode-add-styles] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' fill='none'%3E%3Crect width='100' height='100' fill='%2384b48e30'/%3E%3Cline x1='0' y1='0' x2='100' y2='100' stroke='%23cccccc' stroke-width='2'/%3E%3Cline x1='0' y1='100' x2='100' y2='0' stroke='%23cccccc' stroke-width='2'/%3E%3C/svg%3E");
  background-size: unit.rem-calc(20) unit.rem-calc(20);
  border: 2px dashed var(--color-positive)-light;
  padding: 24px 10px 4px !important;
  &::before {
    content: "ADD to: " attr(data-zs-module-name) " (mid:" attr(data-zs-mid) ")";
    left:0;
    width:100%;
    background:none;
    text-shadow: 2px 2px #fff;
  }
}

[data-zs-page-editor-mode-add-label-styles] {
  border: 2px dashed var(--color-positive)-light;
  padding: 34px 24px 18px !important;
  &::before {
    content: attr(data-zs-module-name) " (mid:" attr(data-zs-mid) ")";
    border: 2px solid var(--color-positive)-light;
    opacity: .75;
  }
}

[data-zs-page-editor-mode-remove-styles] {
  border: 2px dashed var(--color-negative-light);
  &::before {
    content: "REMOVE: " attr(data-zs-module-name) " (mid:" attr(data-zs-mid) ")";
    border: 2px dashed var(--color-negative-light);
  }
}

[data-zs-page-editor-mode-confirm-removal-styles] {
  border: 2px dashed var(--color-negative-light);
  &::before {
    content:"CONFIRM REMOVAL: " attr(data-zs-module-name) " (mid:" attr(data-zs-mid) ")";
    border: 2px dashed var(--color-negative-light);
  }
}

[data-zs-page-editor-mode-edit-styles] {
  border: 2px dashed var(--color-cocoa-brown);
  &::before {
    content: "EDIT: " attr(data-zs-module-name) " (mid:" attr(data-zs-mid) ")";
    border: 2px dashed var(--color-cocoa-brown);
  }
}

[data-zs-page-editor-mode-inline-edit-styles] {
  transition: box-shadow .25s ease-in-out;
  &::before {
    transition: box-shadow .25s ease-in-out;
  }
  &:hover {
    box-shadow: 0 0 0 1px var(--color-dark-goldenrod), 0 0 0 2px var(--color-dark-goldenrod) !important;
    transition: box-shadow .5s ease-in-out;
    &::before {
      content: "INLINE EDIT: " attr(data-zs-module-name) " (mid:" attr(data-zs-mid) ")";
      box-shadow: 0 0 0 1px var(--color-dark-goldenrod), 0 0 0 2px var(--color-dark-goldenrod) !important;
      transition: box-shadow .5s ease-in-out;
    }
  }
}

[data-zs-page-editor-mode-publish-styles] {
  border: 2px dashed var(--color-english-violet);
  &::before {
    content: "PUBLISH: " attr(data-zs-module-name) " (mid:" attr(data-zs-mid) ")";
    border: 2px dashed var(--color-english-violet);
  }
}

[data-zs-page-editor-mode-confirm-publish-styles] {
  border: 2px dashed var(--color-english-violet);
  &::before {
    content:"CONFIRM PUBLISH: " attr(data-zs-module-name) " (mid:" attr(data-zs-mid) ")";
    border: 2px dashed var(--color-english-violet);
  }
}

[data-zs-page-editor-mode-publish-page-styles] {
  border: 2px dashed var(--color-english-violet);
  cursor: default;
  &::before {
    color: var(--color-gray);
    content: "TO BE PUBLISHED: " attr(data-zs-module-name) " (mid:" attr(data-zs-mid) ")";
    border: 2px dashed var(--color-english-violet);
  }
}

[data-zs-page-editor-mode-force-show] {
  &[data-module='accordion.panel'] {
    opacity: 1 !important;
    height: auto !important;
  }
  &[data-module='carousel'] {
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
  }
  &[data-module='carousel.controls-group'] {
    display: none !important;
  }
  &[data-module='carousel.controls-group'] + div {
    width: 100% !important;
    display: flex !important;
  }
  &[data-module='carousel.item-group'] {
    width: 100% !important;
    left: 0 !important;
    flex-wrap: wrap !important;
  }
  &[data-module='carousel.item'] {
    width: 100% !important;
    opacity: 1 !important;
  }
  &[data-module='carousel.controls-group'] {
    position: static !important;
  }
  &[data-module='dialog'] {
    display:block !important;
    width: 100% !important;
    max-width: 100% !important;
  }
  &[data-module='popover'] {
    position: static !important;
    visibility: initial !important;
    display: block !important;
    [data-popover-close],
    &::before,
    &:after {
      display:none !important;
    }
  }
  &[data-module='table.td'],
  &[data-module='table.th'] {
    width: initial;
    display: table-cell !important;
  }
  &[data-module='tabs.panel'] {
    display:block !important;
  }
}

pre.command-text {
  background: var(--color-gray);
  padding: 1px 4px;
  border-radius: unit.rem-calc(4);
  color: #eee;
  display: inline;
  margin: 0;
}

.form\:theme\:wms {
  // label styles
  input[type='text'] + label,
  input[type='number'] + label,
  input[type='email'] + label,
  input[type='password'] + label,
  input[type='search'] + label,
  select + label,
  textarea + label {
    z-index: 2;
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    cursor: pointer;
    &::before {
      // blue label line, hidden
      z-index: 4;
      content: '';
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background: var(--color-blue);
      transform: scaleX(0);
      transition: all 0.3s linear;
      position: relative;
      top: unset;
      display: block;
    }
    &:after {
      // default gray label line
      z-index: 3;
      content: '';
      width: 100%;
      height: 2px;
      bottom: 2px;
      left: 0;
      background: var(--color-silver);
      position: relative;
      top: unset;
      display: block;
    }
    &.error-field:before {
      background: var(--color-negative);
    }
    &.error-field:after {
      background: var(--color-negative);
    }
    &.valid:before {
      background: #0b8224;
    }
    &.disabled {
      color: var(--color-onyx);
      span.description {
        color: var(--color-onyx);
      }
    }
    span.description {
      // label description
      display: flex;
      align-items: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color: var(--color-blue);
      transition: 0.3s ease-out;
      position: absolute;
      top: 0;
      font-size: unit.rem-calc(16);
      font-family: 'heebo-bold';
    }
  }

  // input (text, email, password, search), select, and textarea styles
  input,
  select,
  textarea {
    color: var(--color-eerie-black);
    transition: all 0.3s ease-out;
    :disabled {
      color: var(--color-onyx);
    }
  }

  [data-module="autocomplete"] [data-module="autocomplete.multiselect-tags"] [data-autocomplete-tag] {
    font-size: unit.rem-calc(14);
    > button {
      font-size: unit.rem-calc(16);
    }
  }

  input[type='text'],
  input[type='number'],
  input[type='email'],
  input[type='password'],
  input[type='search'],
  select,
  textarea {
    width: 100%;
    height: unit.rem-calc(36);
    margin-top: 24px;
    white-space: nowrap;
    line-height: 1.5;
    border: none;
    background-color: var(--color-white-smoke);
    transition: all 0.3s ease-out;
    &:focus-visible {
      outline: 0;
    }
  }
  input[type='text'][data-module='autocomplete.input'] {
    margin-top: 0;
  }
  input[type='text']:focus + label:before,
  input[type='text'].focus + label:before,
  input[type='number']:focus + label:before,
  input[type='email']:focus + label:before,
  input[type='password']:focus + label:before,
  input[type='search']:focus + label:before,
  select:focus + label:before,
  textarea:focus + label:before,
  textarea.focus + label:before {
    visibility: visible;
    transform: scaleX(1);
  }

  // helper description styles
  .error-message {
    width: 100%;
    min-width: unit.rem-calc(150);
    padding: 0 0 0 19px;
    font-size: unit.rem-calc(14);
    font-family: 'heebo-regular';
    color: var(--color-negative);
    background: url(../assets/icon/exclamation-circle.negative.svg) no-repeat top left;
    background-size: unit.rem-calc(16) unit.rem-calc(16);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    margin-top: 4px;
    display: none;
    margin-bottom: 6px;
    &.has-error {
      visibility: visible;
      opacity: 1;
      display: block;
      &.display\:inline {
        display: inline;
      }
    }
  }

  // helper description styles
  .helper-description {
    color: var(--color-onyx);
    font-size: unit.rem-calc(14);
    margin-top: 4px;
    letter-spacing: unit.rem-calc(0.25);
  }

  .helper-description-pass-fail {
    list-style: none;
    padding-left: 0;
    color: var(--color-onyx);
    font-size: unit.rem-calc(14);
    li {
      display: flex;
      line-height: unit.rem-calc(24);
      padding: 2px 6px 2px 32px;
      background-image: url(../assets/icon/times.negative.svg);
      background-repeat: no-repeat;
      background-position: top unit.rem-calc(2) left unit.rem-calc(2);
      background-size: unit.rem-calc(24) unit.rem-calc(24);
      > span {
        display: flex;
      }
      &.pass {
        background-image: url(../assets/icon/check.positive.svg);
      }
      &.fail {
        background-image: url(../assets/icon/times.negative.svg);
      }
    }
  }

  // select styles
  select {
    cursor: pointer;
    background-color: transparent;
    background-image: url('../assets/icon/chevron-down.blue.svg');
    background-repeat: no-repeat;
    background-position: right unit.rem-calc(8) top unit.rem-calc(10);
    background-size: unit.rem-calc(16) unit.rem-calc(16);
    appearance: none;
  }

  // textarea styles
  textarea {
    transition: all 0.3s ease;
    padding-top: 6px; // to remain consistent with input boxes
    padding-bottom: 6px; // to remain consistent with input boxes
    margin-bottom: -4px; // to remain consistent with input boxes
    white-space: pre-wrap;
  }

  input[type="radio"] {
    appearance: none;
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    position: absolute;
    &+label {
      cursor: pointer;
      position: relative;
      padding-left: 36px;
      letter-spacing: unit.rem-calc(0.15);
      line-height: unit.rem-calc(24);
      &::before {
        content: '';
        position: absolute;
        left: 0;
        width: unit.rem-calc(24);
        height: unit.rem-calc(24);
        border: 2px solid var(--color-gray);
        &:hover {
            cursor: pointer;
        }
      }
    }
    &:checked+label:before {
      content: '';
      cursor: pointer;
    }
    &:focus+label {
      outline: 2px solid var(--color-black);
    }
    &:checked:focus+label {
      outline: 2px solid var(--color-black);
    }
    &:checked:focus+label {
      box-shadow: var(--box-shadow-custom-7);
    }
    &:focus+label:before {
      box-shadow: 0 0 4px 3pxrgba(var(--color-vista-blue), 0.65);
    }
    &:checked:focus+label:before {
      box-shadow: 0 0 4px 3pxrgba(var(--color-vista-blue), 0.65);
    }
    &.has-error+label:before {
      border: 2px solid var(--color-negative);
    }
    &:disabled+label {
      color: var(--color-onyx);
      &::before {
        background-color: var(--color-silver);
        border: 2px solid var(--color-onyx);
      }
    }
  }

  input[type="radio"] {
    &+label {
      &::before {
        border-radius: 50%;
        transition: background-color ease-in-out 250ms, border ease-in-out 250ms;
      }
    }
    &:checked+label:before {
      background-color: var(--color-white);
      border: 6px solid var(--color-blue);
    }
    &:focus+label:before {
      background-color: transparent;
      border: 2px solid var(--color-gray);
    }
    &:checked:focus+label:before {
      background-color: var(--color-white);
      border: 6px solid var(--color-blue);
      box-shadow: var(--box-shadow-custom-7);
    }
    &:checked:disabled+label:before {
      background-color: var(--color-silver);
      border: 6px solid var(--color-onyx);
    }
  }

  .box-radio-buttons {
    input[type="radio"] {
      &+label {
        text-align:center;
        display:inline-block;
        padding: 4px 16px;
        font-family: 'heebo-bold';
        font-size: unit.rem-calc(14);
        color: var(--color-blue);
        background-color: var(--color-white);
        width: 100%;
        border: 2px solid var(--color-gray);
        border-radius: unit.rem-calc(4);
        transition: all .3s ease;
        box-shadow: 0 0 0 0 rgba(var(--color-vista-blue), 0.65);
        white-space:nowrap;
        cursor: pointer;
        position: relative;
        letter-spacing: unit.rem-calc(0.15);
        line-height: unit.rem-calc(24);
        &::before {
          display:none;
        }
      }
      &:hover+label,
      &:checked+label {
        color: var(--color-white);
        background-color: var(--color-blue);
        border: 2px var(--color-blue) solid;
      }
      &:checked:focus+label {
        border: 2px var(--color-vista-blue) solid;
        box-shadow: 0 0 4px 3pxrgba(var(--color-vista-blue), 0.65);
      }
      &:disabled+label,
      &[disabled='true']+label {
        background-color: var(--color-silver);
      }
      &:disabled:hover+label,
      &[disabled='true']:hover+label {
        color: var(--color-onyx);
      }
    }
    &:not(:active):after {
      animation: ripple .3s ease-in;
    }
    &:after {
      visibility: hidden;
    }
    &:focus:after {
      visibility: visible;
    }
  }
}

@keyframes ripple {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

@each $breakpoint-name, $prefix in breakpoint.$breakpoint-prefixes {
  @include breakpoint.breakpoint($breakpoint-name) {
    .#{$prefix}text-shadow\:eerie-black {
      text-shadow: 0 0 3px var(--color-eerie-black);
    }
  }
}
