html.storm-eagle {
  font-size: 16px;
  color: $eerie-black;
  font-family:"heebo-light", Arial, Sans-Serif;
  box-sizing: border-box;
  body {
    min-width: $min-page-width-375;
    margin:0;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  /* Get rid of gap under images by making them display: inline-block; by default */
  display: inline-block;
  vertical-align: middle;

  /* Grid defaults to get images and embeds to work properly */
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

a {
  color: $blue;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

button {
  border: 0;
  background-color:transparent;
  cursor: pointer;
  padding: 0;
}

abbr[title] {
  /* override */
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
dl,
p {
  margin-top:0;
  margin-bottom:0;
}

table {
  border-collapse: collapse;
}

strong {
  font-family:"heebo-bold", Arial, Sans-Serif;
}