/* file: helper-border-radius.scss------------------------------------------------ */
@use 'sass:list';
@use '../_config/_unit.scss' as unit;
@use '../_config/_breakpoint.scss' as breakpoint;
$sizes: (
  0    : 0,
  4px  : unit.rem-calc(4),
  8px  : unit.rem-calc(8),
  16px : unit.rem-calc(16),
  24px : unit.rem-calc(24),
  32px : unit.rem-calc(32),
  48px : unit.rem-calc(48),
  50\% : 50%
);

$directions: (
  brrtl : top-left,
  brrtr : top-right,
  brrbl : bottom-left,
  brrbr : bottom-right
);

@each $breakpoint-name, $prefix in breakpoint.$breakpoint-prefixes {
  @include breakpoint.breakpoint($breakpoint-name) {
    @each $size in $sizes {
      $size-name: list.nth($size, 1);
      $size-value: list.nth($size, 2);

      .#{$prefix}brr\:#{$size-name} {
        border-radius: #{$size-value};
      }

      @each $direction in $directions {
        $direction-name: list.nth($direction, 1);
        $direction-value: list.nth($direction, 2);

        .#{$prefix}#{$direction-name}\:#{$size-name} {
          border-#{$direction-value}-radius: #{$size-value};
        }
      }

      .#{$prefix}brrtx\:#{$size-name} {
        border-top-left-radius: #{$size-value};
        border-top-right-radius: #{$size-value};
      }

      .#{$prefix}brrbx\:#{$size-name} {
        border-bottom-left-radius: #{$size-value};
        border-bottom-right-radius: #{$size-value};
      }

      .#{$prefix}brrly\:#{$size-name} {
        border-top-left-radius: #{$size-value};
        border-bottom-left-radius: #{$size-value};
      }

      .#{$prefix}brrry\:#{$size-name} {
        border-top-right-radius: #{$size-value};
        border-bottom-right-radius: #{$size-value};
      }
    }
    @each $direction in $directions {
      $direction-name: list.nth($direction, 1);
      $direction-value: list.nth($direction, 2);

      .#{$prefix}#{$direction-name}\:0 {
        border-#{$direction-value}-radius: 0;
      }
    }
  }
}
