$colors: (
  blue        : $blue,
  red         : $red,
  yale-blue   : $yale-blue,
  eerie-black : $eerie-black,
  onyx        : $onyx,
  gray        : $gray,
  silver      : $silver,
  platinum    : $platinum,
  white       : $white,
  vista-blue  : $vista-blue,
  powder-blue : $powder-blue,
  negative    : $negative,
  positive    : $positive,
  warning     : $warning,
  cecece      : $border-color,
  transparent : transparent
);

$sizes: (
  0px : rem-calc(0),
  1px : rem-calc(1),
  2px : rem-calc(2),
  4px : rem-calc(4)
);

$directions: (
  bt : top,
  bb : bottom,
  bl : left,
  br : right
);

@each $mediaquery in $mediaqueries {
  $breakpoint: nth($mediaquery, 1);
  $prefix: nth($mediaquery, 2);

  @include breakpoint($breakpoint) {
    .#{$prefix}b\:0{
       border: 0;
    }

    @each $direction in $directions {
      $direction-name: nth($direction, 1);
      $direction-value: nth($direction, 2);

      .#{$prefix}#{$direction-name}\:0 {
        border-#{$direction-value}-width: 0;
      }
    }

    @each $size in $sizes {
      $size-name: nth($size, 1);
      $size-value: nth($size, 2);

      @each $color in $colors {
        $color-name: nth($color, 1);
        $color-value: nth($color, 2);

        .#{$prefix}b-#{"" + $color-name}\:#{$size-name} {
          border: #{$size-value} #{$color-value} solid;
        }

        @each $direction in $directions {
          $direction-name: nth($direction, 1);
          $direction-value: nth($direction, 2);

          .#{$prefix}#{$direction-name}-#{"" + $color-name}\:#{$size-name} {
            border-#{$direction-value}: #{$size-value} #{$color-value} solid;
          }
        }
      }
    }
  }
}