/* file: helper-color.scss------------------------------------------------ */
@use '../_config/_breakpoint.scss' as breakpoint;
@each $breakpoint-name, $prefix in breakpoint.$breakpoint-prefixes {
  @include breakpoint.breakpoint($breakpoint-name) {
    .#{$prefix}color\:white {
      color: var(--color-white);
    }
    .#{$prefix}color\:blue {
      color: var(--color-blue);
    }
    .#{$prefix}color\:eerie-black {
      color: var(--color-eerie-black);
    }
    .#{$prefix}color\:gray {
      color: var(--color-gray);
    }
    .#{$prefix}color\:yale-blue {
      color: var(--color-yale-blue);
    }
    .#{$prefix}color\:positive {
      color: var(--color-positive);
    }
    .#{$prefix}color\:negative {
      color: var(--color-negative);
    }
  }
}
