$sizes: (
  0    : 0,
  4px  : rem-calc(4),
  8px  : rem-calc(8),
  16px : rem-calc(16),
  24px : rem-calc(24),
  32px : rem-calc(32),
  48px : rem-calc(48),
  50\% : 50%
);

$directions: (
  brtl : top-left,
  brtr : top-right,
  brbl : bottom-left,
  brbr : bottom-right
);

@each $mediaquery in $mediaqueries {
  $breakpoint: nth($mediaquery, 1);
  $prefix: nth($mediaquery, 2);

  @include breakpoint($breakpoint) {
    @each $direction in $directions {
      $direction-name: nth($direction, 1);
      $direction-value: nth($direction, 2);

      .#{$prefix}#{$direction-name}\:0 {
        border-#{$direction-value}-radius: 0;
      }
    }

    @each $size in $sizes {
      $size-name: nth($size, 1);
      $size-value: nth($size, 2);

      .#{$prefix}br\:#{$size-name} {
        border-radius: #{$size-value};
      }

      @each $direction in $directions {
        $direction-name: nth($direction, 1);
        $direction-value: nth($direction, 2);

        .#{$prefix}#{$direction-name}\:#{$size-name} {
          border-#{$direction-value}-radius: #{$size-value};
        }
      }
    }
  }
}