/* file: helper-border.scss------------------------------------------------ */
@use 'sass:list';
@use '../_config/_unit.scss' as unit;
@use '../_config/_breakpoint.scss' as breakpoint;

$colors: (
  yale-blue   : var(--color-yale-blue),
  blue        : var(--color-blue),
  vista-blue  : var(--color-vista-blue),
  powder-blue : var(--color-powder-blue),
  eerie-black : var(--color-eerie-black),
  onyx        : var(--color-onyx),
  gray        : var(--color-gray),
  silver      : var(--color-silver),
  platinum    : var(--color-platinum),
  white-smoke : var(--color-white-smoke),
  white       : var(--color-white),
  red         : var(--color-red),
  yellow      : var(--color-yellow),
  negative    : var(--color-negative),
  positive    : var(--color-positive),
  warning     : var(--color-warning),
  disabled    : var(--color-disabled),
  transparent : transparent
);

$sizes: (
  0px: unit.rem-calc(0),
  1px: unit.rem-calc(1),
  2px: unit.rem-calc(2),
  4px: unit.rem-calc(4)
);

$directions: (
  bt: top,
  bb: bottom,
  bl: left,
  br: right
);

@each $breakpoint-name, $prefix in breakpoint.$breakpoint-prefixes {
  @include breakpoint.breakpoint($breakpoint-name) {
    @each $size in $sizes {
      $size-name: list.nth($size, 1);
      $size-value: list.nth($size, 2);

      @each $color in $colors {
        $color-name: list.nth($color, 1);
        $color-value: list.nth($color, 2);

        .#{$prefix}b-#{'' + $color-name}\:#{$size-name} {
          border: #{$size-value} #{$color-value} solid;
        }

        .#{$prefix}bx-#{'' + $color-name}\:#{$size-name} {
          border-left: #{$size-value} #{$color-value} solid;
          border-right: #{$size-value} #{$color-value} solid;
        }

        .#{$prefix}by-#{'' + $color-name}\:#{$size-name} {
          border-top: #{$size-value} #{$color-value} solid;
          border-bottom: #{$size-value} #{$color-value} solid;
        }

        @each $direction in $directions {
          $direction-name: list.nth($direction, 1);
          $direction-value: list.nth($direction, 2);

          .#{$prefix}#{$direction-name}-#{'' + $color-name}\:#{$size-name} {
            border-#{$direction-value}: #{$size-value} #{$color-value} solid;
          }
        }
      }
    }

    // placed after the above to "overrride" it if necessary
    .#{$prefix}b\:0 {
      border: 0;
    }

    @each $direction in $directions {
      $direction-name: list.nth($direction, 1);
      $direction-value: list.nth($direction, 2);

      .#{$prefix}#{$direction-name}\:0 {
        border-#{$direction-value}-width: 0;
      }
    }
  }
}