/* file: helper-opacity.scss------------------------------------------------ */
@use '../_config/_breakpoint.scss' as breakpoint;
@each $breakpoint-name, $prefix in breakpoint.$breakpoint-prefixes {
  @include breakpoint.breakpoint($breakpoint-name) {
    .#{$prefix}opacity\:0\% {
      opacity: 0;
    }

    .#{$prefix}opacity\:50\% {
      opacity: .5;
    }

    .#{$prefix}opacity\:100\% {
      opacity: 1;
    }
  }
}