$box-shadow-custom-0: 0 0 rem-calc(2) 0 rgba($slate,0.12), 0 rem-calc(2) rem-calc(2) 0 rgba($slate,0.07);
$box-shadow-custom-1: 0 rem-calc(2) rem-calc(8) 0 rgba($slate,0.04), 0 rem-calc(4) rem-calc(24) 0 rgba($slate,0.1);
$box-shadow-custom-2: 0 0.1rem rem-calc(2) rem-calc(2) rgba(0, 25, 40, 0.12);
$box-shadow-custom-3: 0 0 rem-calc(2) 0 rgba($slate,0.04), 0 rem-calc(2) rem-calc(2) 0 rgba($slate,0.04), 0 .25rem .25rem 0 rgba($slate,0.1);
$box-shadow-custom-4: 0 rem-calc(2) .625rem 0 rgba(0,0,0,.3);
$box-shadow-custom-5: 0 rem-calc(2) rem-calc(8) 0 rgba($slate,0.04), 0 rem-calc(4) rem-calc(24) 0 rgba($slate,0.1);

@each $mediaquery in $mediaqueries {
  $breakpoint: nth($mediaquery, 1);
  $prefix: nth($mediaquery, 2);

  @include breakpoint($breakpoint) {
    .#{$prefix}box-shadow\:0 {
      box-shadow: none;
    }

    .#{$prefix}box-shadow\:custom-0 {
      box-shadow: $box-shadow-custom-0;
    }

    .#{$prefix}box-shadow\:custom-1 {
      box-shadow: $box-shadow-custom-1;
    }

    .#{$prefix}box-shadow\:custom-2 {
      box-shadow: $box-shadow-custom-2;
    }

    .#{$prefix}box-shadow\:custom-3 {
      box-shadow: $box-shadow-custom-3;
    }

    .#{$prefix}box-shadow\:custom-4 {
      box-shadow: $box-shadow-custom-4;
    }

    .#{$prefix}box-shadow\:custom-5 {
      box-shadow: $box-shadow-custom-5;
    }
  }
}