/* file: helper-margin-padding.scss------------------------------------------------ */
$properties: (
  m\:  : margin,
  mt\: : margin-top,
  ml\: : margin-left,
  mr\: : margin-right,
  mb\: : margin-bottom,
  p\:  : padding,
  pt\: : padding-top,
  pl\: : padding-left,
  pr\: : padding-right,
  pb\: : padding-bottom
);

$values: (1px, 2px, 4px, 8px, 12px, 16px, 20px, 24px, 32px, 40px, 48px, 56px, 64px, 72px, 80px, 96px, 0, auto);


@each $mediaquery in $mediaqueries {
  $breakpoint: nth($mediaquery, 1);
  $prefix: nth($mediaquery, 2);

  @include breakpoint($breakpoint) {

    @each $value in $values {

      @each $property in $properties {
        $key: nth($property, 1);
        $css-property: nth($property, 2);

        .#{$prefix}#{$key}#{$value} {
          #{$css-property}: #{$value};
        }
      }

      .#{$prefix}mx\:#{$value} {
        margin-left: #{$value};
        margin-right: #{$value};
      }

      .#{$prefix}my\:#{$value} {
        margin-top: #{$value};
        margin-bottom: #{$value};
      }

      .#{$prefix}px\:#{$value} {
        padding-left: #{$value};
        padding-right: #{$value};
      }

      .#{$prefix}py\:#{$value} {
        padding-top: #{$value};
        padding-bottom: #{$value};
      }

    }
  }
}