/* file: interactive-anchors-buttons.scss------------------------------------------------ */
@use '../_config/_unit.scss' as unit;
@use '../_config/_breakpoint.scss' as breakpoint;

@each $breakpoint-name, $prefix in breakpoint.$breakpoint-prefixes {
  @include breakpoint.breakpoint($breakpoint-name) {
    a.#{$prefix}anchor\:blue,
    button.#{$prefix}anchor\:blue,
    a.#{$prefix}anchor\:white,
    button.#{$prefix}anchor\:white,
    a.#{$prefix}anchor\:red,
    button.#{$prefix}anchor\:red,
    a.#{$prefix}anchor\:yale-blue,
    button.#{$prefix}anchor\:yale-blue {
      cursor: pointer;
      font-family: 'heebo-bold';
      border: none;
      border-style: none;
      margin: 0;
      padding: 0;
      background-color: transparent;
    }

    a.#{$prefix}anchor\:blue,
    button.#{$prefix}anchor\:blue {
      color: var(--color-blue);
      > span > .ic {
        background-color: var(--color-blue);
      }
      &:hover,
      &:hover:enabled,
      &:focus,
      &:focus:enabled,
      &:active,
      &:active:enabled {
        color: var(--color-yale-blue);
        text-decoration: underline;
        > span > .ic {
          background-color: var(--color-yale-blue);
        }
      }
      &:disabled,
      &.disabled,
      &[disabled='true'] {
        color: var(--color-onyx);
        cursor: default;
        text-decoration: none;
        > span > .ic {
          background-color: var(--color-onyx);
        }
      }
    }

    a.#{$prefix}anchor\:white,
    button.#{$prefix}anchor\:white {
      color: var(--color-white);
      > span > .ic {
        background-color: var(--color-white);
      }
      &:hover,
      &:hover:enabled,
      &:focus,
      &:focus:enabled,
      &:active,
      &:active:enabled {
        color: var(--color-white);
        text-decoration: underline;
        > span > .ic {
          background-color: var(--color-white);
        }
      }
      &:disabled,
      &.disabled,
      &[disabled='true'] {
        color: var(--color-white);
        cursor: default;
        text-decoration: none;
        > span > .ic {
          background-color: var(--color-white);
        }
      }
    }

    a.#{$prefix}anchor\:red,
    button.#{$prefix}anchor\:red {
      color: var(--color-red);
      > span > .ic {
        background-color: var(--color-red);
      }
      &:hover,
      &:hover:enabled,
      &:focus,
      &:focus:enabled,
      &:active,
      &:active:enabled {
        color: var(--color-red);
        text-decoration: underline;
        > span > .ic {
          background-color: var(--color-red);
        }
      }
      &:disabled,
      &.disabled,
      &[disabled='true'] {
        color: var(--color-onyx);
        cursor: default;
        text-decoration: none;
        > span > .ic {
          background-color: var(--color-onyx);
        }
      }
    }

    a.#{$prefix}anchor\:yale-blue,
    button.#{$prefix}anchor\:yale-blue {
      color: var(--color-yale-blue);
      > span > .ic {
        background-color: var(--color-yale-blue);
      }
      &:hover,
      &:hover:enabled,
      &:focus,
      &:focus:enabled,
      &:active,
      &:active:enabled {
        color: var(--color-eerie-black);
        text-decoration: underline;
        text-decoration: none;
        > span > .ic {
          background-color: var(--color-eerie-black);
        }
      }
      &:disabled,
      &.disabled,
      &[disabled='true'] {
        color: var(--color-onyx);
        cursor: default;
        > span > .ic {
          background-color: var(--color-onyx);
        }
      }
    }
  }
}

@each $breakpoint-name, $prefix in breakpoint.$breakpoint-prefixes {
  @include breakpoint.breakpoint($breakpoint-name) {
    a.#{$prefix}button\:blue,
    button.#{$prefix}button\:blue,
    a.#{$prefix}button\:transparent,
    button.#{$prefix}button\:transparent,
    a.#{$prefix}button\:white,
    button.#{$prefix}button\:white,
    a.#{$prefix}button\:red,
    button.#{$prefix}button\:red,
    a.#{$prefix}button\:yale-blue,
    button.#{$prefix}button\:yale-blue {
      position:relative;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      font-size: unit.rem-calc(14);
      text-align: center;
      font-family: 'heebo-bold';
      font-weight: 700;
      padding: 0 32px;
      overflow: hidden;
      height: unit.rem-calc(54);
      transition: none; // all .2s ease;
      border-radius: unit.rem-calc(4);
      //border-radius: unit.rem-calc(28);
      line-height: 2rem;
      box-sizing: border-box;
      white-space: nowrap;
      width: fit-content;
      vertical-align: middle;
      &.uppercase {
        letter-spacing: unit.rem-calc(.25);
        line-height: unit.rem-calc(52);
        &.small {
          line-height: 0;
        }
      }
      &.small {
        padding: 0 1rem;
        height: 2rem;
        line-height: 0;
      }
      > span > .ic.ic-size\:16px {
        margin-top: -2px;
        width: 1rem;
        height: 1rem;
      }
      > span > .ic.ic-size\:24px {
        margin-top: -2px;
        width: 1.5rem;
        height: 1.5rem;
      }
      &:focus {
        box-shadow: var(--box-shadow-custom-7);
        outline:0;
      }
    }

    a.#{$prefix}button\:blue,
    button.#{$prefix}button\:blue {
      border: 2px solid var(--color-blue);
      background-color: var(--color-blue);
      color: var(--color-white);
      box-shadow: var(--box-shadow-custom-2);
      &:hover,
      &:hover:enabled {
        border: 2px solid var(--color-yale-blue);
        background-color: var(--color-yale-blue);
      }
      &:focus,
      &:focus:enabled,
      &:active,
      &:active:enabled {
        background-color: var(--color-yale-blue);
      }
      > span > .ic {
        background-color: var(--color-white);
      }
      &:disabled,
      &.disabled,
      &[disabled='true'] {
        box-shadow: none;
        border: 2px solid var(--color-silver);
        background-color: var(--color-silver);
        color: var(--color-onyx);
        cursor: default;
        > span > .ic {
          background-color: var(--color-onyx);
        }
      }
    }

    a.#{$prefix}button\:transparent,
    button.#{$prefix}button\:transparent {
      border: 2px solid var(--color-blue);
      background-color: transparent;
      color: var(--color-blue);
      box-shadow: var(--box-shadow-custom-2);
      > span > .ic {
        background-color: var(--color-blue);
      }
      &:hover,
      &:hover:enabled {
        border: 2px solid var(--color-yale-blue);
        color: var(--color-yale-blue);
        > span > .ic {
          background-color: var(--color-yale-blue);
        }
      }
      &:focus,
      &:focus:enabled,
      &:active,
      &:active:enabled {
        box-shadow: 0 0 4px 3pxrgba(var(--color-vista-blue), 0.35);
        border: 2px solid var(--color-vista-blue);
        color: var(--color-yale-blue);
        > span > .ic {
          background-color: var(--color-yale-blue);
        }
      }
      &:disabled,
      &.disabled,
      &[disabled='true'] {
        box-shadow: none;
        border: 2px solid var(--color-silver);
        background-color: transparent;
        color: var(--color-onyx);
        cursor: default;
        > span > .ic {
          background-color: var(--color-onyx);
        }
      }
    }

    a.#{$prefix}button\:white,
    button.#{$prefix}button\:white {
      border: 2px solid transparent;
      background-color: var(--color-white);
      color: var(--color-blue);
      > span > .ic {
        background-color: var(--color-blue);
      }
      &:hover,
      &:hover:enabled,
      &:focus,
      &:focus:enabled,
      &:active,
      &:active:enabled {
        border: 2px solid transparent;
        background-color: var(--color-yale-blue);
        color: var(--color-white);
        > span > .ic {
          background-color: var(--color-white);
        }
      }
      &:disabled,
      &.disabled,
      &[disabled='true'] {
        border: 2px solid var(--color-silver);
        background-color: var(--color-silver);
        color: var(--color-onyx);
        cursor: default;
        > span > .ic {
          background-color: var(--color-onyx);
        }
      }
    }

    a.#{$prefix}button\:red,
    button.#{$prefix}button\:red {
      border: 2px solid transparent;
      background-color: var(--color-red);
      color: var(--color-white);
      &:hover,
      &:hover:enabled,
      &:focus,
      &:focus:enabled,
      &:active,
      &:active:enabled {
        border: 2px solid transparent;
        background-color: var(--color-negative);
      }
      > span > .ic {
        background-color: var(--color-white);
      }
      &:disabled,
      &.disabled,
      &[disabled='true'] {
        border: 2px solid var(--color-silver);
        background-color: var(--color-silver);
        color: var(--color-onyx);
        cursor: default;
        > span > .ic {
          background-color: var(--color-onyx);
        }
      }
    }

    a.#{$prefix}button\:yale-blue,
    button.#{$prefix}button\:yale-blue {
      border: 2px solid transparent;
      background-color: var(--color-yale-blue);
      color: var(--color-white);
      &:hover,
      &:hover:enabled,
      &:focus,
      &:focus:enabled,
      &:active,
      &:active:enabled {
        border: 2px solid transparent;
        background-color: var(--color-eerie-black);
      }
      > span > .ic {
        background-color: var(--color-white);
      }
      &:disabled,
      &.disabled,
      &[disabled='true'] {
        border: 2px solid var(--color-silver);
        background-color: var(--color-silver);
        color: var(--color-onyx);
        cursor: default;
        > span > .ic {
          background-color: var(--color-onyx);
        }
      }
    }
  }
}

button.anchor\:blue,
button.anchor\:white,
button.anchor\:red,
button.anchor\:yale-blue {
  text-align: left;
  display: inline-flex;
  vertical-align: middle;
}

.button\:blue::-moz-focus-inner,
.button\:transparent::-moz-focus-inner,
.button\:white::-moz-focus-inner,
.button\:red::-moz-focus-inner,
.button\:yale-blue::-moz-focus-inner {
  border: 0;
}

.button\:blue:after,
.button\:transparent:after,
.button\:white:after,
.button\:red:after,
.button\:yale-blue:after {
  content: '';
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  width: unit.rem-calc(120);
  height: unit.rem-calc(120);
  margin-left: -60px;
  margin-top: -60px;
  background: rgba(1, 1, 1, 1.03);
  border-radius: 100%;
  opacity: .3;
  transform: scale(0);
}

@keyframes ripple {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}


@each $breakpoint-name, $prefix in breakpoint.$breakpoint-prefixes {
  @include breakpoint.breakpoint($breakpoint-name) {
    a.#{$prefix}button\:blue:not(:active):after,
    button.#{$prefix}button\:blue:not(:active):after,
    a.#{$prefix}button\:transparent:not(:active):after,
    button.#{$prefix}button\:transparent:not(:active):after,
    a.#{$prefix}button\:white:not(:active):after,
    button.#{$prefix}button\:white:not(:active):after,
    a.#{$prefix}button\:red:not(:active):after,
    button.#{$prefix}button\:red:not(:active):after,
    a.#{$prefix}button\:yale-blue:not(:active):after,
    button.#{$prefix}button\:yale-blue:not(:active):after {
      animation: ripple .3s ease-in;
    }

    a.#{$prefix}button\:blue:after,
    button.#{$prefix}button\:blue:after,
    a.#{$prefix}button\:transparent:after,
    button.#{$prefix}button\:transparent:after,
    a.#{$prefix}button\:white:after,
    button.#{$prefix}button\:white:after,
    a.#{$prefix}button\:red:after,
    button.#{$prefix}button\:red:after,
    a.#{$prefix}button\:yale-blue:after,
    button.#{$prefix}button\:yale-blue:after {
      visibility: hidden;
    }

    a.#{$prefix}button\:focus:after,
    button.#{$prefix}button\:focus:after,
    a.#{$prefix}button\:focus:after,
    button.#{$prefix}button\:focus:after,
    a.#{$prefix}button\:focus:after,
    button.#{$prefix}button\:focus:after,
    a.#{$prefix}button\:focus:after,
    button.#{$prefix}button\:focus:after,
    a.#{$prefix}button\:focus:after,
    button.#{$prefix}button\:focus:after {
      visibility: visible;
    }
  }
}

[data-module='anchor.left-icon-wrapper'],
[data-module='anchor.right-icon-wrapper'],
[data-module='button.left-icon-wrapper'],
[data-module='button.right-icon-wrapper'] {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}


.button\:blue:not(:active):after,
.button\:transparent:not(:active):after,
.button\:white:not(:active):after,
.button\:red:not(:active):after,
.button\:yale-blue:not(:active):after {
    animation: ripple .3s ease-in;
}

.button\:blue:after,
.button\:transparent:after,
.button\:white:after,
.button\:red:after,
.button\:yale-blue:after {
    visibility: hidden;
}

.button\:blue:focus:after,
.button\:transparent:focus:after,
.button\:white:focus:after,
.button\:red:focus:after,
.button\:yale-blue:focus:after {
    visibility: visible;
}