/* Fieldset: Unstyle a fieldset */
fieldset.unstyle {
  border: 0;
  padding: 0;
}

.form\:theme\:gl0b3x {
  /* label styles */
  input[type='text'] + label,
  input[type='number'] + label,
  input[type='email'] + label,
  input[type='password'] + label,
  input[type='search'] + label,
  select + label,
  textarea + label {
    z-index: 2;
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    cursor: pointer;
    &:before {
      /* blue label line, hidden */
      z-index: 4;
      content: '';
      width: 100%;
      height: rem-calc(2);
      bottom: 0;
      left: 0;
      background: $blue;
      transform: scaleX(0);
      transition: all 0.3s linear;
      position: relative;
      top: unset;
      display: block;
    }
    &:after {
      /* default gray label line */
      z-index: 3;
      content: '';
      width: 100%;
      height: rem-calc(2);
      bottom: rem-calc(2);
      left: 0;
      background: $silver;
      position: relative;
      top: unset;
      display: block;
    }
    &.error-field:before {
      background: $negative;
    }
    &.error-field:after {
      background: $negative;
    }
    &.valid:before {
      background: #0b8224;
    }
    &.disabled {
      color: $onyx;
      span.description {
        color: $onyx;
      }
    }
    span.description {
      /* label description */
      display: block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-size: rem-calc(16);
      color: $blue;
      letter-spacing: 0.25px;
      transition: 0.3s ease-out;
      top: rem-calc(27);
      position: absolute;
    }
    &.force-active-label,
    &.active-label {
      span.description {
        position: absolute;
        top: rem-calc(2);
        font-size: rem-calc(14);
        font-family: 'heebo-medium';
      }
    }
  }

  /* input (text, email, password, search), select, and textarea styles */
  input,
  select,
  textarea {
    color: $eerie-black;
    transition: all 0.3s ease-out;
    :disabled {
      color: $onyx;
    }
  }

  input[type='text'],
  input[type='number'],
  input[type='email'],
  input[type='password'],
  input[type='search'],
  select,
  textarea {
    width: 100%;
    height: rem-calc(36);
    margin-top: rem-calc(16);
    white-space: nowrap;
    line-height: 1.5;
    border: none;
    transition: all 0.3s ease-out;
    &:not(:disabled) {
      background-color: transparent;
    }
  }
  input[type='text']:focus + label:before,
  input[type='text'].focus + label:before,
  input[type='number']:focus + label:before,
  input[type='email']:focus + label:before,
  input[type='password']:focus + label:before,
  input[type='search']:focus + label:before,
  select:focus + label:before,
  textarea:focus + label:before,
  textarea.focus + label:before {
    visibility: visible;
    transform: scaleX(1);
  }

  input[type='text']:focus + label span.description,
  input[type='text'].focus + label span.description,
  input[type='number']:focus + label span.description,
  input[type='email']:focus + label span.description,
  input[type='password']:focus + label span.description,
  input[type='search']:focus + label span.description,
  select:focus + label span.description,
  textarea:focus + label span.description,
  textarea.focus + label span.description {
    top: rem-calc(2);
    font-size: rem-calc(14);
    font-family: 'heebo-medium';
  }
  /* helper description styles */
  .error-message {
    width: 100%;
    min-width: rem-calc(150);
    padding: 0 0 0 rem-calc(19);
    font-size: rem-calc(14);
    font-family: 'heebo-regular';
    color: $negative;
    background: url(../assets/icon/exclamation-circle.negative.svg) no-repeat top left;
    background-size: rem-calc(16) rem-calc(16);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    margin-top: rem-calc(4);
    display: none;
    margin-bottom: rem-calc(6);
    &.has-error {
      visibility: visible;
      opacity: 1;
      display: block;
      &.display\:inline {
        display: inline;
      }
    }
  }

  /* helper description styles */
  .helper-description {
    color: $onyx;
    font-size: rem-calc(14);
    margin-top: rem-calc(4);
    letter-spacing: 0.25px;
  }

  .helper-description-pass-fail {
    list-style: none;
    padding-left: 0;
    color: $onyx;
    font-size: rem-calc(14);
    li {
      display: flex;
      line-height: rem-calc(24);
      padding: rem-calc(2) rem-calc(6) rem-calc(2) rem-calc(32);
      background-image: url(../assets/icon/times.negative.svg);
      background-repeat: no-repeat;
      background-position: top rem-calc(2) left rem-calc(2);
      background-size: rem-calc(24) rem-calc(24);
      > span {
        display: flex;
      }
      &.pass {
        background-image: url(../assets/icon/check.positive.svg);
      }
      &.fail {
        background-image: url(../assets/icon/times.negative.svg);
      }
    }
  }

  /* select styles */
  select {
    cursor: pointer;
    background-color: transparent;
    background-image: url('../assets/icon/chevron-down.blue.svg');
    background-repeat: no-repeat;
    background-position: right rem-calc(8) top rem-calc(10);
    background-size: rem-calc(16) rem-calc(16);
    appearance: none;
  }

  /* textarea styles */
  textarea {
    transition: all 0.3s ease;
    padding-top: rem-calc(6); /* to remain consistent with input boxes */
    padding-bottom: rem-calc(6); /* to remain consistent with input boxes */
    margin-bottom: rem-calc(-4); /* to remain consistent with input boxes */
    white-space: pre-wrap;
  }

  input[type='checkbox'],
  input[type='radio'] {
    appearance: none;
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    position: absolute;
    & + label {
      cursor: pointer;
      position: relative;
      padding-left: rem-calc(36);
      letter-spacing: 0.15px;
      line-height: rem-calc(24);
      &:before {
        content: '';
        position: absolute;
        left: 0;
        width: rem-calc(24);
        height: rem-calc(24);
        border: rem-calc(2) solid $onyx;
        &:hover {
          cursor: pointer;
        }
      }
    }
    &:checked + label:before {
      content: '';
      cursor: pointer;
    }
    &:focus + label {
      outline: rem-calc(2) solid #000;
    }
    &:checked:focus + label {
      outline: rem-calc(2) solid #000;
    }
    &:checked:focus + label {
      box-shadow: $box-shadow-custom-7;
    }
    &:focus + label:before {
      box-shadow: 0 0 rem-calc(4) rem-calc(3) rgba($vista-blue, 0.65);
    }
    &:checked:focus + label:before {
      box-shadow: 0 0 rem-calc(4) rem-calc(3) rgba($vista-blue, 0.65);
    }
    &.has-error + label:before {
      border: rem-calc(2) solid $negative;
    }
    &:disabled + label {
      color: $onyx;
      &:before {
        background-color: $silver;
        border: rem-calc(2) solid $onyx;
      }
    }
  }

  input[type='checkbox'] {
    & + label {
      &:before {
        //border-radius: rem-calc(4);
      }
    }
    &:checked + label:before {
      background-color: $blue;
      background-image: url('../assets/icon/check.white.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: rem-calc(15);
      border: rem-calc(2) solid $blue;
    }
    &:focus + label:before {
      /*border: rem-calc(2) solid $blue;*/
      box-shadow: $box-shadow-custom-7;
    }
    &:checked:disabled + label:before {
      background-color: $onyx;
      background-image: url('../assets/icon/check.white.svg');
      border: rem-calc(2) solid $onyx;
    }
  }

  .parent-checkbox {
    & > input[type='checkbox'][aria-checked='mixed'] + label:before {
      background-color: $blue;
      background-image: url('../assets/icon/dash.white.svg');
    }
    & > input[type='checkbox'][aria-checked='false'] + label:before {
      background-color: none;
      background-image: none;
    }
    & > input[type='checkbox'][aria-checked='true'] + label:before {
      background-color: $blue;
      background-image: url('../assets/icon/check.white.svg');
    }
  }

  input[type='radio'] {
    & + label {
      &:before {
        border-radius: 50%;
        transition:
          background-color ease-in-out 250ms,
          border ease-in-out 250ms;
      }
    }
    &:checked + label:before {
      background-color: $white;
      border: rem-calc(6) solid $blue;
    }
    &:focus + label:before {
      background-color: transparent;
      border: rem-calc(2) solid $gray;
    }
    &:checked:focus + label:before {
      background-color: $white;
      border: rem-calc(6) solid $blue;
      box-shadow: $box-shadow-custom-7;
    }

    &:checked:disabled + label:before {
      background-color: $silver;
      border: rem-calc(6) solid $onyx;
    }
  }

  .box-radio-buttons {
    input[type='radio'] {
      & + label {
        padding: rem-calc(4) rem-calc(16);
        font-family: 'heebo-bold';
        font-size: rem-calc(14);
        color: $blue;
        background-color: $white;
        width: 100%;
        border: rem-calc(2) solid $onyx;
        line-height: 2.25rem;
        //border-radius: rem-calc(4);
        transition: all 0.3s ease;
        box-shadow: 0 0 0 0 rgba($vista-blue, 0.65);
        white-space: nowrap;
        &:before {
          display: none;
        }
      }
      &:hover + label,
      &:checked + label {
        color: $white;
        background-color: $blue;
        border: rem-calc(2) $blue solid;
      }
      &:checked:focus + label {
        border: rem-calc(2) $vista-blue solid;
        box-shadow: 0 0 rem-calc(4) rem-calc(3) rgba($vista-blue, 0.65);
      }
    }
  }

  [data-module="autocomplete.multiselect"] input[type='text'][data-module='autocomplete.input']{
    height: auto;
    margin-top: 0;
    & + label.sr-only {
      position: absolute;
    }
  }

  [data-module='slider.input-container'],
  [data-module='range-slider.input-container'] {
    [data-module='slider.background'] {
      position: relative;
      background-color: $silver;
      height: rem-calc(4);
      border-radius: rem-calc(4);
      display: block;
      margin: rem-calc(-12) auto rem-calc(12);
      [data-module='slider.fill'] {
        z-index: 1;
        background-color: $blue;
        height: rem-calc(4);
        border-radius: rem-calc(4);
        position: absolute;
      }
    }
    [data-module='slider.labels'] li {
      flex-basis: 100%;
    }
  }

  [data-module='slider.input-container'] {
    &.fit {
      width: calc(100% - rem-calc(24));
      margin-left: rem-calc(12);
    }
    input[type='range'].slider {
      position: relative;
      height: rem-calc(24);
      appearance: none;
      background: none;
      z-index: 2;
      cursor: grab;
      width: calc(100% + rem-calc(24));
      margin-left: rem-calc(-12);
      &:active {
        cursor: grabbing;
      }
      &::-webkit-slider-thumb {
        z-index: 2;
        box-shadow:
          0 0 rem-calc(2) 0 rgba(0, 0, 0, 0.5),
          0 rem-calc(2) rem-calc(2) 0 rgba(0, 0, 0, 0.25);
        height: rem-calc(24);
        width: rem-calc(24);
        border-radius: 50%;
        background: #fff;
        appearance: none;
        margin-top: rem-calc(2);
      }
    }
  }

  [data-module='range-slider.input-container'] {
    position: relative;
    &.fit {
      width: calc(100% - rem-calc(24));
      margin-left: rem-calc(12);
    }
    input[type='range'].range-slider {
      position: relative;
      -webkit-appearance: none;
      height: rem-calc(24);
      appearance: none;
      background: none;
      cursor: grab;
      z-index: 2;
      // offset the range to center the thumbs
      width: calc(100% + rem-calc(24));
      margin-left: rem-calc(-12);
      &:not(:only-of-type) {
        pointer-events: none;
      }
      &:active {
        cursor: grabbing;
      }
      &::-webkit-slider-thumb {
        z-index: 2;
        -webkit-appearance: none;
        appearance: none;
        height: rem-calc(24);
        width: rem-calc(24);
        // transform: var(--thumb-transform);
        border-radius: 50%;
        background: #fff;
        box-shadow:
          0 0 rem-calc(2) 0 rgba(0, 0, 0, 0.5),
          0 rem-calc(2) rem-calc(2) 0 rgba(0, 0, 0, 0.25);
        border: none;
        pointer-events: auto;
        -webkit-transition: 0.1s;
        transition: 0.1s;
        margin-top: rem-calc(2);
      }
      &:nth-of-type(1) {
        position: absolute;
      }
      &.range-slider + input[type='range'].range-slider + [data-module='slider.background'] {
        margin-top: rem-calc(-16);
      }
    }
  }

  $switch: 26;
  button[role='switch'][data-module='switch.button']{
    position: relative;
    display: inline-block;
    height: rem-calc($switch+8);
    cursor: pointer;
    [data-module='switch.slider'] {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: background-color 0.4s;
      border-radius: rem-calc($switch+8);
      [data-module='switch.thumb'] {
        position: absolute;
        content: "";
        height: rem-calc($switch);
        width: rem-calc($switch);
        left: rem-calc(4);
        bottom: rem-calc(4);
        transition: left 0.4s, background-color 0.4s;
        border-radius: 50%;
      }
    }
    &[data-theme='small']{
      $switch: 16;
      height: rem-calc($switch+8);
      [data-module='switch.slider'] {
        border-radius: rem-calc($switch+8);
        [data-module='switch.thumb'] {
          height: rem-calc($switch);
          width: rem-calc($switch);
        }
      }
    }
    &[aria-checked='true'] {
      [data-module='switch.thumb']{
        left: calc(100% - rem-calc($switch + 12));
      }
    }
    &[aria-checked='true'][data-theme='small'] {
      [data-module='switch.thumb']{
        left: calc(100% - rem-calc($switch + 4));
      }
    }
  }
}

.form\:theme\:card-checkboxes,
.form\:theme\:card-radiobuttons {
  @keyframes focus-fade {
    0% {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      box-shadow:
        0 0 0 rem-calc(10) $powder-blue,
        0 0 0 rem-calc(10) $yale-blue;
    }
  }

  /* helper description styles */
  .error-message {
    width: 100%;
    min-width: rem-calc(150);
    padding: 0 0 0 rem-calc(19);
    font-size: rem-calc(14);
    font-family: 'heebo-regular';
    color: $negative;
    background: url(../assets/icon/exclamation-circle.negative.svg) no-repeat top left;
    background-size: rem-calc(16) rem-calc(16);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    margin-top: rem-calc(4);
    display: none;
    margin-bottom: rem-calc(6);
    &.has-error {
      visibility: visible;
      opacity: 1;
      display: block;
      &.display\:inline {
        display: inline;
      }
    }
  }

  input[type='radio'],
  input[type='checkbox'] {
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    position: absolute;
    & + label {
      position: relative;
      width: 100%;
      min-height: rem-calc(170);
      display: inline-block;
      transition: all 0.3s ease-out;
      box-shadow: $box-shadow-custom-1;
      &:hover {
        cursor: pointer;
        box-shadow: $box-shadow-custom-6;
      }
      &:active {
        opacity: 1;
        animation: focus-fade 0.3s ease-in;
        outline: 0;
      }
      div.check {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: rem-calc(-1);
        /* - Fix for IE11 - keep -1px, not 0px */
        right: rem-calc(-1);
        /* - Fix for IE11 - keep -1px, not 0px */
        width: rem-calc(24);
        height: rem-calc(24);
        //border-radius: 0 0 0 rem-calc(4);
        background-image: url('../assets/icon/chevron-down.blue.svg');
        background-repeat: no-repeat;
        background-color: #68bbe8;
        background-size: rem-calc(16) rem-calc(16);
        background-position: center center;
        transition: all 0.3s ease-in;
      }
      div.image {
        text-align: center;
        width: rem-calc(96);
        height: rem-calc(72);
        margin: rem-calc(16) auto 0;
      }
      div.description {
        text-align: center;
        padding: rem-calc(8) 0 0 0;
        font-family: 'heebo-bold';
        font-size: rem-calc(16);
        color: $eerie-black;
      }
    }
    &:focus {
      background: $blue;
      border: rem-calc(2) solid $blue;
      color: $white;
      box-shadow: 0 0 rem-calc(4) rem-calc(3) rgba($vista-blue, 0.65);
    }

    &:checked + label,
    &:checked:focus + label {
      border: rem-calc(2) solid $blue;
      div.check {
        opacity: 1;
        visibility: visible;
        background: $blue url('../assets/icon/check.white.svg') rem-calc(8) no-repeat;
        background-position: center center;
        background-size: rem-calc(16);
      }
    }
    &:focus + label,
    &:checked:focus + label {
      border: rem-calc(2) solid $blue;
      div.check {
        background-color: $blue;
        display: block;
      }
    }
    &:checked:focus + label {
      box-shadow: $box-shadow-custom-7;
    }
    .error-field label {
      border: rem-calc(2) solid $negative;
    }
  }
}