/* file: interactive-anchors-buttons.scss------------------------------------------------ */

@each $mediaquery in $mediaqueries {
  $breakpoint: nth($mediaquery, 1);
  $prefix: nth($mediaquery, 2);

  @include breakpoint($breakpoint) {
    a.#{$prefix}anchor\:blue,
    button.#{$prefix}anchor\:blue,
    a.#{$prefix}anchor\:white,
    button.#{$prefix}anchor\:white,
    a.#{$prefix}anchor\:red,
    button.#{$prefix}anchor\:red,
    a.#{$prefix}anchor\:yale-blue,
    button.#{$prefix}anchor\:yale-blue {
      cursor: pointer;
      font-family: 'heebo-bold';
      border: none;
      border-style: none;
      margin: 0;
      padding: 0;
      background-color: transparent;
      > span > .ic.ic-size\:24px {
        margin-top: rem-calc(-4);
        margin-bottom: 0;
      }
      > span > .ic.ic-size\:16px {
        margin-top: rem-calc(-1);
        margin-bottom: 0;
      }
    }

    a.#{$prefix}anchor\:blue,
    button.#{$prefix}anchor\:blue {
      color: $blue;
      > span > .ic {
        background-color: $blue;
      }
      &:hover,
      &:hover:enabled,
      &:focus,
      &:focus:enabled,
      &:active,
      &:active:enabled {
        color: $yale-blue;
        text-decoration: underline;
        > span > .ic {
          background-color: $yale-blue;
        }
      }
      &:disabled,
      &.disabled,
      &[disabled='true'] {
        color: $onyx;
        cursor: default;
        text-decoration: none;
        > span > .ic {
          background-color: $onyx;
        }
      }
    }

    a.#{$prefix}anchor\:white,
    button.#{$prefix}anchor\:white {
      color: $white;
      > span > .ic {
        background-color: $white;
      }
      &:hover,
      &:hover:enabled,
      &:focus,
      &:focus:enabled,
      &:active,
      &:active:enabled {
        color: $white;
        text-decoration: underline;
        > span > .ic {
          background-color: $white;
        }
      }
      &:disabled,
      &.disabled,
      &[disabled='true'] {
        color: $white;
        cursor: default;
        text-decoration: none;
        > span > .ic {
          background-color: $white;
        }
      }
    }

    a.#{$prefix}anchor\:red,
    button.#{$prefix}anchor\:red {
      color: $red;
      > span > .ic {
        background-color: $red;
      }
      &:hover,
      &:hover:enabled,
      &:focus,
      &:focus:enabled,
      &:active,
      &:active:enabled {
        color: $red;
        text-decoration: underline;
        > span > .ic {
          background-color: $red;
        }
      }
      &:disabled,
      &.disabled,
      &[disabled='true'] {
        color: $onyx;
        cursor: default;
        text-decoration: none;
        > span > .ic {
          background-color: $onyx;
        }
      }
    }

    a.#{$prefix}anchor\:yale-blue,
    button.#{$prefix}anchor\:yale-blue {
      color: $yale-blue;
      > span > .ic {
        background-color: $yale-blue;
      }
      &:hover,
      &:hover:enabled,
      &:focus,
      &:focus:enabled,
      &:active,
      &:active:enabled {
        color: $eerie-black;
        text-decoration: underline;
        text-decoration: none;
        > span > .ic {
          background-color: $eerie-black;
        }
      }
      &:disabled,
      &.disabled,
      &[disabled='true'] {
        color: $onyx;
        cursor: default;
        > span > .ic {
          background-color: $onyx;
        }
      }
    }
  }
}

@each $mediaquery in $mediaqueries {
  $breakpoint: nth($mediaquery, 1);
  $prefix: nth($mediaquery, 2);

  @include breakpoint($breakpoint) {
    a.#{$prefix}button\:blue,
    button.#{$prefix}button\:blue,
    a.#{$prefix}button\:transparent,
    button.#{$prefix}button\:transparent,
    a.#{$prefix}button\:white,
    button.#{$prefix}button\:white,
    a.#{$prefix}button\:red,
    button.#{$prefix}button\:red,
    a.#{$prefix}button\:yale-blue,
    button.#{$prefix}button\:yale-blue {
      position:relative;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      font-size: rem-calc(14);
      text-align: center;
      font-family: 'heebo-bold';
      font-weight: 700;
      padding: 0 2rem;
      overflow: hidden;
      height: rem-calc(54);
      transition: none; // all .2s ease;
      border-radius: rem-calc(4);
      //border-radius: rem-calc(28);
      line-height: 2rem;
      box-sizing: border-box;
      white-space: nowrap;
      width: fit-content;
      vertical-align: middle;
      &.uppercase {
        letter-spacing: rem-calc(.25);
        line-height: rem-calc(52);
        &.small {
          line-height: 0;
        }
      }
      &.small {
        padding: 0 1rem;
        height: 2rem;
        line-height: 0;
      }
      > span > .ic.ic-size\:16px {
        margin-top: rem-calc(-2);
        width: 1rem;
        height: 1rem;
      }
      > span > .ic.ic-size\:24px {
        margin-top: rem-calc(-2);
        width: 1.5rem;
        height: 1.5rem;
      }
      &:focus {
        box-shadow: $box-shadow-custom-7;
        outline:0;
      }
    }

    a.#{$prefix}button\:blue,
    button.#{$prefix}button\:blue {
      border: rem-calc(2) solid $blue;
      background-color: $blue;
      color: $white;
      box-shadow: $box-shadow-custom-2;
      &:hover,
      &:hover:enabled {
        border: rem-calc(2) solid $yale-blue;
        background-color: $yale-blue;
      }
      &:focus,
      &:focus:enabled,
      &:active,
      &:active:enabled {
        background-color: $yale-blue;
      }
      > span > .ic {
        background-color: $white;
      }
      &:disabled,
      &.disabled,
      &[disabled='true'] {
        box-shadow: none;
        border: rem-calc(2) solid $silver;
        background-color: $silver;
        color: $onyx;
        cursor: default;
        > span > .ic {
          background-color: $onyx;
        }
      }
    }

    a.#{$prefix}button\:transparent,
    button.#{$prefix}button\:transparent {
      border: rem-calc(2) solid $blue;
      background-color: transparent;
      color: $blue;
      box-shadow: $box-shadow-custom-2;
      > span > .ic {
        background-color: $blue;
      }
      &:hover,
      &:hover:enabled {
        border: rem-calc(2) solid $yale-blue;
        color: $yale-blue;
        > span > .ic {
          background-color: $yale-blue;
        }
      }
      &:focus,
      &:focus:enabled,
      &:active,
      &:active:enabled {
        box-shadow: 0 0 rem-calc(4) rem-calc(3) rgba($vista-blue, 0.35);
        border: rem-calc(2) solid $vista-blue;
        color: $yale-blue;
        > span > .ic {
          background-color: $yale-blue;
        }
      }
      &:disabled,
      &.disabled,
      &[disabled='true'] {
        box-shadow: none;
        border: rem-calc(2) solid $silver;
        background-color: transparent;
        color: $onyx;
        cursor: default;
        > span > .ic {
          background-color: $onyx;
        }
      }
    }

    a.#{$prefix}button\:white,
    button.#{$prefix}button\:white {
      border: rem-calc(2) solid transparent;
      background-color: $white;
      color: $blue;
      > span > .ic {
        background-color: $blue;
      }
      &:hover,
      &:hover:enabled,
      &:focus,
      &:focus:enabled,
      &:active,
      &:active:enabled {
        border: rem-calc(2) solid transparent;
        background-color: $yale-blue;
        color: $white;
        > span > .ic {
          background-color: $white;
        }
      }
      &:disabled,
      &.disabled,
      &[disabled='true'] {
        border: rem-calc(2) solid $silver;
        background-color: $silver;
        color: $onyx;
        cursor: default;
        > span > .ic {
          background-color: $onyx;
        }
      }
    }

    a.#{$prefix}button\:red,
    button.#{$prefix}button\:red {
      border: rem-calc(2) solid transparent;
      background-color: $red;
      color: $white;
      &:hover,
      &:hover:enabled,
      &:focus,
      &:focus:enabled,
      &:active,
      &:active:enabled {
        border: rem-calc(2) solid transparent;
        background-color: $negative;
      }
      > span > .ic {
        background-color: $white;
      }
      &:disabled,
      &.disabled,
      &[disabled='true'] {
        border: rem-calc(2) solid $silver;
        background-color: $silver;
        color: $onyx;
        cursor: default;
        > span > .ic {
          background-color: $onyx;
        }
      }
    }

    a.#{$prefix}button\:yale-blue,
    button.#{$prefix}button\:yale-blue {
      border: rem-calc(2) solid transparent;
      background-color: $yale-blue;
      color: $white;
      &:hover,
      &:hover:enabled,
      &:focus,
      &:focus:enabled,
      &:active,
      &:active:enabled {
        border: rem-calc(2) solid transparent;
        background-color: $eerie-black;
      }
      > span > .ic {
        background-color: $white;
      }
      &:disabled,
      &.disabled,
      &[disabled='true'] {
        border: rem-calc(2) solid $silver;
        background-color: $silver;
        color: $onyx;
        cursor: default;
        > span > .ic {
          background-color: $onyx;
        }
      }
    }
  }
}

button.anchor\:blue,
button.anchor\:white,
button.anchor\:red,
button.anchor\:yale-blue {
  text-align: left;
}

.button\:blue::-moz-focus-inner,
.button\:transparent::-moz-focus-inner,
.button\:white::-moz-focus-inner,
.button\:red::-moz-focus-inner,
.button\:yale-blue::-moz-focus-inner {
  border: 0;
}

.button\:blue:after,
.button\:transparent:after,
.button\:white:after,
.button\:red:after,
.button\:yale-blue:after {
  content: '';
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  width: rem-calc(120);
  height: rem-calc(120);
  margin-left: rem-calc(-60);
  margin-top: rem-calc(-60);
  background: rgba(1, 1, 1, 1.03);
  border-radius: 100%;
  opacity: .3;
  transform: scale(0);
}

@keyframes ripple {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}


@each $mediaquery in $mediaqueries {
  $breakpoint: nth($mediaquery, 1);
  $prefix: nth($mediaquery, 2);

  @include breakpoint($breakpoint) {
    a.#{$prefix}button\:blue:not(:active):after,
    button.#{$prefix}button\:blue:not(:active):after,
    a.#{$prefix}button\:transparent:not(:active):after,
    button.#{$prefix}button\:transparent:not(:active):after,
    a.#{$prefix}button\:white:not(:active):after,
    button.#{$prefix}button\:white:not(:active):after,
    a.#{$prefix}button\:red:not(:active):after,
    button.#{$prefix}button\:red:not(:active):after,
    a.#{$prefix}button\:yale-blue:not(:active):after,
    button.#{$prefix}button\:yale-blue:not(:active):after {
      animation: ripple .3s ease-in;
    }

    a.#{$prefix}button\:blue:after,
    button.#{$prefix}button\:blue:after,
    a.#{$prefix}button\:transparent:after,
    button.#{$prefix}button\:transparent:after,
    a.#{$prefix}button\:white:after,
    button.#{$prefix}button\:white:after,
    a.#{$prefix}button\:red:after,
    button.#{$prefix}button\:red:after,
    a.#{$prefix}button\:yale-blue:after,
    button.#{$prefix}button\:yale-blue:after {
      visibility: hidden;
    }

    a.#{$prefix}button\:focus:after,
    button.#{$prefix}button\:focus:after,
    a.#{$prefix}button\:focus:after,
    button.#{$prefix}button\:focus:after,
    a.#{$prefix}button\:focus:after,
    button.#{$prefix}button\:focus:after,
    a.#{$prefix}button\:focus:after,
    button.#{$prefix}button\:focus:after,
    a.#{$prefix}button\:focus:after,
    button.#{$prefix}button\:focus:after {
      visibility: visible;
    }
  }
}

[data-module='anchor.left-icon-wrapper'],
[data-module='anchor.right-icon-wrapper'],
[data-module='button.left-icon-wrapper'],
[data-module='button.right-icon-wrapper'] {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}


.button\:blue:not(:active):after,
.button\:transparent:not(:active):after,
.button\:white:not(:active):after,
.button\:red:not(:active):after,
.button\:yale-blue:not(:active):after {
    animation: ripple .3s ease-in;
}

.button\:blue:after,
.button\:transparent:after,
.button\:white:after,
.button\:red:after,
.button\:yale-blue:after {
    visibility: hidden;
}

.button\:blue:focus:after,
.button\:transparent:focus:after,
.button\:white:focus:after,
.button\:red:focus:after,
.button\:yale-blue:focus:after {
    visibility: visible;
}