/* Fieldset: Unstyle a fieldset */
fieldset.unstyle { border:0; padding:0 }

.form\:theme\:gl0b3x {

  $label_top: 27;
  $label_active_top: 2;
  $label_active_fontsize: 14;
  $label_active_family: 'heebo-medium';

  /* label styles */
  input[type="text"]+label,
  input[type="number"]+label,
  input[type="email"]+label,
  input[type="password"]+label,
  input[type="search"]+label,
  select+label,
  textarea+label {
    z-index: 2;
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    cursor: pointer;
    &:before {
      /* blue label line, hidden */
      z-index: 4;
      content: "";
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background: $blue;
      transform: scaleX(0);
      transition: all 0.3s linear;
      position: relative;
      top: unset;
      display:block;
    }
    &:after {
      /* default gray label line */
      z-index: 3;
      content: "";
      width: 100%;
      height: 2px;
      bottom: 2px;
      left: 0;
      background: $silver;
      position: relative;
      top: unset;
      display:block;
    }
    &.error-field:before {
      background: $negative;
    }
    &.error-field:after {
      background: $negative;
    }
    &.valid:before {
      background: #0B8224;
    }
    &.disabled {
      color: $onyx;
      span.description {
        color: $onyx;
      }
    }
    span.description {
      /* label description */
      display: block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-size: rem-calc(16);
      color: $blue;
      letter-spacing: 0.25px;
      transition: 0.3s ease-out;
      top: rem-calc($label_top);
      position:absolute;
    }
    &.active-label {
      span.description {
        position:absolute;
        top: rem-calc($label_active_top);
        font-size: rem-calc($label_active_fontsize);
        font-family: $label_active_family;
      }
    }
  }

  /* input (text, email, password, search), select, and textarea styles */
  input,
  select,
  textarea {
    color: $eerie-black;
    transition: all 0.3s ease-out;
    :disabled {
      color: $onyx;
    }
  }

  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="password"],
  input[type="search"],
  select,
  textarea {
    width: 100%;
    height: 36px;
    margin-top: rem-calc(16);
    padding: 0;
    white-space: nowrap;
    line-height: 1.5;
    font-family: 'heebo';
    border: none;
    background-color: transparent;
    transition: all 0.3s ease-out;
  }
  input[type="text"]:focus+label:before,
  input[type="text"].focus+label:before,
  input[type="number"]:focus+label:before,
  input[type="email"]:focus+label:before,
  input[type="password"]:focus+label:before,
  input[type="search"]:focus+label:before,
  select:focus+label:before,
  textarea:focus+label:before,
  textarea.focus+label:before {
    visibility: visible;
    transform: scaleX(1);
  }

  input[type="text"]:focus+label span.description,
  input[type="text"].focus+label span.description,
  input[type="number"]:focus+label span.description,
  input[type="email"]:focus+label span.description,
  input[type="password"]:focus+label span.description,
  input[type="search"]:focus+label span.description,
  select:focus+label span.description,
  textarea:focus+label span.description,
  textarea.focus+label span.description {
    top: rem-calc($label_active_top);
    font-size: rem-calc($label_active_fontsize);
    font-family: $label_active_family;
  }
  /* helper description styles */
  .error-message {
    width: 100%;
    min-width: 150px;
    padding: 0 0 0 19px;
    font-size: rem-calc(14);
    font-family: 'heebo';
    color: $negative;
    background: url(../assets/icon/exclamation-circle.negative.svg) no-repeat top left;
    background-size: 16px 16px;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;
    margin-top: 4px;
    display: none;
    margin-bottom: 6px;
    &.has-error {
      visibility: visible;
      opacity: 1;
      display: block;
      &.display\:inline {
        display: inline;
      }
    }
  }

  /* helper description styles */
  .helper-description {
      color: $onyx;
      font-size: rem-calc(14);
      margin-top: 4px;
      letter-spacing: 0.25px;
  }

  .helper-description-pass-fail {
    list-style: none;
    padding-left:0;
    color: $onyx;
    font-size: rem-calc(14);
    li {
      display:flex;
      align-items:center;
      line-height: 24px;
      padding: 2px 6px 2px 32px;
      background-image: url(../assets/icon/times.negative.svg);
      background-repeat: no-repeat;
      background-position: top 2px left 2px;
      background-size: 24px 24px;
      > span {
        display:flex;
      }
      &.pass {
        background-image: url(../assets/icon/check.positive.svg);
      }
      &.fail {
        background-image: url(../assets/icon/times.negative.svg);
      }
    }

  }

  /* select styles */
  select {
    cursor: pointer;
    background-color: transparent;
    background-image: url('../assets/icon/chevron-down.blue.svg');
    background-repeat: no-repeat;
    background-position: right 8px top 10px;
    background-size: 16px 16px;
    appearance: none;
  }

  /* textarea styles */
  textarea {
    transition: all .3s ease;
    padding-top:6px; /* to remain consistent with input boxes */
    padding-bottom:6px; /* to remain consistent with input boxes */
    margin-bottom:-4px; /* to remain consistent with input boxes */
    white-space: pre-wrap;
  }

  input[type="checkbox"],
  input[type="radio"] {
    appearance: none;
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    position: absolute;
    &+label {
      cursor: pointer;
      position: relative;
      padding-left:36px;
      letter-spacing: 0.15px;
      line-height: 24px;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        width: 24px;
        height: 24px;
        border: 2px solid $onyx;
        &:hover {
            cursor: pointer;
        }
      }
    }
    &:checked+label:before {
      content: '';
      cursor: pointer;
    }
    &:focus+label {
      outline: 2px solid #000;
    }
    &:checked:focus+label {
      outline: 2px solid #000;
    }
    &:checked:focus+label {
      box-shadow: $box-shadow-custom-7;
    }
    &:focus+label:before {
      box-shadow: 0 0 4px 3px rgba($vista-blue, 0.65);
    }
    &:checked:focus+label:before {
      box-shadow: 0 0 4px 3px rgba($vista-blue, 0.65);
    }
    &.has-error+label:before {
      border: 2px solid $negative;
    }
    &:disabled+label {
      color: $onyx;
      &:before {
        background-color: $silver;
        border: 2px solid $onyx;
      }
    }
  }

  input[type="checkbox"] {
    &+label {
      &:before {
        border-radius: 4px;
      }
    }
    &:checked+label:before {
      background-color: $blue;
      background-image: url('../assets/icon/check.white.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 15px;
      border: 2px solid $blue;
    }
    &:focus+label:before {
      /*border: 2px solid $blue;*/
      box-shadow: $box-shadow-custom-7;
    }
    &:checked:disabled+label:before {
      background-color: $onyx;
      background-image: url('../assets/icon/check.white.svg');
      border: 2px solid $onyx;
    }
  }

  .parent-checkbox {
    & > input[type="checkbox"][aria-checked="mixed"] + label:before {
      background-color: $blue;
      background-image: url('../assets/icon/dash.white.svg');
    }
    & > input[type="checkbox"][aria-checked="false"] + label:before {
        background-color: none;
        background-image: none;
    }
    & > input[type="checkbox"][aria-checked="true"] + label:before {
        background-color: $blue;
        background-image: url('../assets/icon/check.white.svg');
    }
  }

  input[type="radio"] {
    &+label {
      &:before {
        border-radius: 50%;
        transition: background-color ease-in-out 250ms, border ease-in-out 250ms;
      }
    }
    &:checked+label:before {
      background-color: $white;
      border: 6px solid $blue;
    }
    &:focus+label:before {
      background-color: transparent;
      border: 2px solid $gray;
    }
    &:checked:focus+label:before {
      background-color: $white;
      border: 6px solid $blue;
      box-shadow: $box-shadow-custom-7;
    }

    &:checked:disabled+label:before {
      background-color: $silver;
      border: 6px solid $onyx;
    }
  }

  .box-radio-buttons {
    input[type="radio"] {
      &+label {
        padding: 4px 16px;
        font-family: 'heebo-bold';
        font-size: rem-calc(14);
        color: $blue;
        background-color: $white;
        width: 100%;
        border: 2px solid $onyx;
        border-radius: 4px;
        transition: all .3s ease;
        box-shadow: 0 0 0 0 rgba($vista-blue, 0.65);
        white-space:nowrap;
        &:before {
          display:none;
        }
      }
      &:hover+label,
      &:checked+label {
        color: $white;
        background-color: $blue;
        border: 2px $blue solid;
      }
      &:checked:focus+label {
        border: 2px $vista-blue solid;
        box-shadow: 0 0 4px 3px rgba($vista-blue, 0.65);
      }
    }
  }
}

.form\:theme\:card-checkboxes,
.form\:theme\:card-radiobuttons {

  @keyframes focus-fade {
    0% {
      box-shadow: 0 0 0 0 rgba(0,0,0,0);
    }
    100% {
      box-shadow: 0 0 0 10px $powder-blue, 0 0 0 10px $yale-blue;
    }
  }

  /* helper description styles */
  .error-message {
    width: 100%;
    min-width: 150px;
    padding: 0 0 0 19px;
    font-size: rem-calc(14);
    font-family: 'heebo';
    color: $negative;
    background: url(../assets/icon/exclamation-circle.negative.svg) no-repeat top left;
    background-size: 16px 16px;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;
    margin-top: 4px;
    display: none;
    margin-bottom: 6px;
    &.has-error {
      visibility: visible;
      opacity: 1;
      display: block;
      &.display\:inline {
        display: inline;
      }
    }
  }

  input[type="radio"],
  input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    position: absolute;
    &+label {
      position:relative;
      width:100%;
      min-height: 170px;
      display:inline-block;
      transition: all 0.3s ease-out;
      box-shadow: $box-shadow-custom-1;
      &:hover {
        cursor: pointer;
        box-shadow: $box-shadow-custom-6;
      }
      &:active{
        opacity:1;
        animation: focus-fade 0.3s ease-in;
        outline:0;
      }
      div.check {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: -1px;
        /* - Fix for IE11 - keep -1px, not 0px */
        right: -1px;
        /* - Fix for IE11 - keep -1px, not 0px */
        width: 24px;
        height: 24px;
        border-radius: 0 0 0 4px;
        background-image: url('../assets/icon/chevron-down.blue.svg');
        background-repeat: no-repeat;
        background-color: #68bbe8;
        background-size: 16px 16px;
        background-position: center center;
        transition: all .3s ease-in;
      }
      div.image {
        text-align: center;
        width: 96px;
        height: 72px;
        margin: 16px auto 0;
      }
      div.description {
        text-align: center;
        padding: 8px 0 0 0;
        font-family: 'heebo-bold';
        font-size: rem-calc(16);
        color: $eerie-black;
      }
    }
    &:focus {
      background: $blue;
      border: 2px solid $blue;
      color: $white;
      box-shadow: 0 0 4px 3px rgba($vista-blue, 0.65);
    }

    &:checked+label,
    &:checked:focus+label {
      border: 2px solid $blue;
      div.check {
        opacity: 1;
        visibility: visible;
        background: $blue url('../assets/icon/check.white.svg') 8px no-repeat;
        background-position: center center;
        background-size: 16px;
      }
    }
    &:focus+label,
    &:checked:focus+label {
      border: 2px solid $blue;
      div.check {
        background-color: $blue;
        display: block;
      }
    }
    &:checked:focus+label {
      box-shadow: $box-shadow-custom-7;
    }
    .error-field label {
      border: 2px solid $negative;
    }
  }
}

/*.form\:theme\:gl0b3x {
  input[type="text"].custom-1 {
    color: $blue;
    width: 100%;
    height: 36px;
    white-space: nowrap;
    padding: 4px 2px 0;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $silver;
  }

  .error-message {
    width: 100%;
    min-width: 150px;
    padding: 0 0 0 19px;
    font-size: rem-calc(14);
    font-family: 'heebo';
    color: $negative;
    background: url(../assets/icon/exclamation-circle.svg) no-repeat top left;
    background-size: 16px 16px;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;
    margin-top: 4px;
    display: none;
    margin-bottom: 6px;
    &.has-error {
      visibility: visible;
      opacity: 1;
      display: block;
      &.display\:inline {
        display: inline;
      }
    }
  }
}
*/