/* file: layout-cssgrid-column-width.scss------------------------------------------------ */
@use 'sass:math';
@use '../_config/_breakpoint.scss' as breakpoint;

@each $breakpoint-name, $prefix in breakpoint.$breakpoint-prefixes {
  @include breakpoint.breakpoint($breakpoint-name) {

    .#{$prefix}gc\:auto {
      grid-column: auto;
    }

    @for $i from 1 through 12 {
      .#{$prefix}gc\:#{$i},
      .#{$prefix}gc0\:#{$i} {
        grid-column: span #{$i};
        &.align-self\:centered,
        &.#{$prefix}align-self\:centered {
          align-self: center;

          @if $i % 2 == 0 {
            $start: math.ceil(math.div(12 - $i, 2)) + 1;
            grid-column: $start / span #{$i};
            margin-left: initial; //override flexbox align-self-centered class
            margin-right: initial; //override flexbox align-self-centered class
          }
        }
      }
    }
  }

  @include breakpoint.breakpoint($breakpoint-name) {
    @for $i from 1 through 12 {
      $fraction: math.div(1, $i) * 100%;

      .#{$prefix}gc-split\:#{$i},
      .#{$prefix}gc0-split\:#{$i} {
        grid-template-columns: repeat($i, 1fr); // Creates a grid with $i equal columns
        & > * {
          grid-column: span 1 / auto; // Each child spans one fraction of the grid
        }
      }

    }
  }
}
