/* file: layout-flexbox-row-column.scss------------------------------------------------ */
@use '../_config/_unit.scss' as unit;
@use '../_config/_breakpoint.scss' as breakpoint;
.row {
  display: flex;
  flex-flow: row wrap;
  column-gap: var(--column-gap);
  max-width: var(--max-page-width-1280);
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;

  @include breakpoint.breakpoint(medium only) {
    padding-left: 32px;
    padding-right: 32px;
  }
  @include breakpoint.breakpoint(large only) {
    padding-left: 32px;
    padding-right: 32px;
  }
  @include breakpoint.breakpoint(xlarge up) {
    padding-left: 0;
    padding-right: 0;
  }
}

.row .row {
  padding-left: 0;
  padding-right: 0;
}

.row-p {
  padding-left: 24px;
  padding-right: 24px;
  @include breakpoint.breakpoint(medium only) {
    padding-left: 32px;
    padding-right: 32px;
  }
  @include breakpoint.breakpoint(large only) {
    padding-left: 32px;
    padding-right: 32px;
  }
  @include breakpoint.breakpoint(xlarge up) {
    padding-left: 0;
    padding-right: 0;
  }
}

.row0 {
  display: flex;
  flex-flow: row wrap;
  column-gap: 0;
  max-width: var(--max-page-width-1280);
  margin-left: auto;
  margin-right: auto;
}

.column,
.columns {
  flex: 1 1 0;
  min-width: initial;
}

.shrink {
  flex: 0 0 auto;
  max-width: 100%;
}