/* file: layout-column-width-offset-flexbox.scss------------------------------------------------ */
@use 'sass:math';

@each $mediaquery in $mediaqueries {
  $breakpoint: nth($mediaquery, 1);
  $prefix: nth($mediaquery, 2);

  @include breakpoint($breakpoint) {
    @for $i from 0 through 11 {
      $percentage-num: math.div(100, 12);
      $percentage: $i * $percentage-num * 1%;
      .#{$prefix}offset\:#{$i} {
        margin-left: calc(#{$percentage} + var(--column-gap) * #{math.div($i * $percentage-num, 100)});
      }

      .#{$prefix}offset0\:#{$i} {
        margin-left: $i * $percentage-num * 1%;
      }
    }
  }
}
