/* file: layout-visibility-orientation.scss------------------------------------------------ */
@use '../_config/_breakpoint.scss' as breakpoint;
.show-for-landscape,
.hide-for-portrait {
  display: block !important;
  @include breakpoint.breakpoint(landscape) {
    display: block !important;
  }
  @include breakpoint.breakpoint(portrait) {
    display: none !important;
  }
}

.hide-for-landscape,
.show-for-portrait {
  display: none !important;
  @include breakpoint.breakpoint(landscape) {
    display: none !important;
  }
  @include breakpoint.breakpoint(portrait) {
    display: block !important;
  }
}