/* file: layout-row-column-cssgrid.scss------------------------------------------------ */
.grid {
  display:grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-column-gap: var(--column-gap);
  max-width: $max-page-width-1280;
  margin-left: auto;
  margin-right: auto;
  padding-left: rem-calc(24);
  padding-right: rem-calc(24);

  @include breakpoint(medium only) {
    padding-left: rem-calc(32);
    padding-right: rem-calc(32);
  }
  @include breakpoint(large only) {
    padding-left: rem-calc(32);
    padding-right: rem-calc(32);
  }
  @include breakpoint(xlarge up) {
    padding-left: rem-calc(0);
    padding-right: rem-calc(0);
  }
}

.grid .grid {
  padding-left: rem-calc(0);
  padding-right: rem-calc(0);
}

.grid0 {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-column-gap: 0;
  max-width: $max-page-width-1280;
  margin-left: auto;
  margin-right: auto;
}
