/* file: layout-cssgrid-column-start-end.scss------------------------------------------------ */
@use 'sass:math';
@use '../_config/_breakpoint.scss' as breakpoint;

@each $breakpoint-name, $prefix in breakpoint.$breakpoint-prefixes {
  @include breakpoint.breakpoint($breakpoint-name) {
    @for $i from 0 through 12 {
      $percentage-num: math.div(100, 12);
      $percentage: $i * $percentage-num * 1%;
      .#{$prefix}gstart\:#{$i} {
        grid-column-start: #{$i + 1};
      }
      .#{$prefix}gend\:#{$i} {
        grid-column-end: #{$i + 1};
      }
    }
  }
}
