/* file: layout-flexbox-column-width-offset.scss------------------------------------------------ */
@use 'sass:math';
@use '../_config/_breakpoint.scss' as breakpoint;

@each $breakpoint-name, $prefix in breakpoint.$breakpoint-prefixes {
  @include breakpoint.breakpoint($breakpoint-name) {
    @for $i from 0 through 11 {
      $percentage-num: math.div(100, 12);
      $percentage: $i * $percentage-num * 1%;
      .#{$prefix}offset\:#{$i} {
        margin-left: calc(#{$percentage} + var(--column-gap) * #{math.div($i * $percentage-num, 100)});
      }

      .#{$prefix}offset0\:#{$i} {
        margin-left: $i * $percentage-num * 1%;
      }
    }
  }
}
