/* file: layout-visibility-breakpoint.scss------------------------------------------------ */
@use '../_config/_breakpoint.scss' as breakpoint;

@each $breakpoint-name, $prefix in breakpoint.$breakpoint-prefixes {
  @include breakpoint.breakpoint($breakpoint-name) {
    .#{$prefix}hide { display: none !important; }
  }
}

@include breakpoint.breakpoint(medium) {
  .sm\=\:show {
    display: none !important;
  }
}
@include breakpoint.breakpoint(small only) {
  .md\+\:show {
    display: none !important;
  }
}
@include breakpoint.breakpoint-combine(large up, small only) {
  .md\=\:show {
    display: none !important;
  }
}
@include breakpoint.breakpoint(large up) {
  .md\-\:show {
    display: none !important;
  }
}
@include breakpoint.breakpoint(medium down) {
  .lg\+\:show {
    display: none !important;
  }
}
@include breakpoint.breakpoint-combine(xlarge up, medium down) {
  .lg\=\:show {
    display: none !important;
  }
}
@include breakpoint.breakpoint(xlarge up) {
  .lg\-\:show {
    display: none !important;
  }
}
@include breakpoint.breakpoint(large down) {
  .xl\+\:show {
    display: none !important;
  }
}