@each $mediaquery in $mediaqueries {
  $breakpoint: nth($mediaquery, 1);
  $prefix: nth($mediaquery, 2);

  @include breakpoint($breakpoint) {
    .#{$prefix}w\-divided-by\:1 {
      flex-wrap: wrap;
    }
    .#{$prefix}w\-divided-by\:1 > .column,
    .#{$prefix}w\-divided-by\:1 > .columns {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .#{$prefix}w\-divided-by\:2 {
      flex-wrap: wrap;
    }
    .#{$prefix}w\-divided-by\:2 > .column,
    .#{$prefix}w\-divided-by\:2 > .columns {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .#{$prefix}w\-divided-by\:3 {
      flex-wrap: wrap;
    }
    .#{$prefix}w\-divided-by\:3 > .column,
    .#{$prefix}w\-divided-by\:3 > .columns {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
    .#{$prefix}w\-divided-by\:4 {
      flex-wrap: wrap;
    }
    .#{$prefix}w\-divided-by\:4 > .column,
    .#{$prefix}w\-divided-by\:4 > .columns {
      flex: 0 0 25%;
      max-width: 25%;
    }
    .#{$prefix}w\-divided-by\:5 {
      flex-wrap: wrap;
    }
    .#{$prefix}w\-divided-by\:5 > .column,
    .#{$prefix}w\-divided-by\:5 > .columns {
      flex: 0 0 20%;
      max-width: 20%;
    }
    .#{$prefix}w\-divided-by\:6 {
      flex-wrap: wrap;
    }
    .#{$prefix}w\-divided-by\:6 > .column,
    .#{$prefix}w\-divided-by\:6 > .columns {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
    }
    .#{$prefix}w\-divided-by\:7 {
      flex-wrap: wrap;
    }
    .#{$prefix}w\-divided-by\:7 > .column,
    .#{$prefix}w\-divided-by\:7 > .columns {
      flex: 0 0 14.28571%;
      max-width: 14.28571%;
    }
    .#{$prefix}w\-divided-by\:8 {
      flex-wrap: wrap;
    }
    .#{$prefix}w\-divided-by\:8 > .column,
    .#{$prefix}w\-divided-by\:8 > .columns {
      flex: 0 0 12.5%;
      max-width: 12.5%;
    }
  }
}

.row.sm\:unstack > .column,
.row.sm\:unstack > .columns {
  flex: 1 1 0px;
}

.row.md\:unstack > .column,
.row.md\:unstack > .columns {
  flex: 0 0 100%;
}
@include breakpoint(medium) {
  .row.md\:unstack > .column,
  .row.md\:unstack > .columns {
    flex: 1 1 0px;
  }
}

.row.lg\:unstack > .column,
.row.lg\:unstack > .columns {
  flex: 0 0 100%;
}
@include breakpoint(large) {
  .row.lg\:unstack > .column,
  .row.lg\:unstack > .columns {
    flex: 1 1 0px;
  }
}

.row.xl\:unstack > .column,
.row.xl\:unstack > .columns {
  flex: 0 0 100%;
}
@include breakpoint(xlarge) {
  .row.xl\:unstack > .column,
  .row.xl\:unstack > .columns {
    flex: 1 1 0px;
  }
}
