/* file: layout-order.scss------------------------------------------------ */
@use '../_config/_breakpoint.scss' as breakpoint;

@each $breakpoint-name, $prefix in breakpoint.$breakpoint-prefixes {
  @include breakpoint.breakpoint($breakpoint-name) {
    .#{$prefix}order\:1 { order: 1; }
    .#{$prefix}order\:2 { order: 2; }
    .#{$prefix}order\:3 { order: 3; }
    .#{$prefix}order\:4 { order: 4; }
    .#{$prefix}order\:5 { order: 5; }
    .#{$prefix}order\:6 { order: 6; }
  }
}