/* file: layout-cssgrid-gap.scss------------------------------------------------ */
@use '../_config/_unit.scss' as unit;
@use '../_config/_breakpoint.scss' as breakpoint;
@use 'sass:list';

$sizes: (
  0    : 0,
  4px  : unit.rem-calc(4),
  8px  : unit.rem-calc(8),
  16px : unit.rem-calc(16),
  24px : unit.rem-calc(24),
  32px : unit.rem-calc(32)
);

@each $breakpoint-name, $prefix in breakpoint.$breakpoint-prefixes {
  @include breakpoint.breakpoint($breakpoint-name) {
    @each $size in $sizes {
      $size-name: list.nth($size, 1);
      $size-value: list.nth($size, 2);

      .#{$prefix}gap\:#{$size-name} {
        gap: #{$size-value};
      }

      .#{$prefix}col-gap\:#{$size-name} {
        column-gap: #{$size-value};
      }

      .#{$prefix}row-gap\:#{$size-name} {
        row-gap: #{$size-value};
      }
    }
  }
}

.row-gap-grid {
  row-gap: 1rem;
  @include breakpoint.breakpoint(medium up) {
    row-gap: 1.5rem;
  }
  @include breakpoint.breakpoint(xlarge up) {
    row-gap: 2rem;
  }
}