/* file: layout-table.scss------------------------------------------------ */
@use '../_config/_unit.scss' as unit;
.table-b-eerie-black\:1px {
  border-collapse: collapse;
  border: 1px solid var(--color-eerie-black);
  > thead > tr > th,
  > thead > tr > td,
  > tbody > tr > th,
  > tbody > tr > td {
    border: 1px solid var(--color-eerie-black);
  }
}
.table-b-silver\:1px {
  border-collapse: collapse;
  border: 1px solid var(--color-silver);
  > thead > tr > th,
  > thead > tr > td,
  > tbody > tr > th,
  > tbody > tr > td {
    border: 1px solid var(--color-silver);
  }
}
.th-bgc\:blue {
  > thead > tr > th,
  > tbody > tr > th {
    background-color: var(--color-blue);
    color: var(--color-white);
    font-family: 'heebo-bold';
  }
}
.td-vertical-align\:top {
  > thead > tr > td,
  > tbody > tr > td {
    vertical-align: top;
  }
}
.td-p\:4px {
  > thead > tr > td,
  > tbody > tr > td {
    padding: 4px;
  }
}
.td-p\:8px {
  > thead > tr > td,
  > tbody > tr > td {
    padding: 8px;
  }
}
.th-p\:4px {
  > thead > tr > th,
  > tbody > tr > th {
    padding: 4px;
  }
}
.th-p\:8px {
  > thead > tr > th,
  > tbody > tr > th {
    padding: 8px;
  }
}
