/* file: layout-flexbox-row-column.scss------------------------------------------------ */
.row {
  display: flex;
  flex-flow: row wrap;
  column-gap: var(--column-gap);
  max-width: $max-page-width-1280;
  margin-left: auto;
  margin-right: auto;
  padding-left: rem-calc(24);
  padding-right: rem-calc(24);

  @include breakpoint(medium only) {
    padding-left: rem-calc(32);
    padding-right: rem-calc(32);
  }
  @include breakpoint(large only) {
    padding-left: rem-calc(32);
    padding-right: rem-calc(32);
  }
  @include breakpoint(xlarge up) {
    padding-left: rem-calc(0);
    padding-right: rem-calc(0);
  }
}

.row .row {
  padding-left: rem-calc(0);
  padding-right: rem-calc(0);
}

.row0 {
  display: flex;
  flex-flow: row wrap;
  column-gap: 0;
  max-width: $max-page-width-1280;
  margin-left: auto;
  margin-right: auto;
}

.column,
.columns {
  flex: 1 1 0;
  min-width: initial;
}

.shrink {
  flex: 0 0 auto;
  max-width: 100%;
}