/* file: layout-flexbox-column-width.scss------------------------------------------------ */
@use 'sass:math';
@use '../_config/_breakpoint.scss' as breakpoint;

@each $breakpoint-name, $prefix in breakpoint.$breakpoint-prefixes {
  @include breakpoint.breakpoint($breakpoint-name) {
    $percentage-num: math.div(100, 12); // Moved outside the loop

    @for $i from 1 through 12 {
      $percentage: $i * $percentage-num * 1%;

      .#{$prefix}w\:#{$i} {
        flex: 0 0 calc(#{$percentage} - (var(--column-gap) * (#{12 - $i} / 12)));
        max-width: calc(#{$percentage} - (var(--column-gap) * (#{12 - $i} / 12)));
      }
    }
  }

  @include breakpoint.breakpoint($breakpoint-name) {
    @for $i from 1 through 12 {
      $fraction: math.div(1, $i) * 100%;

      .#{$prefix}w-split\:#{$i} > * {
        flex: 0 0 calc(#{$fraction} - (var(--column-gap) * (#{$i - 1} / #{$i})));
        max-width: calc(#{$fraction} - (var(--column-gap) * (#{$i - 1} / #{$i})));
      }
    }
  }

  @include breakpoint.breakpoint($breakpoint-name) {
    $percentage-num: math.div(100, 12); // Moved outside the loop

    @for $i from 1 through 12 {
      $percentage: $i * $percentage-num * 1%;

      .#{$prefix}w0\:#{$i} {
        flex: 0 0 $percentage;
        max-width: $percentage;
      }
    }
  }

  @include breakpoint.breakpoint($breakpoint-name) {
    @for $i from 1 through 12 {
      $fraction: math.div(1, $i) * 100%;

      .#{$prefix}w0-split\:#{$i} > * {
        flex: 0 0 $fraction;
        max-width: $fraction;
      }
    }
  }
}

.row.sm\+\:unstack > * {
  flex: 1 1 0;
}

.row.md\+\:unstack > * {
  flex: 0 0 100%;
}
@include breakpoint.breakpoint(medium) {
  .row.md\+\:unstack > * {
    flex: 1 1 0;
  }
}

.row.lg\+\:unstack > * {
  flex: 0 0 100%;
}
@include breakpoint.breakpoint(large) {
  .row.lg\+\:unstack > * {
    flex: 1 1 0;
  }
}

.row.xl\+\:unstack > * {
  flex: 0 0 100%;
}
@include breakpoint.breakpoint(xlarge) {
  .row.xl\+\:unstack > * {
    flex: 1 1 0;
  }
}
