/* file: layout-cssgrid-row-column.scss------------------------------------------------ */
@use '../_config/_unit.scss' as unit;
@use '../_config/_breakpoint.scss' as breakpoint;
.grid {
  display:grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-column-gap: var(--column-gap);
  max-width: var(--max-page-width-1280);
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;

  @include breakpoint.breakpoint(medium only) {
    padding-left: 32px;
    padding-right: 32px;
  }
  @include breakpoint.breakpoint(large only) {
    padding-left: 32px;
    padding-right: 32px;
  }
  @include breakpoint.breakpoint(xlarge up) {
    padding-left: 0;
    padding-right: 0;
  }
  > * {
    grid-column: span 12;
  }
}

.grid-p {
  padding-left: 24px;
  padding-right: 24px;
  @include breakpoint.breakpoint(medium only) {
    padding-left: 32px;
    padding-right: 32px;
  }
  @include breakpoint.breakpoint(large only) {
    padding-left: 32px;
    padding-right: 32px;
  }
  @include breakpoint.breakpoint(xlarge up) {
    padding-left: 0;
    padding-right: 0;
  }
}

.grid .grid {
  padding-left: 0;
  padding-right: 0;
}

.grid0 {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-column-gap: 0;
  max-width: var(--max-page-width-1280);
  margin-left: auto;
  margin-right: auto;
}

.grid-auto-rows-equal {
  grid-auto-rows: 1fr;
}
