.show-for-landscape,
.hide-for-portrait {
  display: block !important;
  @include breakpoint(landscape) {
    display: block !important;
  }
  @include breakpoint(portrait) {
    display: none !important;
  }
}

.hide-for-landscape,
.show-for-portrait {
  display: none !important;
  @include breakpoint(landscape) {
    display: none !important;
  }
  @include breakpoint(portrait) {
    display: block !important;
  }
}