.row {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row wrap;
  column-gap: var(--column-gap);
}
.row0 {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row wrap;
  column-gap: 0;
}

.column,
.columns {
  flex: 1 1 0;
  min-width: initial;
}

.shrink {
  flex: 0 0 auto;
  max-width: 100%;
}