/* file: layout-flexbox.scss------------------------------------------------ */
@use '../_config/_breakpoint.scss' as breakpoint;

@each $breakpoint-name, $prefix in breakpoint.$breakpoint-prefixes {
  @include breakpoint.breakpoint($breakpoint-name) {
    .#{$prefix}flex-flow\:row-wrap {
      flex-flow: row wrap;
    }
    .#{$prefix}flex-flow\:row-nowrap {
      flex-flow: row nowrap;
    }
    .#{$prefix}flex-dir\:row {
      flex-direction: row;
    }
    .#{$prefix}flex-dir\:row-reverse {
      flex-direction: row-reverse;
    }
    .#{$prefix}flex-dir\:col {
      flex-direction: column;
    }
    .#{$prefix}flex-grow\:0 {
      flex-grow: 0;
    }
    .#{$prefix}flex-grow\:1 {
      flex-grow: 1;
    }
  }
}