/* file: layout-table.scss------------------------------------------------ */
.table-b-eerie-black\:1px {
  border-collapse: collapse;
  border: 1px solid $eerie-black;
  > thead > tr > th,
  > thead > tr > td,
  > tbody > tr > th,
  > tbody > tr > td {
    border: 1px solid $eerie-black;
  }
}
.th-bgc\:blue {
  > thead > tr > th,
  > tbody > tr > th {
    background-color: $blue;
    color: $white;
    font-family: 'heebo-bold';
  }
}
.td-vertical-align\:top {
  > thead > tr > td,
  > tbody > tr > td {
    vertical-align: top;
  }
}
.td-p\:4px {
  > thead > tr > td,
  > tbody > tr > td {
    padding: rem-calc(4);
  }
}
.td-p\:8px {
  > thead > tr > td,
  > tbody > tr > td {
    padding: rem-calc(8);
  }
}
.th-p\:4px {
  > thead > tr > th,
  > tbody > tr > th {
    padding: rem-calc(4);
  }
}
.th-p\:8px {
  > thead > tr > th,
  > tbody > tr > th {
    padding: rem-calc(8);
  }
}
