[data-module='accordion'] {
  [data-module='accordion.trigger'] {
    &[aria-expanded='false'] {
      [data-module='accordion.active'] {
        display: block;
      }
      [data-module='accordion.inactive'] {
        display: none;
      }
    }
    &[aria-expanded='true'] {
      [data-module='accordion.active'] {
        display: none;
      }
      [data-module='accordion.inactive'] {
        display: block;
      }
    }
  }
}
