[data-module='modal'] {
  opacity:0;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 1.3s ease;
  display: none;
  &[data-modal='active'] {
    opacity:1;
    transition: all 1.3s ease;
    background-color: #{$black}75;
    z-index: 10000;
    display: flex;
    overflow-x:hidden;
    overflow-y:auto;
  }
  [data-module='modal.container'] {
    transition: all .3s ease;
    opacity:0;
    visibility: hidden;
    width:100%;
    margin:auto;
    button[data-modal-close] {
      position: absolute;
      top: 20px;
      right: 20px;
    }
    &[data-modal-container='active'] {
      opacity:1;
      z-index: 10001;
      visibility: visible;
    }
  }
}

[data-module='dialog'] {
  &[data-dialog-overlay='false']{
    &::backdrop {
      background-color: transparent;
    }
  }
  &[data-dialog-overlay='true']{
    &::backdrop {
      background-color: #{$black}75;
    }
  }
  button[data-dialog-close] {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}