/* file: module.dialog.scss------------------------------------------------ */
@use '../_config/_unit.scss' as unit;
[data-module='dialog'] {
  &[data-dialog-overlay='false']{
    &::backdrop {
      background-color: transparent;
    }
  }
  &[data-dialog-overlay='true']{
    &::backdrop {
      background-color: #{var(--color-black)}75;
    }
  }
  &[open] {
    position: fixed;
  }
  button[data-dialog-close] {
    position: absolute;
    top: unit.rem-calc(20);
    right: unit.rem-calc(20);
  }
}