/* file: module.popover.scss------------------------------------------------ */
[data-module='popover'] {
  box-shadow: $box-shadow-custom-2;
  bottom:0;
  border:0;
  overflow:visible;
  right: 0;
  width:100%;
  @include breakpoint(large) {
    position: absolute;
    box-shadow: $box-shadow-custom-1;
    top:50%;
    bottom:auto;
    right:auto;
    width: var(--popover-width, 300px); // Fallback to 300px if not set
  }
  &::before{
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    content:"";
  }
  &:after{
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    content:"";
  }
  &[data-popover-direction='right'] {
    &::before{
      border-width:11px;
      left: -11px;
      margin-top: -11px;
      border-left-width: 0;
      border-right-color: #ddd;
      top: 50%;
    }
    &:after{
      border-width:10px;
      left: -10px;
      transform: translate(0, -50%);
      border-left-width: 0;
      border-right-color: #fff;
      top: 50%;
    }
  }
  &[data-popover-direction='top'] {
    &::before{
      border-width:11px;
      bottom: -11px;
      left: calc(50% - 12px);
      border-bottom-width: 0;
      border-top-color: #ddd;
    }
    &:after{
      border-width:10px;
      bottom: -10px;
      left: calc(50% - 11px);
      border-bottom-width: 0;
      border-top-color: #fff;
    }
  }
  &[data-popover-direction='bottom'] {
    @include breakpoint(large) {
      &::before{
        border-width:11px;
        top: -11px;
        left: calc(50% - 12px);
        border-top-width: 0;
        border-bottom-color: #ddd;
      }
      &:after{
        border-width:10px;
        top: -10px;
        left: calc(50% - 11px);
        border-top-width: 0;
        border-bottom-color: #fff;
      }
    }
  }
  button[data-popover-close] {
    position: absolute;
    top: 10px;
    right: 10px;
    @include breakpoint(large) {
      top: 20px;
      right: 20px;
    }
  }
}
