/* file: module.autocomplete.scss------------------------------------------------ */
[data-module='autocomplete.multiselect-tags']{
  &[data-theme-bgc-color='blue'] > div {
    background-color: $blue;
    color:white;
  }
  &[data-theme-bgc-color='red'] > div {
    background-color: $red;
    color:white;
  }
}

[data-module='autocomplete.results']{
  z-index:4; //to go over other input labels
  overflow-y:scroll;
  overflow-x:hidden;
  li {
    display: flex;
    font-size: rem-calc(14);
    line-height: 1.5;
    border-bottom: 1px solid $silver;
    cursor:pointer;
    width:100%;
    padding: 12px 12px 10px;
    span.name {
      text-align:left;
      flex-grow:1;
    }
    .match {
      color:$blue;
    }
    &:hover,
    &.selected{
      background-color: $platinum;
    }
  }
}