/* file: module.toast.scss------------------------------------------------ */
[data-module="module.toast"] {
  display: flex;
  align-items:flex-end;
  flex-direction: column;
  position: fixed;
  bottom: rem-calc(24);
  right: rem-calc(24);
  .toast {
    padding: rem-calc(16);
    margin-bottom: rem-calc(24);
    border-radius: rem-calc(4);
    opacity: 0;
    transition: opacity 0.5s;
    text-align: left;
    max-width:400px;
    font-size:16px !important;
    h1,h2,h3,h4,p,span,div,a,button {
      font-size:16px !important;
      line-height: 1.15 !important;
    }
  }
}