/* file: module.accordion.scss------------------------------------------------ */
[data-module='accordion'] {
  [data-module='accordion.header'] {
    &[aria-expanded='false'] {
      > span {
        > [data-module='accordion.active'] {
          display: block;
        }
        > [data-module='accordion.inactive'] {
          display: none;
        }
      }
    }
    &[aria-expanded='true'] {
      > span {
        > [data-module='accordion.active'] {
          display: none;
        }
        > [data-module='accordion.inactive'] {
          display: block;
        }
      }
    }
  }
  [data-module='accordion.panel'] {
    opacity: 1;
    transition: .25s opacity ease;
    overflow:hidden;
    &[data-accordion-panel='hide'] {
      opacity: 0;
      transition: .25s opacity ease;
      overflow:hidden;
      height:0px;
    }
  }
}
