input[type="range"].slider {
  position:relative;
  height: 1.5rem;
  appearance: none;
  background: none;
  z-index:2;
  &::-webkit-slider-thumb {
    z-index:2;
    box-shadow: 0 0 rem-calc(2) 0 rgba(0, 0, 0, .5), 0 rem-calc(2) rem-calc(2) 0 rgba(0, 0, 0, 0.25);
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    appearance: none;
  }
}

.slider-background{
    position:relative;
    background-color: $light-grey;
    height: .25rem;
    border-radius: .25rem;
    display:block;
    margin: -.8rem auto .75rem;
    .slider-fill{
      z-index:1;
      background-color: $blue;
      height: .25rem;
      border-radius: .25rem;
      position:absolute;
    }
  }

ul.slider-labels li {
  flex-basis: 100%;
}