/* file: module.popover.scss------------------------------------------------ */
@use '../_config/_unit.scss' as unit;
@use '../_config/_breakpoint.scss' as breakpoint;

[data-module='popover'] {
  box-shadow: var(--box-shadow-custom-2);
  bottom:0;
  border:0;
  overflow:visible;
  right: 0;
  width:100%;
  padding: 0; //override default padding
  @include breakpoint.breakpoint(large) {
    position: absolute;
    box-shadow: var(--box-shadow-custom-1);
    top:50%;
    bottom:auto;
    right:auto;
    width: var(--popover-width, 300px); // Fallback to 300px if not set
  }
  &::before{
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    content:"";
  }
  &:after{
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    content:"";
  }
  &[data-popover-direction='right'] {
    &::before{
      border-width: 11px;
      left: -11px;
      margin-top: -11px;
      border-left-width: 0;
      border-right-color: #ddd;
      top: 50%;
    }
    &:after{
      border-width: 10px;
      left: -10px;
      transform: translate(0, -50%);
      border-left-width: 0;
      border-right-color: #fff;
      top: 50%;
    }
  }
  &[data-popover-direction='top'] {
    &::before{
      border-width: 11px;
      bottom: -11px;
      left: calc(50% - 12px);
      border-bottom-width: 0;
      border-top-color: #ddd;
    }
    &:after{
      border-width: 10px;
      bottom: -10px;
      left: calc(50% - 11px);
      border-bottom-width: 0;
      border-top-color: #fff;
    }
  }
  &[data-popover-direction='bottom'] {
    @include breakpoint.breakpoint(large) {
      &::before{
        border-width: 11px;
        top: -11px;
        left: calc(50% - 12px);
        border-top-width: 0;
        border-bottom-color: #ddd;
      }
      &:after{
        border-width: 10px;
        top: -10px;
        left: calc(50% - 11px);
        border-top-width: 0;
        border-bottom-color: #fff;
      }
    }
  }
  button[data-popover-close] {
    position: absolute;
    top: 8px;
    right: 8px;
    @include breakpoint.breakpoint(large) {
      top: 12px;
      right: 12px;
    }
  }
  [data-module="popover.content"] {
    display:block;
    padding: 16px unit.rem-calc(40) 16px 16px;
    @include breakpoint.breakpoint(large) {
      padding:24px unit.rem-calc(56) 24px 32px;
    }
  }
}
