/* file: module.accordion.scss------------------------------------------------ */
[data-module='accordion'] {
  [data-module='accordion.header'] {
    text-align: left;
    &[aria-expanded='false'] {
      > [data-module='accordion.icon'] {
        > [data-module='accordion.active'] {
          display: block;
        }
        > [data-module='accordion.inactive'] {
          display: none;
        }
      }
    }
    &[aria-expanded='true'] {
      > [data-module='accordion.icon'] {
        > [data-module='accordion.active'] {
          display: none;
        }
        > [data-module='accordion.inactive'] {
          display: block;
        }
      }
    }
    &:focus {
      outline: 0;
      border-radius: rem-calc(8);
      box-shadow: 0 0 0 rem-calc(1) $yale-blue, inset 0 0 0 rem-calc(1) $yale-blue;
    }
  }
  [data-module='accordion.panel'] {
    transition: height .25s ease;
    overflow: hidden;
    // someday....
    // height: calc-size(auto);
    &[data-accordion-panel='hide'] {
      height: 0;
    }
  }
  // Design Patterns
  & :where([data-accordion-icons=right] > div > *) > button {
    display: flex;
    justify-content: space-between;
  }
  & :where([data-accordion-icons=left] > div > *) > button {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  & :where([data-accordion-icons=right].accordion-header-px\:24px > div > *) > button > [data-module='accordion.icon'] {
    padding-left: 24px;
  }
  & :where([data-accordion-icons=left].accordion-header-px\:24px > div > *) > button > [data-module='accordion.icon'] {
    padding-right: 24px;
  }
  & :where(.accordion-header-px\:24px > div > *) > button {
    padding-left: 24px;
    padding-right: 24px;
  }
  & :where(.accordion-header-py\:16px > div > *) > button {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  & :where(.accordion-panel-p\:24px > div > div[data-module='accordion.panel']) > div {
    padding: 24px;
  }
}

