/* file: module.toast.scss------------------------------------------------ */
@use '../_config/_unit.scss' as unit;
[data-module="module.toast"] {
  display: flex;
  align-items:flex-end;
  flex-direction: column;
  position: fixed;
  bottom: 24px;
  right: 24px;
  .toast {
    padding: 16px;
    margin-bottom: 24px;
    border-radius: unit.rem-calc(4);
    opacity: 0;
    transition: opacity 0.5s;
    text-align: left;
    max-width: unit.rem-calc(400);
    font-size: 1rem !important;
    h1,h2,h3,h4,p,span,div,a,button {
      font-size: 1rem !important;
      line-height: 1.15 !important;
    }
  }
}