/* file: module.carousel.scss------------------------------------------------ */
[data-module="carousel"] {
  overflow:hidden;
  [data-module="carousel.item-group"] {
    left:0;
    transition-property:left;
    transition-timing-function: ease;
  }
  &[data-carousel-active="true"] {
    [data-module="carousel.item-group"] {
      [data-module="carousel.item"] {
        opacity: .6;
        transition-property:opacity;
        transition-duration:.25s;
        transition-timing-function: ease;
        &[data-carousel-item-active="true"],
        &[data-carousel-item-secondary-active="true"]{
          opacity: 1;
        }
      }
    }
  }
  [data-module="carousel.indicators-group"] {
    [data-carousel-indicator-control] {
      border-radius: 50%;
      transition: background-color 1s, border-color 1s, transform 1s;
      height:rem-calc(14);
      width:rem-calc(14);
      padding:0;
      border:rem-calc(2) solid $gray;
      background-color: $white;
      margin:0 rem-calc(12);
      &[data-carousel-indicator-active="true"] {
        background-color: $blue;
        border-color: $blue;
        margin:0 rem-calc(11);
        height:rem-calc(16);
        width:rem-calc(16);
      }
    }
  }
}

[data-module="carousel"][data-carousel-breakpoint="sm="] {
  [data-module="carousel.indicators-group"],
  [data-carousel-control-prev],
  [data-carousel-control-next] {
    @include breakpoint(medium) {
      display:none;
    }
  }
}

[data-module="carousel"][data-carousel-breakpoint="md-"] {
  [data-module="carousel.indicators-group"],
  [data-carousel-control-prev],
  [data-carousel-control-next] {
    @media screen and #{breakpoint(large up)} {
      display:none;
    }
  }
}

[data-module="carousel"][data-carousel-breakpoint="md="] {
  [data-module="carousel.indicators-group"],
  [data-carousel-control-prev],
  [data-carousel-control-next] {
    @media screen and #{breakpoint(large)}, screen and #{breakpoint(small only)} {
      display:none;
    }
  }
}

[data-module="carousel"][data-carousel-breakpoint="md+"] {
  [data-module="carousel.indicators-group"],
  [data-carousel-control-prev],
  [data-carousel-control-next] {
    @include breakpoint(small only) {
      display:none;
    }
  }
}

[data-module="carousel"][data-carousel-breakpoint="lg-"] {
  [data-module="carousel.indicators-group"],
  [data-carousel-control-prev],
  [data-carousel-control-next] {
    @media screen and #{breakpoint(xlarge up)} {
      display:none;
    }
  }
}

[data-module="carousel"][data-carousel-breakpoint="lg="] {
  [data-module="carousel.indicators-group"],
  [data-carousel-control-prev],
  [data-carousel-control-next] {
    @media screen and #{breakpoint(xlarge)}, screen and #{breakpoint(medium down)} {
      display:none;
    }
  }
}

[data-module="carousel"][data-carousel-breakpoint="lg+"] {
  [data-module="carousel.indicators-group"],
  [data-carousel-control-prev],
  [data-carousel-control-next] {
    @include breakpoint(medium down) {
      display:none;
    }
  }
}

[data-module="carousel"][data-carousel-breakpoint="xl+"] {
  [data-module="carousel.indicators-group"],
  [data-carousel-control-prev],
  [data-carousel-control-next] {
    @include breakpoint(large down) {
      display:none;
    }
  }
}