/* file: module.badge.scss------------------------------------------------ */
@use '../_config/_unit.scss' as unit;

[data-module='badge']{
  display:inline-block;
  border-radius: unit.rem-calc(4);
  color: var(--color-white);
  font-weight:700;
  padding: 2px 6px;
  margin: 0;
  font-size: unit.rem-calc(14);
  line-height: 1.5;
  & + [data-module='badge']{
    margin-left: 4px;
  }
}
