/* file: module.carousel.scss------------------------------------------------ */
@use '../_config/_unit.scss' as unit;
@use '../_config/_breakpoint.scss' as breakpoint;

[data-module="carousel"] {
  overflow:hidden;
  [data-module="carousel.item-group"] {
    left:0;
    transition-property:left;
    transition-timing-function: ease;
  }
  &[data-carousel-active="true"] {
    [data-module="carousel.item-group"] {
      [data-module="carousel.item"] {
        // opacity: .6;
        transition-property:opacity;
        transition-duration:.25s;
        transition-timing-function: ease;
        &[data-carousel-item-active="true"],
        &[data-carousel-item-secondary-active="true"]{
          // opacity: 1;
        }
      }
    }
  }
  [data-module="carousel.indicators-group"] {
    [data-carousel-indicator-control] {
      border-radius: 50%;
      transition: background-color 1s, border-color 1s, transform 1s;
      height:unit.rem-calc(28);
      width:unit.rem-calc(28);
      background: radial-gradient(circle, white unit.rem-calc(7), var(--color-gray) unit.rem-calc(9), transparent unit.rem-calc(10));
      padding:0;
      margin:0 6px;
      &[data-carousel-indicator-active="true"] {
        background: radial-gradient(circle, var(--color-blue) unit.rem-calc(7), var(--color-gray) unit.rem-calc(9), transparent unit.rem-calc(10));
      }
    }
  }
}

[data-module="carousel"][data-carousel-breakpoint="sm="] {
  [data-module="carousel.indicators-group"],
  [data-carousel-control-prev],
  [data-carousel-control-next] {
    @include breakpoint.breakpoint(medium) {
      display:none;
    }
  }
}

[data-module="carousel"][data-carousel-breakpoint="md-"] {
  [data-module="carousel.indicators-group"],
  [data-carousel-control-prev],
  [data-carousel-control-next] {
    @include breakpoint.breakpoint(large up) {
      display:none;
    }
  }
}

[data-module="carousel"][data-carousel-breakpoint="md="] {
  [data-module="carousel.indicators-group"],
  [data-carousel-control-prev],
  [data-carousel-control-next] {
    @include breakpoint.breakpoint-combine(large up, small only) {
      display:none;
    }
  }
}

[data-module="carousel"][data-carousel-breakpoint="md+"] {
  [data-module="carousel.indicators-group"],
  [data-carousel-control-prev],
  [data-carousel-control-next] {
    @include breakpoint.breakpoint(small only) {
      display:none;
    }
  }
}

[data-module="carousel"][data-carousel-breakpoint="lg-"] {
  [data-module="carousel.indicators-group"],
  [data-carousel-control-prev],
  [data-carousel-control-next] {
    @include breakpoint.breakpoint(xlarge up) {
      display:none;
    }
  }
}

[data-module="carousel"][data-carousel-breakpoint="lg="] {
  [data-module="carousel.indicators-group"],
  [data-carousel-control-prev],
  [data-carousel-control-next] {
    @include breakpoint.breakpoint-combine(xlarge up, medium down) {
      display:none;
    }
  }
}

[data-module="carousel"][data-carousel-breakpoint="lg+"] {
  [data-module="carousel.indicators-group"],
  [data-carousel-control-prev],
  [data-carousel-control-next] {
    @include breakpoint.breakpoint(medium down) {
      display:none;
    }
  }
}

[data-module="carousel"][data-carousel-breakpoint="xl+"] {
  [data-module="carousel.indicators-group"],
  [data-carousel-control-prev],
  [data-carousel-control-next] {
    @include breakpoint.breakpoint(large down) {
      display:none;
    }
  }
}
.carousel-column-gap-grid [data-module="carousel.item-group"] [data-module="carousel.item"] {
  padding-left: 8px;
  padding-right: 8px;
  @include breakpoint.breakpoint(medium up) {
    padding-left: 12px;
    padding-right: 12px;
  }
  @include breakpoint.breakpoint(xlarge up) {
    padding-left: 16px;
    padding-right: 16px;
  }
}