/* file: module.tabs.scss------------------------------------------------ */
@use '../_config/_unit.scss' as unit;

[data-module='tabs'] {
  [data-module='tabs.panel'] {
    margin-top: -1px;
    z-index:-1;
  }
}
