/* file: module.popover.scss------------------------------------------------ */
[data-module='popover'] {
  box-shadow: $box-shadow-custom-2;
  bottom:0;
  border:0;
  overflow:visible;
  right: 0;
  width:100%;
  @include breakpoint(large) {
    position: absolute;
    box-shadow: $box-shadow-custom-1;
    top:50%;
    bottom:auto;
    right:auto;
    width: var(--popover-width, 300px); // Fallback to 300px if not set
  }
  &::before{
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    content:"";
  }
  &:after{
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    content:"";
  }
  &[data-popover-direction='right'] {
    &::before{
      border-width: rem-calc(11);
      left: rem-calc(-11);
      margin-top: rem-calc(-11);
      border-left-width: 0;
      border-right-color: #ddd;
      top: 50%;
    }
    &:after{
      border-width: rem-calc(10);
      left: rem-calc(-10);
      transform: translate(0, -50%);
      border-left-width: 0;
      border-right-color: #fff;
      top: 50%;
    }
  }
  &[data-popover-direction='top'] {
    &::before{
      border-width: rem-calc(11);
      bottom: rem-calc(-11);
      left: calc(50% - rem-calc(12));
      border-bottom-width: 0;
      border-top-color: #ddd;
    }
    &:after{
      border-width: rem-calc(10);
      bottom: rem-calc(-10);
      left: calc(50% - rem-calc(11));
      border-bottom-width: 0;
      border-top-color: #fff;
    }
  }
  &[data-popover-direction='bottom'] {
    @include breakpoint(large) {
      &::before{
        border-width: rem-calc(11);
        top: rem-calc(-11);
        left: calc(50% - rem-calc(12));
        border-top-width: 0;
        border-bottom-color: #ddd;
      }
      &:after{
        border-width: rem-calc(10);
        top: rem-calc(-10);
        left: calc(50% - rem-calc(11));
        border-top-width: 0;
        border-bottom-color: #fff;
      }
    }
  }
  button[data-popover-close] {
    position: absolute;
    top: rem-calc(10);
    right: rem-calc(10);
    @include breakpoint(large) {
      top: rem-calc(20);
      right: rem-calc(20);
    }
  }
}
