/* file: module.autocomplete.scss------------------------------------------------ */
@use '../_config/_unit.scss' as unit;

[data-module='autocomplete.multiselect-tags']{
  &[data-theme-bgc-color='blue'] > div {
    background-color: var(--color-blue);
    color:white;
  }
  &[data-theme-bgc-color='red'] > div {
    background-color: var(--color-red);
    color:white;
  }
}

[data-module='autocomplete.results']{
  z-index:4; //to go over other input labels
  overflow-y:scroll;
  overflow-x:hidden;
  li {
    display: flex;
    font-size: unit.rem-calc(14);
    line-height: 1.5;
    border-bottom: 1px solid var(--color-silver);
    cursor:pointer;
    width:100%;
    padding: 12px 12px 10px;
    span.name {
      text-align:left;
      flex-grow:1;
    }
    .match {
      color: var(--color-blue);
    }
    &:hover,
    &.selected{
      background-color: var(--color-platinum);
    }
  }
}