.carousel {
  overflow:hidden;
  .items-group {
    left:0;
    transition-property:left;
    transition-timing-function: ease;
  }
  .indicators-group {
    .control {
      border-radius: 50%;
      transition: background-color 1s, border-color 1s, transform 1s;
      &.active {
      }
    }
  }
  .controls-group {
    .control {
      position:absolute;
      transform:translateY(-50%);
    }
  }
}

/* carousel-disabled-active is used when a carousel item, when it's not in carousel mode, has an always active item */
.carousel.carousel\:center-mode-bigger {
  .items-group {
    .item {
      .content-container {
        z-index:0;
        box-shadow: $box-shadow-custom-1;
      }
      &.carousel-disabled-active {
        .content-container {
          z-index:1;
          box-shadow: $box-shadow-custom-2;
          padding-bottom: rem-calc(50);
        }
      }
    }
  }
  &.carousel-is-active {
    .items-group {
      .item,
      .item .carousel-disabled-active {
        z-index:0;
        .content-container {
          padding-top: rem-calc(25);
          padding-bottom: rem-calc(25);
          transition-property:padding;
          transition-duration:.5s;
          transition-timing-function: linear;
        }
        &.active {
          .content-container {
            box-shadow: $box-shadow-custom-2;
            padding-top: rem-calc(40);
            padding-bottom: rem-calc(40);
            transition-property:padding;
            transition-duration:.5s;
            transition-timing-function: linear;
          }
        }
        &.active {
          z-index:1;
        }
      }
    }
  }
  .indicators-group {
    .control {
      height:.5rem;
      width:.5rem;
      padding:0;
      border:rem-calc(2) solid $gray;
      background-color: $white;
      margin:0 rem-calc(4);
      &.active-item {
        background-color: $blue;
        border-color: $blue;
        margin:0 rem-calc(3);
        height:rem-calc(10);
        width:rem-calc(10);
      }
    }
  }
  .controls-group {
    .control {
      z-index:2;
      top:50%;
      &.prev {
        left:0;
      }
      &.next {
        right:0;
      }
    }
  }
}

.carousel.carousel\:center-mode-all-equal {
  .items-group {
    .item {
      .content-container {
        box-shadow: $box-shadow-custom-1;
      }
    }
  }
  &.carousel-is-active {
    .items-group {
      .item {
        .content-container {
          opacity: .6;
          transition-property:opacity;
          transition-duration:.25s;
          transition-timing-function: ease;
        }
        &.active{
          .content-container {
            opacity: 1;
            transition-property:opacity;
            transition-duration:.25s;
            transition-timing-function: ease;
          }
        }
      }
    }
  }
  .indicators-group {
    .control {
      height:.5rem;
      width:.5rem;
      padding:0;
      border:rem-calc(2) solid $gray;
      background-color: $white;
      margin:0 rem-calc(4);
      &.active-item {
        background-color: $blue;
        border-color: $blue;
        margin:0 rem-calc(3);
        height:rem-calc(10);
        width:rem-calc(10);
      }
    }
  }
  .controls-group {
    .control {
      top:50%;
      &.prev {
        left:0;
      }
      &.next {
        right:0;
      }
    }
  }
}

.carousel.banner--v2 {
  .items-group {
    .item {
      .content-container {
        z-index:0;
      }
      &.active{
        .content-container {
          z-index:1;
        }
      }
    }
  }
  .indicators-group {
    position: absolute;
    bottom: rem-calc(20);
    .control {
      height:.75rem;
      width:.75rem;
      padding:0;
      border:rem-calc(1) solid $white;
      background-color: transparent;
      margin:0 rem-calc(8);
      &.active-item {
        background-color: $white;
      }
    }
  }
  .controls-group {
    .control {
      z-index:2;
      background-color: transparent;
      top:50%;
      width: rem-calc(44);
      height: rem-calc(44);
      padding: 0;
      margin: 0;
      &.prev {
        left: rem-calc(15);
        .ic {
          margin-left:rem-calc(3);
        }
      }
      &.next {
        right: rem-calc(15);
        .ic {
          margin-right:rem-calc(3);
        }
      }
      .ic {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scaleY(.8);
        svg {
          display:flex;
          width:2rem;
          height:2rem;
        }
      }
    }
  }
}