/* file: module.menu-submenu.scss------------------------------------------------ */
[data-module='menu'] {
  [data-module='menu.trigger'] {
    &[aria-expanded='false'] {
      [data-module='menu.inactive'] {
        display: block;
        &.display\:flex {
          display:flex
        }
      }
      [data-module='menu.active'] {
        display: none;
      }
    }
    &[aria-expanded='true'] {
      [data-module='menu.inactive'] {
        display: none;
      }
      [data-module='menu.active'] {
        display: block;
        &.display\:flex {
          display:flex
        }
      }

    }
  }
}
