[data-module='dialog'] {
  &[data-dialog-overlay='false']{
    &::backdrop {
      background-color: transparent;
    }
  }
  &[data-dialog-overlay='true']{
    &::backdrop {
      background-color: #{$black}75;
    }
  }
  &[open] {
    position: fixed;
  }
  button[data-dialog-close] {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}