/* file: root.scss------------------------------------------------ */
@use '../_config/_breakpoint.scss' as breakpoint;
:root {
  --column-gap: 1rem;
  @include breakpoint.breakpoint(medium only) {
    --column-gap: 1.5rem;
  }
  @include breakpoint.breakpoint(large only) {
    --column-gap: 1.5rem;
  }
  @include breakpoint.breakpoint(xlarge up) {
    --column-gap: 2rem;
  }
}