/* file: typography-line-height.scss------------------------------------------------ */
@use '../_config/_breakpoint.scss' as breakpoint;

@each $breakpoint-name, $prefix in breakpoint.$breakpoint-prefixes {
  @include breakpoint.breakpoint($breakpoint-name) {
    .#{$prefix}lh\:0 { line-height: 0; } // used for phantom space below an image
    .#{$prefix}lh\:24 { line-height: 1.5; }
    .#{$prefix}lh\:32 { line-height: 2; }
    .#{$prefix}lh\:40 { line-height: 2.5; }
    .#{$prefix}lh\:48 { line-height: 3; }
  }
}