/* file: typography-font--heebo.scss------------------------------------------------ */
@use '../_config/_unit.scss' as unit;
@use '../_config/_breakpoint.scss' as breakpoint;
@font-face {
  font-family: 'heebo-light';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/font/heebo/heebo.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'heebo-regular';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/font/heebo/heebo.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'heebo-medium';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/font/heebo/heebo.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'heebo-bold';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/font/heebo/heebo.ttf') format('truetype');
  font-display: swap;
}

@each $breakpoint-name, $prefix in breakpoint.$breakpoint-prefixes {
  @include breakpoint.breakpoint($breakpoint-name) {
    .#{$prefix}heebo\:light {
      font-family: 'heebo-light', Arial, Sans-Serif;
      font-weight: 300;
    }
    .#{$prefix}heebo\:regular {
      font-family: 'heebo-regular', Arial, Sans-Serif;
      font-weight: 400;
    }
    .#{$prefix}heebo\:medium {
      font-family: 'heebo-medium', Arial, Sans-Serif;
      font-weight: 500;
    }
    .#{$prefix}heebo\:bold {
      font-family: 'heebo-bold', Arial, Sans-Serif;
      font-weight: 700;
    }
  }
}

h1.heebo {
  font-weight:700;
  font-family: 'heebo-bold', Arial, Sans-Serif;
  font-size: unit.rem-calc(40);
  line-height: unit.rem-calc(40);
}

h2.heebo {
  font-weight:700;
  font-family: 'heebo-bold', Arial, Sans-Serif;
  font-size: unit.rem-calc(32);
  line-height: unit.rem-calc(32);
}

h3.heebo {
  font-weight:700;
  font-family: 'heebo-bold', Arial, Sans-Serif;
  font-size: unit.rem-calc(28);
  line-height: unit.rem-calc(28);
}

h4.heebo {
  font-weight:700;
  font-family: 'heebo-bold', Arial, Sans-Serif;
  font-size: unit.rem-calc(24);
  line-height: unit.rem-calc(24);
}
