@font-face {
  font-family: 'play-regular';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/font/play/play-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'play-bold';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/font/play/play-bold.ttf') format('truetype');
}

@each $mediaquery in $mediaqueries {
  $breakpoint: nth($mediaquery, 1);
  $prefix: nth($mediaquery, 2);

  @include breakpoint($breakpoint) {
    .#{$prefix}play\:regular {
      font-family: 'play-regular', Arial, Sans-Serif;
      font-weight: 400;
    }
    .#{$prefix}play\:bold {
      font-family: 'play-bold', Arial, Sans-Serif;
      font-weight: 700;
    }
  }
}
