/* file: typography-text-alignment.scss------------------------------------------------ */
@use '../_config/_breakpoint.scss' as breakpoint;

@each $breakpoint-name, $prefix in breakpoint.$breakpoint-prefixes {
  @include breakpoint.breakpoint($breakpoint-name) {
    .#{$prefix}text-align\:left { text-align: left; }
    .#{$prefix}text-align\:center { text-align: center; }
    .#{$prefix}text-align\:right { text-align: right; }
    .#{$prefix}text-align\:justify { text-align: justify; }
  }
}