@font-face {
  font-family: 'heebo-light';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/font/heebo/heebo.ttf') format('truetype');
}
@font-face {
  font-family: 'heebo-regular';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/font/heebo/heebo.ttf') format('truetype');
}
@font-face {
  font-family: 'heebo-medium';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/font/heebo/heebo.ttf') format('truetype');
}
@font-face {
  font-family: 'heebo-bold';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/font/heebo/heebo.ttf') format('truetype');
}

@each $mediaquery in $mediaqueries {
  $breakpoint: nth($mediaquery, 1);
  $prefix: nth($mediaquery, 2);

  @include breakpoint($breakpoint) {
    .#{$prefix}heebo\:light {
      font-family: 'heebo-light', Arial, Sans-Serif;
      font-weight: 300;
    }
    .#{$prefix}heebo\:regular {
      font-family: 'heebo-regular', Arial, Sans-Serif;
      font-weight: 400;
    }
    .#{$prefix}heebo\:medium {
      font-family: 'heebo-medium', Arial, Sans-Serif;
      font-weight: 500;
    }
    .#{$prefix}heebo\:bold {
      font-family: 'heebo-bold', Arial, Sans-Serif;
      font-weight: 700;
    }
  }
}

h1.heebo {
  font-weight:700;
  font-family: 'heebo-bold', Arial, Sans-Serif;
  font-size: rem-calc(40);
  line-height: rem-calc(40);
}

h2.heebo {
  font-weight:700;
  font-family: 'heebo-bold', Arial, Sans-Serif;
  font-size: rem-calc(32);
  line-height: rem-calc(32);
}

h3.heebo {
  font-weight:700;
  font-family: 'heebo-bold', Arial, Sans-Serif;
  font-size: rem-calc(28);
  line-height: rem-calc(28);
}

h4.heebo {
  font-weight:700;
  font-family: 'heebo-bold', Arial, Sans-Serif;
  font-size: rem-calc(24);
  line-height: rem-calc(24);
}