/* file: typography-misc.scss------------------------------------------------ */
// Unordered/Ordered List: Unstyle a list
ul.unstyle,
ol.unstyle { list-style: none; }
ul.unstyle-pl\:0,
ol.unstyle-pl\:0 { list-style: none; padding-left:0; }
dl.unstyle > dd { margin-left:0;}



ul.checkmark-list {
  list-style: none;
  padding-left: 0;
  > li {
    background-image: url('../assets/icon/check.blue.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: rem-calc(24) rem-calc(24);
    padding-left: rem-calc(32);
    line-height: rem-calc(24);
  }

  &.checkmark-list-li-pb\:16px {
    > li {
      padding-bottom: rem-calc(16);
    }
  }
}

$whitespaces: (
  normal    : normal,
  nowrap    : nowrap,
  breakword : break-word
);

@each $mediaquery in $mediaqueries {
  $breakpoint: nth($mediaquery, 1);
  $prefix: nth($mediaquery, 2);

  @include breakpoint($breakpoint) {

    @each $whitespace in $whitespaces {
      $whitespace-name: nth($whitespace, 1);
      $whitespace-value: nth($whitespace, 2);

      .#{$prefix}ws\:#{$whitespace-name} {
        white-space: #{$whitespace-value};
      }
    }
  }
}

@each $mediaquery in $mediaqueries {
  $breakpoint: nth($mediaquery, 1);
  $prefix: nth($mediaquery, 2);

  @include breakpoint($breakpoint) {
    .#{$prefix}uppercase { text-transform: uppercase; }
    .#{$prefix}capitalize { text-transform: capitalize; }
  }
}