/* file: typography-font-size.scss------------------------------------------------ */
@use '../_config/_unit.scss' as unit;
@use '../_config/_breakpoint.scss' as breakpoint;
// use this to remove phantom space
.fs\:0 { font-size: 0 }

// from https://type-scale.com/ - 1.2 - Minor Third

@each $breakpoint-name, $prefix in breakpoint.$breakpoint-prefixes {
  @include breakpoint.breakpoint($breakpoint-name) {
    .#{$prefix}fs\:12px { font-size: unit.rem-calc(12); }
    .#{$prefix}fs\:14px { font-size: unit.rem-calc(14); }
    .#{$prefix}fs\:16px { font-size: unit.rem-calc(16); }
    .#{$prefix}fs\:20px { font-size: unit.rem-calc(20); }
    .#{$prefix}fs\:24px { font-size: unit.rem-calc(24); } // h4
    .#{$prefix}fs\:28px { font-size: unit.rem-calc(28); } // h3
    .#{$prefix}fs\:32px { font-size: unit.rem-calc(32); } // h2
    .#{$prefix}fs\:40px { font-size: unit.rem-calc(40); } // h1
  }
}