/* file: typography-misc.scss------------------------------------------------ */
@use 'sass:list';
@use '../_config/_unit.scss' as unit;
@use '../_config/_breakpoint.scss' as breakpoint;
// Unordered/Ordered List: Unstyle a list
ul.unstyle,
ol.unstyle { list-style: none; }
ul.unstyle-pl\:0,
ol.unstyle-pl\:0 { list-style: none; padding-left:0; }
dl.unstyle > dd { margin-left:0;}

ul.checkmark-list {
  list-style: none;
  padding-left: 0;
  > li {
    background-image: url('../assets/icon/check.blue.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: unit.rem-calc(24) unit.rem-calc(24);
    padding-left: 32px;
    line-height: unit.rem-calc(24);
  }

  &.checkmark-list-li-pb\:16px {
    > li {
      padding-bottom: 16px;
    }
  }
}

$whitespaces: (
  normal    : normal,
  nowrap    : nowrap,
  breakword : break-word
);

@each $breakpoint-name, $prefix in breakpoint.$breakpoint-prefixes {
  @include breakpoint.breakpoint($breakpoint-name) {

    @each $whitespace in $whitespaces {
      $whitespace-name: list.nth($whitespace, 1);
      $whitespace-value: list.nth($whitespace, 2);

      .#{$prefix}ws\:#{$whitespace-name} {
        white-space: #{$whitespace-value};
      }
    }
  }
}

@each $breakpoint-name, $prefix in breakpoint.$breakpoint-prefixes {
  @include breakpoint.breakpoint($breakpoint-name) {
    .#{$prefix}uppercase { text-transform: uppercase; }
    .#{$prefix}capitalize { text-transform: capitalize; }
  }
}