.fs\:0 { font-size: 0 }

@each $mediaquery in $mediaqueries {
  $breakpoint: nth($mediaquery, 1);
  $prefix: nth($mediaquery, 2);
  @include breakpoint($breakpoint) {
    .#{$prefix}fs\:12px { font-size: rem-calc(12); }
    .#{$prefix}fs\:14px { font-size: rem-calc(14); }
    .#{$prefix}fs\:16px { font-size: rem-calc(16); }
    .#{$prefix}fs\:18px { font-size: rem-calc(18); }
    .#{$prefix}fs\:22px { font-size: rem-calc(22); }
    .#{$prefix}fs\:24px { font-size: rem-calc(24); }
    .#{$prefix}fs\:28px { font-size: rem-calc(28); }
    .#{$prefix}fs\:36px { font-size: rem-calc(36); }
  }
}