/* file: typography-font-weight.scss------------------------------------------------ */
@use '../_config/_breakpoint.scss' as breakpoint;

@each $breakpoint-name, $prefix in breakpoint.$breakpoint-prefixes {
  @include breakpoint.breakpoint($breakpoint-name) {
    .#{$prefix}fw\:light {
      font-weight: 300;
    }
    .#{$prefix}fw\:regular {
      font-weight: 400;
    }
    .#{$prefix}fw\:medium {
      font-weight: 500;
    }
    .#{$prefix}fw\:bold {
      font-weight: 700;
    }
  }
}