/* file: typography-font--play.scss------------------------------------------------ */
@use '../_config/_unit.scss' as unit;
@use '../_config/_breakpoint.scss' as breakpoint;
@font-face {
  font-family: 'play-regular';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/font/play/play-regular.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'play-bold';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/font/play/play-bold.ttf') format('truetype');
  font-display: swap;
}

@each $breakpoint-name, $prefix in breakpoint.$breakpoint-prefixes {
  @include breakpoint.breakpoint($breakpoint-name) {
    .#{$prefix}play\:regular {
      font-family: 'play-regular', Arial, Sans-Serif;
      font-weight: 400;
    }
    .#{$prefix}play\:bold {
      font-family: 'play-bold', Arial, Sans-Serif;
      font-weight: 700;
    }
  }
}

h1.play {
  font-weight:700;
  font-family: 'play-bold', Arial, Sans-Serif;
  font-size: unit.rem-calc(40);
  line-height: unit.rem-calc(40);
}

h2.play {
  font-weight:700;
  font-family: 'play-bold', Arial, Sans-Serif;
  font-size: unit.rem-calc(32);
  line-height: unit.rem-calc(32);
}

h3.play {
  font-weight:700;
  font-family: 'play-bold', Arial, Sans-Serif;
  font-size: unit.rem-calc(28);
  line-height: unit.rem-calc(28);
}

h4.play {
  font-weight:700;
  font-family: 'play-bold', Arial, Sans-Serif;
  font-size: unit.rem-calc(24);
  line-height: unit.rem-calc(24);
}
