$colors: (
  white       : $icon-white,
  blue        : $icon-blue,
  bluea       : $icon-bluea,
  ultramarine : $icon-ultramarine,
  granite     : $icon-granite,
  negative    : $icon-negative,
  positive    : $icon-positive,
  warning     : $icon-warning
);

@each $mediaquery in $mediaqueries {
  $breakpoint: nth($mediaquery, 1);
  $prefix: nth($mediaquery, 2);

  @include breakpoint($breakpoint) {

    @each $color in $colors {
      $color-name: nth($color, 1);
      $color-value: nth($color, 2);

      .#{$prefix}icon-color\:#{$color-name} {
        filter: #{$color-value};
      }
    }
  }
}

$sizes: (
  16px : rem-calc(16),
  20px : rem-calc(20),
  24px : rem-calc(24),
  32px : rem-calc(32),
  48px : rem-calc(48)
);

@each $mediaquery in $mediaqueries {
  $breakpoint: nth($mediaquery, 1);
  $prefix: nth($mediaquery, 2);

  @include breakpoint($breakpoint) {

    @each $size in $sizes {
      $size-name: nth($size, 1);
      $size-value: nth($size, 2);

      .#{$prefix}icon-size\:#{$size-name} {
        width: #{$size-value};
        min-width: #{$size-value};
        height: #{$size-value};
      }
    }
  }
}

.icon {
  background-repeat: no-repeat;
  background-position: center center;
}


.icon.chevron-circle-down { background-image: url('../assets/icon/chevron-circle-down.svg'); }
.icon.chevron-circle-left { background-image: url('../assets/icon/chevron-circle-left.svg'); }
.icon.chevron-circle-right { background-image: url('../assets/icon/chevron-circle-right.svg'); }
.icon.chevron-circle-up { background-image: url('../assets/icon/chevron-circle-up.svg'); }
.icon.chevron-down { background-image: url('../assets/icon/chevron-down.svg'); }
.icon.chevron-left { background-image: url('../assets/icon/chevron-left.svg'); }
.icon.chevron-right { background-image: url('../assets/icon/chevron-right.svg'); }
.icon.chevron-up { background-image: url('../assets/icon/chevron-up.svg'); }
.icon.info-circle { background-image: url('../assets/icon/info-circle.svg'); }
.icon.times { background-image: url('../assets/icon/times.svg'); }

