/* file: visual-illustrations.scss------------------------------------------------ */
@use 'sass:list';
@use '../_config/_breakpoint.scss' as breakpoint;

$sizes: (
  xs : (96px,72px),
  sm : (120px,96px),
  md : (192px,144px),
  lg : (240px,200px),
  xl : (320px,280px)
);

@each $breakpoint-name, $prefix in breakpoint.$breakpoint-prefixes {
  @include breakpoint.breakpoint($breakpoint-name) {

    @each $size-name, $specs in $sizes {
      $size-width-value: list.nth($specs, 1);
      $size-height-value: list.nth($specs, 2);

      .#{$prefix}illustration-size\:#{$size-name} {
        width: #{$size-width-value};
        height: #{$size-height-value};
      }
    }
  }
}