/* file: visual-icons.scss------------------------------------------------ */
@use 'sass:list';
@use '../_config/_unit.scss' as unit;
@use '../_config/_breakpoint.scss' as breakpoint;
.ic {
  mask-repeat: no-repeat;
  mask-position: center;
}

$icons: (
  calendar,
  chevron-circle-down,
  chevron-circle-left,
  chevron-circle-right,
  chevron-circle-up,
  chevron-down,
  chevron-left,
  chevron-right,
  chevron-up,
  check,
  check-double,
  check-circle,
  clone,
  copy,
  css3-alt,
  database,
  dragon,
  edit,
  external-link-alt,
  eye,
  git-alt,
  github,
  hand-paper,
  hand-rock,
  html5,
  info-circle,
  instagram,
  js,
  linkedin,
  lock,
  low-vision,
  minus,
  node,
  node-js,
  php,
  phone-alt,
  plus,
  python,
  react,
  redo-alt,
  sass,
  search-plus,
  sort-alt,
  spider,
  spider-web,
  spinner,
  terminal,
  times,
  universal-access,
  user-circle,
  user-hard-hat,
  vuejs
);

$types: (
  light,
  solid,
  brands
);
@each $icon in $icons {
  @each $type in $types {
    .ic.ic-type\:#{$type}.ic-name\:#{$icon} {
      -webkit-mask-image: url('../assets/icon/#{$type}/#{$icon}.svg');
      mask-image: url('../assets/icon/#{$type}/#{$icon}.svg');
    }
  }
}

$colors: (
  blue      : var(--color-blue),
  yale-blue : var(--color-yale-blue),
  white     : var(--color-white),
  disabled  : var(--color-disabled),
  silver    : var(--color-silver),
  onyx      : var(--color-onyx),
  black     : var(--color-black),
  red       : var(--color-red),
  negative  : var(--color-negative),
  positive  : var(--color-positive),
  warning   : var(--color-warning),
);

@each $breakpoint-name, $prefix in breakpoint.$breakpoint-prefixes {
  @include breakpoint.breakpoint($breakpoint-name) {

    @each $color in $colors {
      $color-name: list.nth($color, 1);
      $color-value: list.nth($color, 2);

      .#{$prefix}ic-color\:#{"" + $color-name} {
        background-color: #{$color-value};
      }
    }
  }
}

$sizes: (
  12px : unit.rem-calc(12),
  16px : unit.rem-calc(16),
  20px : unit.rem-calc(20),
  24px : unit.rem-calc(24),
  32px : unit.rem-calc(32),
  48px : unit.rem-calc(48),
  72px : unit.rem-calc(72),
  96px : unit.rem-calc(96),
);

@each $breakpoint-name, $prefix in breakpoint.$breakpoint-prefixes {
  @include breakpoint.breakpoint($breakpoint-name) {

    @each $size in $sizes {
      $size-name: list.nth($size, 1);
      $size-value: list.nth($size, 2);

      .#{$prefix}ic-size\:#{$size-name} {
        width: #{$size-value};
        min-width: #{$size-value};
        height: #{$size-value};
      }
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ic-name\:spinner {
  animation: spin 2s linear infinite;
}