<%- include(`${process.env.PWD}/_dev/_layouts/_default.head.ejs`, pageData) %>

    <main class="w:100% pb:96px" role="main">
      <section class="mw:1200px align-self:centered pt:32px">
        <h1 class="play:bold fs:40px color:eerie-black sm+:px:8px xl+:px:0">Accordion</h1>
      </section>

      <section class="mw:1200px align-self:centered pt:32px">
        <h2 class="play:bold fs:32px color:eerie-black pb:32px">Setting: One open at a time <em class="fs:20px">(first panel open on load)</em></h2>
        <div class="sm=:mb:32px md+:mb:48px xl+:mb:64px bxs:2" id data-module="accordion" data-accordion-active="single" data-accordion-initial="[1,0,0,0]">
          <div class="bb-gray:1px bgc:platinum">
            <h3 class="sm=:fs:20px md+:fs:24px sm=:lh:24 md+:lh:32 heebo:bold">
              <button class="w:100% display:flex align:middle bgc:white pt:32px pb:24px" data-module="accordion.header" id aria-controls aria-expanded tabindex aria-label="Learn more about Dog 1, expands/collapses a pop-up">
                <span class="px:24px print:hide" aria-hidden="true">
                  <span data-module="accordion.active"><div class="ic ic-type:solid ic-color:blue ic-size:32px ic-name:chevron-down"></div></span>
                  <span data-module="accordion.inactive"><div class="ic ic-type:solid ic-color:blue ic-size:32px ic-name:chevron-up"></div></span>
                </span>
                  Dog 1
              </button>
            </h3>
            <div id aria-labelledby data-module="accordion.panel" role="region">
              <div class="row">
                <div class="w:6"><img src="https://placedog.net/600/200" alt=""></div><div class="w:6"><img src="https://placedog.net/600/200" alt=""></div>
              </div>
            </div>
          </div>
          <div class="bb-gray:1px bgc:platinum">
            <h3 class="sm=:fs:20px md+:fs:24px sm=:lh:24 md+:lh:32 heebo:bold">
              <button class="w:100% display:flex align:middle bgc:white pt:32px pb:24px" data-module="accordion.header" id aria-controls aria-expanded tabindex aria-label="Learn more about Dog 2, expands/collapses a pop-up">
                <span class="px:24px print:hide" aria-hidden="true">
                  <span data-module="accordion.active"><div class="ic ic-type:solid ic-color:blue ic-size:32px ic-name:chevron-down"></div></span>
                  <span data-module="accordion.inactive"><div class="ic ic-type:solid ic-color:blue ic-size:32px ic-name:chevron-up"></div></span>
                </span>
                  Dog 2
              </button>
            </h3>
            <div id aria-labelledby data-module="accordion.panel" role="region">
              <div class="row">
                <div class="w:6"><img src="https://placedog.net/600/200" alt=""></div><div class="w:6"><img src="https://placedog.net/600/200" alt=""></div>
              </div>
            </div>
          </div>
          <div class="bb-gray:1px bgc:platinum">
            <h3 class="sm=:fs:20px md+:fs:24px sm=:lh:24 md+:lh:32 heebo:bold">
              <button class="w:100% display:flex align:middle bgc:white pt:32px pb:24px" data-module="accordion.header" id aria-controls aria-expanded tabindex aria-label="Learn more about Dog 3, expands/collapses a pop-up">
                <span class="px:24px print:hide" aria-hidden="true">
                  <span data-module="accordion.active"><div class="ic ic-type:solid ic-color:blue ic-size:32px ic-name:chevron-down"></div></span>
                  <span data-module="accordion.inactive"><div class="ic ic-type:solid ic-color:blue ic-size:32px ic-name:chevron-up"></div></span>
                </span>
                  Dog 3
              </button>
            </h3>
            <div id aria-labelledby data-module="accordion.panel" role="region">
              <div class="row">
                <div class="w:6"><img src="https://placedog.net/600/200" alt=""></div><div class="w:6"><img src="https://placedog.net/600/200" alt=""></div>
              </div>
            </div>
          </div>
          <div class="bb-gray:1px bgc:platinum">
            <h3 class="sm=:fs:20px md+:fs:24px sm=:lh:24 md+:lh:32 heebo:bold">
              <button class="w:100% display:flex align:middle bgc:white pt:32px pb:24px" data-module="accordion.header" id aria-controls aria-expanded tabindex aria-label="Learn more about Dog 4, expands/collapses a pop-up">
                <span class="px:24px print:hide" aria-hidden="true">
                  <span data-module="accordion.active"><div class="ic ic-type:solid ic-color:blue ic-size:32px ic-name:chevron-down"></div></span>
                  <span data-module="accordion.inactive"><div class="ic ic-type:solid ic-color:blue ic-size:32px ic-name:chevron-up"></div></span>
                </span>
                Dog 4
              </button>
            </h3>
            <div id aria-labelledby data-module="accordion.panel" role="region">
              <div class="row">
                <div class="w:6"><img src="https://placedog.net/600/200" alt=""></div><div class="w:6"><img src="https://placedog.net/600/200" alt=""></div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="mw:1200px align-self:centered pt:32px">
        <h2 class="play:bold fs:32px color:eerie-black pb:32px">Multiple: One open at a time <em class="fs:20px">(second and third panel open on load)</em></h2>
        <div class="sm=:mb:32px md+:mb:48px xl+:mb:64px bxs:2" id data-module="accordion" data-accordion-active="multiple" data-accordion-initial="[0,1,1,0]">
          <div class="bb-gray:1px bgc:platinum">
            <h3 class="sm=:fs:20px md+:fs:24px sm=:lh:24 md+:lh:32 heebo:bold">
              <button class="w:100% display:flex align:justify bgc:white pt:32px pb:24px pl:24px" data-module="accordion.header" id aria-controls aria-expanded tabindex aria-label="Learn more about Dog A1, expands/collapses a pop-up">
                Dogs A
                <span class="pr:24px align-self:middle print:hide" aria-hidden="true">
                  <span data-module="accordion.active"><div class="ic ic-type:solid ic-color:blue ic-size:32px ic-name:chevron-down"></div></span>
                  <span data-module="accordion.inactive"><div class="ic ic-type:solid ic-color:blue ic-size:32px ic-name:chevron-up"></div></span>
                </span>
              </button>
            </h3>
            <div id aria-labelledby data-module="accordion.panel" role="region">
              <div class="row">
                <div class="w:9"><img src="https://placedog.net/900/200" alt=""></div><div class="w:3"><img src="https://placedog.net/300/200" alt=""></div>
              </div>
            </div>
          </div>
          <div class="bb-gray:1px bgc:platinum">
            <h3 class="sm=:fs:20px md+:fs:24px sm=:lh:24 md+:lh:32 heebo:bold">
              <button class="w:100% display:flex align:justify bgc:white pt:32px pb:24px pl:24px" data-module="accordion.header" id aria-controls aria-expanded tabindex aria-label="Learn more about Dog B1, expands/collapses a pop-up">
                Dogs B
                <span class="pr:24px align-self:middle print:hide" aria-hidden="true">
                  <span data-module="accordion.active"><div class="ic ic-type:solid ic-color:blue ic-size:32px ic-name:chevron-down"></div></span>
                  <span data-module="accordion.inactive"><div class="ic ic-type:solid ic-color:blue ic-size:32px ic-name:chevron-up"></div></span>
                </span>
              </button>
            </h3>
            <div id aria-labelledby data-module="accordion.panel" role="region">
              <div class="row">
                <div class="w:5"><img src="https://placedog.net/500/200" alt=""></div><div class="w:7"><img src="https://placedog.net/700/200" alt=""></div>
              </div>
            </div>
          </div>
          <div class="bb-gray:1px bgc:platinum">
            <h3 class="sm=:fs:20px md+:fs:24px sm=:lh:24 md+:lh:32 heebo:bold">
              <button class="w:100% display:flex align:justify bgc:white pt:32px pb:24px pl:24px" data-module="accordion.header" id aria-controls aria-expanded tabindex aria-label="Learn more about Dog A2, expands/collapses a pop-up">
                Dogs A
                <span class="pr:24px align-self:middle print:hide" aria-hidden="true">
                  <span data-module="accordion.active"><div class="ic ic-type:solid ic-color:blue ic-size:32px ic-name:chevron-down"></div></span>
                  <span data-module="accordion.inactive"><div class="ic ic-type:solid ic-color:blue ic-size:32px ic-name:chevron-up"></div></span>
                </span>
              </button>
            </h3>
            <div id aria-labelledby data-module="accordion.panel" role="region">
              <div class="row">
                <div class="w:9"><img src="https://placedog.net/900/200" alt=""></div><div class="w:3"><img src="https://placedog.net/300/200" alt=""></div>
              </div>
            </div>
          </div>
          <div class="bb-gray:1px bgc:platinum">
            <h3 class="sm=:fs:20px md+:fs:24px sm=:lh:24 md+:lh:32 heebo:bold">
              <button class="w:100% display:flex align:justify bgc:white pt:32px pb:24px pl:24px" data-module="accordion.header" id aria-controls aria-expanded tabindex aria-label="Learn more about Dog B2, expands/collapses a pop-up">
                Dogs B
                <span class="pr:24px align-self:middle print:hide" aria-hidden="true">
                  <span data-module="accordion.active"><div class="ic ic-type:solid ic-color:blue ic-size:32px ic-name:chevron-down"></div></span>
                  <span data-module="accordion.inactive"><div class="ic ic-type:solid ic-color:blue ic-size:32px ic-name:chevron-up"></div></span>
                </span>
              </button>
            </h3>
            <div id aria-labelledby data-module="accordion.panel" role="region">
              <div class="row">
                <div class="w:5"><img src="https://placedog.net/500/200" alt=""></div><div class="w:7"><img src="https://placedog.net/700/200" alt=""></div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="mw:1200px align-self:centered pt:32px">
        <h2 class="play:bold fs:32px color:eerie-black pb:32px">Styleless: One open at a time <em class="fs:20px">(no panels open on load)</em></h2>
        <div id data-module="accordion" data-accordion-active="single" data-accordion-initial="[0,0,0,0]">
          <div>
            <h3>
              <button data-module="accordion.header" id aria-controls aria-expanded tabindex aria-label="Learn more about Dog 1A, expands/collapses a pop-up">
                Dog 1A
                <span aria-hidden="true">
                  <span><div></div></span>
                  <span><div></div></span>
                </span>
              </button>
            </h3>
            <div id aria-labelledby data-module="accordion.panel" role="region">
              <div>
                <div><img src="https://placedog.net/600/200" alt=""></div><div><img src="https://placedog.net/600/200" alt=""></div>
              </div>
            </div>
          </div>
          <div>
            <h3>
              <button data-module="accordion.header" id aria-controls aria-expanded tabindex aria-label="Learn more about Dog 2A, expands/collapses a pop-up">
                Dog 2A
                <span aria-hidden="true">
                  <span><div></div></span>
                  <span><div></div></span>
                </span>
              </button>
            </h3>
            <div id aria-labelledby data-module="accordion.panel" role="region">
              <div>
                <div><img src="https://placedog.net/600/200" alt=""></div><div><img src="https://placedog.net/600/200" alt=""></div>
              </div>
            </div>
          </div>
          <div>
            <h3>
              <button data-module="accordion.header" id aria-controls aria-expanded tabindex aria-label="Learn more about Dog 3A, expands/collapses a pop-up">
                Dog 3A
                <span aria-hidden="true">
                  <span><div></div></span>
                  <span><div></div></span>
                </span>
              </button>
            </h3>
            <div id aria-labelledby data-module="accordion.panel" role="region">
              <div>
                <div><img src="https://placedog.net/600/200" alt=""></div><div><img src="https://placedog.net/600/200" alt=""></div>
              </div>
            </div>
          </div>
          <div>
            <h3>
              <button data-module="accordion.header" id aria-controls aria-expanded tabindex aria-label="Learn more about Dog 4A, expands/collapses a pop-up">
                Dog 4A
                <span aria-hidden="true">
                  <span><div></div></span>
                  <span><div></div></span>
                </span>
              </button>
            </h3>
            <div id aria-labelledby data-module="accordion.panel" role="region">
              <div>
                <div><img src="https://placedog.net/600/200" alt=""></div><div><img src="https://placedog.net/600/200" alt=""></div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </main>

<%- include(`${process.env.PWD}/_dev/_layouts/_default.scripts.ejs`, pageData) %>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.footer.ejs`, pageData) %>