<%- include(`${process.env.PWD}/_dev/_layouts/_default.head.ejs`, pageData) %>

    <main class="w:100% bgc:albicant pb:96px" role="main">
    </main>

<%- include(`${process.env.PWD}/_dev/_layouts/_default.footer.ejs`, pageData) %>