<%- include(`${process.env.PWD}/_dev/_layouts/_default.head.ejs`, pageData) %>
    <main class="w:100%" role="main">
      <section class="mw:1280px align-self:centered pt:32px">
        <h1 class="play:bold fs:40px color:eerie-black pb:16px">Waypoint + CSS Animation</h1>
        <p>This uses <a class="anchor:blue" href="http://imakewebthings.com/waypoints/" target="_blank">Waypoint</a></p>
        <p>Scroll down the page for 9 Waypoint + CSS animation examples</p>
        <div class="text-align:center">
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          <div class="fs:32px fw:bold ani-duration:1s ani-timing:linear opacity:0% ani-to-move-up:32px" id="" data-module="waypoint" data-element="this" data-waypoint-remove="opacity:0%,ani-to-move-up:32px" data-waypoint-add="sm+:ani-fadein-up:32px" data-waypoint-delay="0" data-waypoint-activate="50%">1. Fade in and up (from the bottom) at 50% of the screen</div>
          <br><br><br><br><br><br>
          <div class="fs:32px fw:bold ani-duration:1s ani-timing:linear opacity:0% ani-to-move-left:32px" id="" data-module="waypoint" data-element="this" data-waypoint-remove="opacity:0%,ani-to-move-left:32px" data-waypoint-add="sm+:ani-fadein-left:32px" data-waypoint-delay="0" data-waypoint-activate="50%">2. Fade in and left (from the right) at 50% of the screen</div>
          <br><br><br><br><br><br>
          <div class="fs:32px fw:bold ani-duration:1s ani-timing:linear opacity:0% ani-to-move-right:32px" id="" data-module="waypoint" data-element="this" data-waypoint-remove="opacity:0%,ani-to-move-right:32px" data-waypoint-add="sm+:ani-fadein-right:32px" data-waypoint-delay="0" data-waypoint-activate="50%">3. Fade in and right (from the left) at 50% of the screen</div>
          <br><br><br><br><br><br>
          <div class="fs:32px fw:bold ani-duration:1s ani-timing:linear ani-to-move-up:32px" id="" data-module="waypoint" data-element="this" data-waypoint-remove="ani-to-move-up:32px" data-waypoint-add="ani-move-up:32px" data-waypoint-delay="0" data-waypoint-activate="50%">4. Move up (from the bottom) at 50% of the screen</div>
          <br><br><br><br><br><br>
          <div class="fs:32px fw:bold ani-duration:1s ani-timing:linear ani-to-move-left:32px" id="" data-module="waypoint" data-element="this" data-waypoint-remove="ani-to-move-left:32px" data-waypoint-add="ani-move-left:32px" data-waypoint-delay="0" data-waypoint-activate="50%">5. Move left (from the right) at 50% of the screen</div>
          <br><br><br><br><br><br>
          <div class="fs:32px fw:bold ani-duration:1s ani-timing:linear ani-to-move-right:32px" id="" data-module="waypoint" data-element="this" data-waypoint-remove="ani-to-move-right:32px" data-waypoint-add="ani-move-right:32px" data-waypoint-delay="0" data-waypoint-activate="50%">6. Move right (from the left) at 50% of the screen</div>
          <br><br><br><br><br><br>
          <div class="fs:32px fw:bold ani-duration:2s ani-timing:linear opacity:0% ani-to-move-up:32px" id="" data-module="waypoint" data-element="this" data-waypoint-remove="opacity:0%,ani-to-move-up:32px" data-waypoint-add="sm+:ani-fadein-up:32px" data-waypoint-delay="4s" data-waypoint-activate="250px">7. Fade in and up (from the bottom) at 250px of the screen, 2s duration, 4s delay</div>
          <br><br><br><br><br><br>
          <div class="fs:32px fw:bold ani-duration:4s ani-timing:linear opacity:0% ani-to-move-left:32px" id="" data-module="waypoint" data-element="this" data-waypoint-remove="opacity:0%,ani-to-move-left:32px" data-waypoint-add="sm+:ani-fadein-left:32px" data-waypoint-delay="0" data-waypoint-activate="75%">8. Fade in and left (from the right) at 75% of the screen, 4s duration</div>
          <br><br><br><br><br><br>
          <div class="fs:32px fw:bold ani-duration:2s ani-timing:linear opacity:0% ani-to-move-right:32px" id="" data-module="waypoint" data-element="this" data-waypoint-remove="opacity:0%,ani-to-move-right:32px" data-waypoint-add="sm+:ani-fadein-right:32px" data-waypoint-delay="2" data-waypoint-activate="50%">9. Fade in and right (from the left) at 50% of the screen, 2s delay, 2s duration</div>
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
      </section>
      <hr class="position:fixed w:100% p:0 m:0 b:0 bgc:negative z-index:-1" style="top:25%;height:1px;">
      <div class="position:fixed p:0 m:0 b:0 bgc:white pr:8px" style="top:25%;transform:translateY(-50%);">25%</div>
      <hr class="position:fixed w:100% p:0 m:0 b:0 bgc:negative z-index:-1" style="top:50%;height:1px;">
      <div class="position:fixed p:0 m:0 b:0 bgc:white pr:8px" style="top:50%;transform:translateY(-50%);">50%</div>
      <hr class="position:fixed w:100% p:0 m:0 b:0 bgc:negative z-index:-1" style="top:75%;height:1px;">
      <div class="position:fixed p:0 m:0 b:0 bgc:white pr:8px" style="top:75%;transform:translateY(-50%);">75%</div>
      <hr class="position:fixed w:100% p:0 m:0 b:0 bgc:negative z-index:-1" style="top:100px;height:1px;">
      <div class="position:fixed p:0 m:0 b:0 bgc:white pr:8px" style="top:100px;transform:translateY(-50%);">100px</div>
      <hr class="position:fixed w:100% p:0 m:0 b:0 bgc:negative z-index:-1" style="top:500px;height:1px;">
      <div class="position:fixed p:0 m:0 b:0 bgc:white pr:8px" style="top:500px;transform:translateY(-50%);">500px</div>
      <hr class="position:fixed w:100% p:0 m:0 b:0 bgc:negative z-index:-1" style="top:750px;height:1px;">
      <div class="position:fixed p:0 m:0 b:0 bgc:white pr:8px" style="top:750px;transform:translateY(-50%);">750px</div>
    </main>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.scripts.ejs`, pageData) %>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.footer.ejs`, pageData) %>