<%- include(`${process.env.PWD}/_dev/_layouts/_default.head.ejs`, pageData) %>
    <main class="w:100%" role="main">
      <section class="mw:1280px align-self:centered sm+:px:8px xl+:px:0 pt:32px">
        <h1 class="play:bold fs:40px color:slate pb:48px">Popover</h1>
        <div class="position:relative pb:48px">
          <button class="flex-grow:0 unstyle ml:4px" aria-haspopup="true" aria-expanded="false" data-module="popover.trigger" onclick="storm_eagle.popover.open(this,'focused-item');" aria-label="Popover information, opens in a new pop-up"><span class="icon display:block icon-color:blue icon-size:32px info-circle" aria-hidden="true"></span></button>
          <div class="popover right" data-module="popover" role="dialog" aria-modal="true" id="focused-item" aria-labelledby="focused-item-id">
            <div class="bgc:white w:100% md-:brtl:4px md-:brtr:4px lg+:br:4px">
              <button class="unstyle close" data-trigger="popover-close" onclick="storm_eagle.popover.close();" aria-label="Close information pop-up"><span class="icon display:block icon-color:blue icon-size:24px times" aria-hidden="true"></span></button>
              <div class="lh:24 md-:py:16px md-:pl:16px md-:pr:48px lg+:py:24px lg+:pl:32px lg+:pr:56px">
                <p id="focused-item-id">A <a class="anchor:primary" href="https://en.wikipedia.org/wiki/Popover" target="_blank" class="fw:bold">popover</a> is a light roll made from an egg batter similar to that of Yorkshire pudding, typically baked in muffin tins or dedicated popover pans, which have straight-walled sides rather than angled.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="position:relative pb:48px">
          <button class="flex-grow:0 unstyle ml:4px" aria-haspopup="true" aria-expanded="false" data-module="popover.trigger" onclick="storm_eagle.popover.open(this,'focused-item2');" aria-label="More popover information, opens in a new pop-up"><span class="icon display:block icon-color:blue icon-size:32px info-circle" aria-hidden="true"></span></button>
          <div class="popover right" data-module="popover" role="dialog" aria-modal="true" id="focused-item2" aria-labelledby="focused-item-id2">
            <div class="bgc:white w:100% md-:brtl:4px md-:brtr:4px lg+:br:4px">
              <button class="unstyle close" data-trigger="popover-close" onclick="storm_eagle.popover.close();" aria-label="Close information pop-up"><span class="icon display:block icon-color:blue icon-size:24px times" aria-hidden="true"></span></button>
              <div class="lh:24 md-:py:16px md-:pl:16px md-:pr:48px lg+:py:24px lg+:pl:32px lg+:pr:56px">
                <p id="focused-item-id2">Popovers may be served either as a sweet, topped with fruit and whipped cream; or, butter and jam for breakfast; or, with afternoon tea; or, with meats at lunch and dinner.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div data-module="popover.overlay" class="popover-overlay"></div>
    </main>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.scripts.ejs`, pageData) %>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.footer.ejs`, pageData) %>