<%- include(`${process.env.PWD}/_dev/_layouts/_default.head.ejs`, pageData) %>
    <main class="w:100% form:theme:b33mOe" role="main">
      <div class="mw:1280px align-self:centered sm+:px:8px xl+:px:0 pt:32px">
        <h1 class="play:bold fs:40px color:slate pb:64px">Autocomplete</h1>

        <div class="autocomplete p:16px sm+:w:8 lg+:w:4 align-self:centered" data-module="autocomplete" id="pokemon-autocomplete">
          <div class="position:relative pt:4px">
            <input type="text" onfocus="storm_eagle.autocomplete.update_sr_description('pokemon-autocomplete',this.value);" data-module="autocomplete.input" data-autocomplete-search="storm_eagle.pokemon_search.get_pokemon_list" id="pokemon" name="pokemon" role="combobox" aria-autocomplete="both" aria-owns="autocomplete-results" aria-activedescendant="" autocomplete="off" aria-expanded="false" aria-required="true" aria-describedby="autocomplete-error" required>
            <label for="pokemon" id="autocomplete_label"><span class="description">Find a Pokémon</span></label>
          </div>
          <div data-module="autocomplete.sr-description" id="pokemon-autocomplete-sr-description" class="show-for-sr" aria-live="assertive"></div>
          <ul class="autocomplete-results display:none unstyle-pl:0 pt:12px b-light-grey:1px" id="autocomplete-results" data-module="autocomplete.results" data-autocomplete-results="13" data-bind="pokemon" role="listbox" aria-labelledby="autocomplete_label" style="max-height: 400px;overflow-y:scroll;overflow-x:hidden;"></ul>
          <span class="error-message" role="alert" data-module="autocomplete.error" id="autocomplete-error">Please enter a Pokémon</span>
        </div>

      </div>
    </main>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.scripts.ejs`, pageData) %>
    <script>
      storm_eagle.module('pokemon_search', () => {
        'use strict';
        let self;
        let errormessage = "";

        return {
          initialize: () => {
            self = storm_eagle["pokemon_search"];
          },
          get_pokemon_list: (query, input_id, results_id, autocomplete_id, results_max_results) => {
            let url = "pokedex.json";

            function _helper_reduce_database (database_temp) {
              let new_database = [];
              let database_temp_keyword;

              //iterate through json objects
              for(let j=0;j<database_temp.length;j++) {
                database_temp_keyword = database_temp[j]["name"].toLowerCase();
                //if query inside name, add name to new database
                if ((database_temp_keyword.indexOf(query.toLowerCase()) > -1 || database_temp_keyword.toLowerCase().indexOf(query.toLowerCase()) > -1) ? true : false) {
                  new_database.push(database_temp[j]);
                }
              }
              return new_database;
            }

            fetch(url)
              .then(response => {
                return response.json();
              }).then(data => {

                data = _helper_reduce_database(data);

                if (data) {
                  if (data.length > 0) {
                    if (document.getElementById(input_id) === document.activeElement) {
                      document.getElementById(results_id).classList.remove("display:none");
                      document.getElementById(results_id).innerHTML = "";
                      document.getElementById(autocomplete_id).classList.remove("active");
                      document.getElementById(autocomplete_id).setAttribute("aria-expanded", "false");

                      for (let i = 0; i < data.length; i++) {
                        document.getElementById(results_id).insertAdjacentHTML('beforeend', self.render_autocomplete_result(query, i, input_id, autocomplete_id, data[i]));
                        document.getElementById(results_id).classList.remove("display:none");
                        document.getElementById(autocomplete_id).classList.add("active");
                        document.getElementById(autocomplete_id).setAttribute("aria-expanded", "true");
                        if (i === results_max_results) {
                          break;
                        }
                      }
                    }
                  } else {
                    document.getElementById(results_id).classList.remove("display:none");
                    document.getElementById(results_id).innerHTML = "";
                    document.getElementById(autocomplete_id).classList.remove("active");
                    document.getElementById(autocomplete_id).setAttribute("aria-expanded", "false");
                  }
                }
            }).catch(err => {
              // There was an error
              console.warn('Something went wrong.', err);
            });
          },
          render_autocomplete_result: (query, index, input_id, autocomplete_id, pokedex_entry) => {
            const num = pokedex_entry["num"];
            const name = pokedex_entry["name"];
            return `\n        <li role="option" id="autocomplete-suggestion-${index}" class="unstyle w:100% display:flex align:middle" data-sr-description="${num} - ${name}" onclick="storm_eagle.pokemon_search.autocomplete_fill('${input_id}','${num}','${name}');storm_eagle.autocomplete.close('${autocomplete_id}');">${num} - ${name}</li>`;
          },
          autocomplete_fill: (input_id, num, name) => {
            document.getElementById(input_id).value = `${num} - ${name}`;
          },
          // validate_add_pokemon: () => {
          //   errormessage = "";

          //   //if error
          //   // document.getElementById("autocomplete-error").classList.add("has-error");
          //   // errormessage += pokemon + " ";

          //   //if no error
          //   //document.getElementById("autocomplete-error").classList.remove("has-error");

          //   if (errormessage !== "") {
          //     return false;
          //   }

          //   return true;
          // }
        };
      });
    </script>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.footer.ejs`, pageData) %>