<%- include(`${process.env.PWD}/_dev/_layouts/_default.head.ejs`, pageData) %>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.header.ejs`, pageData) %>

    <main class="w:100% form:theme:maverick-a" role="main">
      <form name="example-form" action="#" method="get" onsubmit="return storm_eagle.example_form.validate_form(event);">
        <div class="row">
          <div class="w:12">
            <h1 class="play:bold fs:36px color:slate pb:16px">Form and Form Validation</h1>
          </div>
        </div>
        <div class="row">
          <div class="w:4">
            <div class="position:relative pt:4px">
              <input id="name-mandatory" name="name-mandatory" type="text" aria-required="true" data-module="input-text" aria-describedby="">
              <label for="name-mandatory">
                <span class="description">First Name*</span>
              </label>
              <span class="error-message" id="name-mandatory:is_mandatory">Please provide a value, this is mandatory</span>
              <span class="error-message" id="name-mandatory:is_alphanumeric">Mandatory Input("text") with not_empty & alpha_numeric</span>
              <span class="helper-description">Input("text") is mandatory, cannot be empty, is alpha_numeric</span>
            </div>
            <div class="position:relative pt:4px">
              <input id="name-optional" name="name-optional" type="text">
              <label for="name-optional">
                <span class="description">First Name</span>
              </label>
              <span class="error-message" id="name-optional:is_optional">Please provide a value, this is optional</span>
              <span class="error-message" id="name-optional:is_alphanumeric">Mandatory Input("text") with not_empty & alpha_numeric</span>
              <span class="helper-description">Optional Input("text") with not_empty & alpha_numeric</span>
            </div>
            <div class="position:relative pt:4px">
              <input id="email-mandatory" name="email-mandatory" type="text">
              <label for="email-mandatory">
                <span class="description">Email</span>
              </label>
              <span class="error-message" id="name-optional:is_mandatory">Please provide a value, this is optional</span>
              <span class="error-message" id="name-optional:is_email">Mandatory Input("text") with not_empty & alpha_numeric</span>
              <span class="helper-description">Optional Input("text") with not_empty & alpha_numeric</span>
            </div>
            <div class="position:relative pt:4px">
              <input type="text" name="postalCode" id="postalcode" value="">
              <label for="postalcode">
                <span class="description">Postal Code * (e.g. A1A1A1)</span>
              </label>
              <span class="error-message">Please enter your postal code</span>
            </div>
            <div class="position:relative pt:4px">
              <input type="text" name="zipCode" id="zipcode" value="">
              <label for="zipcode">
                <span class="description">"Zip Code * (e.g. 90210)</span>
              </label>
              <span class="zipCode error-message">Please enter your zip code</span>
            </div>

          </div>
          <div class="w:4">

          </div>
          <div class="w:4">

          </div>
        </div>
      </section>
    </main>


      <form name="example-form" action="" method="post">
        <div class="row">
          <label for="firstname" class="screen-reader-only">First Name</label>
          <input type="text" placeholder="First name *" name="firstName" id="firstname" value="">
          <span class="firstName error-message">Please enter your first name</span>
        </div>
        <div class="row">
          <label for="lastname" class="screen-reader-only">Last Name</label>
          <input type="text" placeholder="Last name" name="lastName" id="lastname" value="">
          <span class="lastName error-message">Please enter your last name</span>
        </div>
        <div class="row">
          <label for="email" class="screen-reader-only">Email</label>
          <input type="text" placeholder="Email Address *" name="email" id="email" value="">
          <span class="email error-message">Please enter a valid email</span>
        </div>
        <div class="row">
          <label for="phone" class="screen-reader-only">Phone Number</label>
          <input type="number" placeholder="Phone Number *" name="phone" id="phone" value="">
          <span class="phone error-message">Please enter your phone</span>
        </div>
        <div class="row">
          <label for="address" class="screen-reader-only">Address</label>
          <input type="text" placeholder="Address *" name="address" id="address" value="">
          <span class="address error-message">Please enter your address</span>
        </div>
        <div class="row">
          <label for="province" class="screen-reader-only">Province</label>
          <select name="province" id="province">
            <optgroup label="Provinces">
            <option value="" disabled selected>Province/Terrority *</option>
            <option value="ON">Ontario</option>
            <option value="AB">Alberta</option>
            <option value="BC">British Columbia</option>
            <option value="MB">Manitoba</option>
            <option value="NB">New Brunswick</option>
            <option value="NL">Newfoundland and Labrador</option>
            <option value="NS">Nova Scotia</option>
            <option value="ON">Ontario</option>
            <option value="PE">Prince Edward Island</option>
            <option value="QC">Quebec</option>
            <option value="SK">Saskatchewan</option>
            <option value="NT">Northwest Territories</option>
            <option value="NU">Nunavut</option>
            <option value="YT">Yukon</option>
            </optgroup>
          </select>
          <span class="province error-message">Please enter your province</span>
        </div>
        <div class="row">
          <label for="postalcode" class="screen-reader-only">Postal Code</label>
          <input type="text" placeholder="Postal Code * (e.g. A1A1A1)" name="postalCode" id="postalcode" value="">
          <span class="postalCode error-message">Please enter your postal code</span>
        </div>
        <div class="row">
          <label for="zipcode" class="screen-reader-only">Zip Code</label>
          <input type="text" placeholder="Zip Code * (e.g. 90210)" name="zipCode" id="zipcode" value="">
          <span class="zipCode error-message">Please enter your zip code</span>
        </div>
        <div class="row">
          <input type="checkbox" name="checkbox" id="checkbox_yes" value="Yes">
          <label for="checkbox_yes">Checkbox Label Yes</label>
        </div>
        <div class="row">
          <input type="checkbox" name="checkbox" id="checkbox_no" value="No">
          <label for="checkbox_no">Checkbox Label No</label>
          <span class="checkbox error-message">Please check the checkbox</span>
        </div>
        <div class="row">
          <fieldset>
            <legend>Radio Buttons</legend>
            <input name="radioButton" id="radio-button-yes" type="radio" value="Yes"><label for="radio-button-yes">Yes</label><br>
            <input name="radioButton" id="radio-button-no" type="radio" value="No"><label for="radio-button-no">No</label>
            <span class="radioButton error-message">Please select a radio button</span>
          </fieldset>
        </div>
        <div>
          <button type="submit" name="button" class="button:primary uppercase">Submit</button>
        </div>
      </form>
    </main>
  </body>
</html>

<%- include(`${process.env.PWD}/_dev/_layouts/_default.footer.ejs`, pageData) %>