<%- include(`${process.env.PWD}/_dev/_layouts/_default.head.ejs`, pageData) %>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.header.ejs`, pageData) %>

    <main class="w:100% form:theme:maverick-a" role="main">
      <h1 class="play:bold fs:40px color:slate px:8px pb:16px">Form and Form Validation</h1>
      <form name="example-form" action="#" method="get" onsubmit="return storm_eagle.example_form.validate_form(event);">
        <div class="row">
          <div class="w:3 px:8px">
            <h2 class="fs:28px lh:24 pb:16px">Mandatory</h2>

            <h3 class="fs:20px lh:24 pt:16px">Input (text)</h3>
            <div class="position:relative pt:4px">
              <input id="text-mandatory" name="text-mandatory" type="text" aria-required="true" data-module="input-text" aria-describedby="">
              <label for="text-mandatory">
                <span class="description">Text Input*</span>
              </label>
              <span class="error-message" id="text-mandatory:is_mandatory">Please provide a value</span>
              <span class="error-message" id="text-mandatory:is_alphanumeric">The value provided has unacceptable characters</span>
              <ul class="helper-description">
                <li>Input (text) is mandatory</li>
                <li>Cannot be empty</li>
                <li>Is alphanumeric (+french characters): /^[A-Za-z\u00E0-\u00FC0-9 ]/</li>
                <li>Examples: First Name, Last Name, Address</li>
              </ul>
            </div>

            <h3 class="fs:20px lh:24 pt:16px">Input (number)</h3>
            <div class="position:relative pt:4px">
              <input name="number-mandatory" id="number-mandatory" type="number">
              <label for="number-mandatory">
                <span class="description">Number*</span>
              </label>
              <span class="error-message" id="number-mandatory:is_mandatory">Please provide a number</span>
              <span class="error-message" id="number-mandatory:is_number">The value provided has unacceptable characters</span>
              <ul class="helper-description">
                <li>Input (number) is mandatory</li>
                <li>Cannot be empty</li>
                <li>Is numeric: /^\d+$/</li>
                <li>Examples: YYYYMMDD, YYYY, MM, DD, hh, ss</li>
              </ul>
            </div>

            <h3 class="fs:20px lh:24 pt:16px">Input (email)</h3>
            <div class="position:relative pt:4px">
              <input id="email-mandatory" name="email-mandatory" type="text">
              <label for="email-mandatory">
                <span class="description">Email*</span>
              </label>
              <span class="error-message" id="email-mandatory:is_mandatory">Please provide a value</span>
              <span class="error-message" id="email-mandatory:is_email">The value provided does not match an email format</span>
              <ul class="helper-description">
                <li>Input (email) is mandatory</li>
                <li>Cannot be empty</li>
                <li>Is email</li>
              </ul>
            </div>

            <h3 class="fs:20px lh:24 pt:16px">Input (postal code)</h3>
            <div class="position:relative pt:4px">
              <input id="postal-code" name="postal-code" type="text">
              <label for="postal-code">
                <span class="description">Postal Code*</span>
              </label>
              <span class="error-message" id="postal-code:is_mandatory">Please provide a value</span>
              <span class="error-message" id="postal-code:is_email">The value provided does not match a the postal code format (e.g. A1A1A1)</span>
              <ul class="helper-description">
                <li>Input (email) is mandatory</li>
                <li>Cannot be empty</li>
                <li>Is postal code: /^[A-Za-z]\d[A-Za-z][ -]?\d[A-Za-z]\d$/</li>
              </ul>
            </div>

            <h3 class="fs:20px lh:24 pt:16px">Input (zip code)</h3>
            <div class="position:relative pt:4px">
              <input id="zip-code" name="zip-code" type="text">
              <label for="zip-code">
                <span class="description">Postal Code*</span>
              </label>
              <span class="error-message" id="zip-code:is_mandatory">Please provide a value</span>
              <span class="error-message" id="zip-code:is_email">The value provided does not match a the postal code format (e.g. 90210)</span>
              <ul class="helper-description">
                <li>Input (email) is mandatory</li>
                <li>Cannot be empty</li>
                <li>Is postal code: /(^\d{5}$)|(^\d{5}-\d{4}$)/</li>
              </ul>
            </div>

            <h3 class="fs:20px lh:24 pt:16px">Select / Dropdown</h3>
            <div class="position:relative pt:4px">
              <select id="select-mandatory">
                <option value="" selected="" disabled></option>
                <option value="1">Option One</option>
                <option value="2">Option Two</option>
                <option value="3">Option Three</option>
                <option value="4">Option Four</option>
                <option value="5">Option Five</option>
                <option value="6">Option Six</option>
                <option value="7">Option Seven</option>
                <option value="8">Option Eight</option>
              </select>
              </optgroup>
              <label for="select-mandatory">
                <span class="description">Select / Dropdown</span>
              </label>
              <span class="error-message" id="select-mandatory:is_mandatory">Please select an option</span>
              <span class="helper-description">Helper Text</span>
            </div>
            <div class="row">
              <div class="w:6">
                <div class="position:relative pt:4px">
                  <select id="provinces-en-mandatory">
                    <optgroup label="Provinces">
                    <option value="" selected disabled></option>
                    <option value="Alberta">Alberta</option>
                    <option value="British Columbia">British Columbia</option>
                    <option value="Manitoba">Manitoba</option>
                    <option value="New Brunswick">New Brunswick</option>
                    <option value="Newfoundland and Labrador">Newfoundland and Labrador</option>
                    <option value="Nova Scotia">Nova Scotia</option>
                    <option value="Ontario">Ontario</option>
                    <option value="Prince Edward Island">Prince Edward Island</option>
                    <option value="Quebec">Quebec</option>
                    <option value="Saskatchewan">Saskatchewan</option>
                    <option value="Northwest Territories">Northwest Territories</option>
                    <option value="Nunavut">Nunavut</option>
                    <option value="Yukon">Yukon</option>
                    </optgroup>
                  </select>
                  </optgroup>
                  <label for="provinces-en-mandatory">
                    <span class="description">Province/Terrority *</span>
                  </label>
                  <span class="error-message" id="provinces-en-mandatory:is_mandatory">Please select an option</span>
                  <span class="helper-description">Provinces (EN)</span>
                </div>
              </div>
              <div class="w:6">
                <div class="position:relative pt:4px">
                  <select id="provinces-en-mandatory">
                    <optgroup label="Provinces">
                    <option value="" selected disabled></option>
                    <option value="Alberta">Alberta</option>
                    <option value="British Columbia">Colombie-Britannique</option>
                    <option value="Manitoba">Manitoba</option>
                    <option value="New Brunswick">Nouveau-Brunswick</option>
                    <option value="Newfoundland and Labrador">Terre-Neuve-et-Labrador</option>
                    <option value="Nova Scotia">Nouvelle-Écosse</option>
                    <option value="Ontario">Ontario</option>
                    <option value="Prince Edward Island">Île-du-Prince-Édouard</option>
                    <option value="Quebec">Québec</option>
                    <option value="Saskatchewan">Saskatchewan</option>
                    <option value="Northwest Territories">Territoires du Nord-Ouest</option>
                    <option value="Nunavut">Nunavut</option>
                    <option value="Yukon">Yukon</option>
                    </optgroup>
                  </select>
                  </optgroup>
                  <label for="provinces-en-mandatory">
                    <span class="description">Province/Territoire *</span>
                  </label>
                  <span class="error-message" id="provinces-en-mandatory:is_mandatory">Please select an option</span>
                  <span class="helper-description">Provinces (FR)</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="w:6">
                <div class="position:relative pt:4px">
                  <select id="month-en-mandatory">
                    <optgroup label="Month">
                    <option value="" selected disabled></option>
                    <option value="01">January</option>
                    <option value="02">February</option>
                    <option value="03">March</option>
                    <option value="04">April</option>
                    <option value="05">May</option>
                    <option value="06">June</option>
                    <option value="07">July</option>
                    <option value="08">August</option>
                    <option value="09">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                    </optgroup>
                  </select>
                  </optgroup>
                  <label for="month-en-mandatory">
                    <span class="description">Month *</span>
                  </label>
                  <span class="error-message" id="month-en-mandatory:is_mandatory">Please select an option</span>
                  <span class="helper-description">Month (EN)</span>
                </div>
              </div>
              <div class="w:6">
                <div class="position:relative pt:4px">
                  <select id="month-fr-mandatory">
                    <optgroup label="Provinces">
                    <option value="" selected disabled></option>
                    <option value="01">janvier</option>
                    <option value="02">février</option>
                    <option value="03">mars</option>
                    <option value="04">avril</option>
                    <option value="05">mai</option>
                    <option value="06">juin</option>
                    <option value="07">juillet</option>
                    <option value="08">août</option>
                    <option value="09">septembre</option>
                    <option value="10">octobre</option>
                    <option value="11">november</option>
                    <option value="12">décembre</option>
                    </optgroup>
                  </select>
                  </optgroup>
                  <label for="month-fr-mandatory">
                    <span class="description">mois *</span>
                  </label>
                  <span class="error-message" id="month-fr-mandatory:is_mandatory">Please select an option</span>
                  <span class="helper-description">Month (FR)</span>
                </div>
              </div>
            </div>

            <h3 class="fs:20px lh:24 pt:16px">Textarea</h3>
            <div class="position:relative pt:4px">
              <textarea name="textarea" id="textarea" class="scrollbar" rows="1" placeholder=""></textarea>
              <label for="textarea">
                <span class="description">Textarea *</span>
              </label>
              <span class="error-message" id="textarea:is_mandatory">Please provide a value</span>
              <ul class="helper-description">
                <li>Textarea is mandatory</li>
                <li>Textarea will expand as you type</li>
                <li>Cannot be empty</li>
              </ul>
            </div>

          </div>
          <div class="w:3 px:8px">
            <h2 class="fs:20px">Optional Inputs, Emails, Zip Code, Postal Code</h2>
            <div class="position:relative pt:4px">
              <input id="text-optional" name="text-optional" type="text">
              <label for="text-optional">
                <span class="description">First Name</span>
              </label>
              <span class="error-message" id="text-optional:is_optional">Please provide a value, this is optional</span>
              <span class="error-message" id="text-optional:is_alphanumeric">Mandatory Input("text") with not_empty & alpha_numeric</span>
              <span class="helper-description">Input("text") is optional, is alpha_numeric</span>
            </div>
            <div class="position:relative pt:4px">
              <input id="email-mandatory" name="email-mandatory" type="text">
              <label for="email-mandatory">
                <span class="description">Email</span>
              </label>
              <span class="error-message" id="text-optional:is_mandatory">Please provide a value, this is optional</span>
              <span class="error-message" id="text-optional:is_email">Mandatory Input("text") with not_empty & alpha_numeric</span>
              <span class="helper-description">Optional Input("text") with not_empty & alpha_numeric</span>
            </div>
            <div class="position:relative pt:4px">
              <input type="text" name="postal-code" id="postal-code" value="">
              <label for="postal-code">
                <span class="description">Postal Code * (e.g. A1A1A1)</span>
              </label>
              <span class="error-message">Please enter your postal code</span>
            </div>
            <div class="position:relative pt:4px">
              <input type="text" name="zip-code" id="zip-code" value="">
              <label for="zip-code">
                <span class="description">"Zip Code * (e.g. 90210)</span>
              </label>
              <span class="zip-code error-message">Please enter your zip code</span>
            </div>
          </div>
          <div class="w:3 px:8px">

<h3>Traditional Checkboxes</h3>
<input type="checkbox" name="traditionalCheckbox" id="traditionalCheckbox1" checked="">
<label for="traditionalCheckbox1" class="active-label">Checkbox Label</label>
<br>
<input type="checkbox" name="traditionalCheckbox" id="traditionalCheckbox2">
<label for="traditionalCheckbox2" class="active-label">Checkbox Label</label>
<br>
<input type="checkbox" name="traditionalCheckbox" id="traditionalCheckbox3" disabled="" checked="">
<label for="traditionalCheckbox3" class="active-label">Checkbox Label</label>

<h3>Parent-Child Checkboxes</h3>
<div class="parent-checkbox">
<input aria-controls="checkboxChild1 checkboxChild2 checkboxChild3" type="checkbox" name="parentCheckbox" id="parentCheckbox1" aria-checked="mixed">
<label for="parentCheckbox1" class="active-label">Checkbox Label</label>
<ul class="checkboxes unstyle pl:16px">
  <li>
    <div class="input-wrap input-checkbox">
      <input type="checkbox" name="checkboxChildInput" id="checkboxChild1" checked="">
      <label for="checkboxChild1" class="active-label">Checkbox Label</label>
    </div>
  </li>
  <li>
    <div class="input-wrap input-checkbox">
      <input type="checkbox" name="checkboxChildInput" id="checkboxChild2" checked="">
      <label for="checkboxChild2" class="active-label">Checkbox Label</label>
    </div>
  </li>
  <li>
    <div class="input-wrap input-checkbox">
      <input type="checkbox" name="checkboxChildInput" id="checkboxChild3">
      <label for="checkboxChild3" class="active-label">Checkbox Label</label>
    </div>
  </li>
</ul>
</div>

<h3>Traditional Radio Buttons</h3>
<fieldset>
    <legend>Traditional&nbsp;radio button</legend>
    <input type="radio" name="radio" id="radio4" value="1" checked="">
    <label for="radio4">Test1</label>
    <input type="radio" name="radio" id="radio5" value="2">
    <label for="radio5">Test2</label>
    <input type="radio" name="radio" id="radio6" value="3">
    <label for="radio6" role="alert">Test3</label>
</fieldset>

<h3>Box Radio Buttons</h3>
<fieldset class="box-radio-buttons">
  <legend>Box radio button</legend>
  <input type="radio" name="radio-box" id="radio-box4" value="radio-box1" checked="">
  <label for="radio-box4" class="box-radio-label">yes</label>
  <input type="radio" name="radio-box" id="radio-box5" value="radio-box2">
  <label for="radio-box5" class="box-radio-label">no</label>
</fieldset>

<h3>TEXTAREA</h3>
<div>

</div>

<h3>TEXTAREA DISABLED</h3>
<div>
  <div class="position:relative">
    <textarea name="text-area-demo-3" id="text-area-demo-3" class="scrollbar" rows="1" disabled="">Disabled textarea</textarea>
    <label class="active-label disabled" for="text-area-demo-3">
      <span class="description">Disabled Textarea</span>
    </label>
    <span class="error-message">Textarea error</span>
    <span class="helper-description">Text box will expand as you type</span>
  </div>
</div>

<div class="form:style:card-checkboxes">
  <input id="checkCard2" name="checkCardInput" type="checkbox">
  <label for="checkCard2" class="box-shadow:layer-level-2 active-label">
    <div class="check"></div>
    <div class="image">
      <div class="icon display:block icon-color:blue icon-size:32px dragon"></div>
    </div>
    <div class="description">Card Checkbox Label.</div>
  </label>
</div>

<h3>Card Radio Buttons</h3>
<div class="form:style:card-radiobuttons">
  <input id="checkCard4" name="checkCardInput" type="radio">
  <label for="checkCard4" class="box-shadow:layer-level-2">
    <div class="check"></div>
    <div class="image">
      <div class="icon display:block icon-color:blue icon-size:32px dragon"></div>
    </div>
    <div class="description">Card Checkbox Label.</div>
  </label>

  <br><br>

  <input id="checkCard5" name="checkCardInput" type="radio">
  <label for="checkCard5" class="box-shadow:layer-level-2">
    <div class="check"></div>
    <div class="image">
      <div class="icon display:block icon-color:blue icon-size:32px dragon"></div>
    </div>
    <div class="description">Card Checkbox Label.</div>
  </label>
</div>
          </div>
          <div class="w:3 px:8px">
          </div>
        </div>
      </section>
    </main>
  </body>
</html>

<%- include(`${process.env.PWD}/_dev/_layouts/_default.footer.ejs`, pageData) %>