<%- include(`${process.env.PWD}/_dev/_layouts/_default.head.ejs`, pageData) %>
    <main class="w:100%" role="main">
      <section class="mw:1200px align-self:centered pt:32px">
        <h1 class="play:bold fs:40px color:slate pb:16px">Modal</h1>

        <button class="button:primary" aria-label="Open a modal, opens in a new pop up" data-module="modal.trigger" onclick="storm_eagle.modal.open(this,'modal-test');">Click to open modal</button>

        <div class="modal-overlay" data-module="modal" role="dialog" aria-modal="true" id="modal-test" aria-labelledby="modal-loading-heading-id">>
          <div class="sm=:w:12 md+:w:10 xl+:w:8 sm=:px:8px md+:px:0 modal-container py:24px" style="max-width: 600px;">
            <div class="bgc:albicant box-shadow:layer-level-2 br:4px position:relative w:100% modal-contents">
              <button class="unstyle close video-close" onclick="storm_eagle.modal.close();" aria-label="Close pop-up window"><span class="fs:32px lh:0">&times;</span></button>
              <div class="sm=:pt:24px md+:pt:24px md+:pb:24px sm=:px:24px md+:px:24px xl+:px:24px">

                <h2 id="modal-loading-heading-id" class="xl+:lh:40 heebo:bold pb:24px">Modal Title Test</h2>

                <p><a href="https://www.lipsum.com/" class="anchor:primary" target="_blank">Lorem Ipsum</a> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
              </div>
            </div>
          </div>
        </div>

      </section>
    </main>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.scripts.ejs`, pageData) %>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.footer.ejs`, pageData) %>