<%- include(`${process.env.PWD}/_dev/_layouts/_default.head.ejs`, pageData) %>
    <section class="row mw:1280px align-self:centered sm+:w:12 md+:w:10 sm+:mt:48px">
      <div class="sm+:w:12 md+:w:6 lg+:w:3">
        <div class="sm+:w:10 md+:w:11 align-self:centered box-shadow:layer-level-2 mb:48px py:16px">
          <div class="sm+:w:10 align-self:centered">
            <h2 class="text-align:center py:4px" data-equalize-height="eqh-title-acronymn">HTML</h2>
            <hr>
            <div class="text-align:center py:4px" data-equalize-height="eqh-title" data-equalize-medium-up>
              <p class="lh:24">Hypertext Markup Language</p>
            </div>
            <hr>
            <div data-equalize-height="eqh-details" data-equalize-medium-up>
              <p class="lh:24">Hypertext Markup Language (HTML) is the standard markup language for creating web pages and web applications.</p>
            </div>
            <hr>
            <p class="text-align:center py:4px">Related article:</p>
            <div class="text-align:center py:4px" data-equalize-height="eqh-links" data-equalize-medium-up>
              <a href="https://en.wikipedia.org/wiki/HTML">HTML on Wikipedia</a>
            </div>
          </div>
        </div>
      </div>
      <div class="sm+:w:12 md+:w:6 lg+:w:3">
        <div class="sm+:w:10 md+:w:11 align-self:centered box-shadow:layer-level-2 mb:48px py:16px">
          <div class="sm+:w:10 align-self:centered">
            <h2 class="text-align:center py:4px" data-equalize-height="eqh-title-acronymn">CSS</h2>
            <hr>
            <div class="text-align:center py:4px" data-equalize-height="eqh-title" data-equalize-medium-up>
              <p class="lh:24">Cascading Style Sheets</p>
            </div>
            <hr>
            <div data-equalize-height="eqh-details" data-equalize-medium-up>
              <p class="lh:24">Cascading Style Sheets (CSS) is a style sheet language used for describing the presentation of a document written in a markup language like HTML.</p>
            </div>
            <hr>
            <p class="text-align:center py:4px">Related article:</p>
            <div class="text-align:center py:4px" data-equalize-height="eqh-links" data-equalize-medium-up>
              <a href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets">CSS on Wikipedia</a>
            </div>
          </div>
        </div>
      </div>
      <div class="sm+:w:12 md+:w:6 lg+:w:3">
        <div class="sm+:w:10 md+:w:11 align-self:centered box-shadow:layer-level-2 mb:48px py:16px">
          <div class="sm+:w:10 align-self:centered">
            <h2 class="text-align:center py:4px" data-equalize-height="eqh-title-acronymn">JavaScript</h2>
            <hr>
            <div class="text-align:center py:4px" data-equalize-height="eqh-title" data-equalize-medium-up>
              <p class="lh:24"></p>
            </div>
            <hr>
            <div data-equalize-height="eqh-details" data-equalize-medium-up>
              <p class="lh:24">JavaScript often abbreviated as JS, is a high-level, interpreted programming language.</p>
            </div>
            <hr>
            <p class="text-align:center py:4px">Related article:</p>
            <div class="text-align:center py:4px" data-equalize-height="eqh-links" data-equalize-medium-up>
              <a href="https://en.wikipedia.org/wiki/JavaScript">JavaScript on Wikipedia</a>
            </div>
          </div>
        </div>
      </div>
      <div class="sm+:w:12 md+:w:6 lg+:w:3">
        <div class="sm+:w:10 md+:w:11 align-self:centered box-shadow:layer-level-2 mb:48px py:16px">
          <div class="sm+:w:10 align-self:centered">
            <h2 class="text-align:center py:4px" data-equalize-height="eqh-title-acronymn">WCAG</h2>
            <hr>
            <div class="text-align:center py:4px" data-equalize-height="eqh-title" data-equalize-medium-up>
              <p class="lh:24">Web Content Accessibility Guidelines</p>
            </div>
            <hr>
            <div data-equalize-height="eqh-details" data-equalize-medium-up>
              <p class="lh:24">The Web Content Accessibility Guidelines (WCAG) are part of a series of web accessibility guidelines published by the Web Accessibility Initiative (WAI) of the World Wide Web Consortium (W3C), the main international standards organization for the Internet.</p>
            </div>
            <hr>
            <p class="text-align:center py:4px">Related article:</p>
            <div class="text-align:center py:4px" data-equalize-height="eqh-links" data-equalize-medium-up>
              <a href="https://en.wikipedia.org/wiki/Web_Content_Accessibility_Guidelines">WCAG on Wikipedia</a>
            </div>
          </div>
        </div>
      </div>
    </section>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.footer.ejs`, pageData) %>