<%- include(`${process.env.PWD}/_dev/_layouts/_default.head.ejs`, pageData) %>
    <style>
      .small-layer-level-2 {
        transition-duration: 1s;
        box-shadow: 0 0.1em 0.125em 0.125em rgba(0,25,40,.12);
        padding:0 0 1rem;
      }
      .small-margin-bottom--3 {
        margin-bottom: 3rem;
      }
      .small-centered,
      .small-centered:last-child:not(:first-child) {
        float: none;
        clear: both;
      }
      .small-centered {
        margin-left: auto;
        margin-right: auto;
      }      
      @media screen and (min-width: 40em) {
        .medium-margin-bottom--3 {
          margin-bottom: 3rem;
        }
      }
      @media screen and (min-width: 64em) {
        .large-margin-bottom--0 {
          margin-bottom: 0;
        }
      }
    </style>
    <main>
      <section class="account-types">
        <div class="row small-12 medium-10">
          <div class="small-12 medium-6 large-3">
            <div class="small-10 medium-11 small-centered small-layer-level-2 small-margin-bottom--3 medium-margin-bottom--3 large-margin-bottom--0">
              <h2 class="text-center">TFSA</h2>
              <hr class="small-10 small-centered">
              <div class="small-10 small-centered text-center" data-equalize-height="eqh-account-type-title" data-equalize-medium-up>
                <p>Tax-Free <br class="show-for-small-up">Savings Account</p>
              </div>
              <hr class="small-10 small-centered">
              <div class="small-10 small-centered" data-equalize-height="eqh-account-type-details" data-equalize-medium-up>
                <p>A TFSA is a flexible account type that lets you grow your money tax free. That means if you earn $1,000 on your investment, it’s 100% yours to keep.</p>
              </div>
              <hr class="small-10 small-centered">
              <p class="text-center">Helps with:</p>
              <div class="small-12 medium-11 small-centered" data-equalize-height="eqh-account-type-great-for" data-equalize-medium-up>
                <p>Saving tax-free for any length of time and for various goals, such as saving for a home, vacation or a big purchase</p>
              </div>
              <hr class="small-10 small-centered">
              <p class="text-center">Related article:</p>
              <div class="small-12 medium-11 small-centered" data-equalize-height="eqh-account-type-links" data-equalize-medium-up>
                <a href="/smartfolio/articles/tfsa-account-with-smartfolio/">Discover the power and potential of a TFSA account with SmartFolio</a>
              </div>
            </div>
          </div>
          <div class="small-12 medium-6 large-3">
            <div class="small-10 medium-11 small-centered small-layer-level-2 small-margin-bottom--3 medium-margin-bottom--3 large-margin-bottom--0">
              <h2 class="text-center">RRSP</h2>
              <hr class="small-10 small-centered">
              <div class="small-10 small-centered text-center" data-equalize-height="eqh-account-type-title" data-equalize-medium-up>
                <p>Registered Retirement Savings Plan</p>
              </div>
              <hr class="small-10 small-centered">
              <div class="small-10 small-centered" data-equalize-height="eqh-account-type-details" data-equalize-medium-up>
                <p>An RRSP helps you save for the future, while enjoying tax benefits now. By contributing to your RRSP, you can lower your annual income tax bill and defer paying taxes until retirement.</p>
              </div>
              <hr class="small-10 small-centered">
              <p class="text-center">Helps with:</p>
              <div class="small-12 medium-11 small-centered" data-equalize-height="eqh-account-type-great-for" data-equalize-medium-up>
                <p>Investing for retirement and your long-term future, while enjoying a short-term tax break.</p>
              </div>
              <hr class="small-10 small-centered">
              <p class="text-center">Related article:</p>
              <div class="small-12 medium-11 small-centered" data-equalize-height="eqh-account-type-links" data-equalize-medium-up>
                <a href="/smartfolio/articles/rrsp-account-with-smartfolio/">An RRSP account with SmartFolio – Investing with powerful potential</a>
              </div>
            </div>
          </div>
          <div class="small-12 medium-6 large-3">
            <div class="small-10 medium-11 small-centered small-layer-level-2 small-margin-bottom--3 medium-margin-bottom--3 large-margin-bottom--0">
              <h2 class="text-center">RESP</h2>
              <hr class="small-10 small-centered">
              <div class="small-10 small-centered text-center" data-equalize-height="eqh-account-type-title" data-equalize-medium-up>
                <p>Registered Education Savings Account</p>
              </div>
              <hr class="small-10 small-centered">
              <div class="small-10 small-centered" data-equalize-height="eqh-account-type-details" data-equalize-medium-up>
                <p>Looking to save for your child’s education? This one’s for you. An RESP is eligible for government grants, plus your investment will grow tax-free until you need to withdraw funds.</p>
              </div>
              <hr class="small-10 small-centered">
              <p class="text-center">Helps with:</p>
              <div class="small-12 medium-11 small-centered" data-equalize-height="eqh-account-type-great-for" data-equalize-medium-up>
                <p>Saving for a child’s education costs, including tuition, books, living expenses and more.</p>
              </div>
              <hr class="small-10 small-centered">
              <p class="text-center">Related article:</p>
              <div class="small-12 medium-11 small-centered" data-equalize-height="eqh-account-type-links" data-equalize-medium-up>
                <a href="/smartfolio/articles/resp-account-with-smartfolio/">An RESP with SmartFolio can help you save for your child’s future</a>
              </div>
            </div>
          </div>
          <div class="small-12 medium-6 large-3">
            <div class="small-10 medium-11 small-centered small-layer-level-2 small-margin-bottom--3 medium-margin-bottom--3 large-margin-bottom--0">
              <h2 class="text-center">RRIF</h2>
              <hr class="small-10 small-centered">
              <div class="small-10 small-centered text-center" data-equalize-height="eqh-account-type-title" data-equalize-medium-up>
                <p>Registered Retirement Income Fund</p>
              </div>
              <hr class="small-10 small-centered">
              <div class="small-10 small-centered" data-equalize-height="eqh-account-type-details" data-equalize-medium-up>
                <p>If you have an RRSP, you can convert to an RRIF when you retire. This lets you make withdrawals as you need them and the remaining balance is still tax-sheltered.</p>
              </div>
              <hr class="small-10 small-centered">
              <p class="text-center">Helps with:</p>
              <div class="small-12 medium-11 small-centered" data-equalize-height="eqh-account-type-great-for" data-equalize-medium-up>
                <p>Managing your income in retirement, while letting your investments continue to grow.</p>
              </div>
              <hr class="small-10 small-centered">
              <p class="text-center">Related article:</p>
              <div class="small-12 medium-11 small-centered" data-equalize-height="eqh-account-type-links" data-equalize-medium-up>
                <a href="/smartfolio/articles/rrif-account-with-smartfolio/">SmartFolio: the smart solution for your RRIF</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <script src="//code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.js"></script>
    <script src="/resources/scripts/core.js"></script>
    <script>
      'use strict';      
      /*
      * Allows the height of various divs to be the same by taking the biggest height and applying it to all items.
      * This will occur for any item regardless of viewport. To affect medium size and up, see Options.
      *
      * How to use this:
      * Add 'data-equalize-height="(key)"' to any item where key is a value you input yourself, to link the items.
      * All the items with the same 'key' will have the same height
      *
      * Options:
      * If you only want this to occur on medium size up, add 'data-equalize-medium-up' to the item as well
      */
      sandbox.core.extend('equalizeHeights', function() {
        'use strict';
      
        let _dataEqualHeightArray = [];
        let _highest = 0;
        let _heights = [];
      
        /*
        * Sorts items in array from smallest to largest
        */
        let sortNumber = function(a, b) {
          return a - b;
        };
      
        /*
        * For each "key", determine the largest height and apply to all items with that key
        */
        let maxHeight = function() {
          $.each(_dataEqualHeightArray, function(index, value) {
            _highest = 0;
            _heights = [];
            $(`[data-equalize-height=${value}]`).css('height', 'auto');
            $(`[data-equalize-height=${value}]`).each(function() {
              /* get the height including the padding of an item */
              _heights.push($(this).outerHeight());
            });
            _heights = _heights.sort(sortNumber).reverse();
            _highest = _heights[0];
            $(`[data-equalize-height=${value}]`).css('height', _highest);
          });
        };
      
        return {
          _initialize: function() {
            const self = this;
            self.getDataEqualHeightItems();
            self.resizeListener();
          },
          /*
          * Checks all the items that need to equalize height, and add keys to array
          */
          getDataEqualHeightItems: function() {
            $('[data-equalize-height]').each(function() {
              let newItem = $(this).data('equalize-height');
              if (_dataEqualHeightArray.indexOf(newItem) < 0) {
                _dataEqualHeightArray.push(newItem);
              }
            });
          },
          /*
          * Re-evaluate the equalizing of the height when the page loads or is resized
          */
          resizeListener: function() {
            const self = this;
            $(window).on('load resize', function(event) {
              self.forceResize();
            });
          },
          /*
          * Check for any new items to equalize, and then equalize them
          * Do not equalize height for small size if the item contains [data-equalize-medium-up] data attribute
          */
          forceResize: function() {
            const self = this;
            self.getDataEqualHeightItems();
            maxHeight();
            if (sandbox.core.getViewportWidth() < 640) {
              $('[data-equalize-height][data-equalize-medium-up]').css('height', 'auto');
            }
            if(sandbox.core.getViewportWidth() >= 640) {
              $('[data-equalize-height][data-equalize-small-only]').css('height', 'auto');
            }
          }
        };
      });
    </script>
  </body>
</html>