<!DOCTYPE html>
<html class="storm-eagle" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Grid (New) • warrenshea</title>
    <link href="/stylesheets/core.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/grid-iframe-example.css" rel="stylesheet" type="text/css">
  </head>
  <body class="pb:32px lg-:bx-silver:1px" style="background:#f8f8f898;" data-iframe-id="grid-overlay-cssgrid-legacy-split">
    <div class="grid0">
      <div class="gc0:12 heading">3x Split by 2 (6-column items)</div>
    </div>
    <div class="grid0 gc0-split:2">
      <div class="hide"></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="grid0">
      <div class="gc0:12 heading">5x Split by 3 (4-column items)</div>
    </div>
    <div class="grid0 gc0-split:3">
      <div class="hide"></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="grid0">
      <div class="gc0:12 heading">6x Split by 4 (3-column items)</div>
    </div>
    <div class="grid0 gc0-split:4">
      <div class="hide"></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="grid0">
      <div class="gc0:12 heading">7x Split by 5</div>
    </div>
    <div class="grid0 gc0-split:5">
      <div class="hide"></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="grid0">
      <div class="gc0:12 heading">8x Split by 6 (2-column items)</div>
    </div>
    <div class="grid0 gc0-split:6">
      <div class="hide"></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="grid0">
      <div class="gc0:12 heading">9x Split by 7</div>
    </div>
    <div class="grid0 gc0-split:7">
      <div class="hide"></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="grid0">
      <div class="gc0:12 heading">10x Split by 8</div>
    </div>
    <div class="grid0 gc0-split:8">
      <div class="hide"></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="grid0">
      <div class="gc0:12 heading">11x Split by 9</div>
    </div>
    <div class="grid0 gc0-split:9">
      <div class="hide"></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="grid0">
      <div class="gc0:12 heading">12x Split by 10</div>
    </div>
    <div class="grid0 gc0-split:10">
      <div class="hide"></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="grid0">
      <div class="gc0:12 heading">13x Split by 11</div>
    </div>
    <div class="grid0 gc0-split:11">
      <div class="hide"></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="grid0">
      <div class="gc0:12 heading">14x Split by 12 (1-column items)</div>
    </div>
    <div class="grid0 gc0-split:12">
      <div class="hide"></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <script src="/scripts/core.js"></script>
    <script src="/scripts/module.grid-iframe-send-height.js"></script>
  </body>
</html>