<!DOCTYPE html>
<html class="storm-eagle" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Grid (New) • warrenshea</title>
    <link href="/stylesheets/core.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/grid-iframe-example.css" rel="stylesheet" type="text/css">
  </head>
  <body data-iframe-id="grid-overlay-cssgrid-gap-rare" class="pb:32px">
    <div class="grid">
      <div class="gc:12 heading">2+10 column</div>
      <div class="sm+:gc:2"></div>
      <div class="sm+:gc:10"></div>
    </div>
    <div class="grid">
      <div class="gc:12 heading">3+9 column</div>
      <div class="sm+:gc:3"></div>
      <div class="sm+:gc:9"></div>
    </div>
    <div class="grid">
      <div class="gc:12 heading">5+7 column</div>
      <div class="sm+:gc:5"></div>
      <div class="sm+:gc:7"></div>
    </div>
    <div class="grid">
      <div class="gc:12 heading">7+5 column</div>
      <div class="sm+:gc:7"></div>
      <div class="sm+:gc:5"></div>
    </div>
    <div class="grid">
      <div class="gc:12 heading">9+3 column</div>
      <div class="sm+:gc:9"></div>
      <div class="sm+:gc:3"></div>
    </div>
    <div class="grid">
      <div class="gc:12 heading">10+2 column</div>
      <div class="sm+:gc:10"></div>
      <div class="sm+:gc:2"></div>
    </div>
    <div class="grid">
      <div class="gc:12 heading">4x 3-column</div>
      <div class="sm+:gc:3"></div>
      <div class="sm+:gc:3"></div>
      <div class="sm+:gc:3"></div>
      <div class="sm+:gc:3"></div>
    </div>
    <div class="grid">
      <div class="gc:12 heading">12x 1-column</div>
      <div class="sm+:gc:1"></div>
      <div class="sm+:gc:1"></div>
      <div class="sm+:gc:1"></div>
      <div class="sm+:gc:1"></div>
      <div class="sm+:gc:1"></div>
      <div class="sm+:gc:1"></div>
      <div class="sm+:gc:1"></div>
      <div class="sm+:gc:1"></div>
      <div class="sm+:gc:1"></div>
      <div class="sm+:gc:1"></div>
      <div class="sm+:gc:1"></div>
      <div class="sm+:gc:1"></div>
    </div>
    <script src="/scripts/core.js"></script>
    <script src="/scripts/module.grid-iframe-send-height.js"></script>
  </body>
</html>