<!DOCTYPE html>
<html class="storm-eagle" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Grid (New) • warrenshea</title>
    <link href="/stylesheets/core.css" rel="stylesheet" type="text/css">
    <link href="grid.css" rel="stylesheet" type="text/css">
  </head>
  <body data-iframe-id="grid-overlay-legacy-standard" class="pb:32px">
    <div class="row0">
      <div class="w0:12 heading">12 column</div>
      <div class="sm+:w0:12"></div>
    </div>
    <div class="row0">
      <div class="w0:12 heading">4+8 column</div>
      <div class="sm+:w0:12 md+:w0:4"></div>
      <div class="sm+:w0:12 md+:w0:8"></div>
    </div>
    <div class="row0">
      <div class="w0:12 heading">6+6 column</div>
      <div class="sm+:w0:12 md+:w0:6"></div>
      <div class="sm+:w0:12 md+:w0:6"></div>
    </div>
    <div class="row0">
      <div class="w0:12 heading">8+4 column</div>
      <div class="sm+:w0:12 md+:w0:8"></div>
      <div class="sm+:w0:12 md+:w0:4"></div>
    </div>
    <script src="/scripts/core.js"></script>
    <script src="/scripts/module.grid-iframe-send-height.js"></script>
  </body>
</html>