<!DOCTYPE html>
<html class="storm-eagle" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Grid (New) • warrenshea</title>
    <link href="/stylesheets/core.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/grid-iframe-example.css" rel="stylesheet" type="text/css">
  </head>
  <body data-iframe-id="grid-overlay-legacy-flexible" class="pb:32px">
    <div class="row0">
      <div class="w0:12 heading">5 container example</div>
      <div class="sm=:w0:6 md=:offset0:2 md=:w0:4 lg=:w0:8 lg=:align-self:centered xl+:offset0:2 xl+:w0:3"></div>
      <div class="sm=:w0:6 md=:offset0:2 md=:w0:1 lg=:w0:6 xl+:offset0:2 xl+:w0:3"></div>
      <div class="sm=:w0:3 md=:offset0:2 md=:w0:1 lg=:w0:6 xl+:w0:2"></div>
      <div class="sm=:w0:3 md=:offset0:5 md=:w0:1 lg=:w0:3 xl+:offset0:3 xl+:w0:6"></div>
      <div class="sm=:offset0:5 sm=:w0:1 md=:offset0:5 md=:w0:1 lg=:w0:8 xl+:offset0:3 xl+:w0:2"></div>
    </div>
    <script src="/scripts/core.js"></script>
    <script src="/scripts/module.grid-iframe-send-height.js"></script>
  </body>
</html>