<!DOCTYPE html>
<html class="storm-eagle" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Grid (New) • warrenshea</title>
    <link href="/stylesheets/core.css" rel="stylesheet" type="text/css">
    <link href="grid.css" rel="stylesheet" type="text/css">
  </head>
  <body data-iframe-id="grid-overlay-legacy-standard-centered" class="pb:32px">
    <div class="row0">
      <div class="w0:12 heading">Centered 10-column</div>
      <div class="sm+:w0:12 md+:w0:10 md+:align-self:centered"></div>
    </div>
    <div class="row0">
      <div class="w0:12 heading">Centered 8-column</div>
      <div class="sm+:w0:12 md+:w0:8 md+:align-self:centered"></div>
    </div>
    <div class="row0">
      <div class="w0:12 heading">Centered 6-column</div>
      <div class="sm+:w0:12 md+:w0:6 md+:align-self:centered"></div>
    </div>
    <div class="row0">
      <div class="w0:12 heading">Centered 4-column</div>
      <div class="sm+:w0:12 md+:w0:4 md+:align-self:centered"></div>
    </div>
    <div class="row0">
      <div class="w0:12 heading">Centered 2-column</div>
      <div class="sm+:w0:12 md+:w0:2 md+:align-self:centered"></div>
    </div>
    <script src="/scripts/core.js"></script>
    <script src="/scripts/module.grid-iframe-send-height.js"></script>
  </body>
</html>