<!DOCTYPE html>
<html class="storm-eagle" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Grid (New) • warrenshea</title>
    <link href="/stylesheets/core.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/grid-iframe-example.css" rel="stylesheet" type="text/css">
  </head>
  <body class="pb:32px lg-:bx-silver:1px" style="background:#f8f8f898;" data-iframe-id="grid-overlay-cssgrid-gap-flexible">
    <div class="grid">
      <div class="gc:12 heading">5 container example</div>
      <div class="sm=:gc:6 md=:gstart:2 md=:gend:6 lg=:gc:8 lg=:align-self:centered xl+:gstart:2 xl+:gend:5"></div>
      <div class="sm=:gc:6 md=:gstart:8 md=:gc:1 lg=:gc:6 xl+:gstart:7 xl+:gend:10"></div>
      <div class="sm=:gc:3 md=:gstart:11 md=:gc:1 lg=:gc:6 xl+:gstart:10 xl+:gend:12"></div>
      <div class="sm=:gc:3 md=:gstart:5 md=:gc:1 lg=:gc:3 xl+:gc:6 xl+:align-self:centered"></div>
      <div class="sm=:gstart:11 sm=:gc:1 md=:gstart:11 md=:gc:1 lg=:gc:8 xl+:gstart:3 xl+:gend:5"></div>
    </div>
    <script src="/scripts/core.js"></script>
    <script src="/scripts/module.grid-iframe-send-height.js"></script>
  </body>
</html>